<div>
     <h2 class="current-page">Parent Registrations </h2>
     <%= partial 'student_data' %>
     <%= form_for :parent, :action => url(:parent_grant, :id => @parent), :name => "approveform" do %> 
     
          <a href="" class="add-more" onClick="addFormField(); return false;">Associate students to this parent</a><br/>
          <span class="subText">
             (this is optional and can be done later)<br/>
          </span><br/>
          <span class="subText" id ="note" style="display:none">
             If the name that you wish to associate to this parent does not appear in the list,
             please add that student by going to the ‘Student Directory’.<br/>
             You may than come back and map this parent to the student.
          </span><br/><br/>
          
          <ul id="students"></ul><br/><br/>
          <span id="more" style="display:none">
              <a href="" class="add-more" onClick="add(); return false;">Add More</a><br/>
          </span>
                  
          <hr size="1"  class="clear"/>
          <br/><br/>
          <input type="hidden" name="approvetype" />
         	
          <a href="javascript:getsupport('Approve &amp; Grant Access')" class="reactive">Approve </a>
          <a href="javascript:getsupport('Reject')" class="deactive">Reject</a>
          &nbsp;&nbsp;&nbsp;&nbsp;Or&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Decide Later", url(:parent_approvals) %>
          
     <% end =%>   
    
       
</div>
   
<script type="text/javascript">       

 function getsupport ( selectedtype )
{
   document.approveform.approvetype.value = selectedtype ;
   document.approveform.submit() ;
 }


id = 1;
function addFormField()
 {
  if (id == 1)
  {
    $j('#students').append("<li id='row" + id + "'><select class='required' id='classroom"+id+"' name='class_room[room][room_"+id+"]'><option value=''>Select Class</option><% @classrooms.each do |classroom| %><option value='<%= classroom.id %>'><%= classroom.class_name %></option><% end %></select><select class='apart required' id='student"+id+"' name='student_name[name][name_"+id+"]'><option value=''>Select Student</option><% @students.each do |student| %><option value='<%= student.id %>'><%= student.name %></option><% end %></select></li>");
    id = (id - 1) + 2;
    $j('#students').append("<br/><li id='row" + id + "'><select id='classroom"+id+"' name='class_room[room][room_"+id+"]'><option value=''>Select Class</option><% @classrooms.each do |classroom| %><option value='<%= classroom.id %>'><%= classroom.class_name %></option><% end %></select><select class='apart' id='student"+id+"' name='student_name[name][name_"+id+"]'><option value=''>Select Student</option><% @students.each do |student| %><option value='<%= student.id %>'><%= student.name %></option><% end %></select></li>");
    id = (id - 1) + 2;
    $j('#students').append("<br/><li id='row" + id + "'><select id='classroom"+id+"' name='class_room[room][room_"+id+"]'><option value=''>Select Class</option><% @classrooms.each do |classroom| %><option value='<%= classroom.id %>'><%= classroom.class_name %></option><% end %></select><select class='apart' id='student"+id+"' name='student_name[name][name_"+id+"]'><option value=''>Select Student</option><% @students.each do |student| %><option value='<%= student.id %>'><%= student.name %></option><% end %></select></li>");
    document.getElementById('more').style.display  =  "block";
    document.getElementById('note').style.display  =  "block";
  }
 }

l = 4;
function add()
{
  $j('#students').append("<br/><li id='row" + l + "'><select id='classroom"+l+"' name='class_room[room][room_"+l+"]'><option value=''>Select Class</option><% @classrooms.each do |classroom| %><option value='<%= classroom.id %>'><%= classroom.class_name %></option><% end %></select><select class='apart' id='student"+l+"' name='student_name[name][name_"+l+"]'><option value=''>Select Student</option><% @students.each do |student| %><option value='<%= student.id %>'><%= student.name %></option><% end %></select></li>");
  l = (l - 1) + 2;
  $j('#students').append("<br/><li id='row" + l + "'><select id='classroom"+l+"' name='class_room[room][room_"+l+"]'><option value=''>Select Class</option><% @classrooms.each do |classroom| %><option value='<%= classroom.id %>'><%= classroom.class_name %></option><% end %></select><select class='apart' id='student"+l+"' name='student_name[name][name_"+l+"]'><option value=''>Select Student</option><% @students.each do |student| %><option value='<%= student.id %>'><%= student.name %></option><% end %></select></li>");
  l = (l - 1) + 2;
  $j('#students').append("<br/><li id='row" + l + "'><select id='classroom"+l+"' name='class_room[room][room_"+l+"]'><option value=''>Select Class</option><% @classrooms.each do |classroom| %><option value='<%= classroom.id %>'><%= classroom.class_name %></option><% end %></select><select class='apart' id='student"+l+"' name='student_name[name][name_"+l+"]'><option value=''>Select Student</option><% @students.each do |student| %><option value='<%= student.id %>'><%= student.name %></option><% end %></select></li>");
  l = (l - 1) + 2;
}

</script>