<h2 class="current-page">Pending Approvals </h2>
<div class="fullpage announcemt">
  <%if @announcements.empty?%>
    <p class="subText">There is nothing pending your approval right now</p>
  <%end%>
    <% for announcement in @announcements %>
    
           <div class="data-block long-block">
              <% if announcement.expiration.nil? %>
                  <div class="ddmmm-x">
	                </div>
              <% else %>
                   <div class="ddmmm">
                       <span class="date"><%= announcement.created_at.strftime("%d") %></span>
                       <span class="month"><%= announcement.created_at.strftime("%b") %></span>
	                 </div>
              <% end %>
              <h3><%= link_to "#{announcement.title}", url(:approval, announcement.id) %></h3>
              <span class="subText">Announcement for: <%= announcement.access_name.titleize %></span><br/>
              <span class="subText">Created by <%= announcement.person.name %>, expires on <%= announcement.expiration.strftime("%d %b %Y") %></span>
                   <p ><%= snippet(announcement.content.gsub("\r\n", "<br/>"), 50) %></p>
                  
                  <p class="separator">&nbsp;</p>
           </div>
        
    <% end %>
       <%= will_paginate (@announcements, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
</div>
 