<%= error_messages_for @team %>
<ul class='error_messages'>
       <% if flash[:error] %>
          <li><%= flash[:error] %> </li>
       <% end %>
       <% if flash[:error2] %>
          <li><%= flash[:error2] %> </li>
       <% end %>
</ul>

<h2 class="current-page">Sports Teams &gt; Edit</h2>
  <%= form_for(@team, :action => resource(@team)) do %>
  <fieldset>
    <ul id="team">
       <li><%= text_field  :team_name,  :label => "Name of the Team", :maxlength => "75" %></li>
       <li><%= select  :classroom_id,  :collection => @classrooms.collect{|x| x.class_name }, :label => "Classroom", :prompt => "Please Select", :selected => "#{@class.class_name}" %></li>
       <li><%= select :year, :collection => @years.map {|y| y.to_s}, :label => "Year" %></li>
             <% @class = @team_peoples.delete_if{|x| x.team_id == nil} %>
           <% @class.each do |f| %>
                <% if f.role == "coach" %>
                      <li>
                          <label><%= f.role.titleize %></label>
                          <%= select :name => "classroom[people][coach]", :collection => @current_school.staff.find(:all), :value_method => :id, :text_method => :name, :prompt => "Select Faculty", :selected => f.person_id.to_s %>
                      </li>
                <% else %>
                       <li>
                          <%= text_field :name => 'classroom[people][roles][]', :id =>'class_class_people', :value => "#{f.role}", :class => "short" %>
                          <%= select :name => "classroom[people][ids][]", :collection => @current_school.staff.find(:all), :value_method => :id, :class =>"apart", :text_method => :name, :prompt => "Select Faculty", :selected => f.person_id.to_s %>
                          <%= link_to "Remove", url(:delete_team, f, :label => "remove"), :class => "remove" %>
                       </li>
                <% end %>
           <% end %>
            
    </ul>
        <input type="hidden" id="id" value="1">
         <div id="divTxt"></div>
	       <p><a href="#" onclick="addFormField(); return false;">Add More</a></p>
      
     <div class="save-cancel">
        <%= submit "    Save    " %> Or  <%= link_to "Cancel", resource(:teams), :class => "cancel" %>
     </div>
  <% end =%>

</fieldset>
  


<script type= "text/javascript">
 
 function addFormField()
  {
    var id = document.getElementById('id').value;
    $j('#divTxt').append("<p id='row" + id + "'><input type='text' class='short' name='classroom[people][roles][]' id='txt" + id + "'><select name='classroom[people][ids][]' class='apart'><option value='please'>Select Faculty</option><% @teachers.each do |teacher| %><option value='<%= teacher.id %>'><%= teacher.name %></option><% end %></select><a href='#' class='remove' onclick='removeFormField(\"#row" + id + "\"); return false;'>Remove</a><p>");
    $('txt'+id).focus();
    id = (id - 1) + 2;
    document.getElementById('id').value = id;
}

   function removeFormField(id) 
   {
         $j(id).remove();
    }
    
</script>



