<div class=" data-block short-block">
  <h2 class="current-page"> <%= params[:label] %> &gt; Edit </h2>
  <%= form_for(@external_link, :action => url(:external_links_update), :id => 'links', :onsubmit => "ClearAll()") do %>
    <ul id="link" class="edit-ext-links">
     
      <% @external_links.each do |f| %>
        <li>
            <%= text_field :id => 'external_link_title', :name => 'external_link[title][]', :maxlength => "75", :value => "#{f.title}", :class=>"short text defaultText", :title => "title" %>
            <%= text_field :id => 'external_link_url', :name => 'external_link[url][]', :maxlength => "75", :value => "#{f.url}", :class=>"long text apart defaultText", :title => "url" %>
            <%= link_to "Delete", url(:delete_external_link, f.id), :class=>"delete-btn" %>
        </li>
      <% end %>
    </ul>
    <%= hidden_field :name => "label", :value => params[:label] %>
    <%= link_to_function 'Add More',"add();"%>
    <div class="save-cancel">
         <input type = 'button' value = 'Preview' onclick="preview();return false;" />
         <%= submit "Publish" %> Or <%= link_to "Cancel", resource(:external_links), :class=>"cancel" %>
    </div>
  <% end =%>
</div>

<script type= "text/javascript">
 
  function add()
   {
      var links = document.getElementById('link');
    	var li = document.createElement('li');
      li.innerHTML = "<input type='text' id='external_link_title' name='external_link[title][]' class='short text defaultText' title='title' />"  + "<input type='text' id='external_link_url' name='external_link[url][]' class='long text defaultText' title='url'/>";
	    links.appendChild(li);
	
    }
 
 
  function preview()
 {
   var s = $('links').serialize();
   window.open('/external_links/preview/-/?' + s);
   
 }

  $j(document).ready(function()
{
    $j(".defaultText").focus(function(srcc)
    {
        if ($j(this).val() == $j(this)[0].title)
        {
            $j(this).removeClass("defaultTextActive");
            $j(this).val("");
        }
    });
    
    $j(".defaultText").blur(function()
    {
        if ($j(this).val() == "")
        {
            $j(this).addClass("defaultTextActive");
            $j(this).val($j(this)[0].title);
        }
    });
    
    $j(".defaultText").blur();        
});
 
 function ClearAll()
{
    var link_title = document.getElementById('external_link_title');
    var url = document.getElementById('external_link_url');
   
    if (link_title.value == link_title.title) 
   {
       link_title.value = ""
    }
    
     if (url.value == url.title) 
   {
       url.value = ""
    }
    
 }

</script>

