<div class=" data-block short-block">
  <h2 class="current-page"> <%= params[:label] %> &gt; Edit </h2>
  <%= form_for(@external_link, :action => url(:external_links_update), :id => 'links') do %>
    <ul class="edit-ext-links">
      <% @external_links.each do |f| %>
        <li>
          <%= text_field :id => 'external_link_title', :name => 'external_link[title][]', :value => "#{f.title}", :class=>"long text" %>
          <%= text_field :id => 'external_link_url', :name => 'external_link[url][]', :value => "#{f.url}", :class=>"short text" %>
          <%= link_to "Delete", url(:delete_external_link, f.id), :class=>"delete-btn" %>
        </li>
      <% end %>
    </ul>
    <%= hidden_field :name => "label", :value => params[:label] %>
    
    <div class="save-cancel">
      <span class="add-link"><%= link_to_function 'Add',"add();"%></span>
      <input type = 'button' value = 'Preview' onclick="preview();return false;" />
      <%= submit "Publish" %> Or <%= link_to "Cancel", resource(:external_links), :class=>"cancel" %>
    </div>
  <% end =%>
</div>

<script type= "text/javascript">
 
  function add()
   {
 
     var external = document.getElementById('Links');

     var tr = document.createElement('tr');
     var td1 = document.createElement('td');  

     td1.innerHTML = "<input type='text' id='external_link_title' name='external_link[title][]'/>";
     var td2 = document.createElement('td');  
     td2.innerHTML = "<input type='text' id='external_link_url' name='external_link[url][]'/>";
            
         tr.appendChild(td1);
         tr.appendChild(td2);
        external.appendChild(tr);
 
 }
 
  function preview()
 {
   var s = $('links').serialize();
   window.open('/external_links/preview/-/?' + s);
   
 }


</script>

