<p> <%= params[:label] %> > Edit </p>

<div class='formcontainer'>

    <%= form_for(@external_link, :action => url(:external_links_update), :id => 'links') do %>
         
          <table id='Links'>
       
             <% @external_links.each do |f| %>

    <tr>
      <td> <%= text_field :id => 'external_link_title', :name => 'external_link[title][]', :value => "#{f.title}" %></td>
      <td> <%= text_field :id => 'external_link_url', :name => 'external_link[url][]', :value => "#{f.url}" %></td>
      <td> <td><%= link_to "Delete", url(:delete_external_link, f.id) %></td>
    </tr>
                    
            <% end %>
                   <%= hidden_field :name => "label", :value => params[:label] %>
                  <tr>
                      <td><%= link_to_function 'Add More', "add();" %></td>
		      <td><input type = 'button' value = 'Preview' onclick="preview();return false;" /></td> 
                      <td><%= submit "Publish" %> </br> Or <%= link_to "Cancel", resource(:external_links) %></td>
                  </tr>
		  <% if flash[:error] %>
	             <tr><td><%= flash[:error] %></td></tr>
		 <% end %>
           </table>   
             
      <% end =%>

</div>


<script type= "text/javascript">
 
  function add()
   {
 
     var external = document.getElementById('Links');

     var tr = document.createElement('tr');
     var td1 = document.createElement('td');  

     td1.innerHTML = "<input type='text' id='external_link_title' name='external_link[title][]'/>";
     var td2 = document.createElement('td');  
     td2.innerHTML = "<input type='text' id='external_link_url' name='external_link[url][]'/>";
            
         tr.appendChild(td1);
         tr.appendChild(td2);
        external.appendChild(tr);
 
 }
 
  function preview()
 {
   var s = $('links').serialize();
   window.open('/external_links/preview/-/?' + s);
   
 }


</script>

