<div class=" data-block long-block">
  <div class="external-links">
  <h2 class="current-page">External Links</h2>
  <div class="section">
    <% if @home_links.empty? %>
      <p><em>For Home Page</em> 
        <br/>
        <span class="subText">There are no external links specified, <%= link_to "Add New", resource(:external_links, :new, :label => 'Home Page') %></span></p> 
    <% else %>
      <h4>For Home Page</h4>
      <ul>
        <% for external_link in @home_links %>
          <li><%= link_to ("#{external_link.title}", "http://#{external_link.url}", {'target' => '_blank'}) %></li>
        <% end %>
      </ul>
      <%= link_to "Edit", url(:external_links_edit, :label => 'Home Page'), :class=>"edit-btn" %>
    <% end %>
  </div>
  <div class="section">
    <% if @class_links.empty? %>
      <p><em>For All Classrooms</em> are not specified, <%= link_to "Add New", resource(:external_links, :new, :label => 'Classrooms') %></p>
    <% else %>
    <h4>For All Classrooms</h4>
    <ul>
      <% for external_link in @class_links %>
        <li><%= link_to ("#{external_link.title}", "http://#{external_link.url}", {'target' => '_blank'}) %></li>
      <% end %>
    </ul>
    <%= link_to "Edit", url(:external_links_edit, :label => 'Classrooms'), :class=>"edit-btn"%>
    <% end %>
  </div>
     <% @sports_class = @current_school.classrooms.find(:first, :conditions => ['class_name = ? and activate =  ?', "Sports", true] ) %>
     <% unless @sports_class.nil? %>
            <div class="section">
              <% if  @sport_links.empty? %>
                <p><em>Sports Links</em> are not specified, <%= link_to "Add New", resource(:external_links, :new, :label => 'Sports') %></p>
              <% else %>
              <h4>Sports<%= link_to "Edit", url(:external_links_edit, :label => 'Sports'), :class=>"edit-btn" %></h4>
              <ul>
                <% for external_link in @sport_links %>
                  <li><%= link_to ("#{external_link.title}", "http://#{external_link.url}", {'target' => '_blank'}) %></li>
                <% end %> 
              </ul>
              <% end %>
            </div>
     <% end %>
   
   
  <!--<div class="section">
    <% if @event_links.empty? %> 
      <p><em>Event Links</em> are not specified, <%= link_to "Add New", resource(:external_links, :new, :label => 'Events') %></p>
    <% else %>
    <h4>Events<%= link_to "Edit", url(:external_links_edit, :label => 'Events'), :class=>"edit-btn" %></h4>
      <ul>
        <% for external_link in @event_links %>
          <li><%= link_to ("#{external_link.title}", "http://#{external_link.url}", {'target' => '_blank'}) %></li>
        <% end %>
    </ul>
    <% end %>
  </div>-->
</div>
      
  
    
