<div class=" data-block short-block">
  <div id="errors">
      <ul>
        <li><%= @external_link.errors.full_messages.join('</li><li>') %></li>
      </ul>
  </div>
  
  
  <h2 class="current-page"><%= params[:label] %> &gt; New</h2>
  <%= form_for(@external_link, :action => resource(:external_links), :id => 'links', :name => "external_link", :onsubmit => "ClearAll()" ) do %>
    <ul class="edit-ext-links"  id="link">
    
      <li>
        <%= text_field :title, :name => 'external_link[title][]', :maxlength => "75", :class=>"short text defaultText defaultTextActive", :title => "title" %>
        <%= text_field :url, :name => 'external_link[url][]', :maxlength => "75", :class=>"long text apart defaultText defaultTextActive", :title => "url" %>
      </li>
    </ul>
    
         <%= hidden_field :name => "label", :value => params[:label] %>
          <input type="hidden" id="id" value="1">
            <div id="divTxt"></div>
             
          
            
    <div class="save-cancel">
          <span class="add-link"> <%= link_to_function 'Add More',"add();"%></span>
          <input type = 'button' value = 'Preview' onclick="preview();return false;" />
          <%= submit "Publish" %> Or <%= link_to "Cancel", resource(:external_links), :class=>"cancel" %>
    </div>
  
  <% end =%>
  </div>
</div>
 
<script type= "text/javascript">
 
 // $j("#external_link_title").hint();
   // $j("#external_link_url").hint();
 
 function add()
   {
      var links = document.getElementById('link');
      var li = document.createElement('li');
      li.innerHTML = "<input type='text' id='external_link_title' name='external_link[title][]' class='short text' value='title' onfocus='cl(this);' />" + "<input type='text' id='external_link_url' name='external_link[url][]' class='long apart text' value='url' onfocus='cl(this);' />";
      links.appendChild(li);
   }
 
   function addFormField()
  {
    var id = document.getElementById('id').value;
    $j('#divTxt').append("<p id='row" + id + "'><input type='text' class='short text' name='external_link[title][]' id='txt" + id + "' value='title' onfocus='cl(this);'><input type='text' id='txt" + id + "' name='external_link[url][]' class='long apart text' value='url' onfocus='cl(this);' /><a href='#' class='delete-btn' onClick='removeFormField(\"#row" + id + "\"); return false;'></a><p>");
    //$('txt'+id).focus();
    id = (id - 1) + 2;
    document.getElementById('id').value = id;
  }

   function removeFormField(id) 
   {
         $j(id).remove();
    }
    
    
    function cl(t)
    {
      if (t.defaultValue == t.value)
        {
          t.value = '';
         }
     }
  
 function preview()
 {
   var s = $('links').serialize();
   window.open('/external_links/preview/-/?' + s);
   
 }
 
 
  $j(document).ready(function()
{
    $j(".defaultText").focus(function(srcc)
    {
        if ($j(this).val() == $j(this)[0].title)
        {
            $j(this).removeClass("defaultTextActive");
            $j(this).val("");
        }
    });
    
    $j(".defaultText").blur(function()
    {
        if ($j(this).val() == "")
        {
            $j(this).addClass("defaultTextActive");
            $j(this).val($j(this)[0].title);
        }
    });
    
    $j(".defaultText").blur();
});
 
  function ClearAll()
 {
    var link_title = document.getElementById('external_link_title');
    var url = document.getElementById('external_link_url');
     
     if (link_title.value == link_title.title)
       {
          link_title.value = "";
        }
     if (url.value == url.title)
       {
          url.value = "";
       }
       
     var l = document.getElementById('link_title');
     var u = document.getElementById('link_url');
     
      if (l.value == 'title')
       {
          l.value = "";
        }
     if (u.value == 'url')
       {
          u.value = "";
       }
     
  }
 
 
 
</script>
