<div class=" data-block short-block">
  <div id="errors">
      <ul>      
        <li><%= @external_link.errors.full_messages.join('</li><li>') %></li>
      </ul>
  </div>
  <h2 class="current-page"><%= params[:label] %> &gt; New</h2>
  <%= form_for(@external_link, :action => resource(:external_links), :id => 'links') do %>
    <ul class="edit-ext-links">
      <li>
        <%= text_field  :title, :name => 'external_link[title][]', :class=>"long text"%>
        <%= text_field  :url, :name => 'external_link[url][]', :class=>"short text"%>
        <a href="" class="delete-btn">Delete</a>
      </li>
    </ul>
    <%= link_to_function 'Add',"add();"%>
    <div class="save-cancel">
      
      <input type = 'button' value = 'Preview' onclick="preview();return false;" />
      <%= submit "Publish" %> Or <%= link_to "Cancel", resource(:external_links), :class=>"cancel"  %>
      <%= hidden_field :name => "label", :value => params[:label] %>
    </div>
  
  <% end =%>
  </div>
</div>

<script type= "text/javascript">
 
  function add()
   {
 
     var external = document.getElementById('ExternalLinks');

     var tr = document.createElement('tr');
         var td1 = document.createElement('td');  

         td1.innerHTML = "<input type='text' id='external_link_title' name='external_link[title][]'/>";

           var td2 = document.createElement('td');  

         td2.innerHTML = "<input type='text' id='external_link_url' name='external_link[url][]'/>";
         
        
         tr.appendChild(td1);
         tr.appendChild(td2);
        external.appendChild(tr);
 
 }
 
 function preview()
 {
   var s = $('links').serialize();
   window.open('/external_links/preview/-/?' + s);
   
 }
 

</script>
