
  <%= error_messages_for @principal %>

<h2 class="current-page">Settings &gt; Add New</h2>

<%= form_for(@principal, :action => url(:create_settings) ) do %>

    <fieldset>
           <ul>
               <li><%= select :title, :collection => @titles, :label => "Title", :class => "s-title" %></li>
               <li><%= text_field  :first_name, :label => "First Name", :maxlength => "75" %></li>
               <li><%= text_field  :last_name,   :label => "Last Name", :maxlength => "75" %></li>
               <li><%= text_field  :email,  :label => "Contact Email", :maxlength => "75" %></li>
           </ul>
    </fieldset>
      
            <div class="save-cancel">
                  <%= link_to "< Back to Settings", url(:settings) %>
                  <%= submit "    Publish    " %>  Or 
                  <%= link_to "Cancel", url(:settings), :class => "cancel" %>
            </div>
            
<% end =%>
  
