

<div id="fullpage">
       <div>
            <h2>Announcements > <%= params[:announcement][:title] %></h2>
       </div>
       <% unless params[:announcement][:expiration].nil? %>
             <div class="ddmmm">
                  <span class="date"><%= Time.parse(params[:announcement][:expiration]).strftime("%d") %></span>
                  <span class="month"><%= Time.parse(params[:announcement][:expiration]).strftime("%b")  %></span>
             </div><br/>
       <% else %>
             <div class="ddmmm">
                  <span class="date"><%= @date.strftime("%d") %></span>
                  <span class="month"><%= @date.strftime("%b") %></span>
             </div>
       <% end %>
   
       <p class="separator"><%= pre_announcement(params[:announcement][:content]) %></p>
        
             
</div>
