<ul class='error_messages'>
     <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
     <% end %>
 </ul>

<fieldset>
  <ul>
      <li>
	      <label>Add for:</label>
          <%= select :class_name, :collection => @class_rooms.collect{|x| x.class_name.titleize},
                                  :prompt => "Please Select", :selected => "#{params[:l]}" %>
	  </li>
    <li><%= text_field :title,  :label => "Event Title", :maxlength => "75" %></li>
    <li><%= text_area  :description,  :label => "Event Description",  :rows => "10", :cols => "25" %></li>
    <li><%= file_field :attachment,  :label => "Attach a File" %></li>
    <li><%= text_field  :location,  :label => "Location", :maxlength => "75" %></li>
    <li>
	    <label>&nbsp;</label>
	   <%= check_box :day_event, :onclick => "dayevent()" %>All Day Event
	</li>
    <li><%= text_field :start_date, :id => "start", :label => "Starts:", :class=>"short defaultText", :title => "dd/mm/yy" %>
        <% if @start_time == "" %>
            <%= text_field :start_time, :id => "start_time", :class=>"short apart defaultText stime", :title => "hh:mm" %>
        <% else %>
         <%= text_field :start_time, :id => "start_time", :class=>"short apart defaultText stime", :value => "#{@start_time}", :title => "hh:mm"  %>
        <% end %>     
    </li>
          <li><%= text_field :end_date, :id => "end", :label => "Ends:", :class => "short defaultText", :title => "dd/mm/yy"  %>
        <% if @end_time == "" %>
            <%= text_field :end_time, :id => "end_time", :class => "short apart defaultText etime", :title => "hh:mm"  %>
        <% else %>
            <%= text_field :end_time, :id => "end_time", :class=>"short apart defaultText etime", :title => "hh:mm", :value => "#{@end_time}"  %>
        <% end %>
    </li>
  </ul>
           <ul id="pending_files"></ul>
             <script type="text/javascript">
                 var multi_selector = new MultiSelector($('pending_files'), 1);
               multi_selector.addElement($('calendar_attachment'));
             </script>
             
  <div class="save-cancel">
      <input type = 'button' value = '    Preview    ' onclick="preview();return false;" />
      <%= submit "    Publish    " %> Or <%= link_to "Cancel", resource(:calendars), :class=>"cancel" %>
  </div>

    
    
<script type= "text/javascript">

  document.calendar.calendar_title.focus();
  
  
   $j(document).ready(function()
{
	
   	  $j("#start").datepicker({minDate:'today'});
	  $j("#end").datepicker({minDate:'today'});

	  $j("input.stime").clockpick({starthour : 0, endhour : 23 }); 
	  $j("input.etime").clockpick({starthour : 0, endhour : 23 });   
	
	
	
    $j(".defaultText").focus(function(srcc)
    {
        if ($j(this).val() == $j(this)[0].title)
        {
            $j(this).removeClass("defaultTextActive");
           // $j(this).addClass("esh");
            $j(this).val("");
        }
    });
    
    $j(".defaultText").blur(function()
    {
        if ($j(this).val() == "")
        {
            $j(this).addClass("defaultTextActive");
            // $j(this).removeClass("esh")
            $j(this).val($j(this)[0].title);
        }
    });
    
    $j(".defaultText").blur();    
          
});
  
   function preview()
 {
      name = document.getElementById('calendar_class_name');
    if (name.value == "")
       {
          alert("Please select the Classroom/Homepage from the dropdown menu");
       }
   else
       {
         var s = $('event').serialize();
         window.open('/calendars/preview/-/?' + s);
       }
   
 }
 
  function dayevent()
  {
     if (document.getElementById('calendar_day_event').checked == true)
      {
         document.getElementById('start_time').disabled = true;
	       document.getElementById('end_time').disabled = true;
       }
     else if(document.getElementById('calendar_day_event').checked == false)
       {
         document.getElementById('start_time').disabled = false;
	       document.getElementById('end_time').disabled = false;
       }
  }
  
  
  
  
 
   function ClearAll()
{
    var start = document.getElementById('start');
    var end = document.getElementById('end');
    
    var start_time = document.getElementById('start_time');
    var end_time = document.getElementById('end_time');
   
   if (start.value == start.title) 
   {
       start.value = ""
    }
    
    if (end.value == end.title) 
   {
      end.value = ""
    }
 
    if (start_time.value == start_time.title) 
   {
      start_time.value = ""
    }
    
    if (end_time.value == end_time.title) 
   {
      end_time.value = ""
    }
 }
 
</script>


