<%= error_messages_for @calendar %>
<ul class='error_messages'>
     <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
     <% end %>
 </ul>
 
<h2 class="current-page"> Calendars > Edit </h2>
<%= form_for(@calendar, :action => resource(@calendar), :id => "event") do %>
<fieldset>
  <ul>
  <li><label>Add for:</label><%= select :class_name, :collection => @class_rooms.collect{|x| x.class_name.titleize}, :prompt => "Please Select" %></li>
    <li><%= text_field :title,  :label => "Event Title" %></li>
    <li><%= text_area  :description,  :label => "Event Description",  :rows => "10", :cols => "25" %></li>
    <li>
         <% if @attachments.size >= 1 %>
                 <%= file_field :attachment,  :label => "Attach a File", :disabled => "true" %>
         <% else %>
                 <%= file_field :attachment,  :label => "Attach a File" %>
         <% end %>
    </li> 
    <li><%= text_field  :location,  :label => "Location" %></li>
    <li><label>&nbsp;</label><%= check_box :day_event, :onclick => "dayevent()" %>All Day Event</li>
    <li>
           <%= text_field :start_date, :id => "start", :label => "Starts:", :class=>"short" %>
	       <% if @calendar.day_event == true %>
	          <%= text_field :start_time, :id => "start_time", :disabled => true, :class => "short apart"  %>
	       <% else %>
            <% if @start_time == "" %>
                 <%= text_field :start_time, :id => "start_time", :class=>"short apart" %>
            <% else %>
                 <%= text_field :start_time, :id => "start_time", :class=>"short apart", 
                                :value => "#{@calendar.start_time.strftime("%H:%M")}" %>
            <% end %>
	       <% end %>
    </li>
	   <li>
	       <%= text_field :end_date, :id => "end", :label => "Ends:", :class=>"short" %>
	       <% if @calendar.day_event == true %>
	            <%= text_field :end_time, :id => "end_time", :disabled => true, :class=>"short apart" %>
	       <% else %>
               <% if @end_time == "" %>
                    <%= text_field :end_time, :id => "end_time", :class=>"short apart"  %>
               <% else %>
                    <%= text_field :end_time, :id => "end_time", :class=>"short apart", :value => "#{@calendar.end_time.strftime("%H:%M")}" %>
	             <% end %>
         <% end %>
	   </li>
   </ul>
           <ul id="pending_files">
                    <% if @attachments.size > 0 %>
                           <% @attachments.each do |attachment| %>
                                  <li id="attachment_<%= attachment.id %>"><%= attachment.filename %>
                                  <%= link_to "Remove", url(:delete_calendar, attachment.id, :label => "attachment"), :class => "cancel" %>
                                  </li>
                           <% end %>
                    <% end %>
	        </ul>
          
                <script type="text/javascript">
	                 	  var multi_selector = new MultiSelector($('pending_files'), <%= @allowed %>);
		                  multi_selector.addElement($('calendar_attachment'));
	              </script>
     
       <div class="save-cancel">
             <input type = 'button' value = '    Preview    ' onclick="preview();return false;" />
             <%= submit "    Publish    " %> Or <%= link_to "Cancel", resource(:calendars), :class=>"cancel" %>
       </div>
 <% end =%>
	   
    


<script type= "text/javascript">

   
  $j(document).ready(function()
{

   	$j("#start").datepicker({minDate:'today'});
	  $j("#end").datepicker({minDate:'today'});

	  $j("#start_time").clockpick({starthour : 0, endhour : 23 }); 
	  $j("#end_time").clockpick({starthour : 0, endhour : 23 });   
  });

 
   function preview()
 {
     var name = document.getElementById('calendar_class_name');
    if (name.value == "")
       {
          alert("Please select the Classroom from the drop down menu");
       }
   else
       {
         var s = $('event').serialize();
         window.open('/calendars/preview/-/?' + s, 'mywin', 'left=20,top=20,width=1000,height=500,toolbar=1,resizable=0');
       }
   
 }
 
  function dayevent()
  {
    if (document.getElementById('calendar_day_event').checked == true)
      {
         document.getElementById('start_time').disabled = true;
         document.getElementById('end_time').disabled = true;
         document.getElementById('start_time').value = ""
	       document.getElementById('end_time').value = ""
       }
     else if(document.getElementById('calendar_day_event').checked == false)
       {
         document.getElementById('start_time').disabled = false;
	       document.getElementById('end_time').disabled = false;
       }
  }
  
</script>

        

    
