<div id="fullpage">
  
      <% if params[:l] == "all_events" %>
           <h2 class="current-page"> All Events </h2>
      <% elsif params[:id].nil? %>
           <h2 class="current-page"> All Events </h2>
      <% else %> 
           <h2 class="current-page"> Events for <%= @class.class_name.titleize %> </h2>
      <% end %>
     
<% if params[:l] == "all_events" %>
   
            <% if @calendars.empty? %>
                 <span class="subText">There are no events planned at this time</span>
            <% else %>
                 <% cdate=""
                      for calendar in @calendars %>
                          <div class="calendar-block" style="width:480px;">
                               <% if(cdate!=calendar.start_date.strftime("%B %d %Y"))
                                     cdate=calendar.start_date.strftime("%B %d %Y") %>
                                     <h3><%= cdate %></h3>  
                               <% end %>    
                               <ul class="calendar-items">
                                    <li>
                                        <% unless calendar.start_time.nil? %>
                                             <%= calendar.start_time.strftime("%I:%M %p") %> 
                                        <%else%>
                                              All day event
                                        <% end %>
                                        <% unless calendar.end_time.nil? %>
                                             to <%= calendar.end_time.strftime("%I:%M %p") %>
                                        <% end %>
                                        <%= link_to "#{calendar.title}", url(:calendar, calendar.id, :l => "calendar", :label => "calendars") %>
                                         <% @attachments = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type = ?", calendar.id, "Calendar"]) %>
                                         <% unless @attachment.nil? %>
                                             &nbsp;<%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %>
                                         <% end %>
                                         <%unless calendar.location.blank? %>
                                               (Location: <%= calendar.location %>)
                                         <%end%>
                                    </li>
                               </ul>
                          </div>
                     <% end %>
             <% end %>
<% else %>

      <%if @cls.empty?%>
          <span class="subText">There are no events planned at this time</span>
      <% else %>
            <% cdate=""
                      for calendar in @cls %>
                          <div class="calendar-block" style="width:480px;">
                               <% if(cdate!=calendar.start_date.strftime("%B %d %Y"))
                                     cdate=calendar.start_date.strftime("%B %d %Y") %>
                                     <h3><%= cdate %></h3>  
                               <% end %>    
                               <ul class="calendar-items">
                                    <li>
                                        <% unless calendar.start_time.nil? %>
                                             <%= calendar.start_time.strftime("%I:%M %p") %> 
                                        <%else%>
                                              All day event
                                        <% end %>
                                        <% unless calendar.end_time.nil? %>
                                             to <%= calendar.end_time.strftime("%I:%M %p") %>
                                        <% end %>
                                        <%= link_to "#{calendar.title}", url(:calendar, calendar.id, :l => "calendar", :label => "calendars") %>
                                         <% @attachments = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type = ?", calendar.id, "Calendar"]) %>
                                         <% unless @attachment.nil? %>
                                             &nbsp;<%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %>
                                         <% end %>
                                         <%unless calendar.location.blank? %>
                                               (Location: <%= calendar.location %>)
                                         <%end%>
                                    </li>
                               </ul>
                          </div>
                     <% end %>
      <% end %>
<% end %>
 </div>

<% unless session.user.type == "Parent" %>
     <div class="right-sidebar"> 
           <h3>Events Administration</h3>
           <ul class="last">
               <li <% if @selected == "calendars" %> class="on" <% end %>><%= link_to_right((right = "calendar"), "Manage Calendars", url(:calendars) )  %></li>
           </ul>
     </div>
<% end %>       

