<div id="fullpage">
    <% if params[:class_name].nil? %>
         <h2 class="current-page"> All Events </h2>
    <% elsif params[:class_name] == "All Events" %>
          <h2 class="current-page"> All Events </h2>
     <% else %> 
          <h2 class="current-page"> Events for <%= params[:class_name] %> </h2>
     <% end %>
     
  <%= form_for(@calendar, :action => url(:events), :method => 'get') do %>
  
  <% if params[:class_name].nil? %>
  <span class="select-announce"><%= select :name => "class_name", :collection => @classrooms, :label => "View :" %><%= submit "    Go    " %></span>
  <% else %>
      <span class="select-announce"><%= select :name => "class_name", :selected => params[:class_name], :collection => @classrooms, :label => "View :" %><%= submit "    Go    " %></span>
  <% end %>
<% end =%> 

<% if params[:class_name].nil? %>
<%if @cals.empty?%>
  <span class="subText">There are no events planned at this time</span>
<%else%>
       <% cdate=""
      for calendar in @cals %>
         <div class="calendar-block" style="width:480px;">
         <% if(cdate!=calendar.start_date.strftime("%B %d %Y"))
               cdate=calendar.start_date.strftime("%B %d %Y") %>
              <h3><%= cdate %></h3>  
         <% end %> 
    
         <ul class="calendar-items">
                <li>
                      <% unless calendar.start_time.nil? %>
                         <%= calendar.start_time.strftime("%I:%M %p") %> 
                      <%else%>
                        All day event
                       <% end %>
                       <% unless calendar.end_time.nil? %>
                         to <%= calendar.end_time.strftime("%I:%M %p") %>
                       <% end %>
                       <%= calendar.title %>
                       <% @attachments = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type = ?", calendar.id, "Calendar"]) %>
                       <% unless @attachment.nil? %>
                         &nbsp;<%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %>
                       <% end %>
                       <%unless calendar.location.blank? %>
                         (Location: <%= calendar.location %>)
                       <%end%>
                      </li>
                            
         </ul>
    </div>
             <% #@calendars.delete_if{|c| c.start_date == cdate } %>
         
  <% end %>
    <% end %>
  
<% elsif params[:class_name] == "All Events" %>
<%if @calendars.empty?%>
  <span class="subText">There are no events planned at this time</span>
<%else%>

          <% cdate=""
          for calendar in @calendars %>
         <div class="calendar-block" style="width:480px;">
         <% if(cdate!=calendar.start_date.strftime("%B %d %Y"))
               cdate=calendar.start_date.strftime("%B %d %Y") %>
              <h3><%= cdate %></h3>  
         <% end %> 
    
         <ul class="calendar-items">
           <li>
                 <% unless calendar.start_time.nil? %>
                    <%= calendar.start_time.strftime("%I:%M %p") %> 
                 <%else%>
                   All day event
                  <% end %>
                  <% unless calendar.end_time.nil? %>
                    to <%= calendar.end_time.strftime("%I:%M %p") %>
                  <% end %>
                  <%= calendar.title %>
                  <% @attachments = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type = ?", calendar.id, "Calendar"]) %>
                  <% unless @attachment.nil? %>
                    &nbsp;<%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %>
                  <% end %>
                  <%unless calendar.location.blank? %>
                    (Location: <%= calendar.location %>)
                  <%end%>
                 </li>
         </ul>
    </div>
             <% #@calendars.delete_if{|c| c.start_date == cdate } %>
         
  <% end %>
  <%end%>
<% else %>

<%if @cls.empty?%>
  <span class="subText">There are no events planned at this time</span>
<%else%>
            <% cdate=""
      for calendar in @cls %>
         <div class="calendar-block" style="width:480px;">
         <% if(cdate!=calendar.start_date.strftime("%B %d %Y"))
               cdate=calendar.start_date.strftime("%B %d %Y") %>
              <h3><%= cdate %></h3>  
         <% end %> 
    
         <ul class="calendar-items">
           <li>
                 <% unless calendar.start_time.nil? %>
                    <%= calendar.start_time.strftime("%I:%M %p") %> 
                 <%else%>
                   All day event
                  <% end %>
                  <% unless calendar.end_time.nil? %>
                    to <%= calendar.end_time.strftime("%I:%M %p") %>
                  <% end %>
                  <%= calendar.title %>
                  <% @attachments = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type = ?", calendar.id, "Calendar"]) %>
                  <% unless @attachment.nil? %>
                    &nbsp;<%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %>
                  <% end %>
                  <%unless calendar.location.blank? %>
                    (Location: <%= calendar.location %>)
                  <%end%>
                 </li>
                            
         </ul>
    </div>
             <% #@calendars.delete_if{|c| c.start_date == cdate } %>
         
  <% end %>
  <%end%>
  
<% end %> 
</div>
