<div class='formcontainer'>
    <div class = 'formcontent'> 
      <table>
         
          <tr>
	      <td><h3>Calendars</h3> </br></td>
	      <td><%= link_to "Add New", resource(:calendars, :new) %></td>
	  </tr>
	  
          <% for calendar in @calendars %>
	         <% unless calendar.start_date.nil? %> 
                <tr>
	            <td><b><%= calendar.start_date.strftime("%B-%d") %></b></td>   
		</tr>
		<% end %>
		    
		    <% cals = @calendars.select{|c| c.start_date.to_date == calendar.start_date.to_date } %>
		    <% cals.each do |cal| %> 
		        <tr>
		             <% unless cal.start_time.nil? %> 
			        <td><%= cal.start_time.strftime("%H-%M") %></td>
			     <% end %>
			     <td><%= cal.title %></td>
			     <td><%= link_to "Edit", resource(cal, :edit) %></td>
			     <td><%= link_to "Delete", resource(cal, :delete) %></td>
	                </tr>
			
		    <% end %>
		    <% @calendars.delete_if{|c| cals.include?(c)} %>
		  
  	<% end %>
	</table> 
    </div>
	 
</div>	                            
