<div class="short-block">
  <h2 class="current-page"> Calendars &nbsp;&nbsp;&nbsp; <%= link_to "Add New", resource(:calendars, :new) %></h2>
  
View :  <select id = 'calendarID'>
              <option value = '/calendars' <% if (@test == "All Classrooms") %> selected <% end %> >All Classrooms</option>
              <% @current_school.active_classrooms.each do |f| %>
                  <option value='/calendars?label=classes&id=<%= f.id %>' <% if (@test == f.id.to_s) %> selected <% end %> > 
                     <%= f.class_name %> 
                  </option>
              <% end %>
     </select> <br/>
  
  <%if  @calendars.blank?%>
       <p>There are no calendar events created yet.</p>
  <% else %>
       <br/>
        <% cdate=""
            for calendar in @calendars %>
                <div class="calendar-block" style="width:480px;">
                    <% if(cdate!=calendar.start_date.strftime("%B %d %Y"))
                         cdate=calendar.start_date.strftime("%B %d %Y") %>
                         <h3><%= cdate %></h3>
                    <% end %> 
                    <ul class="calendar-items">
                         <li>
                              <span class="cal-time">
                                   <% unless calendar.start_time.nil? %>
                                        <%= calendar.start_time.strftime("%I:%M %p") %> 
                                   <%else%>
                                         All day event
                                   <% end %>
                              </span>
                              <span class="cal-title">
                                  <%= link_to calendar.title, resource(calendar, :edit)%> <small>(<%= calendar.class_name %>)</small>
                              </span>
                              <%= link_to "Edit", resource(calendar, :edit), :class=>"edit-btn" %>
                              <%= link_to "Delete", resource(calendar, :delete), :class => "delete delete-btn" %> <br/><br/>
                        </li>
                    </ul>
                </div>   
        <% end %>
         
        <%= will_paginate (@calendars, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
  <% end %>

</div>

<script type="text/javascript" src='/javascripts/delete_confirmation.js'></script>

<script type = 'text/javascript'>

        $( 'calendarID' ).observe( 'change', function()
         {
           
           document.location.href = $( 'calendarID' ).value;
          
          });
       
</script>
