<div class="short-block">
  <h2 class="current-page"> Calendars &gt; <%= link_to "Add New", resource(:calendars, :new) %></h2>
  <% for calendar in @calendars %>
    <div class="calendar-block">
      <% unless calendar.start_date.nil? %> 
        <h3><%= calendar.start_date.strftime("%B-%d") %></h3>
      <% end %>
      <% cals = @calendars.select{|c| c.start_date.to_date == calendar.start_date.to_date } %>
      <ul class="calendar-items">
        <% cals.each do |cal| %>
          <li>
            <span class="cal-time">
                <% unless cal.start_time.nil? %>
                  <%= cal.start_time.strftime("%H-%M") %>
                <% end %>
               &nbsp;
            </span>
            <span class="cal-title">
              <%= cal.title %>
            </span>
            <%= link_to "Edit", resource(cal, :edit), :class=>"edit-btn" %>
            <%= link_to "Delete", resource(cal, :delete), :class=>"delete-btn" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% @calendars.delete_if{|c| cals.include?(c)} %>
  <% end %>
</div>