<div class='fullpage'>
    <div class = 'formcontent'> 
    <h2 class="current-page">Calendars <%= link_to "Add New", url(:new_calendar) %></h2>
    
    <% for calendar in @calendars %>
      <% if calendar.start_date %>
        <%= calendar.start_date.strftime("%B-%d") %>  
		    <% cals = @calendars.select{|c| c.start_date.to_date == calendar.start_date.to_date } %>
		    <% cals.each do |cal| %> 
		        <tr>
		             <% unless cal.start_time.nil? %> 
			        <td><%= cal.start_time.strftime("%H-%M") %></td>
			     <% end %>
			     <td><%= cal.title %></td>
			     <td><%= link_to "Edit", url(:edit_calendar, calendar.id) %></td>
			     <td><%= link_to "Delete", url(:delete_calendar, calendar.id) %></td>
	                </tr>
			
		    <% end %>
		    <% @calendars.delete_if{|c| cals.include?(c)} %>
		  <% end %>
  	<% end %>
	</table>
</div>	                            