<div id="fullpage">
  
     <h2 class="current-page"> Calendar for <%= params[:calendar][:class_name].titleize %></h2>
   
     <div class="ddmmm">
          <span class="date"><%=  @date.strftime("%d")%></span>
          <span class="month"><%=  @date.strftime("%b")%></span>
     </div><br/>
      <h3> <%= params[:calendar][:title] %> </h3> 
          <p class="subText">
              (<%= @date.strftime("%H:%M") %> -- <%= @date.strftime("%H:%M") %> )
               Location : <%= params[:calendar][:location] %></p><br/>
          <p><%= san_content(params[:calendar][:description]) %></p>
    <p class="separator">&nbsp;</p>
</div>