<div id="fullpage">
  
  <h2 class="current-page"> Calendar for <%= @calendar.class_name.titleize %></h2>
    <%= link_to "Download as PDF", url(:pdf_events, :id => @calendar.id, :label => "single") , :class=> "pdf" %><br/><br/>
 
  
      <div class="ddmmm">
        <span class="date"><%=  @calendar.start_date.strftime("%d")%></span>
        <span class="month"><%=  @calendar.start_date.strftime("%b")%></span>
      </div><br/>
      <h3> <%= @calendar.title %> </h3> 
      <p class="subText"><% unless @calendar.start_time.nil? &&  @calendar.end_time.nil? %>
        (<%= @calendar.start_time.strftime("%H:%M") %> -- <%= @calendar.end_time.strftime("%H:%M") %> )
      <% else %>
         (<%= @event %>)
      <% end %>
Location : <%= @calendar.location %></p><br/>
     
    <p><%= san_content(@calendar.description) %></p>
    
    <hr size="1"/>
    
    <%  @classroom = Classroom.find(:first, :conditions => ['class_name = ?', @calendar.class_name]) %>
    
    <%= link_to "< Back to All Events", url(:class_details, :id => @classroom.id, :label => "calendars") %>
    
    <div class="hrule clear"><hr /></div>
 
     
</div>

