<div id="fullpage">
  <h2 class="current-page">Class Calendar</h2>
    <%= link_to "Download as PDF", url(:pdf_events, :id => @calendar.id, :label => "single") , :class=> "pdf" %><br/><br/>
 
  
      <div class="ddmmm">
        <span class="date"><%=  @calendar.start_date.strftime("%d")%></span>
        <span class="month"><%=  @calendar.start_date.strftime("%b")%></span>
      </div><br/>
      <h3> <%= @calendar.title %> </h3> 
            <span class="subText"><% unless @calendar.start_time.nil? &&  @calendar.end_time.nil? %>
              <%= @calendar.start_time.strftime("%I:%M %p") %> to <%= @calendar.end_time.strftime("%I:%M %p") %>, 
            <% else %>
               (<%= @event %>)
            <% end %>
      Location: <%= @calendar.location %></span>
      <br/>

  <hr size="1"/>
    <p><%= san_content(@calendar.description) %></p>
    
    <hr size="1"/>
    <% if params[:l] == "calendar" %>
          <%= link_to "&larr; Back to All Events", url(:events, :l => "all_events", :label =>  "calendars") %>
    <% else %>
          <%  @classroom = Classroom.find(:first, :conditions => ['class_name = ?', @calendar.class_name]) %>
          <%= link_to "&larr; Back to All Events", url(:class_details, :id => @classroom.id, :label => "calendars") %>
    <% end %>
    
    <div class="hrule clear"><hr /></div>
 
     
</div>

