 
   <ul class='error_messages'>
       <% if flash[:error] %>
          <li><%= flash[:error] %></li>
       <% end %>
       <% if flash[:error1] %>
          <li><%= flash[:error1] %></li>
       <% end %>
   </ul>
 <h2 class="current-page"> School Apps  > Forgot Password </h2>

<fieldset>                  

<%= form_for :person, :action => url(:get_password)  do  %>
    
             <ul>
                  <li><%= text_field :email,  :label => "E-Mail" %></li>
                
             </ul>
            
               <div class="save-cancel">
                     <%= submit "Save" %> 
               </div>

   <% end =%>
   
</fieldset>
