   <h2 class="current-page"> School Apps  > Forgot Password </h2>

<fieldset>                  

<%= form_for :person, :action => url(:get_password)  do  %>
    
             <ul>
                  <li><%= text_field :email,  :label => "E-Mail" %></li>
                 
                     <% if flash[:error] %>
                          <%= flash[:error] %>
                     <% end %>
             </ul>
            
               <div class="save-cancel">
                     <%= submit "Save" %> Or <%= link_to "Cancel", url(:login) %> 
               </div>

   <% end =%>
   
</fieldset>
