 
   <ul class='error_messages'>
       <% if flash[:error] %>
          <li><%= flash[:error] %></li>
       <% end %>
       <% if flash[:error1] %>
          <li><%= flash[:error1] %></li>
       <% end %>
   </ul>
 <h2 class="current-page">Forgot Password </h2>

<fieldset>                  

<%= form_for :person, :action => url(:get_password), :name => "password"  do  %>
      <p>Please enter the email address you use to login, <br/>
      You'll receive an email with a link to reset your password.</p><br/>
             <ul>
                  <li><%= text_field :email,  :label => "E-Mail" %></li>
                
             </ul>
            
               <div class="save-cancel">
               <%= submit "   Send password link
                   " %> Or <%= link_to "Cancel", url(:login), :class => "cancel" %>
               </div>

   <% end =%>
   
</fieldset>

<script type= "text/javascript">
  
    document.password.person_email.focus();


</script>
