<p> Register(step 1 of 3)</p>
<%= error_messages_for @parent %>
<%= error_messages_for @registration %>

<ul class='error_messages'>
  <% if flash[:error3] %><li><%= flash[:error3] %></li><% end %>
  <% if flash[:error] %><li><%= flash[:error] %> </li><% end %>
  <% if flash[:error4] %><li><%= flash[:error4] %> </li><% end %>
  <% if flash[:error2] %><li><%= flash[:error2] %> </li><% end %>
</ul>

<%= form_for(@parent, :action => resource(:registrations), :name => "registration" ) do %>
  <fieldset>
    <ul>
      <li>
      <%= text_field  :first_name,  :label => "Your Name", :class => "semi-short" %>
      <%= text_field  :last_name, :class => "semi-short apart" %>
      </li>
      <li>
      <%= text_field  :email,  :label => "Your Email ID"%>
      </li>
    </ul>
  </fieldset>
  
  <p> Student Details </p>
  <%= fields_for @registration do %>
  <fieldset>
    <ul>
      <li>
        <%= text_field  :first_name,  :label => "Name", :class => "semi-short" %>
        <%= text_field  :last_name, :class => "semi-short apart" %>
      </li>
      <li>
        <label>Current Class:</label>
        <%= select :current_class, :collection => @classrooms.collect{|x| x.class_name }, :prompt => "Please Select" %>
      </li>
      <li>
        <%= text_field  :birth_date, :id => "DOB1", :class => "short" , :label => "Date of Birth" %>
      </li>
    </ul>
  </fieldset>
  <% if ( ( (@fname2 != nil) || (@lname2 != nil) ) || (@current_class2 != nil) ) %>
  <fieldset>
    <ul>
      <li>
      <%= text_field  :name => "f_name_student2", 
                      :class => "semi-short", 
                      :label => "Name", 
                      :value => "#{@fname2}" %>
      <%= text_field  :name => "l_name_student2", 
                      :class => "semi-short apart", 
                      :value => "#{@lname2}" %>
      </li> 
      <li>
        <label>Current Class:</label>
        <%= select  :name => "current_class2",
                    :collection => @classrooms.collect{|x| x.class_name }, 
                    :prompt => "Please Select", 
                    :selected => "#{@current_class2}" %>
      </li>   
      <li>
        <%= text_field  :name => "birth_date2", 
                        :id => "DOB2", 
                        :label => "Date of Birth", 
                        :value => "#{@birth_date2}",
                        :class => "short" %>
      </li>
    </ul>
  </fieldset>
                    <% if( ( (@fname2 != "") && (@lname2 != "") ) && (@current_class2 != "") )   %>
                           <% if (@birth_date2 != "")  %> 
                                  <% if ( ( (@fname3 != "") || (@lname3 != "" ) ) || (@current_class3 != "") ) %>
                                       <div id="am2" style="display:none">
                                           <a onclick="add_student2();return false;" href="#">Add More</a>
	                                     </div>
                                       <div id="am3" style="display:none">
                                           <a onclick="add_student3();return false;" href="#">Add More</a>
	                                     </div>
                                   <% end %>
                           <% else %>
                                 <div id="am2" style="display:none">
                                    <a onclick="add_student2();return false;" href="#">Add More</a>
	                               </div>
                                 <div id="am3" style="display:block">
                                    <a onclick="add_student3();return false;" href="#">Add More</a>
	                               </div>
                           <% end %>
                     <% else %>
                           <div id="am2" style="display:none">
                              <a onclick="add_student2();return false;" href="#">Add More</a>
	                         </div> 
                           <div id="am3" style="display:block">
                              <a onclick="add_student3();return false;" href="#">Add More</a>
	                         </div>
                     <% end %>
              <% else %>
                     <div id="student2" style="display:none">
                       <fieldset><ul>
                          <li>
                              <%= text_field  :name => "f_name_student2", :class => "semi-short", :label => "Name" %>
                              <%= text_field  :name => "l_name_student2", :class => "semi-short apart" %>
                          </li>
                          <li>
                              <label>Current Class:</label>
                              <%= select :name => "current_class2", :collection => @classrooms.collect{|x| x.class_name }, :prompt => "Please Select" %>
                           </li>    
                           <li>
                               <%= text_field  :name => "birth_date2", :id => "DOB2", :class => "short", :label => "Date of Birth" %>
                           </li>
                           </fieldset>
                           </ul>
                      </div>
                      <div id="am2" style="display:block">
                           <a onclick="add_student2();return false;" href="#">Add More</a>
	                    </div>
                <% end %>
                      <div id="am3" style="display:none">
                          <a onclick="add_student3();return false;" href="#">Add More</a>
	                     </div>
                   
                <% if ( ( (@fname3 != nil) || ( @lname3 != nil ) ) || (@current_class3 != nil) ) %>
                        <div id="student3" style="display:block">
                              <fieldset><ul><li>
                                  <%= text_field  :name => "f_name_student3", :class => "semi-short", :label => "Name", :value => "#{@fname3}" %>
                                  <%= text_field  :name => "l_name_student3", :class => "semi-short apart", :value => "#{@lname3}" %>
                              </li>
                              <li>
                                  <label>Current Class:</label>
                                  <%= select :name => "current_class3", :collection => @classrooms.collect{|x| x.class_name }, :prompt => "Please Select", :selected => "#{@current_class3}" %>
                              </li>  
                              <li>
                                  <%= text_field  :name => "birth_date3", :id => "DOB3", :class => "short",  :label => "Date of Birth" %>
                              </li></ul></fieldset>
                        </div>
                        <% if( ( (@fname3 != "") && (@lname3 != "") ) && (@current_class3 != "") )   %>
                              <% if (@birth_date3 != "")  %>
                                    <% if ( ( (@fname4 != "") || (@lname4 != "" ) ) || (@current_class4 != "") ) %>
                                          <div id="am3" style="display:none">
                                              <a onclick="add_student3();return false;" href="#">Add More</a>
	                                        </div>
                                          <div id="am4" style="display:none">
                                              <a onclick="add_student4();return false;" href="#">Add More</a>
	                                        </div>
                                     <% end %>
                              <% else %>
                                    <div id="am3" style="display:none">
                                       <a onclick="add_student3();return false;" href="#">Add More</a>
	                                  </div>
                                    <div id="am4" style="display:block">
                                       <a onclick="add_student4();return false;" href="#">Add More</a>
	                                  </div>
                              <% end %>
                        <% else %>
                              <div id="am3" style="display:none">
                                  <a onclick="add_student3();return false;" href="#">Add More</a>
	                            </div>
                              <div id="am4" style="display:block">
                                  <a onclick="add_student4();return false;" href="#">Add More</a>
	                            </div>
                        <% end %>
                <% else %>
                        <div id="student3" style="display:none">
                          <fieldset><ul>
                            <li>
                                <%= text_field  :name => "f_name_student3", :class => "semi-short", :label => "Name" %>
                                <%= text_field  :name => "l_name_student3", :class => "semi-short apart" %>
                            </li>
                            <li>
                                <label>Current Class:</label>
                                <%= select :name => "current_class3", :collection => @classrooms.collect{|x| x.class_name }, :prompt => "Please Select" %>
                            </li>
                             <li>
                                 <%= text_field  :name => "birth_date3", :id => "DOB3", :class => "short",  :label => "Date of Birth" %>
                             </li>
                             </ul></fieldset>
                        </div>
                <% end %>
                        <div id="am4" style="display:none">
                            <a onclick="add_student4();return false;" href="#">Add More</a>
	                      </div>
                <% if ( ( (@fname4 != nil) || (@lname4 != nil) ) || (@current_class4 != nil) ) %>
                        <div id="student4" style="display:block">
                            <fieldset><ul><li>
                                <%= text_field  :name => "f_name_student4", :class => "semi-short", :label => "Name", :value => "#{@fname4}" %>
                                <%= text_field  :name => "l_name_student4", :class => "semi-short apart", :value => "#{@lname4}" %>
                            </li>
                            <li>
                                <label>Current Class:</label><%= select :name => "current_class4", :collection => @classrooms.collect{|x| x.class_name }, :prompt => "Please Select", :selected => "#{@current_class4}" %>
                            </li>
                            <li>
                                <%= text_field  :name => "birth_date4", :id => "DOB4", :class => "short",  :label => "Date of Birth" %>
                            </li></ul></fieldset>
                         </div>
                <% else %>
                       <div id="student4" style="display:none">
                            <fieldset><ul><li>
                                <%= text_field  :name => "f_name_student4", :class => "semi-short", :label => "Name" %>
                                <%= text_field  :name => "l_name_student4", :class => "semi-short apart" %>
                            </li>
                            <li>
                                <label>Current Class:</label>
                                <%= select :name => "current_class4", :collection => @classrooms.collect{|x| x.class_name }, :prompt => "Please Select" %>
                            </li>
                            <li>
                                 <%= text_field  :name => "birth_date4", :id => "DOB4", :class => "short",  :label => "Date of Birth" %>
                            </li>
                           </ul> </fieldset>
                       </div>
                <% end %>
         <% end =%>
                <div>     
             <%= submit "Submit" %> Or <%= link_to "Cancel", url(:login) %>
             </div>
         
 <% end =%>

      
 
<script type= "text/javascript">

  document.registration.parent_first_name.focus();


  var student2_obj = document.getElementById('student2');
  var student3_obj = document.getElementById('student3');
  var student4_obj = document.getElementById('student4');
  var am2_obj     = document.getElementById('am2');
  var am3_obj     = document.getElementById('am3');
  var am4_obj     = document.getElementById('am4');
 
  function add_student2()
  {
    student2_obj.style.display  =  "block";
    am2_obj.style.display      =  "none";
    am3_obj.style.display     =  "block";
  }
  
  function add_student3()
   {
     student3_obj.style.display  =  "block";
     am3_obj.style.display      =  "none";
     am4_obj.style.display      =  "block"; 
    }
    
  function add_student4()
   {
     student4_obj.style.display  =  "block";
     am4_obj.style.display      =  "none";
   }

   $j("#DOB1").datepicker({ yearRange: '1970:2040'});
    $j("#DOB2").datepicker({ yearRange: '1970:2040'});
     $j("#DOB3").datepicker({ yearRange: '1970:2040'});
      $j("#DOB4").datepicker({ yearRange: '1970:2040'});
      
      
 

</script>
