<p> Register(step 1 of 3)</p>

<%= error_messages_for @parent %>
<hr/>
  <%= error_messages_for @student %>
     <ul class='error_messages'>
         <% if flash[:error3] %>
            <li><%= flash[:error3] %></li>
         <% end %>
         <% if flash[:error] %>
            <li><%= flash[:error] %> </li>
         <% end %>
         <% if flash[:error4] %>
            <li><%= flash[:error4] %> </li>
         <% end %>
         <% if flash[:error2] %>
            <li><%= flash[:error2] %> </li>
         <% end %>
    </ul>
   

   <%= form_for(@parent, :action => resource(:registrations) ) do %>
        
       <ul>
           <li>
               <%= text_field  :first_name,  :label => "Your Name", :class => "short " %>
               <%= text_field  :last_name, :class => "short apart" %>
	         </li>
           <li><%= text_field  :email,  :label => "Your Email ID", :class => "short " %></li>
         </ul>
         <p> Student Details </p>
                   
    <% fields_for :student do %> 
           <ul>
             <li>
                 <%= text_field  :first_name,  :label => "Name", :class => "short " %>
                 <%= text_field  :last_name, :class => "short apart" %>
	           <li>
             <li>Current Class <select name = "classroom_id" id="classroom_person",>
	                        <option value="">Please Select
                         <% @classrooms.each do |s| %>
                         <option value="<%= s.class_name %>">
			                   <%= s.class_name %>
		                         </option>
			                   <% end %>  @years.map {|y| y.to_s}
             </li>
             <li><%= select :month, :collection => @months.map {|y| y.to_s}, :prompt => "month", :label => "Birth Month & Year" %>
                 <%= select :year, :collection => @years.map {|y| y.to_s }, :prompt => "year" %>
             </li>
         </ul>
         <% if ( ( (@fname2 != nil) || (@lname2 != nil) ) || (@classroom_id2 != nil) ) %>
                <div id="student2" style="visibility:block">
                       <li>
                           <%= text_field  :name => "f_name_student2", :class => "short", :label => "Name", :value => "#{@fname2}" %>
                           <%= text_field  :name => "l_name_student2", :class => "short apart", :value => "#{@lname2}" %>
                       </li> 
                       <li>Current Class <select name = "classroom_id2" id="classroom_person" ,>
                            <option value="">Please Select
                               <% @classrooms.each do |s| %>
                               <option value="<%= s.class_name %>" >
			                            <%= s.class_name %> 
		                           </option>
			                       <% end %>  
                       </li>
                        <li><%= select :name => "month2", :collection => @months.map {|y| y.to_s}, :prompt => "month", :selected => "#{@month2}", :label => "Birth Month & Year" %>
                            <%= select :name => "year2", :collection => @years.map {|y| y.to_s }, :prompt => "year", :selected => "#{@year2}" %>
                       </li>
                  </div>
                  <% if( ( (@fname2 != "") && (@lname2 != "") ) && (@classroom_id2 != "") )   %>
                       <% if (@month2 != "") && (@year2 != "") %> 
                            <% if ( ( (@fname3 != "") || (@lname3 != "" ) ) || (@classroom_id3 != "") ) %>
                            <div id="am2" style="display:none">
                                      <a onclick="add_student2();return false;" href="#">Add More</a>
	                               </div>
                                 <div id="am3" style="display:none">
                                      <a onclick="add_student3();return false;" href="#">Add More</a>
	                               </div>
                            <% end %>
                       <% else %>
                               <div id="am2" style="display:none">
                                  <a onclick="add_student2();return false;" href="#">Add More</a>
	                             </div>
                               <div id="am3" style="display:block">
                                  <a onclick="add_student3();return false;" href="#">Add More</a>
	                             </div>
                       <% end %>
                 <% else %>
                      <div id="am2" style="display:none">
                         <a onclick="add_student2();return false;" href="#">Add More</a>
	                    </div>
                      <div id="am3" style="display:block">
                         <a onclick="add_student3();return false;" href="#">Add More</a>
	                    </div>
                 <% end %>
               
            <% else %>
                   <div id="student2" style="display:none">
                       <li>
                           <%= text_field  :name => "f_name_student2", :class => "short", :label => "Name" %>
                           <%= text_field  :name => "l_name_student2", :class => "short apart" %>
                       </li>
                        <li>Current Class <select name = "classroom_id2" id="classroom_person",>
	                           <option value="">Please Select
                               <% @classrooms.each do |s| %>
                               <option value="<%= s.class_name %>">
			                            <%= s.class_name %>
		                           </option>
			                       <% end %>  
                        </li>
                        <li><%= select :name => "month2", :collection => @months.map {|y| y.to_s}, :prompt => "month", :label => "Birth Month & Year" %>
                        <%= select :name => "year2", :collection => @years.map {|y| y.to_s }, :prompt => "year" %>
                        </li>
                   </div>
                    <div id="am2" style="display:block">
                        <a onclick="add_student2();return false;" href="#">Add More</a>
	                  </div>
            <% end %>
                    <div id="am3" style="display:none">
                        <a onclick="add_student3();return false;" href="#">Add More</a>
	                   </div>
            <% if ( ( (@fname3 != nil) || ( @lname3 != nil ) ) || (@classroom_id3 != nil) ) %>
            
                  <div id="student3" style="display:block">
                         <li>
                             <%= text_field  :name => "f_name_student3", :class => "short", :label => "Name", :value => "#{@fname3}" %>
                             <%= text_field  :name => "l_name_student3", :class => "short apart", :value => "#{@lname3}" %>
                         </li>
                          <li>Current Class <select name = "classroom_id3" id="classroom_person",>
	                           <option value="">Please Select
                               <% @classrooms.each do |s| %>
                               <option value="<%= s.class_name %>">
			                            <%= s.class_name %>
		                           </option>
			                       <% end %>  
                        </li>
                        <li><%= select :name => "month3", :collection => @months.map {|y| y.to_s}, :prompt => "month", :selected => "#{@month3}", :label => "Birth Month & Year" %>
                        <%= select :name => "year3", :collection => @years.map {|y| y.to_s }, :prompt => "year", :selected => "#{@year3}" %>
                       </li>
                   </div>
                   <% if( ( (@fname3 != "") && (@lname3 != "") ) && (@classroom_id3 != "") )   %>
                           <% if ( ( (@fname4 != "") || (@lname4 != "" ) ) || (@classroom_id4 != "") ) %>
                                  <div id="am3" style="display:none">
                                     <a onclick="add_student3();return false;" href="#">Add More</a>
	                                </div>
                                  <div id="am4" style="display:none">
                                      <a onclick="add_student4();return false;" href="#">Add More</a>
	                                </div>
                            <% end %>
                      <% else %>
                            <div id="am3" style="display:none">
                                <a onclick="add_student3();return false;" href="#">Add More</a>
	                          </div>
                            <div id="am4" style="display:block">
                                <a onclick="add_student4();return false;" href="#">Add More</a>
	                          </div>
                      <% end %>
           <% else %>
                 <div id="student3" style="display:none">
                      <li>
                         <%= text_field  :name => "f_name_student3", :class => "short", :label => "Name" %>
                         <%= text_field  :name => "l_name_student3", :class => "short apart" %>
                      </li>
                      <li>Current Class <select name = "classroom_id3" id="classroom_person",>
	                           <option value="">Please Select
                               <% @classrooms.each do |s| %>
                               <option value="<%= s.class_name %>">
			                            <%= s.class_name %>
		                           </option>
			                       <% end %>  
                        </li>
                       <li><%= select :name => "month3", :collection => @months.map {|y| y.to_s}, :prompt => "month", :label => "Birth Month & Year" %>
                           <%= select :name => "year3", :collection => @years.map {|y| y.to_s }, :prompt => "year" %>
                       </li>
                  </div>
              
           <% end %>
                 <div id="am4" style="display:none">
                    <a onclick="add_student4();return false;" href="#">Add More</a>
	               </div>
            
            <% if ( ( (@fname4 != nil) || (@lname4 != nil) ) || (@classroom_id4 != nil) ) %>
         
                 <div id="student4" style="display:block">
                     <li>
                         <%= text_field  :name => "f_name_student4", :class => "short", :label => "Name", :value => "#{@fname4}" %>
                         <%= text_field  :name => "l_name_student4", :class => "short apart", :value => "#{@lname4}" %>
                     </li>
                     <li>Current Class <select name = "classroom_id4" id="classroom_person",>
	                           <option value="">Please Select
                               <% @classrooms.each do |s| %>
                               <option value="<%= s.class_name %>">
			                            <%= s.class_name %>
		                           </option>
			                       <% end %>  
                        </li>
                       <li><%= select :name => "month4", :collection => @months.map {|y| y.to_s}, :prompt => "month", :selected => "#{@month4}", :label => "Birth Month & Year" %>
                           <%= select :name => "year4", :collection => @years.map {|y| y.to_s }, :prompt => "year", :selected => "#{@year4}" %>
                       </li>
                  </div>
                  
            <% else %>
                   <div id="student4" style="display:none">
                        <li>
                            <%= text_field  :name => "f_name_student4", :class => "short", :label => "Name" %>
                            <%= text_field  :name => "l_name_student4", :class => "short apart" %>
                         </li>
                         <li>Current Class <select name = "classroom_id4" id="classroom_person",>
	                           <option value="">Please Select
                               <% @classrooms.each do |s| %>
                               <option value="<%= s.class_name %>">
			                            <%= s.class_name %>
		                           </option>
			                       <% end %>  
                        </li>
                       <li><%= select :name => "month4", :collection => @months.map {|y| y.to_s}, :prompt => "month", :label => "Birth Month & Year" %>
                           <%= select :name => "year4", :collection => @years.map {|y| y.to_s }, :prompt => "year" %>
                       </li>
                   </div>
            <% end %>
            
      <% end %>
                     
               
             <li> <%= text_field  :password,  :label => "Password", :class => "short " %></li>
             <li> <%= text_field  :password_confirmation,  :label => "Re Type Password", :class => "short " %></li>
       
         <%= submit "Save" %> Or <%= link_to "Cancel", url(:login) %>
         
         <% end =%>

         
<script type= "text/javascript">

  var student2_obj = document.getElementById('student2');
  var student3_obj = document.getElementById('student3');
  var student4_obj = document.getElementById('student4');
  var am2_obj     = document.getElementById('am2');
  var am3_obj     = document.getElementById('am3');
  var am4_obj     = document.getElementById('am4');
 
  function add_student2()
  {
    student2_obj.style.display  =  "block";
    am2_obj.style.display      =  "none";
    am3_obj.style.display     =  "block";
  }
  
  function add_student3()
   {
     student3_obj.style.display  =  "block";
     am3_obj.style.display      =  "none";
     am4_obj.style.display      =  "block"; 
    }
    
  function add_student4()
   {
     student4_obj.style.display  =  "block";
     am4_obj.style.display      =  "none";
   }

   
 

</script>
