<div id="register">
<h1>Please select a password</h1>
    <div class="register-steps3"><img src="/images/register-step3.gif" alt="Step 3 of 3"/></div>
    <ul class='error_messages'>
        <% if flash[:error] %>
           <%= flash[:error] %>
        <% end %>
   </ul>
<fieldset>                  

<%= form_for (@parent, :action => url(:password_save, :id => @parent.password_reset_key) ) do  %>
    
        <ul>
             <li><%= password_field :password,  :label => "Password" %></li>
             <li><%= password_field :password_confirmation,  :label => "Password Confirmation" %></li>
            
        </ul>
        <br/>
         <div class="save-cancel">
                <%= submit "    Save    " %>
         </div>

<% end =%>
   
</fieldset>   
</div>