 <ul class='error_messages'>
      <% if flash[:error] %>
          <%= flash[:error] %>
      <% end %>
 </ul>

<h2 class="current-page"> Resetting the Password </h2>

<fieldset>                  

<%= form_for :person, :action => url(:reset_password_update, :id => @person.password_reset_key)  do  %>
    
        <ul>
             <li><%= password_field :password,  :label => "Password" %></li>
             <li><%= password_field :password_confirmation,  :label => "Password Confirmation" %></li>
          
        </ul>
            <div class="save-cancel">
                <%= submit "    Save    " %> 
            </div>

     <% end =%>
   
</fieldset>   
