<h2 class="current-page"> Resetting the Password </h2>

<fieldset>                  

<%= form_for :person, :action => url(:reset_password_update, :id => @person.id)  do  %>
    
        <ul>
             <li><%= password_field :password,  :label => "Password" %></li>
             <li><%= password_field :password_confirmation,  :label => "Password Confirmation" %></li>
           
             <% if flash[:error] %>
               <%= flash[:error] %>
            <% end %>
            <% if flash[:error1] %>
               <%= flash[:error1] %>
            <% end %>
            <% if flash[:error2] %>
               <%= flash[:error2] %>
            <% end %>
        </ul>
            <div class="save-cancel">
                <%= submit "Save" %> 
            </div>

     <% end =%>
   
</fieldset>   
