


Hello  <%= @person.name %>,
 
<h3> <p>  Welcome to Schoolyard Administration </p> </h3> <br/>

<h4> <p> Please click the link to choose your password </p> </h4> <br/> to Edit and Delete of Schools


 <a href = "http://<%= @current_school.subdomain %>.<%= Schoolapp.config(:app_domain) %><%= url(:password_staff, :id => @staff.password_reset_key) %>">http://<%= @current_school.subdomain %>.<%= Schoolapp.config(:app_domain) %><%= url(:password_staff, :id => @staff.password_reset_key) %> </a>

 
