Hello,

       <p><h4> Original feedback : </h4></p>
       <p> <%= @announcement.content %> </p><br/>
       
       <p><h4>Schoolyard response:</h4></p>
       <p><%= @announcement.approve_comments %></p> 
            
<p>Thank you,<br/>
<p><%= @announcement.school.school_name %></p>    
<% @person = @current_school.people.find_by_id(@announcement.approved_by) %>
<p>
   <%= @person.name %> (<%= @person.email %>)
</p>

