<h2 class="current-page">Home Work  &nbsp;&nbsp;&nbsp; <%= link_to "Add New", resource(:home_works, :new) %></h2>

<div class="fullpage announcemt">
  
   View :  <select id = 'workID'>
             <option value = '/home_works' <% if (@test == "All Homeworks") %> selected <% end %> >All Homeworks</option>
                  <% @classes.each do |f| %>
                      <option value='/home_works?label=classes&id=<%= f.id %>' <% if (@test == f.id.to_s) %> selected <% end %> > 
                         <%= f.class_name %> 
                      </option>
	                <% end %>
	         </select>
  

          <% if @home_works.empty? %>
                 <p class="subText">
				    No Homework assignment was found. If you applied a filter try changing it.
			        <%= link_to "Add New", resource(:home_works, :new) %>
			     </p>
           <% else %>
                   <% for homework in @home_works %>
                        <div class="data-block long-block">
                              <span class="hidden">
                                  <% unless homework.due_date.nil? %>
                                         <%= homework.due_date.strftime("%B-%d") %>
                                  <% end %>
                              </span>
                              <% if homework.due_date.nil? %>
	                                  <div class="ddmmm-x"></div>
	                            <% else %>
                                    <div class="ddmmm">
                                          <span class="date"><%= homework.due_date.strftime("%d") %></span>
                                          <span class="month"><%= homework.due_date.strftime("%b") %></span>
                                    </div>
                              <% end %>
                              <h3><%= link_to "#{homework.title}", url(:home_work, homework.id) %></h3>
                              <span class="subText">Homework for: <%= homework.classroom.class_name %></span><br/>
                              <p class="subText">
	                             Assigned on <%= homework.created_at.strftime("%b %d, %Y") %> by <%= homework.person.name %>
	                          </p>
                              <p class="post-content"><%= san_content(homework.content) %></p>
                              <%= link_to "Edit", resource(homework, :edit), :class=>"edit-btn" %>
                              <%= link_to "Delete", resource(homework, :delete), :class => "delete delete-btn"  %>
                              <p class="separator clear">&nbsp;</p>
                              <br class="clear"/>
                         </div>
                    <% end %>
      <%= will_paginate (@home_works, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
          <% end %>
    
</div>
  
  <script type="text/javascript" src='/javascripts/delete_confirmation.js'></script>

  <script type = 'text/javascript'>

        $( 'workID' ).observe( 'change', function()
          {
            document.location.href = $( 'workID' ).value;
          
          });
       
</script>
 