<div id="fullpage">
     <h2 class="current-page"> Homework for <%= @classroom.class_name.titleize %></h2>
     <div class="data-block long-block">
          <div class="ddmmm">
                <span class="date"><%= @date.strftime("%d") %></span>
                <span class="month"><%= @date.strftime("%b") %></span>
          </div>
          <h3> <%= params[:home_work][:title] %> </h3> 
          <p class="subText">Assigned on <%= @date.strftime("%b %d, %Y") %>  by <%= session.user.name %></p>
          <p class="post-content"><%= san_content(params[:home_work][:content]) %></p>   
</div>
