<div>
  
  <h2 class="current-page"> 
        Homework &nbsp;&nbsp;&nbsp;
  </h2>
  <%= link_to "Download as PDF", url(:home_works_pdf, :id => @home_work.id, :label => "single") , :class=> "pdf" %>
 
            <div class="data-block long-block">
                 <span class="hidden">
                     <% unless @home_work.due_date.nil? %>
                            <%= @home_work.due_date.strftime("%B-%d") %>
                     <% end %>
                 </span>
                  <div class="ddmmm">
                        <span class="date"><%= @home_work.due_date.strftime("%d") %></span>
                        <span class="month"><%= @home_work.due_date.strftime("%b") %></span>
                  </div>
                  <h3> <%= @home_work.title %> </h3> 
                  <p class="subText">Assigned on <%= @home_work.created_at.strftime("%b %d, %Y") %>  by <%= @home_work.person.name %></p>
                  <p><%= snippet(@home_work.content, 50) %></p>
                  <% @attachment = @current_school.attachments.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", @home_work.id, "Homework"]) %>
                  <% unless @attachment.nil? %>
                       <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                  <% end %>
                  <p class="separator">&nbsp;</p>
            </div>
            <hr size="1"/>
        
         <%= link_to '&larr; Previous', url(:home_work, @home_work.previous_common),:class => "alignleft" if @home_work.previous_common %> &#124;
         <%= link_to " All Homework ", resource(:home_works) %> &#124;
         <%= link_to 'Next &rarr; ',  url(:home_work, @home_work.next_common),:class => "alignright" if @home_work.next_common %>
         
          
</div>

