<div id="content" class="two-col">
    <h2 class="current-page">
        Calendar &nbsp;&nbsp;&nbsp;
        <%= link_to_right((right = "calendar"), "Add New", resource(:calendars, :new, :l => "#{@classroom.class_name}" )) %>
        <span class="act">  
           <%= link_to "Download as PDF", url(:pdf_events, :id => @classroom.id), :class=> "pdf" %>
           (<%= link_to "Requires acrobat reader", "http://get.adobe.com/reader/", {'target' => '_blank'} %>)
        </span>
    </h2><br/>
      <%= link_to "&larr; previous week", url(:class_details, :id => @classroom.id, :week => @week - 1, :label => "calendars"), 
                              :class => "alignleft" %>  &#124;
      <%= link_to "Current Week", url(:class_details, :id => @classroom.id, :week => "0", :label => "calendars", :current_week => "current"), :class => "alignleft" %>   &#124;
      <%= link_to "next week &rarr; ", url(:class_details, :id =>  @classroom.id, :week => @week + 1, :label => "calendars"), 
                            :class => "alignright" %>
   
    <h4 class="calendar-week">Showing <%= $from.strftime("%b %d, %Y") %> - <%= $to.strftime("%b %d, %Y") %></h4>
    <% if @calendars.empty? %>
         <span class="subText">There are no events planned at this time</span>
    <% else %>
         <br/>
         <% q = 1 %>
             <% if @today_calendars %>
                <%= partial "today_calendar" %>
             <% end %>
                <% cdate=""
                   for calendar in @calendars.delete_if{|x| x.start_date == Date.today} %>
                       <div class="calendar-block" style="width:480px;">
                            <% if(cdate!= calendar.start_date.strftime("%b %d %Y"))
                                  cdate=calendar.start_date.strftime("%b %d %Y") %>
                                  <br/><h3<% unless (Time.now.strftime("%b %d %Y")!= cdate) %>
                                    class="today"
                                  <% end %>
                                  >
                                  <%= cdate %> </h3> 
                                  <% if q == 1 %>
                                     <% test_date = cdate %>
                                  <% end %>
                            <% end %> 
                            <ul class="calendar-items">
                                <li>
                                   <% unless calendar.start_time.nil? %>
                                       <%= calendar.start_time.strftime("%I:%M %p") %> 
                                   <% else %>
                                        All day event
                                   <% end %>
                                   <% if calendar.class_name == "Schoolwide" %>
                                      <%= link_to "#{calendar.title}", url(:calendar, calendar.id, :class => @classroom.id) %>
                                   <% else %>
                                      <%= link_to "#{calendar.title}", url(:calendar, calendar.id) %>
                                   <% end %>
                                   <% unless session.user.type == "Parent" %>
                                       <div class="admin-links">
                                            <%= link_to_right((right = "calendar"), "Edit", resource(calendar, :edit) ) %> &#124;
                                            <%= link_to_delete((right = "calendar"), "Delete", resource(calendar, :delete) )  %>
                                       </div>
                                   <% end %>
                                </li>
                            </ul>
                       </div>
                       <% q += 1 %>
                 <% end %>
                 
    <% end %><br/><br/>
   
      
</div>