<%  if params[:label] == "calendars" %>
 
        <%= partial 'calendars' %>
        
<% elsif params[:label] == "homeworks" %>
      <% unless @classroom.class_type == "Subject" %>
          <%= partial 'home_works' %>     
      <% else %>   
         <p class="subText">There are no Homeworks for Subject</p>
      <% end %>
        
<% elsif params[:label] == "announcements" %>
     
       <%= partial 'announcements' %>

<% elsif params[:label] == "grades" %>
       <% unless @classroom.class_type == "Subject" %>
          <%= partial "grades" %>   
       <% else %>   
          <p class="subText">There are no Grades/Reports for Subject</p>
       <% end %>
<% elsif params[:label] == "spot_light" %>
     
        <%= partial 'spot_lights' %>      

<% else %>
      <div id="content">
        <p class="post-content">
              <% if @welcome_messages.empty? %>
                  Welcome to <%= @current_school.school_name%>'s <%=@classroom.class_name%> classroom
                  <% unless session.user.type == "Parent" %>
                      <span class="admin-links">
                    <%= link_to_right( (right = "welcome_messages"), "Edit", url(:new_welcome_message, :l => "#{@classroom.class_name}" ) ) %>
                      </span>
                  <% end %>
              <% else %>
                   <% for message in @welcome_messages %>
                       <%= message.content %>
                        <div class="clear"></div>
                       <% unless session.user.type == "Parent" %>
                             <div class="admin-links">
                               <%= link_to_right( (right = "welcome_messages"), "Edit Welcome Message", resource(message, :edit) ) %> &#124;
                               <%= link_to_delete( (right = "welcome_messages"), "Delete Welcome Message", resource(message, :delete) ) %>
                             </div>
                       <% end %>
                   <% end %>
              <% end %>
         </p>
               <h2 class="current-page">Announcements &amp; Updates </h2>
        
               <% if @ann.blank? %>
                     <p class="subText">There are no announcements at this time</p>
               <% else %>
                     <% for announcement in @ann %>
                          <div class="data-block short-block">
                               <div class="ddmmm">
                                   <span class="date"><%= announcement.created_at.strftime("%d") %></span>
                                   <span class="month"><%= announcement.created_at.strftime("%b") %></span>
                               </div>
                               <h3>
								<%= link_to "#{announcement.title}", url(:home, announcement.id, :l => @classroom.id, :label => "class_ann") %>
								<% unless session.user.type == "Parent" %>
                                    <span class="admin-links">
                                         <%= link_to_right((right = "announcements"), "Edit", resource(announcement, :edit)) %> &#124;
                                         <%= link_to_delete((right = "announcements"), "Delete", resource(announcement, :delete)) %>
                                    </span>
                               <% end %>								
								</h3>

                               <p><%= snippet(announcement.content,50) %></p>
                               <% @attachment = @current_school.attachments.find(:first, 
                                         :conditions => ["attachable_id =? and attachable_type =?", announcement.id, "Announcement"] ) %>
                               <%= partial 'common/attachment' %>
                               <p class="separator">&nbsp;</p>
                          </div>
                     <% end %>
              <% end %>
              <% unless session.user.type == "Parent" %>
                   <div class="admin-links">
                          <ul>
                              <li <% if @selected == "announcements" %> class="on" <% end %>>
                                  <%= link_to "All Announcements", url(:class_details, :id =>  @classroom.id, :label => "announcements") %> &#124;    
                                  <%= link_to_right((right = "announcements"), "Add New Announcement", resource(:announcements, :new, :l => "#{@classroom.class_name}")) %>
                                  <% if session.user.type == "Parent" %>
                                       &#124; <%= link_to "Submit an announcement", resource(:parents, :new) %>
                                  <% end %>
                              </li>
                          </ul> 
                   </div>
              <% end %>
      </div>

       <div class="right-sidebar">
              
              <% unless @sp_light.nil? %>

                    <h3>Spotlight</h3>
                    <ul class="last">
                         <% @attachment = @current_school.attachments.find(:first, 
                                 :conditions => ['attachable_type = ? and attachable_id = ?', "spot_light", @sp_light.id]) %>
                         <div class="pic">
	                          <%= file_image(@current_school.id, @attachment.id, @attachment.attachable_type) unless @attachment == nil   %>
	                      </div>
                         <h6><%= link_to "#{@sp_light.name}", url(:spots, :id => @sp_light.id) %></h6>
                         <%= snippet(@sp_light.content, 25) %>
                         <li><%= link_to "All spotlights", url(:class_details, :id => @classroom.id, :label => "spot_light") %></li>
                    </ul>
              <% end %>
              <% unless @classroom.class_type == "Subject" %>
                  <% unless @h_w.empty? %>
                      <h3>Current Homework</h3>
                      <ul class="last">
                        
                          <% if @h_w.blank? %>
                               <span class="subText">There are no homework assignments due at this time</span>
                          <% else %>
                              <% for homework in @h_w %>
                                <li><%= link_to "#{homework.title}", url(:class_works, :id => homework.id) %></li>
                              <% end %>
                          <% end %>
                      </ul>
                  <% end %>
              <% end %>
              <% unless @external_links.blank? %>
                   <h3>External Links </h3>
                   <ul class="last">
                     <% for link in @external_links %>
                       <li><%= link_to ("#{link.title}", "http://#{link.url}", {'target' => '_blank'}) %></li>
                     <% end %>
                   </ul>
              <% end %>
              <% unless @subject_links.blank? %>
                    <h3>External Links </h3>
                    <ul class="last">
                      <% for link in @subject_links %>
                        <li><%= link_to ("#{link.title}", "http://#{link.url}", {'target' => '_blank'}) %></li>
                      <% end %>
                    </ul>
              <% end %>
                          
         </div>
</div>                                                                                                                                         
<% end %>   


 <script type="text/javascript" src='/javascripts/delete_confirmation.js'></script>

<script type= "text/javascript">

  jQuery(document).ready(function($)
     {
       $('a[rel*=facebox]').facebox()
       
     } 
 ) 

</script>
