<h2 class="current-page"> Classrooms &gt; Edit </h2>
<%= error_messages_for @classroom %>
<ul class='error_messages'>
       <% if flash[:error] %>
          <li><%= flash[:error] %> </li>
       <% end %>
       <% if flash[:error2] %>
          <li><%= flash[:error2] %> </li>
       <% end %>
</ul>
<% s = (0..13).to_a %>
	<div class="container">
		 <ol>
	    	<li><label for="classroom_class_name" class="error">Please enter the Class Name</label></li> 
  			<li><label for="class_teacher" class="error">Please select the Faculty</label></li>
			  <% s.each do |f| %>
			      <li><label for="txt<%= f %>" class="error">Please enter the Role</label></li> 
			      <li><label for="faculty<%= f %>" class="error">Please select the Faculty</label></li>
			      <li><label for="class_role_<%=f%>" class="error">Please enter the Role</label></li>
        		<li><label for="class_faculty_<%=f%>" class="error">Please select the Faculty</label></li>
			  <% end %>
     </ol>
	</div>
<%= form_for(@classroom, :id => "testing", :action => resource(@classroom), :class => "cmxform" ) do %>
    <fieldset>
          <ul id="class_room">
                <li><%= select :class_type, :label => "Class Type", :collection => @class_types  %></li>
                 <% if @classroom.class_type == "Classes" || @classroom.class_type == "Subject"  %>
                    <li><%= text_field :class_name,  :label => "Class Name", :maxlength => "75", :class => "required" %></li>
                 <% end %>
                 <% @class = @class_peoples.delete_if{|x| x.team_id != nil} %> <% q = 1 %>
                 <% @class.each do |f| %>
                      <% if f.role == "class_teacher" %>
                            <li>
                                <label><%= f.role.titleize %></label>
                                <%= select :name => "class_teacher", :collection => @current_school.staff, 
                                           :selected => "#{f.person_id.to_s}", :value_method => :id, 
                                           :text_method => :name, :prompt => "Select Faculty", :class => "required" %>
                            </li>
                      <% elsif f.role == "Athletic Director" %>
                             <li>
                                 <label><%= f.role.titleize %></label>
                                 <%= select :name => "class_teacher", :class => "required",
                                            :collection => @current_school.staff, :selected => "#{f.person_id.to_s}", 
                                            :value_method => :id, :text_method => :name, :prompt => "Select Faculty" %>
                             </li>
                      <% else %>
                             <li>
                                 <%= text_field :name => "class_room[role][role_#{q}]", :id => "class_role_#{q}", 
                                                :value => "#{f.role}", :class => "short text required" %>
                                 <%= select :class => "apart required", :name => "class_room[faculty][faculty_#{q}]", :collection => @current_school.staff, 
                                            :selected => "#{f.person_id.to_s}", :value_method => :id, :id => "class_faculty_#{q}",
                                            :text_method => :name, :prompt => "Select Faculty" %>
                                 <%= link_to "Remove", url(:delete_classroom, f, :label => "remove"), :class => "delete remove" %>
                             </li>
                      <% end %> <% q += 1 %>
                  <% end %>
                  <li><%= text_field :position, :label => 'Position in sequence', :maxlength => '3' %></li>
            </ul>
            <ul id="roles"></ul>
            <input type="hidden" id="id" value="1">
            <a href="#" class="add-more" onclick="addFormField(); return false;">Add Additional Staff</a>
            <div class="save-cancel">
                 <%= submit "    Save    " %> Or <%= link_to "Cancel", url(:classrooms), :class => "cancel" %>
            </div>
    </fieldset>
<% end =%>
 



 <script type="text/javascript" src='/javascripts/delete_confirmation.js'></script>

<script type= "text/javascript">
 
 function addFormField()
  {
    var id = document.getElementById('id').value;
    $j('#roles').append("<li id='row" + id + "'><input type='text' class='short text required' name='class[role][role_"+id+"]' id='txt" + id + "'><select class='apart required' id='faculty"+id+"' name='class[faculty][faculty_"+id+"]'><option value=''>Select Faculty</option><% @teachers.each do |teacher| %><option value='<%= teacher.id %>'><%= teacher.name %></option><% end %></select><a href='#' class='remove' onclick='removeFormField(\"#row" + id + "\"); return false;'>Remove</a></li>");
    $('txt'+id).focus();
    id = (id - 1) + 2;
    document.getElementById('id').value = id;
}

   function removeFormField(id) 
   {
      $j(id).remove();
    }
    
    
 function class_type()
    {
        var class_name = document.getElementById('class_name');
        var teacher = document.getElementById('teacher');
        var sport = document.getElementById('sport');
       if (document.getElementById('classroom_class_type').value == "Sports" )
        {
          
           class_name.style.display      =  "none";
            teacher.style.display      =  "none";
           sport.style.display      =  "block";
         }
        else
           {
             var class_name = document.getElementById('class_name');
             class_name.style.display      =  "block";
              teacher.style.display      =  "block";
             sport.style.display      =  "none";
         }
     }

  // Validation for Adding Classrooms

	var container = $j('div.container');

	// validate the form when it is submitted
	var validator = $j("#testing").validate({
		errorContainer: container,
		errorLabelContainer: $("ol", container),
		wrapper: 'li',
		meta: "validate"
	});


     
</script>