<h2 class="current-page"> Classrooms &gt; Add New </h2>
<%= error_messages_for @classroom %>
 <ul class='error_messages'>
       <% if flash[:error] %>
          <li><%= flash[:error] %> </li>
       <% end %>
       <% if flash[:error2] %>
          <li><%= flash[:error2] %> </li>
       <% end %>
 </ul> <% s = (0..13).to_a %>
 	<div class="container">
		<ol>
        <li><label for="classroom_class_name" class="error">Please enter the Class Name</label></li> 
        <li><label for="class_teacher" class="error">Please select the Faculty</label></li> 
        <% s.each do |f| %>
  			  	<li><label for="txt<%= f %>" class="error">Please enter the Role</label></li> 
  			    <li><label for="faculty<%= f %>" class="error">Please select the Faculty</label></li>
        <% end %>
    </ol>
	</div>
	
<%= form_for(@classroom, :id => "class", :action => resource(:classrooms), :class => "cmxform" ) do %>

      <fieldset>
            <%= partial 'form' %>
     
            <ul id="roles"></ul>
            <input type="hidden" id="id" value="1">
            <a href="" class="add-more" onClick="addFormField(); return false;">Add Additional Staff</a>
            
            <div class="save-cancel">
    	        <%= submit "    Save    " %> Or <%= link_to "Cancel", resource(:classrooms), :class => "cancel" %>
            </div>
      </fieldset>
      
<% end =%>
  

 
<script type= "text/javascript">
 
 
 $j('#cls').focus();
 
function addFormField()
  {
    var id = document.getElementById('id').value;
    $j('#roles').append("<li id='row" + id + "'><input type='text' class='short text required' name='class[role][role_"+id+"]' id='txt" + id + "'><select class='apart required' id='faculty"+id+"' name='class[faculty][faculty_"+id+"]'><option value=''>Select Faculty</option><% @teachers.each do |teacher| %><option value='<%= teacher.id %>'><%= teacher.name %></option><% end %></select><a href='#' class='remove' onclick='removeFormField(\"#row" + id + "\"); return false;'>Remove</a></li>");
    $('txt'+id).focus();
    id = (id - 1) + 2;
    document.getElementById('id').value = id;
 }
 
 function removeFormField(id) 
   {
         $j(id).remove();
         
   }
   
 function class_type()
 
    {
        var class_name = document.getElementById('class_name')
        var teacher = document.getElementById('teacher')
        var sport = document.getElementById('sport')
        if (document.getElementById('classroom_class_type').value == "Sports" )
        {
           class_name.style.display      =  "none";
           teacher.style.display      =  "none";
           sport.style.display      =  "block";
        }
        else
           {
             class_name.style.display      =  "block";
             teacher.style.display      =  "block";
             sport.style.display      =  "none";
         }
     }
       
 
  // Validation for Adding Classrooms
 
	var container = $j('div.container');
 
	// validate the form when it is submitted
	var validator = $j("#class").validate({
		errorContainer: container,
		errorLabelContainer: $("ol", container),
		wrapper: 'li',
		meta: "validate"
	});
	
</script>
 
 
<style type="text/css">
 
 	.cmxform fieldset li.error label { color: red; }
	div.container {
		background-color: #eee;
		border: 1px solid red;
		margin: 5px;
		padding: 5px;
	}
	div.container ol li {
		list-style-type: disc;
		margin-left: 20px;
	}
	div.container { display: none }
	.container label.error {
		display: inline;
	}
 
	form.cmxform label.error {
		display: block;
		margin-left: 1em;
		width: auto;
	}
 
</style>