 <div id="content" class="two-col">
        <h2 class="current-page">
           Class Calendar &nbsp;&nbsp;&nbsp;
           <%= link_to_right((right = "calendar"), "Add New", resource(:calendars, :new, :l => "#{@classroom.class_name.titleize}" ) )  %>
        </h2>
        <% if @calendars.empty? %>
            <% if @all_class_calendars.empty? %>
                <span class="subText">There are no events planned at this time</span>
            <% else %>    
                <%= partial 'common/all_class_calendars' %>
            <% end %>
        <% else %>
             <%= link_to "Download as PDF", url(:pdf_events, :id => @classroom.id)  , :class=> "pdf"%>
             <br/><br/>
                  <% cdate=""
               for calendar in @calendars %>
                  <div class="calendar-block" style="width:480px;">
                        <% if(cdate!=calendar.start_date.strftime("%b %d"))
                              cdate=calendar.start_date.strftime("%b %d") %>
                              <br/><h3<% unless (Time.now.strftime("%b %d")!=cdate) %>
                                class="today"
                              <%end%>
                              >
                              <%= cdate %> </h3> 
                        <% end %> 
                        <ul class="calendar-items">
                           <li>
                              <% unless calendar.start_time.nil? %>
                                  <%= calendar.start_time.strftime("%I:%M %p") %> 
                              <% else %>
                                   All day event
                              <% end %>
                              <%= link_to "#{calendar.title}", url(:calendar, calendar.id) %>
                              <% unless session.user.type == "Parent" %>
                                  <div class="admin-links">
                                       <%= link_to_right((right = "calendar"), "Edit", resource(calendar, :edit) ) %> &#124;
                                       <%= link_to_delete((right = "calendar"), "Delete", resource(calendar, :delete) )  %>
                                  </div>
                              <% end %>
                           </li>
                        </ul>
                    </div>
                <% end %>
                <%= partial 'common/all_class_calendars' %>
                <%= will_paginate (@calendars, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
                 </div>
        <% end %>
