<div id="content"  class="two-col">
        <h2 class="current-page"> 
            Homeworks &nbsp;&nbsp;&nbsp;
            <%= link_to_right((right = "homework"), "Add New", resource(:home_works, :new, :l => "#{@classroom.class_name.titleize}" ) )  %>
        </h2> 
        <% if @home_works.empty? %>
           <span class="subText">There are no Homework assignments at this time</span>
        <% else %>
             <%= link_to "Download as PDF", url(:home_works_pdf, :id => @classroom.id)  , :class=> "pdf"%>
             <% for homework in @home_works %>
                 <div class="data-block short-block">
                      <span class="hidden">
                        <% unless homework.due_date.nil? %>
                          <%= homework.due_date.strftime("%B-%d") %>
                        <% end %>
                      </span>
                      <% if homework.due_date.nil? %>
                          <div class="ddmmm-x"></div>
                      <% else %>
                          <div class="ddmmm">
                             <span class="date"><%= homework.due_date.strftime("%d") %></span>
                             <span class="month"><%= homework.due_date.strftime("%b") %></span>
                          </div>
                      <% end %>
                         <h3><%= link_to "#{homework.title}", url(:home_work, homework.id) %></h3>
                         <span class="subText">Assigned <%= homework.created_at.strftime("%b %d, %Y") %>  by <%= homework.person.name %></span>
                         <% unless session.user.type == "Parent" %>
                             <div class="admin-links">
                                 <%= link_to_right((right = "homework"), "Edit", resource(homework, :edit) )  %> |
                                 <%= link_to_right((right = "homework"), "Delete", resource(homework, :delete) )  %>
                             </div>
                         <% end %>
                         <p><%= snippet(homework.content, 50) %></p>
                         <% @attachment = @current_school.attachments.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", homework.id, "Homework"]) %>
                        <% unless @attachment.nil? %>
                           <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                      <% end %>
                      <p class="separator">&nbsp;</p>
                </div>           
            <% end %>    
              
                 <%= will_paginate (@home_works, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>      
        </div>
        <% end %>
        
