 <div id="content"  class="two-col">
        <h2 class="current-page"> 
            Spotlight &nbsp;&nbsp;&nbsp;
            <%= link_to_right((right = "spotlight"), "Add New", resource(:spot_lights, :new, :l => "#{@classroom.class_name.titleize}" ) ) %>
        </h2>
        <% if @spot_lights.blank? %>
            <span class="subText">There are no Spotlights at this time</span>
            <p class="separator">&nbsp;</p>
        <% else %>
              <% for spot in @spot_lights %>
                   <div class="data-block short-block">
                        <div class="ddmm">
                            <% @attachment = @current_school.attachments.find(:first, 
                                     :conditions => ['attachable_type = ? and attachable_id = ?', "spot_light", spot.id]) %>
                               <div class="pic">
	                               <%= file_image(@current_school.id, @attachment.id, @attachment.attachable_type) %>
	                           </div>
	                    </div>
                          <h3><%= link_to "#{spot.student_name}", url(:spots, :id => spot.id) %></h3>
                        <span class="subText"><%= spot.created_at.strftime("%b %d %Y") %></span>
                        <% unless session.user.type == "Parent" %>
                            <div class="admin-links">
                                <%= link_to_right((right = "spotlight"), "Edit", resource(spot, :edit ) ) %> |
                                <%= link_to_delete((right = "spotlight"), "Delete", resource(spot, :delete ) ) %>
                            </div>
                        <% end %>
                        <p class="post-content"><%= snippet(spot.content, 50) %></p>
                   </div>
                   <p class="separator">&nbsp;</p>
              <% end %>
              
              <%= will_paginate (@spot_lights, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
              
        </div>
        <% end %>
