<%  if params[:label] == "calendars" %>

  <h2 class="current-page">Class Calendar</h2>
  <%if @calendars.empty?%>
    <span class="subText">There are no events planned at this time</span>
  <%else%>
    <%= link_to "Download as PDF", url(:pdf_events, :id => @classroom.id)  , :class=> "pdf"%>
     <br/><br/>
       <% cdate=""
         for calendar in @calendars %>
            <div class="calendar-block" style="width:480px;">
            <% if(cdate!=calendar.start_date.strftime("%B %d %Y"))
                  cdate=calendar.start_date.strftime("%B %d %Y") %>
                  <h3><%= cdate %></h3> 
                  
            <% end %> 
            <ul class="calendar-items">
                   <li>
                             <% unless calendar.start_time.nil? %>
                               <%= calendar.start_time.strftime("%I:%M %p") %> 
                            <%else%>
                              All day event
                             <% end %>
                             <%= link_to "#{calendar.title}", url(:calendar, calendar.id) %>
                         </li>

            </ul>
             </div>
               

     <%end%>
   <% end %>
        
<% elsif params[:label] == "homeworks" %>

  <h2 class="current-page"> Homework </h2>
  <%if @home_works.empty? %>
    <span class="subText">There are no Homework assignments at this time</span>
  <%else%>
  <%= link_to "Download as PDF", url(:home_works_pdf, :id => @classroom.id)  , :class=> "pdf"%>
  <% for homework in @home_works %>
    <div class="data-block short-block">
      <span class="hidden">
        <% unless homework.due_date.nil? %>
          <%= homework.due_date.strftime("%B-%d") %>
        <% end %>
      </span>
      <% if homework.due_date.nil? %>
	      <div class="ddmmm-x"></div>
	    <% else %>
        <div class="ddmmm">
          <span class="date"><%= homework.due_date.strftime("%d") %></span>
          <span class="month"><%= homework.due_date.strftime("%b") %></span>
        </div>
      <% end %>
      <h3><%= link_to "#{homework.title}", url(:home_work, homework.id) %></h3>
      Assigned : <%= homework.created_at.strftime("%b %d, %Y") %>  by <%= homework.person.name %>
      <p class="separator"><%= snippet(homework.content, 50) %></p>
      <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", homework.id, "Homework"]) %>
      <% unless @attachment.nil? %>
        <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
      <% end %>
    </div>           
  <% end %>    
      <%= will_paginate (@home_works, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>      
<% end %>
       
       
       
       
                
<% elsif params[:label] == "announcements" %>
          <h2 class="current-page"> Announcements </h2>
            <%if @announcements.blank?%>
              <span class="subText">There are no Announcements at this time</span>
            <%else%>
              <% for announcement in @announcements %>
                   <div class="data-block short-block">
                         <div class="ddmmm">
                              <span class="date"><%=  announcement.created_at.strftime("%d")%></span>
                              <span class="month"><%=  announcement.created_at.strftime("%b")%></span>
                         </div>
                         <h3><%= link_to "#{announcement.title}", url(:home, announcement.id, :l => @classroom.id, :label => "class_ann" ) %></h3>
                            <p class="separator"><%= snippet(announcement.content,50) %></p>
                          <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", announcement.id, "Announcement"] ) %>
                             <% unless @attachment.nil? %>
                                  <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                             <% end %>
                        
                   </div>
                <% end %>
                 <%= will_paginate (@announcements, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
                 
            <% end %>

<% else %>
      <div id="content"><!--Content Area Starts here-->
        <% for message in @welcome_messages %>
          <p class="post-content"><%= message.content %></p>
        <% end %>
        <h2 class="current-page">Announcements &amp; Updates </h2>
        
        <% if @ann.blank? %>
          <p class="subText">There are no Announcements at this time.</p>
        <% else %>
            <% for announcement in @ann %>
              <div class="data-block short-block">
                  <% if announcement.created_at.nil? %>
                    <div class="ddmmm-x"></div>
                  <% else %>
                    <div class="ddmmm">
                      <span class="date"><%= announcement.created_at.strftime("%d") %></span>
                      <span class="month"><%= announcement.created_at.strftime("%b") %></span>
                    </div>
                  <% end %>
                  <h3><%= link_to "#{announcement.title}", url(:home, announcement.id, :l => @classroom.id, :label => "class_ann") %></h3>
                  <p class="separator"><%= snippet(announcement.content,50) %></p>
              </div>
            <% end %>
            <div class="page-links">
                 <%= link_to "All Announcements", url(:class_details, :id =>  @classroom.id, :label => "announcements") %>
                 <% if session.user.type == "Parent" %>
                       | <%= link_to "Submit an announcement", resource(:parents, :new) %>
                  <% end %>
            </div>
               
        <% end %>
        
             
      </div><!--Content End--> 
      
      <div class="right-sidebar">
        <!--><h3>Spotlight</h3>
          <ul class="last">
            <li>ASDF</li>
            <li>ASDF</li>
            <li>ASDF</li>
          </ul>-->
      <% unless session.user.type == "Parent" %>
        <h3>Manage Classroom</h3>
            <ul class="last">
                <li <% if @selected == "calendars" %> class="on" <% end %>><%= link_to_right((right = "calendar"), "Manage Calendars", url(:calendars) )  %></li>
              <li <% if @selected == "home_work" %> class="on" <% end %>><%= link_to_right((right = "homework"), "Manage Homeworks", url(:home_works, :id => @classroom.id, :label => "class_home_works") )  %></li>
              <li <% if @selected == "announcements" %> class="on" <% end %>><%= link_to_right((right = "announcements"), "Manage Announcements", url(:announcements, :id => @classroom.id, :label => "class_announcements")) %></li>
            </ul>
         <% end %>
        <h3>Current Homework</h3>
          <ul class="last">
            <% @h_w = @classroom.home_works.find(:all, :conditions => ['school_id = ? and due_date >= ?', @current_school.id, @date] ) %>
            <%if @h_w.blank?%>
              <span class="subText">There are no homework assignments due at this time</span>
            <%else%>
              <% for homework in @h_w %>
                <li><%= link_to "#{homework.title}", url(:home_work, homework.id) %></li>
              <% end %>
            <%end%>
          </ul>
        <%unless @external_links.blank?%>
          <h3>External Links </h3>
          <ul class="last">
            <% for link in @external_links %>
              <li><%= link_to ("#{link.title}", "http://#{link.url}", {'target' => '_blank'}) %></li>
            <% end %>
          </ul>
        <%end%>
          
      </div>
<% end %>   

<script type= "text/javascript">

  jQuery(document).ready(function($)
     {
       $('a[rel*=facebox]').facebox()
       
     } 
 ) 

</script>
