
<%  if params[:label] == "calendars" %>
<div class="short-block">
  <h2 class="current-page"> Calendars</h2>

  <% for calendar in @calendars %>
    <div class="calendar-block" style="width:480px;">
      <% unless calendar.start_date.nil? %> 
          <h3><%= calendar.start_date.strftime("%B %d %Y") %></h3>
      <% end %>
          <% cals = @calendars.select{|c| c.start_date.to_date == calendar.start_date.to_date } %>
       
          <ul class="calendar-items">
               <% cals.each do |cal| %>
                     <li>
                          <span class="cal-time">
                               <% unless cal.start_time.nil? %>
                                     Starts at <%= cal.start_time.strftime("%H-%M") %>
                               <% end %>&nbsp;
                          </span>
                           <span class="cal-title">
                               <%= link_to "#{cal.title}", url(:calendar, cal.id) %>
                           </span>
                          <span class="cal-time">
                                <% unless cal.end_time.nil? %>
                                      Ends at <%= cal.end_time.strftime("%H-%M") %>
                                <% end %>  &nbsp;
                          </span>
                          <% @attachment = Attachment.find(:first, :conditions => ['attachable_id=?', cal.id] ) %>
                                  <% unless @attachment.nil? %>
                                        <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                                  <% end %>
                      </li>
                <% end %>
         </ul>
    </div>
             <% @calendars.delete_if{|c| c.start_date == calendar.start_date } %>
         
  <% end %>
  </div>
              <%= link_to "Download as PDF", url(:pdf_events, :id => @classroom.id) %>
        
<% elsif params[:label] == "homeworks" %>
       <h2 class="current-page"> Homework </h2>
       <% for homework in @home_works %>
             <div class="data-block long-block">
              <span class="hidden">
                  <% unless homework.due_date.nil? %>
                      <%= homework.due_date.strftime("%B-%d") %>
                  <% end %>
              </span>
              <% if homework.due_date.nil? %>
	                <div class="ddmmm-x">
	                </div>
	            <% else %>
                   <div class="ddmmm">
                       <span class="date"><%= homework.due_date.strftime("%d") %></span>
                       <span class="month"><%= homework.due_date.strftime("%b") %></span>
                    </div>
               <% end %>
               <h3><%= link_to "#{homework.title}", url(:home_work, homework.id) %></h3>
               Assigned : <%= homework.created_at.strftime("%b %d, %Y") %>  by <%= homework.person.name %>
                <p class="post-content"><%= homework.content %></p>
                <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", homework.id, "Homework"]) %>
                  <% unless @attachment.nil? %>
                      <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                  <% end %>
               <div class="hrule clear"><hr /></div>
                 
       <% end %>
                <% unless @home_works.empty? %>
                    <%= link_to "Download as PDF", url(:home_works_pdf, :id => @classroom.id) %>
                <% end %>          
<% elsif params[:label] == "announcements" %>
          <h2 class="current-page"> Announcements </h2>
            <% for announcement in @announcements %>
                   <div class="data-block long-block">
                           <h3><%= announcement.title %></h3>
                            <p class="post-content"><%= announcement.content %></p>
                            <% @attachment = Attachment.find(:first, :conditions => ['attachable_id=?', announcement.id] ) %>
                             <% unless @attachment.nil? %>
                                  <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                             <% end %>
                           <div class="hrule clear"><hr /></div>
                   </div>
             <% end %>

<% else %>

         <% for message in @welcome_messages %>
               <p class="post-content"><%= message.content %></p>
         <% end %>
        <h2 class="current-page">External Links </h2>
          <% for link in @external_links %>
                <li><%= link_to ("#{link.title}", "http://#{link.url}", {'target' => '_blank'}) %></li>
          <% end %>
           
           <h2 class="current-page">Announcements: </h2>
   
            <% for announcement in @announcements %>
                   <div class="data-block long-block">
                          <h3><%= announcement.title %></h3>
                            <p class="post-content"><%= announcement.content %></p>
                           <div class="hrule clear"><hr /></div>
                   </div>
            <% end %>
                  


<% end %>   



<script type= "text/javascript">

  jQuery(document).ready(function($)
     {
       $('a[rel*=facebox]').facebox()
       
     } 
 ) 

</script>
