<%  if params[:label] == "calendars" %>

  <h2 class="current-page"> Calendars</h2>

    <% cdate=""
      for calendar in @calendars %>
         <div class="calendar-block" style="width:480px;">
         <% if(cdate!=calendar.start_date.strftime("%B %d %Y"))
               cdate=calendar.start_date.strftime("%B %d %Y") %>
              <h3><%= cdate %></h3>  
         <% end %> 
    
         <ul class="calendar-items">
                <li>
                      <span class="cal-time">
                          <% unless calendar.start_time.nil? %>
                        Starts at <%= calendar.start_time.strftime("%H-%M") %>
                               <% end %>&nbsp;
                          </span>
                          <span class="cal-title">
                             <%= link_to "#{calendar.title}", url(:calendar, calendar.id) %>
                          </span>
                          <span class="cal-time">
                            <% unless calendar.end_time.nil? %>
                          Ends at <%= calendar.end_time.strftime("%H-%M") %>
                                <% end %>  &nbsp;
                          </span>
                          Location : <%= calendar.location %>
                          <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type = ?", calendar.id, "Calendar"]) %>
                                 <% unless @attachment.nil? %>
                                        <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                                  <% end %>
                      </li>
                            
         </ul>
          </div>
             <% #@calendars.delete_if{|c| c.start_date == cdate } %>
         
  <% end %>
 
              <%= link_to "Download as PDF", url(:pdf_events, :id => @classroom.id) %>
        
<% elsif params[:label] == "homeworks" %>
       <h2 class="current-page"> Homework </h2>
       <% for homework in @home_works %>
             <div class="data-block short-block">
              <span class="hidden">
                  <% unless homework.due_date.nil? %>
                      <%= homework.due_date.strftime("%B-%d") %>
                  <% end %>
              </span>
              <% if homework.due_date.nil? %>
	                <div class="ddmmm-x">
	                </div>
	            <% else %>
                   <div class="ddmmm">
                       <span class="date"><%= homework.due_date.strftime("%d") %></span>
                       <span class="month"><%= homework.due_date.strftime("%b") %></span>
                    </div>
               <% end %>
               <h3><%= link_to "#{homework.title}", url(:home_work, homework.id) %></h3>
               Assigned : <%= homework.created_at.strftime("%b %d, %Y") %>  by <%= homework.person.name %>
               <p class="post-content"><%= snippet(homework.content, 50) %></p>
                <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", homework.id, "Homework"]) %>
                  <% unless @attachment.nil? %>
                      <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                  <% end %>
               <div class="hrule clear"><hr /></div>
                 
       <% end %>
                <% unless @home_works.empty? %>
                    <%= link_to "Download as PDF", url(:home_works_pdf, :id => @classroom.id) %>
                <% end %>          
                
<% elsif params[:label] == "announcements" %>
          <h2 class="current-page"> Announcements </h2>
            <% for announcement in @announcements %>
                   <div class="data-block short-block">
                         <div class="ddmmm">
                              <span class="date"><%=  announcement.created_at.strftime("%d")%></span>
                              <span class="month"><%=  announcement.created_at.strftime("%b")%></span>
                         </div>
                         <h3><%= link_to "#{announcement.title}", url(:home, announcement.id, :label => "class_ann") %></h3>
                            <p class="post-content"><%= announcement.content %></p>
                          <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", announcement.id, "Announcement"] ) %>
                             <% unless @attachment.nil? %>
                                  <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                             <% end %>
                           <div class="hrule clear"><hr /></div>
                   </div>
             <% end %>

<% else %>

         <% for message in @welcome_messages %>
               <p class="post-content"><%= message.content %></p>
         <% end %>

         <h2 class="current-page">Announcements & Updates </h2>

   
            <% for announcement in @ann %>
                   <div class="data-block short-block">
                          <h3><%= announcement.title %></h3>
                          <% if announcement.created_at.nil? %>
                              <div class="ddmmm-x">
                              </div>
                          <% else %>
                               <div class="ddmmm">
                                   <span class="date"><%= announcement.created_at.strftime("%d") %></span>
                                   <span class="month"><%= announcement.created_at.strftime("%b") %></span>
                               </div>
                          <% end %>
                            <p class="post-content"><%= snippet(announcement.content,50) %></p>
                           <div class="hrule clear"><hr /></div>
                   </div>
            <% end %>
            <%= link_to "All Announcements", url(:class_details, :id =>  @classroom.id, :label => "announcements") %>          
           <div class="right-sidebar">
               <h3>Spotlight</h3>
                      <ul class="last">
                             <li>ASDF</li>
                             <li>ASDF</li>
                             <li>ASDF</li>
                      </ul>
           </div>
           <div class="right-sidebar">
                  <h3>Current Homework</h3>
                      <ul class="last">
                      <% @h_w = @classroom.home_works.find(:all, :conditions => ['school_id = ? and due_date >= ?', @current_school.id, @date] ) %>
                        <% for homework in @h_w %>
                             <li><%= link_to "#{homework.title}", url(:home_work, homework.id) %></li>
                        <% end %>
                      </ul>
            </div>
            <div class="right-sidebar">
                <h3>External Links </h3>
                 <ul class="last">
                      <% for link in @external_links %>
                           <li><%= link_to ("#{link.title}", "http://#{link.url}", {'target' => '_blank'}) %></li>
                      <% end %>
                 </ul>
            </div>
            

<% end %>   

      </ul>
      




<script type= "text/javascript">

  jQuery(document).ready(function($)
     {
       $('a[rel*=facebox]').facebox()
       
     } 
 ) 

</script>
