<%  if params[:label] == "calendars" %>
  <div id="content" class="two-col">
        <h2 class="current-page">Class Calendar</h2>
        <% if @calendars.empty? %>
            <span class="subText">There are no events planned at this time</span>
        <% else %>
             <%= link_to "Download as PDF", url(:pdf_events, :id => @classroom.id)  , :class=> "pdf"%>
             <br/><br/>
                  <% cdate=""
               for calendar in @calendars %>
                  <div class="calendar-block" style="width:480px;">
                        <% if(cdate!=calendar.start_date.strftime("%b %d"))
                              cdate=calendar.start_date.strftime("%b %d") %>
                              <br/><h3<% unless (Time.now.strftime("%b %d")!=cdate) %>
                                class="today"
                              <%end%>
                              >
                              <%= cdate %> </h3> 
                              
                        <% end %> 
                        <ul class="calendar-items">
                             <li>
                                  <% unless calendar.start_time.nil? %>
                                      <%= calendar.start_time.strftime("%I:%M %p") %> 
                                  <% else %>
                                       All day event
                                  <% end %>
                                    <%= link_to "#{calendar.title}", url(:calendar, calendar.id) %>
                              </li>
                       
                         </ul>
                    </div>
                <% end %>
                 <%= will_paginate (@calendars, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
                 </div>
        <% end %>
        
<% elsif params[:label] == "homeworks" %>
      <div id="content"  class="two-col">
        <h2 class="current-page"> Homework </h2>
        <% if @home_works.empty? %>
           <span class="subText">There are no Homework assignments at this time</span>
        <% else %>
             <%= link_to "Download as PDF", url(:home_works_pdf, :id => @classroom.id)  , :class=> "pdf"%>
             <% for homework in @home_works %>
                 <div class="data-block short-block">
                      <span class="hidden">
                        <% unless homework.due_date.nil? %>
                          <%= homework.due_date.strftime("%B-%d") %>
                        <% end %>
                      </span>
                      <% if homework.due_date.nil? %>
                          <div class="ddmmm-x"></div>
                      <% else %>
                          <div class="ddmmm">
                             <span class="date"><%= homework.due_date.strftime("%d") %></span>
                             <span class="month"><%= homework.due_date.strftime("%b") %></span>
                          </div>
                      <% end %>
                         <h3><%= link_to "#{homework.title}", url(:home_work, homework.id) %></h3>
                         <span class="subText">Assigned <%= homework.created_at.strftime("%b %d, %Y") %>  by <%= homework.person.name %></span>
                         <p class="separator"><%= snippet(homework.content, 50) %></p>
                         <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", homework.id, "Homework"]) %>
                      <% unless @attachment.nil? %>
                           <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                      <% end %>
                </div>           
            <% end %>    
                 <%= will_paginate (@home_works, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>      
        </div>
        <% end %>
        
                
<% elsif params[:label] == "announcements" %>
      <div id="content"  class="two-col">
        <h2 class="current-page"> Announcements </h2>
        <% if @announcements.blank? %>
            <span class="subText">There are no Announcements at this time</span>
        <% else %>
            <% for announcement in @announcements %>
                 <div class="data-block short-block">
                       <div class="ddmmm">
                            <span class="date"><%=  announcement.created_at.strftime("%d")%></span>
                            <span class="month"><%=  announcement.created_at.strftime("%b")%></span>
                       </div>
                       <h3><%= link_to "#{announcement.title}", url(:home, announcement.id, :l => @classroom.id, :label => "class_ann" ) %></h3>
                          <p class="separator"><%= snippet(announcement.content,50) %></p>
                        <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", announcement.id, "Announcement"] ) %>
                           <% unless @attachment.nil? %>
                                <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                           <% end %>
                      
                 </div>
            <% end %>
               <%= will_paginate (@announcements, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
           </div>    
        <% end %>
          
<% elsif params[:label] == "spot_light" %>
      <div id="content"  class="two-col">
        <h2 class="current-page"> Spotlight </h2>
        <% if @spot_lights.blank? %>
            <span class="subText">There are no Spotlights at this time</span>
            <p class="separator">&nbsp;</p>
        <% else %>
              <% for spot in @spot_lights %>
                   <div class="data-block short-block">
                        <div class="ddmm">
                            <% @attachment = Attachment.find(:first, :conditions => ['attachable_type = ? and attachable_id = ?', "spot_light", spot.id]) %>
                            <% unless @attachment.nil? %>  
                               <img src="/uploads/spotlights/<%= @attachment.filename %>" alt="<%= @attachment.filename %>" class="teacherPic"/>
                            <% end %>
                        </div>
                        <h3><%= link_to "#{spot.student_name}", url(:spot_light, spot.id, :label => "class_spot_light") %></h3>
                        <span class="subText"><%= spot.created_at.strftime("%b %d %Y") %></span>
                        <p class="post-content"><%= snippet(spot.content, 50) %></p>
                   </div>
                   <p class="separator">&nbsp;</p>
              <% end %>
              <%= will_paginate (@spot_lights, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
        </div>
        <% end %>
<% else %>
      <div id="content">
        <p class="post-content">
              <%if @welcome_messages.empty?%>
                Welcome to <%=@current_school.school_name%>'s <%=@classroom.class_name.titleize%> classroom.
              <% else %>
                <% for message in @welcome_messages %>
                        <%= message.content %>
                 <% end %>
              
              <%end%>
               
               </p>
               <h2 class="current-page">Announcements &amp; Updates </h2>
        
               <% if @ann.blank? %>
                     <p class="subText">There are no Announcements at this time.</p>
               <% else %>
                     <% for announcement in @ann %>
                          <div class="data-block short-block">
                               <% if announcement.created_at.nil? %>
                                    <div class="ddmmm-x"></div>
                               <% else %>
                                    <div class="ddmmm">
                                        <span class="date"><%= announcement.created_at.strftime("%d") %></span>
                                        <span class="month"><%= announcement.created_at.strftime("%b") %></span>
                                    </div>
                               <% end %>
                               <h3><%= link_to "#{announcement.title}", url(:home, announcement.id, :l => @classroom.id, :label => "class_ann") %></h3>
                               <p class="separator"><%= snippet(announcement.content,50) %></p>
                          </div>
                     <% end %>
                     <div class="page-links">
                          <%= link_to "All Announcements", url(:class_details, :id =>  @classroom.id, :label => "announcements") %>
                          <% if session.user.type == "Parent" %>
                                | <%= link_to "Submit an announcement", resource(:parents, :new) %>
                           <% end %>
                     </div>
              <% end %>
      </div>
       <div class="right-sidebar">
              
              <% unless @sp_light.nil? %>
                    <h3>Spotlight</h3>
                    <ul class="last">
                         <% @attachment = Attachment.find(:first, :conditions => ['attachable_type = ? and attachable_id = ?', "spot_light", @sp_light.id]) %>
                         <% unless @attachment.nil? %>  
                              <img src="/uploads/spotlights/<%= @attachment.filename %>" alt="<%= @attachment.filename %>" class="teacherPic"/>
                         <% end %>
                         <h6><%= link_to "#{@sp_light.student_name}", url(:spot_light, @sp_light.id, :label => "class_spot_light") %></h6>
                         <%= snippet(@sp_light.content, 25) %>
                         <li><%= link_to "All spotlights", url(:class_details, :id => @classroom.id, :label => "spot_light") %></li>
                    </ul>
              <% end %>
             
              <h3>Current Homework</h3>
              <ul class="last">
                  <% @h_w = @classroom.home_works.find(:all, :conditions => ['school_id = ? and due_date >= ?', @current_school.id, @date] ) %>
                  <% if @h_w.blank? %>
                       <span class="subText">There are no homework assignments due at this time</span>
                  <% else %>
                      <% for homework in @h_w %>
                        <li><%= link_to "#{homework.title}", url(:home_work, homework.id) %></li>
                      <% end %>
                  <% end %>
              </ul>
              <% unless @external_links.blank? %>
                   <h3>External Links </h3>
                   <ul class="last">
                     <% for link in @external_links %>
                       <li><%= link_to ("#{link.title}", "http://#{link.url}", {'target' => '_blank'}) %></li>
                     <% end %>
                   </ul>
              <% end %>
              
              <% unless session.user.type == "Parent" %>
                   <h3>Manage Classroom</h3>
                   <ul class="last">
                        <li <% if @selected == "spotlight" %> class="on" <% end %>><%= link_to_right((right = "spotlight"), "Manage Spotlight", url(:spot_lights, :id => @classroom.id, :label => "class_spot_light") ) %></li>
                        <li <% if @selected == "calendars" %> class="on" <% end %>><%= link_to_right((right = "calendar"), "Manage Calendars", url(:calendars) )  %></li>
                        <li <% if @selected == "home_work" %> class="on" <% end %>><%= link_to_right((right = "homework"), "Manage Homeworks", url(:home_works, :id => @classroom.id, :label => "class_home_works") )  %></li>
                        <li <% if @selected == "announcements" %> class="on" <% end %>><%= link_to_right((right = "announcements"), "Manage Announcements", url(:announcements, :id => @classroom.id, :label => "class_announcements")) %></li>
                   </ul>
              <% end %>
             
         </div>
</div>
<% end %>   




<script type= "text/javascript">

  jQuery(document).ready(function($)
     {
       $('a[rel*=facebox]').facebox()
       
     } 
 ) 

</script>
