<%= error_messages_for @classroom %>
<ul class='error_messages'>
       <% if flash[:error] %>
          <li><%= flash[:error] %> </li>
       <% end %>
       <% if flash[:error2] %>
          <li><%= flash[:error2] %> </li>
       <% end %>
</ul>

<fieldset>
  <h2 class="current-page"> Classrooms &gt; Edit </h2>
  <%= form_for(@classroom, :action => resource(@classroom)) do %>
    <ul id="class_room">
        <li>Class Type : <%= @classroom.class_type %></li>
             <% if @classroom.class_type == "Classes" %>
                   <li><%= text_field :class_name,  :label => "Class Name", :maxlength => "75" %></li>
             <% end %>
                  <% @class = @class_peoples.delete_if{|x| x.team_id != nil} %>
           <% @class.each do |f| %>
                <% if f.role == "class_teacher" %>
                      <li>
                          <label><%= f.role.titleize %></label>
                          <%= select :name => "class[people][teacher]", :collection => @current_school.staff, 
                                     :selected => "#{f.person_id.to_s}", :value_method => :id, 
                                     :text_method => :name, :prompt => "Select Faculty" %>
                      </li>
                <% elsif f.role == "Athletic Director" %>
                       <li>
                           <label><%= f.role.titleize %></label>
                           <%= select :name => "class[people][teacher]", 
                                      :collection => @current_school.staff, :selected => "#{f.person_id.to_s}", 
                                      :value_method => :id, :text_method => :name, :prompt => "Select Faculty" %>
                       </li>
                <% else %>
                       <li>
                           <%= text_field :name => 'class[people][roles][]', :id =>'class_class_people', 
                                         :value => "#{f.role}", :class => "short text" %>
                           <%= select :class => "apart", :name => "class[people][ids][]", :collection => @current_school.staff, 
                                     :selected => "#{f.person_id.to_s}", :value_method => :id, 
                                     :text_method => :name, :prompt => "Select Faculty" %>
                           <%= link_to "Remove", url(:delete_classroom, f, :label => "remove"), :class => "remove" %>
                       </li>
                <% end %>
           <% end %>
     </ul>
            <ul id="roles"></ul>
            <input type="hidden" id="id" value="1">
            <a href="#" class="add-more" onclick="addFormField(); return false;">Add More</a>
     
        <div class="save-cancel">
             <%= submit "    Save    " %> Or <%= link_to "Cancel", url(:classrooms), :class => "cancel" %>
        </div>
 <% end =%>
 
</fieldset>



<script type= "text/javascript">
 
 function addFormField()
  {
    var id = document.getElementById('id').value;
    $j('#roles').append("<li id='row" + id + "'><input type='text' class='short text' name='class[people][roles][]' id='txt" + id + "'><select class='apart' name='class[people][ids][]'><option value='please'>Select Faculty</option><% @teachers.each do |teacher| %><option value='<%= teacher.id %>'><%= teacher.name %></option><% end %></select><a href='#' class='remove' onclick='removeFormField(\"#row" + id + "\"); return false;'>Remove</a></li>");
   $('txt'+id).focus();
    id = (id - 1) + 2;
    document.getElementById('id').value = id;
}

   function removeFormField(id) 
   {
      $j(id).remove();
    }
    
    
 function class_type()
    {
        var class_name = document.getElementById('class_name');
        var teacher = document.getElementById('teacher');
        var sport = document.getElementById('sport');
       if (document.getElementById('classroom_class_type').value == "Sports" )
        {
          
           class_name.style.display      =  "none";
            teacher.style.display      =  "none";
           sport.style.display      =  "block";
         }
        else
           {
             var class_name = document.getElementById('class_name');
             class_name.style.display      =  "block";
              teacher.style.display      =  "block";
             sport.style.display      =  "none";
         }
     }
     
</script>




