<%= error_messages_for @classroom %>
<fieldset>
  <h2 class="current-page"> Classrooms &gt; Edit </h2>
  <%= form_for(@classroom, :action => resource(@classroom)) do %>
  <ul id="class_room">
    <li>
     <%= select :class_type,
                :label => "Class Type",
                :collection => @class_types,
                :onchange => "class_type();return false;"
                %>
    </li>
    <% if (@classroom.class_type == "Sports") %>
      <div id="class_name" style="display:none">
        <li>
          <%= text_field  :class_name,  
                          :label => "Class Name", 
                          :maxlength => "75" 
                          %>
        </li>
      </div>
    <% else %>
    <div id="class_name" style="display:block">
      <li>
        <%= text_field :class_name,
                       :label => "Class Name",
                       :maxlength => "75"
                       %>
      </li>
    </div>
  <% end %>
       <li>
         <div id="teacher" style="display:block">
           <label>Class Teacher:</label>
         </div>
         <div id="sport" style="display:none">
           <label>Athletic Director:</label>
         </div>
         <select name = "class[people][ids][]" id="class_person">
         <% @teachers.each do |teacher| %>
           <option value="<%= teacher.id %>">
              <%= teacher.name %>
           </option>
         <% end %>
       </li>
         <% @class_people.each do |f| %>
              <li>
                  <%= text_field :name => 'class[people][role][]', :id =>'class_class_people', :value => "#{f.role}", :class => "short" %>
                  <select name = "class[people][ids][]" id="class_person", class="apart4">
                       <% @teachers.each do |teacher| %>
                             <option value="<%= teacher.id %>">
                                  <%= teacher.name %>
                             </option>
                       <% end %>
               </li>
	       <% end %>
   </ul>
   
         <input type="hidden" id="id" value="1">
         <div id="divTxt"></div>
	       <a href="#" class="add-more" onClick="addFormField(); return false;">Add More</a>
     
     <div class="save-cancel">
       <%= submit "Save" %> Or <%= link_to "Cancel", url(:classrooms), :class => "cancel" %>
     </div>
  <% end =%>
</fieldset>


<script type= "text/javascript">
 
 function addFormField()
  {
    var id = document.getElementById('id').value;
    $j('#divTxt').append("<li id='row" + id + "'><input type='text' class='text short' name='class[people][role][]' id='txt" + id + "'><select name='class[people][ids][]'><% @teachers.each do |teacher| %><option value='<%= teacher.id %>'><%= teacher.name %></option><% end %></select><a href='#' class='remove' onClick='removeFormField(\"#row" + id + "\"); return false;'>remove</a></li>");
    
    id = (id - 1) + 2;
    document.getElementById('id').value = id;
}

   function removeFormField(id) 
   {
         $j(id).remove();
    }
    
    
   function class_type()
    {
         var class_name = document.getElementById('class_name');
        var teacher = document.getElementById('teacher');
        var sport = document.getElementById('sport');
       if (document.getElementById('classroom_class_type').value == "Sports" )
        {
          
           class_name.style.display      =  "none";
            teacher.style.display      =  "none";
           sport.style.display      =  "block";
         }
        else
           {
             var class_name = document.getElementById('class_name');
             class_name.style.display      =  "block";
              teacher.style.display      =  "block";
             sport.style.display      =  "none";
         }
     }
</script>



