<div class= 'formcontainer' >
   
  <%= form_for :classroom, :action => url(:classroom, @classroom) do %>
  
     <table id='classes'>
         <tr>
	     <td>Type:<%= select :class_type, :collection => %W(Classes Sports Extracirrcular) %> </td>
         </tr>      
         <tr>
             <td><%= text_field  :class_name,  :label => "Class Name" %></td>
	 </tr>
	
	 <tr>
             <td>Class Teacher: <%= select :teacher_name, :collection => @teachers.collect{|i| i.first_name} %></td>
	 </tr>
	       <% @class_people.each do |f| %>
	  <tr>
	         <td><%= text_field :name => 'classroom[people][role][]', :id =>'classroom_class_people', :value => "#{f.role}" %></td>

		 
             <td>Class Teacher:<select name = "classroom[people][ids][]" id="classroom_person",>
	                       <% @teachers.each do |teacher| %>
		                      <option value="<%= teacher.id %>">
			                   <%= teacher.first_name %>
		                      </option>
			        <% end %>
	     </td>
	       <% end %>
	        <td><a href="#" onclick="add();return false;">Add More</a>
	  </tr>
	  
	 <tr><td><%= submit "Save" %></td>
	     <td><%= link_to "Cancel", url(:classrooms) %></td>
	 </tr>
      </table>
	      
   <% end =%>
     
</div>


<script type= "text/javascript">
 
  function add()
   {
      var table = document.getElementById('classes');
	var tr = document.createElement('tr');
        var td1 = document.createElement('td');
	var td2 = document.createElement('td');
	td1.innerHTML = "<input type='text' name='classroom[people][role][]' id='classroom_class_people' />";
	td2.innerHTML = <select name="classroom[people][ids][]" id="classroom_person"> 
	                                <% @teachers.each do |teacher| %>
		                           <option value="<%= teacher.id %>">
					   <%= teacher.first_name %>
					   </option>
			                <% end %>
			      </select>
	 tr.appendChild(td1);
	 tr.appendChild(td2);
	 table.appendChild(tr);
    }
     
</script>



