<ul id="crumbtrail">
  <li>Classrooms<span>&gt;</span></li>
  <li class="last"><%= link_to "Add New", resource(:classrooms, :new) %></li>
</ul>
<% unless @classrooms.empty? %>
<div class="data-block short-block">
  <% for classroom in @classrooms %>
  <div class="data">
    <%# classroom.class_type %>
    <ul>
      <li><h3><%= classroom.class_name %></h3></li>
      <% s = classroom.class_peoples.delete_if{ |x| x.team_id != nil } %>
      <% s.each do |f| %>
        <li><%= f.role.titleize %> : <%= f.person.name %></li>
      <% end %>
    </ul>
    
  </div>

  <%= link_to "Edit",  resource(classroom, :edit), :class=> "edit-btn" %>
  <%= link_to "Delete", resource(classroom, :delete), :class=> "delete-btn" %>
  <div class="clear dashed separate"></div>
  <% end %>
</div>
<% end %>
