<h2 class="current-page">Classrooms &nbsp;&nbsp;&nbsp; <%= link_to "Add New", resource(:classrooms, :new) %></h2>



<% if @classrooms.empty? %>
  <p>There are no classrooms created yet.  <%= link_to "Add New", resource(:classrooms, :new) %></p>

<%else%>
<div class="data-block short-block">
  <% for classroom in @classrooms %>
      <div class="data">
           <ul>
                  <li><h3><%= classroom.class_name.titleize %>
                        <% if classroom.activate == false %>
                          <span class="cancel">(Inactive)</span>
                        <%end%>
                   </h3></li>
                  <% s = classroom.class_peoples.delete_if{ |x| x.team_id != nil } %>
                  <% s.each do |f| %>
                     <li><%= f.role.titleize %> : <%= f.person.name %></li>
                  <% end %>
           </ul>
      </div>
       <%= link_to "Edit",  resource(classroom, :edit), :class=> "edit-btn" %>&nbsp;&nbsp;
       <% if classroom.activate == true %>
            <a rel="facebox" href="#<%= classroom.id %>" class="deactive" >De-Activate </a>
       <% else %>
           <a rel="facebox" href="#<%= classroom.id %>" class="reactive" >Re-Activate </a>
       <% end %>
       
         <div id="<%= classroom.id %>" style="display:none;">
             <% if classroom.activate == true %>
                   <h4> Are you sure u want to De Activate the classroom </h4>
                   <div class="save-cancel">
                       <%= link_to "De Activate", resource(classroom, :delete, :label => "deactivate"),  :class => "cancel" %> Or <%= link_to "Cancel", resource(:classrooms), :class => "cancel" %>
                   </div>
             <% else %>
                  <h4> Are you sure u want to Activate the classroom </h4>
                  <div class="save-cancel">
                      <%= link_to "<span class=approved>Activate</span>", resource(classroom, :delete, :label => "activate"),  :class => "cancel" %> Or <%= link_to "Cancel", resource(:classrooms), :class => "cancel" %>
                  </div>
             <% end %>
       </div>
       <div class="clear dashed separate"></div>
 
  <% end %>
       

</div>
    

<% end %>




