 <% if @classrooms.empty? %>
  
       <h3>Classrooms</h3> </br>
    
       <%= link_to "Add New", resource(:classrooms, :new) %>
     
 <% else %>
          <table>
		<td><h4>Classrooms</h4></td>
		<td><%= link_to "Add New", resource(:classrooms, :new) %></td>
		
		
		<% for classroom in @classrooms %>
		      <tr>
			   <td><b><%= classroom.class_type %></b></td>
		      </tr>
		      <tr>
		          <% unless classroom.class_name.nil? %>
		             <td><%= classroom.class_name %></td>
			  <% end %>
			   <td><%= link_to "Edit",  resource(classroom, :edit) %></td>
			   <td><%= link_to "Delete", resource(classroom, :delete) %></td>
		      </tr>
		           <% s = classroom.class_peoples.delete_if{ |x| x.team_id != nil } %>
			  
			   <% s.each do |f| %>
			  
			      <tr><td><%= f.role %></td></tr>
			   
			   <% end %> 
			  
        	<% end %>
		
		 
	</table> 
	                                          
<% end %>