 <% if @classrooms.empty? %>
  
       <h3>Classrooms</h3> </br>
    
       <%= link_to "Add New", url(:new_classroom) %>
     
 <% else %>
          <table>
		<td><h4>Classrooms</h4></td>
		<td><%= link_to "Add New", url(:new_classroom) %></td>
		
		
		<% for classroom in @classrooms %>
		      <tr>
			   <td><b><%= classroom.class_type %></b></td>
		      </tr>
		      <tr>
		           <td><%= classroom.class_name %></td>
			   <td><%= link_to "Edit",  url(:edit_classroom, classroom.id) %></td>
		      </tr>
		           <% s = classroom.class_peoples.delete_if{ |x| x.team_id != nil } %>
			  
			   <% s.each do |f| %>
			  
			      <tr><td><%= f.role %></td></tr>
			   
			   <% end %> 
			  
        	<% end %>
		
		 
	</table> 
	                                          
<% end %>