
 <%= error_messages_for @classroom %>
 <ul class='error_messages'>
       <% if flash[:error] %>
          <li><%= flash[:error] %> </li>
       <% end %>
       <% if flash[:error2] %>
          <li><%= flash[:error2] %> </li>
       <% end %>
 </ul>

<fieldset>
      <h2 class="current-page"> Classrooms &gt; Add New </h2>
      <%= form_for(@classroom, :action => resource(:classrooms), :name => "class" ) do %>
     
          <ul id="class_room">
               <li><%= select :class_type, :label => "Class Type", :collection => @class_types, :onchange => "class_type();return false;" %></li>
                   
                <% if (@id == ["please"]) && (@class_type == "Classes") %>
                     
                          <li><div id="class_name" style="display:block"><%= text_field :class_name,  :label => "Class Name", :maxlength => "75" %></div></li>
                     
                <% elsif (@id == ["please"]) || (@class_type == "Sports") %>
                     
                          <li><div id="class_name" style="display:none"><%= text_field :class_name,  :label => "Class Name", :maxlength => "75" %></div></li>
                     
                <% else %>
                     
                          <li><div id="class_name" style="display:block"><%= text_field :class_name,  :label => "Class Name", :maxlength => "75" %></div></li>
                     
                <% end %>
                     
              <li>
                  <% if (@id == ["please"]) && (@class_type == "Classes") %>
                        <div id="teacher" style="display:block">
                             <label>Class Teacher</label>
                        </div>
                        <div id="sport" style="display:none">
                           <label>Athletic Director</label>
                        </div>
                  <% elsif (@id == ["please"]) || (@class_type == "Sports") %>
                        <div id="teacher" style="display:none">
                             <label>Class Teacher</label>
                        </div>
                        <div id="sport" style="display:block">
                           <label>Athletic Director</label>
                        </div>
                   <% else %>
                         <div id="teacher" style="display:block">
                             <label>Class Teacher</label>
                         </div>
                         <div id="sport" style="display:none">
                             <label>Athletic Director</label>
                         </div>
                   <% end %>
                   
                       <select name = "class[people][ids][]" id="class_person",>
                           <option value="please">Select Faculty</option>
                               <% @teachers.each do |teacher| %>
                                    <option value="<%= teacher.id %>">
                                       <%= teacher.name %>
                                    </option>
                               <% end %>
              </li>
        </ul>
          
           <input type="hidden" id="id" value="1">
            <div id="divTxt"></div>
             
          <div><a href="#"  class="add-more"  onClick="addFormField(); return false;">Add More</a></div>
            
        <div class="save-cancel">
            <%= submit "    Save    " %> Or <%= link_to "Cancel", resource(:classrooms), :class => "cancel" %>
        </div>
  <% end =%>
</fieldset>

<script type= "text/javascript">
  
  

  function addFormField()
  {
    var id = document.getElementById('id').value;
    $j('#divTxt').append("<p id='row" + id + "'><input type='text' class='short text' name='class[people][role][]' id='txt" + id + "'><select class='apart' name='class[people][teacher][]'><option value='please'>Select Faculty</option><% @teachers.each do |teacher| %><option value='<%= teacher.id %>'><%= teacher.name %></option><% end %></select><a href='#' class='remove' onClick='removeFormField(\"#row" + id + "\"); return false;'>remove</a><p>");
    $('txt'+id).focus();
    id = (id - 1) + 2;
    document.getElementById('id').value = id;
  }

   function removeFormField(id) 
   {
         $j(id).remove();
    }
    
    document.class.classroom_class_name.focus();
    
    function class_type()
    {
        var class_name = document.getElementById('class_name')
        var teacher = document.getElementById('teacher')
        var sport = document.getElementById('sport')
        if (document.getElementById('classroom_class_type').value == "Sports" )
        {
           class_name.style.display      =  "none";
           teacher.style.display      =  "none";
           sport.style.display      =  "block";
           
        }
        else
           {
             class_name.style.display      =  "block";
             teacher.style.display      =  "block";
             sport.style.display      =  "none";
         }
     }
       
     
</script>

