<div class= 'formcontainer' >
   
  <% form_for(@classroom, :action => url(:classroom)) do %>
      <table>
         <tr>
	     <td>Type: <select name="classroom[type_id]">
                      <% @classtypes.each do |type| %>
                          <option value="<%= type.id %>"> 
                             <%= type.class_type %>
                          </option>
                      <% end %>
                   </select>
	       </td>
	  </tr>      
        <tr>
           <td><%= text_control  :class_name,  :label => "Class Name" %></td>
	</tr>
	 <tr>
	     <td>Class Teacher:<select name="classroom[person_id]">
	                       <% @teachers.each do |teacher| %>
		                      <option value="<%= teacher.id %>">
			                   <%= teacher.first_name %>
		                      </option>
			        <% end %>
	     </td>
	 </tr>
	 <tr><td><%= submit_button "Save" %></td>
	         <td><%= link_to "Cancel", url(:classroom) %></td>
	 </tr>
      </table>
	      
   <% end %>
     
  </div>
