<fieldset>
  <%= error_messages_for @classroom %>
  <%= form_for :classroom, :action => url(:classroom) do %>
  <ul>
    <li><%= select :class_type, :label => "Class Type", :collection => %W{Classes Sports ExtraCirrcular} %></td>
    <li><%= text_field :class_name,  :label => "Class Name" %></li>
    <li><label>Class Teacher:</label><select name = "class[people][ids][]" id="class_person",>
      <% @teachers.each do |teacher| %>
      <option value="<%= teacher.id %>">
      <%= teacher.name %>
      </option>
      <% end %>
    </li>
    <li><a href="#" onclick="add();return false;">Add More</a></li>
    </ul>
    <div class="save-cancel">
      <%= submit "Save" %> Or <%= link_to "Cancel", url(:classrooms) %>
    </div>
  <% end =%>
</fieldset>

<script type= "text/javascript">
 
  function add()
   {
      var table = document.getElementById('classes');
	var tr = document.createElement('tr');
        var td1 = document.createElement('td');
	var td2 = document.createElement('td');
	td1.innerHTML = "<input type='text' name='class[people][role][]' id='class_class_people' />";
	td2.innerHTML = <select name="class[people][ids][]" id="classroom_person"> 
	                                <% @teachers.each do |teacher| %>
		                           <option value="<%= teacher.id %>">
					   <%= teacher.name %>
					   </option>
			                <% end %>
			      </select>
	 tr.appendChild(td1);
	 tr.appendChild(td2);
	 table.appendChild(tr);
    }
</script>

