<% if @school.nil? %> 
      
           <div class = 'formcontent'>
               <h3>Basic Settings</h3> </br>
	       <%= link_to "Add New", url(:new_school) %>
	   </div>
      
<% else %>
	 
           <div class = 'formcontent'>
        
               <h3>Basic Settings</h3> </br>
	       <%= link_to "Add New", url(:new_school) %>
	       <%= link_to "Edit", url(:edit_school, @school) %>
	      <table>
		 <tr> 
		    <th>School Name</th><td><%= @school.school_name %></td>
		</tr>
		<tr> 
		    <th>Contact Information</th><td><%= @school.contact_information %></td>
		</tr>
	      </table>
          
          </div>
<% end %>