<div class= 'formcontainer' >
   
  <table>
     <% form_for(:school, :action => url(:school), :html => { :multipart => true }) do  %>

 
          <tr>
              <td><%= text_control  :school_name,  :label => "School Name" %></td>
          </tr>
	  <tr>
	       <td><%= text_area_control  :contact_information,  :label => "Contact Information",  :rows => "10", :cols => "25" %></td>
	  </tr>
	  <tr>
	      <th><label for="Uploaded_data">Upload a File</label></th>
	      <td> <%= file_control :uploaded_data %></td>
	  </tr>
	  <tr>
              <td><%= submit_button "Save" %></br>  <%= link_to "Cancel", url(:school) %></td>
          </tr>   
      <% end %>
  </table>
  
</div>
