<div>
<ul class='error_messages'>
     <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
     <% end %>
</ul>
 </div>
<h2 class="current-page">Parent Registrations </h2>

 <% if @parent.approved == 1  %> 
     <span class="reactive">The Parent has been Approved</span><br/><br/>
 <% elsif @parent.approved == 3 %>
     <span class="deactive">The Parent has been Rejected</span><br/><br/>
 <% end %>
  
<div class="">
  
    <dl>
       <dt>Name</dt>
       <dd> <%= @parent.name %></dd>
    </dl>
    <dl>
       <dt class="separator">Email:</dt>
       <dd class="separator"> <%= @parent.email %></dd>
    </dl>
     <br class="clear"/>
    <h3> Student Details :</h3>  
            
      
  <%= form_for :parent, :action => url(:parent_grant, :id => @parent), :name => "approveform" do %> 

      <% @registrations.each do |f| %>
             
         <% @class = @current_school.classrooms.find(:first, :conditions => ['class_name = ?', f.current_class ] ) %> 
           
         <% @studs = @current_school.students.find( :all, :joins => :studies,   :conditions => ["first_name = ? AND last_name = ? AND birth_date = ? AND studies.classroom_id = ?", f.first_name, f.last_name, f.birth_date, @class.id ] ) %>
             
            <% if @studs.empty? %>
                 <br class="clear"/>
                 <div>
                   					
			 	 <% if @parent.approved == 2 %>
	                     <span class="reject"><%= @not_exist %></span><br/><br/>  
                         
	                      Please select the student &amp; class to map this parent to:<br/><br/>
		                  <% if params[:label] %>
		                        <% if params[:label] != "" %>
	                                   <%= select :name => "class_not_found[]",  :prompt => "Classroom - Please Select", 
		                                :collection => @classrooms.collect{|x| x.class_name }, :selected => @room.class_name, 
		                                :onchange => "javascript:window.location.href='/approval_review?label='+(this.value)+'&id=#{f.parent_id}'" %>
                         
		                        <% else %>
	                                   <%= select :name => "class_not_found[]",  :prompt => "Classroom - Please Select", 
			                            :collection => @classrooms.collect{|x| x.class_name }, 
			                            :onchange => "javascript:window.location.href='/approval_review?label='+(this.value)+'&id=#{f.parent_id}'" %>
	                            <% end %>
		                  <% else %>
		                         <%= select :name => "class_not_found[]",  :prompt => "Classroom - Please Select", 
		                                    :collection => @classrooms.collect{|x| x.class_name }, 
		                               :onchange => "javascript:window.location.href='/approval_review?label='+(this.value)+'&id=#{f.parent_id}'" %>
	                      <% end %>  &nbsp;&nbsp;&nbsp;
                    
			                    <%= select :name => "student_not_found[]", :prompt => "Student - Please Select",
			                               :collection => @students.collect{|x| x.name } %>
	              <% end %>
                
            <% else %>
                   	
					<% if @parent.approved == 2 %>
					
	                     <%= @exist %><br/><br/>
	                    
			             <%= select :name => "class_found[]", :prompt => "Classroom - Please Select", 
                                    :collection => @classrooms.collect{|x| x.class_name } %>  &nbsp;&nbsp;&nbsp;
                         <%= select :name => "student_found[]", :prompt => "Student - Please Select", 
                                    :collection => @students.collect{|x| x.name } %>
                    <% end %>
                      <br/><br/><br/>
            <% end %> 
            
                  	<% if @parent.approved == 2  %>
		                  <h4 style="clear:both"><b>Details entered by the parent</b></h4>
		            <% end %>
			               <dl>                                                                                        
			                  <dt>Name</dt>
			                  <dd> <%= f.name %> </dd>
			               </dl>
           
				          <dl> 
				             <dt>Current Class</dt>
				             <dd><%= f.current_class.titleize %> </dd>
				          </dl> 
				          <dl> 
				              <dt>Date of Birth</dt>
				              <dd><%= f.birth_date.strftime("%B %d %Y") %> </dd>
				          </dl> 
				  
                    
     <% end %>

          <hr size="1"  class="clear"/>
          <br/><br/>
          <input type="hidden" name="approvetype" />
	      <% if @parent.approved == 1 %>
	            <a href="javascript:getsupport('Deactivate')" class="deactive">Deactivate </a>
	            &nbsp;&nbsp;&nbsp;&nbsp;Or&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", url(:parent_approvals), :class => "cancel" %>
	      <% elsif @parent.approved == 3 %>
	           	<a href="javascript:getsupport('activate')" class="reactive">Activate </a>
	            &nbsp;&nbsp;&nbsp;&nbsp;Or&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Cancel", url(:parent_approvals), :class => "cancel" %>
	      <% else %>
	           <a href="javascript:getsupport('Approve &amp; Grant Access')" class="reactive">Approve &amp; Grant Access </a>
	            &nbsp;&nbsp;&nbsp;&nbsp;Or&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:getsupport('Reject')" class="deactive">Reject</a>
	      <% end %>
   </div>
      
 
  <% end =%>   
    
       
</div>
   
  
<script language="JavaScript" type="text/javascript">

   function getsupport ( selectedtype )
   {
      document.approveform.approvetype.value = selectedtype ;
      document.approveform.submit() ;
    }

</script> 
