<h2 class="current-page">Pending Approval </h2>
<div class="fullpage announcemt">
  

    <% for announcement in @announcements %>
    Announcement for : <%= announcement.access_name %>
           <div class="data-block long-block">
              <% if announcement.expiration.nil? %>
                  <div class="ddmmm-x">
	                </div>
              <% else %>
                   <div class="ddmmm">
                       <span class="date"><%= announcement.expiration.strftime("%d") %></span>
                       <span class="month"><%= announcement.expiration.strftime("%b") %></span>
	                 </div>
              <% end %>
              <h3><%= link_to "#{announcement.title}", url(:approval, announcement.id) %></h3>
                  <p class="post-content"><%= announcement.content %></p>
                  Created By <%= announcement.person.name %> at <%= announcement.created_at.strftime("%d %b %Y") %>
                  <div class="hrule clear"><hr /></div>
           </div>
        
    <% end %>
 
</div>
 