<h2 class="current-page">Pending Approvals </h2>
<div class="fullpage announcemt">
  

    <% for announcement in @announcements %>
    <span class="announce-for-page">Announcement for : <%= announcement.access_name %></span>
           <div class="data-block long-block">
              <% if announcement.expiration.nil? %>
                  <div class="ddmmm-x">
	                </div>
              <% else %>
                   <div class="ddmmm">
                       <span class="date"><%= announcement.expiration.strftime("%d") %></span>
                       <span class="month"><%= announcement.expiration.strftime("%b") %></span>
	                 </div>
              <% end %>
              <h3><%= link_to "#{announcement.title}", url(:approval, announcement.id) %></h3>
                  <p class="post-content"><%= announcement.content %></p>
                  <span class="post-by">Created By<br /><b><%= announcement.person.name %></b> on <br /> <span><%= announcement.created_at.strftime("%d %b %Y") %></span></span>
                  <div class="hrule clear"><hr /></div>
           </div>
        
    <% end %>
 
</div>
 