<h2 class="current-page">Parent Registrations </h2>



<%= form_for(@parent, :action => url(:parent_approvals), :method => 'get') do %>
       <% if params[:approve_status].nil? %>
               <span class="select-announce"><%= select :name => "approve_status", :collection => @app, :label => "View :" %><%= submit "    Go    " %></span>
       <% else %>
               <span class="select-announce"><%= select :name => "approve_status", :selected => params[:approve_status], :collection => @app, :label => "View :" %><%= submit "    Go    " %></span>
       <% end %>
<% end =%>


<%if @all_parents.blank?%>
    <p class="subText">There are no parent registrations so far.</p>
  <%else%>

    <% if params[:approve_status] == "All Registrations" %>
            <table id="mytable">
               <thead>
                     <th>Name</th>
                     <th>Student</th>
                     <th>Date of Birth</th>
               </thead>
            <tbody>
           <% for parent in @all_parents %>
                  <tr>
                      <td><%= link_to "#{parent.name}", url(:approval_review, :id => parent) %> </td>
                      <% @students = Registration.find(:all, :conditions => ['parent_id = ?', parent.id]) %>
                        <% @students.each do |f| %>
                            <td><%= f.name %></td>
                            <td><%= f.birth_date %></td>
                        <% end %>
                  </tr>
             <% end %>
                </tbody>
          </table>

 <% elsif params[:approve_status] == "Approved" %>
               <% unless @approved_parents.nil? %>
                     <table id="mytable">
                         <thead>
                               <th>Name</th>
                               <th>Student</th>
                                <th>Date of Birth</th>
                         </thead>
                         <tbody>
                                <% for ap in @approved_parents %>
                                       <tr>
                                           <td><%= link_to "#{ap.name}", url(:approval_review, :id => ap) %> </td>
                                            <% @students = Registration.find(:all, :conditions => ['parent_id = ?', ap.id]) %>
                                            <% @students.each do |f| %>
                                                 <td><%= f.name %></td>
                                                 <td><%= f.birth_date %></td>
                                            <% end %>
                                       </tr>
                                <% end %>
                         </tbody>
                    </table>
              <% end %>
  <% elsif params[:approve_status] == "Pending Approvals" %>   
                <% unless  @pending_parents.nil? %>
                     <% for ap in @pending_parents %>
                      <table id="mytable">
                         <thead>
                               <th>Name</th>
                               <th>Student</th>
                                <th>Date of Birth</th>
                         </thead>
                         <tbody>
                                <tr>
                                    <td><%= link_to "#{ap.name}", url(:approval_review, :id => ap) %> </td>
                                    <% @students = Registration.find(:all, :conditions => ['parent_id = ?', ap.id]) %>
                                    <% @students.each do |f| %>
                                          <td><%= f.name %></td>
                                          <td><%= f.birth_date %></td>
                                    <% end %>
                                </tr>
                         </tbody>
                    </table>
                  <% end %>
                         
              <% end %>
  <% elsif params[:approve_status] == "Rejected" %>           
            <% unless @reject_parents.nil? %>
                  <% for rp in @reject_parents %>
                       <table id="mytable">
                           <thead>
                                 <th>Name</th>
                                 <th>Student</th>
                                 <th>Date of Birth</th>
                          </thead>
                           <tbody>
                                   <tr>
                                       <td><%= link_to "#{rp.name}", url(:approval_review, :id => rp) %> </td>
                                       <% @students = Registration.find(:all, :conditions => ['parent_id = ?', rp.id]) %>
                                       <% @students.each do |f| %>
                                            <td><%= f.name %></td>
                                            <td><%= f.birth_date %></td>
                                       <% end %>
                                   </tr>
                           </tbody>
                     </table>
                 <% end %>
             <% end %>
   <% else %>
              <table id="mytable">
               <thead>
                     <th>Name</th>
                     <th>Student</th>
                     <th>Date of Birth</th>
               </thead>
            <tbody>
           <% for parent in @parents %>
                  <tr>
                      <td><%= link_to "#{parent.name}", url(:approval_review, :id => parent) %> </td>
                      <% @students = Registration.find(:all, :conditions => ['parent_id = ?', parent.id]) %>
                        <% @students.each do |f| %>
                            <td><%= f.name %></td>
                            <td><%= f.birth_date %></td>
                        <% end %>
                  </tr>
             <% end %>
                </tbody>
          </table>
       
   <% end %> 
   
<%end%>
