    
    <h2 class="current-page">Pending Approval </h2>
  <div class="fullpage announcemt"> 
   
           <div class="data-block long-block">
             <% if @announcement.expiration.nil? %>
                   <div class="ddmmm-x">
	                 </div>
              <% else %>
                   <div class="ddmmm">
                      <span class="date"><%= @announcement.expiration.strftime("%d") %></span>
                      <span class="month"><%= @announcement.expiration.strftime("%b") %></span>
	                 </div>
              <% end %>
              <h3><%= @announcement.title %></h3> <%= link_to "Edit", url(:edit_approval, @announcement.id), :class=>"edit-btn" %>
              <p class="post-content"><%= @announcement.content %></p>
            
                         
              <div class="hrule clear"><hr /></div>
                <%= link_to "Approve & Publish", url(:publish, :id => @announcement ) %> ||
                <%= link_to "Reject", url(:reject, :id => @announcement ) %>    
              </div>  
   </div>     
   
   
