<div class = 'formcontainer'>
          
         <table>
                <tr>
                    <td> <h3>Announcements > <%= @announcement.title %></h3></td> </br> 
	        </tr> 
	   
                <tr>
                      <td><%= @announcement.expiration.strftime("%B-%d") %></td>
                      <td><%= @announcement.title %></td>
                 </tr> 
                 <tr>
                     <td><%= @announcement.content %></td>
                 </tr>

	    
        </table>
 </div>
           <%= link_to "All Announcements",  url(:show_announcements) %>
