<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head> 
<title>School Apps Setup</title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" href="/stylesheets/ui.datepicker.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/clockpick.1.2.4.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/global.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/facebox.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/rte.css" type="text/css" media="screen" charset="utf-8" />
  
  
  <script src='/javascripts/prototype.js'></script>
  <script src='/javascripts/jquery.js'></script>
  <script src='/javascripts/facebox.js'></script>
  <script src='/javascripts/face.js'></script>
  <script src='/javascripts/ui-datepicker-1.5.2.min.js'></script>
  <script src='/javascripts/jquery.clockpick.1.2.4.js'></script>
  <script src='/javascripts/jquery.rte.js'></script>
  <script>  jQuery.noConflict(); </script>
  <script>  var $j = jQuery; </script>
        <%= include_required_js %>
</head>
<body class="fixed-width">
  <div id="page-wrap"><!-- Wraps everything -->
  <div id="header"><!--The Header -->
     <h1>School Apps Setup</h1>
      <div id="user-cp"><!--User Control Panel -->
          <p class="welcome">Welcome <em><%= session.user.name %></em></p>
          <ul>  
              <li>&nbsp;<%= link_to "Logout", url(:logout) %></li>
          </ul>
      </div>
      <div id="content-wrap"><!--Wraps The content Area-->

      <div id="content"><!--Content Area Starts here-->
        <%= catch_content :for_layout %>
      </div><!--Content End-->
    </div><!--Content Wrap End -->
   </div>
   </div>
   
    
        <%= partial 'common/footer' %>
      
      </body>
</html>
      
