<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Catholic school</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/ui.datepicker.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/clockpick.1.2.4.css" type="text/css" media="screen" charset="utf-8" />
    <script src='/javascripts/prototype.js'></script>
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/ui-datepicker-1.5.2.min.js'></script>
    <script src='/javascripts/jquery.clockpick.1.2.4.js'></script>
    <script>  jQuery.noConflict(); </script>
    <script>  var $j = jQuery; </script>
          <%= include_required_js %>
  </head>
  <body>
        <%= link_to "logout", url(:logout) %>
        <div id="header"> 
            <h1>School Name</h1>
	        <ul>
		    <li><%= link_to "Home" %></li>
		    <li><%= link_to "Class" %></li>
		    <li><%= link_to "Sport" %></li>
		    <li><%= link_to "Form" %></li>
		    <li><%= link_to "Directory" %></li>
		    <li><%= link_to "Events" %></li>
		    <li><%= link_to "Administration", url(:schools) %></li>
		</ul>
        </div>
	<div class="clear">
        </div>
	<div id="sidebar">
           <ul>
	        <li><b> Site Settings</b> </li>  
		
		<li><%= link_to "School Profile", url(:schools) %></li>
		<li><%= link_to "Class Rooms", url(:classrooms) %></li>
		<li><b> Access Rights </b></li>
		<li><%= link_to "Add/Edit Access Rights", url(:people) %></li>
		<li><%= link_to "Parent Registration" %></li>
		<li><b> Content </b></li>
		<li><%= link_to "Pending Your Approval" %></li>
		<li><%= link_to "From the principal", url(:from_principals) %></li>
		<li><%= link_to "Announcements", url(:announcements) %></li>
		<li><%= link_to "Welcome Messages", url(:welcome_messages) %></li>
		<li><%= link_to "Calendar", url(:calendars) %></li>
		<li><%= link_to "Spotlight" %></li>
		<li><%= link_to "Home work" %></li>
		<li><%= link_to "Grades/Reports" %></li>
		<li><%= link_to "External Links", url(:external_links) %></li>
		<li><%= link_to "Sports Teams", url(:teams) %></li>
		<li><%= link_to "Forms" %></li>
		<li><%= link_to "Advertising" %></li>
		<li><b> Directories </b></li>
		<li><%= link_to "students", url(:students) %></li>
          </ul>
      </div>

    <div id="content">
    	<%= catch_content :for_layout %>
    </div>
    	<div class="clear">
        </div>
  </body>
</html>