<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
  <% unless @current_school.nil? %>
      <title><%= @current_school.school_name %>, <%= @current_school.email %>, <%= number_to_phone(@current_school.phone, :area_code => true) %> </title>
  <% end %>
  
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="/stylesheets/ui.datepicker.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/clockpick.1.2.4.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/rte.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/global.css" type="text/css" media="screen" charset="utf-8" />    
  
    <script src='/javascripts/prototype.js'></script>
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/ui-datepicker-1.5.2.min.js'></script>
    <script src='/javascripts/jquery.clockpick.1.2.4.js'></script>
    <script src='/javascripts/jquery.rte.js'></script>
    <script>  jQuery.noConflict(); </script>
    <script>  var $j = jQuery; </script>
        <%= include_required_js %>
   
  </head>
<body class="fixed-width">
  <div id="page-wrap"><!-- Wraps everything -->
    <div id="header"><!--The Header -->
      <h1><a href="#"><span></span><%= @current_school.school_name %></a></h1>
    </div><!--Header End -->
    <div id="content-wrap"><!--Wraps The content Area-->
      <div class="hrule clear hidden">
        <hr />
      </div>
      <div id="content" class="widen">
        <%= catch_content :for_layout %>
      </div><!--Content End-->
    </div><!--Content Wrap End -->
    <div class="right-sidebar">
      <h3>
        <span class="main">Registration Process</span>
        <span class="desc"><a href="#">Privacy Policy</a></span>
      </h3>
      <p >Registration is a simple process, just follow these steps</p>
      <ol class="last">
        <li>Fill this form</li>
        <li>You'll receive an email with a conﬁrmation link. Your application shall be sent for approval once you click that link.</li>
        <li>School Approval after review of applications</li>
      </ol>
    </div>
    <div class="right-sidebar" style="display:none">
      <h3>
        <span class="main">Benefits</span>
        <span class="desc"><a href="#">Privacy Policy</a></span>
      </h3><!--Two Spans, Main and Desc. Desc shouldnt be very long.-->
      <p >Very brief and readable format of the beneﬁts to expect inside</p>
      <ul>
        <li>Beneﬁt 1</li>
        <li>Beneﬁt 1</li>
        <li>Beneﬁt 1</li>
      </ul>
        <p class="last">If you have any question, please contact school administration at:  (000)  000-0000 or eshwar@schoolyardapp.com</p>
    </div>
    <br />
    <div class="hrule clear hidden "><hr /></div>
    <br /><br />
  </div><!--Pagewrap End -->
  <%= partial 'common/footer' %>
</body>
</html>                                  
