   <%= partial 'layout/main' %>
   
        <% @classes =  @current_school.classrooms.find(:all, :conditions => ['activate = ?', true]) %>
<div>&nbsp;</div>
  <div id="classContainer">      
     <div id="sidebar">
           
     <% if params[:label] == "forms" %>  
              <ul id="menu">
                   <li <% if @selected == "all_forms" %> class="on" <% end %> ><%= link_to "All Forms", url(:form_files, :l => "all_forms", :label => "forms") %></li>
                   <% @classes.each do |f| %>
                       <li <% if @selected == "#{f.class_name}" %> class="on" <% end %>><%= link_to "#{f.class_name}".titleize, url(:form_files, :id => "#{f.id}", :label => "forms") %></li>
                   <% end %>
              </ul>
     <% elsif params[:label] == "calendars" %>
              <ul id="menu">
                  <li <% if @selected == "all_events" %> class="on" <% end %> ><%= link_to "All Events", url(:events, :l => "all_events", :label => "calendars") %></li>
                  <% @classes.each do |f| %>
                     <li <% if @selected == "#{f.class_name}" %> class="on" <% end %>><%= link_to "#{f.class_name}".titleize, url(:events, :id => "#{f.id}", :label => "calendars") %></li>
                  <% end %>
              </ul>
     <% else %>
            <ul id="menu"><!-- Nested Lists -->
                 <li <% if @selected == "current_students" %> class="on" <% end %> ><%= link_to "Current Students", url(:directory) %></li>
                 <li <% if @selected == "school_staff" %> class="on" <% end %> ><%= link_to "School Staff", url(:staff) %></li>
            </ul>
     <% end %>  
        
    </div><!-- Sidebar Ends -->
    <div id="content-wrap"><!--Wraps The content Area-->
      <div class="hrule clear hidden "><hr /></div>
      <div id="content"><!--Content Area Starts here-->
        <%= catch_content :for_layout %>
      </div><!--Content End-->
    </div><!--Content Wrap End -->
    
<%= partial 'common/change' %>
    
    <!--Right Sidebar to be inserted here-->
    
  <div class="hrule clear hidden "><hr /></div>
   </div>
  </div><!--Pagewrap End -->
  <%= partial 'common/footer' %>                                        
</body>
</html>
