   <%= partial 'layout/main' %>
       <div id="sidebar">
      <ul id="menu"><!-- Nested Lists -->
          
           <li <% if @selected == "current_students" %> class="on" <% end %> ><%= link_to "Current Students", url(:directory) %></li>
           <li <% if @selected == "school_staff" %> class="on" <% end %> ><%= link_to "School Staff", url(:staff) %></li>
            
      </ul>
       
        
     
    </div><!-- Sidebar Ends -->
    <div id="content-wrap"><!--Wraps The content Area-->
      <div class="hrule clear hidden "><hr /></div>
      <div id="content"><!--Content Area Starts here-->
        <%= catch_content :for_layout %>
      </div><!--Content End-->
    </div><!--Content Wrap End -->
    
                <% @classrooms = @current_school.classrooms.find(:all) %>
    <div id="info" style="display:none;">
         <h3>Please Select the classroom you would like to visit</h3>
          <p>Classes:</p>  
           <ul><% @classrooms.each do |f| %>
                  <li><%= link_to "#{f.class_name}", url(:class_details, :id => "#{f.id}" ) %></li>
           <% end %>
         </ul>
    </div> 
    
    
    <!--Right Sidebar to be inserted here-->    
  <div class="hrule clear hidden "><hr /></div>
  </div><!--Pagewrap End -->
  <%= partial 'common/footer' %>
</body>
</html>
