<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head> <% @school = School.find(:first) %>
<% unless @school.nil? %>
<title><%= @school.school_name %></title>
<% end %>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" href="/stylesheets/ui.datepicker.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/clockpick.1.2.4.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/global.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/facebox.css" type="text/css" media="screen" charset="utf-8" />
  
  <script src='/javascripts/prototype.js'></script>
  <script src='/javascripts/jquery.js'></script>
  <script src='/javascripts/facebox.js'></script>
  <script src='/javascripts/face.js'></script>
  <script src='/javascripts/ui-datepicker-1.5.2.min.js'></script>
  <script src='/javascripts/jquery.clockpick.1.2.4.js'></script>
  <script>  jQuery.noConflict(); </script>
  <script>  var $j = jQuery; </script>
        <%= include_required_js %>
</head>
<body class="fixed-width">
  <div id="page-wrap"><!-- Wraps everything -->
  <div id="header"><!--The Header --><% @school = School.find(:first) %>
   <% unless @school.nil? %>
      <h1><%= link_to "#{@school.school_name}", url(:schools) %></h1>
   <% end %>
      <div id="user-cp"><!--User Control Panel -->
       <p class="welcome">Welcome <em><%= session.user.first_name %></em></p>
        <ul>  <% @access_rights = session.user.access_peoples  %>
         <% if @access_rights.length == 0 %>
         <li class="first"><%= link_to "My Account", url(:parent_account) %></li>
         <% else %>
             <li class="first"><%= link_to "My Account", url(:staff_account) %></li>
         <% end %>
            <li><%= link_to "Logout", url(:logout) %></li>
        </ul>
      </div>
      <div id="navbar"><!--The Main Navigation -->
        <ul id="navigation">
        <li><%= link_to "<span>Home</span>", url(:homes) %></li>
          <li><a rel="facebox" href="#info"><span>Classrooms</span></a></li>
		      <li class="current"><li><%= link_to "<span>Sports</span>" %></li>
          <li><%= link_to "<span>Forms</span>", url(:form_files) %></li>
          <li><%= link_to "<span>Directory</span>" %></li>
          <li><%= link_to "<span>Events</span>" %></li>
          <% @view = Access.find_by_name('view_all') %>
          <% @accesses = Access.find(:all).delete_if{|x| x.name == "view_all" } %>
             <% @a_p = session.user.access_peoples.delete_if{|x| x.access_id == @view.id } %>
             <% @accesses.each do |f| %>
               <% have_access = false %>
               <% @a_p.each do |l| 
               puts l.all.inspect
                   have_access =  l.all || (f.id == l.access_id) 
                   break if have_access	  
                   end %>
                    <% @accesses.delete_if{ have_access } %>
                  
                 <% if have_access %>
                     <li><%= link_to "<span>Administration</span>", url(:schools), :class=> "admin" %></li>
                 <% end %>
             <% end %>
             <% @accesses.each do |f| %>
           <% have_access = true %>
               <% @a_p.each do |l| 
                 have_access = (l.access_id == @view.id) 
                   break if have_access	  
                   end %>
                    <% @accesses.delete_if{ have_access } %>
                    
                 <% if have_access %>
                 <li><%= link_to "<span>Your Announcements</span>", url(:parents), :class=> "admin" %></li>
                 <% end %>
           <% end %>
           <li><a href="#" class="help-contact"><span>Help/Contact</span></a></li>
        </ul>
        <div class="hrule clear"><hr /></div><!-- gives bottom border to the Navigation.-->
      </div><!--Navbar End-->
    </div><!--Header End -->
      <div id="content-wrap"><!--Wraps The content Area-->
      <div class="hrule clear hidden "><hr /></div>
      <div id="content"><!--Content Area Starts here-->
        <%= catch_content :for_layout %>
      </div><!--Content End-->
    </div><!--Content Wrap End -->
    
            <% @classrooms = Classroom.find(:all) %>
    <div id="info" style="display:none;">
         <h3>Please Select the classroom you would like to visit</h3>
          Classes:  
           <% @classrooms.each do |f| %>
                  <li><%= link_to "#{f.class_name}", url(:class_details, :id => "#{f.id}" ) %></li>
           <% end %>
        
    </div> 
      
    <!--Right Sidebar to be inserted here-->  
     
               
  </div><!--Pagewrap End -->
</body>
</html>
      
