<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
<title><%= @current_school.school_name %></title>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" href="/stylesheets/ui.datepicker.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/clockpick.1.2.4.css" type="text/css" media="screen" charset="utf-8" />
  <link rel="stylesheet" href="/stylesheets/global.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/stylesheets/facebox.css" type="text/css" media="screen" charset="utf-8" />
  
  <script src='/javascripts/prototype.js'></script>
  <script src='/javascripts/removefile.js'></script>
  <script src='/javascripts/jquery.js'></script>
  <script src='/javascripts/jquery.highlightFade.js'></script>
  <script src='/javascripts/jquery.MultiFile.js'></script>
  <script src='/javascripts/jquery.hint.js'></script>
  <script src='/javascripts/ui-datepicker-1.5.2.min.js'></script>
  <script src='/javascripts/jquery.clockpick.1.2.4.js'></script>
  <script src='/javascripts/util-functions.js'></script>
  <script src='/javascripts/clear-default-text.js'></script>
  <script src='/javascripts/facebox.js'></script>
  <script src='/javascripts/face.js'></script>
  <script>  jQuery.noConflict(); </script>
  <script>  var $j = jQuery; </script>
        <%= include_required_js %>
</head>
<body class="fixed-width">
  <div id="page-wrap"><!-- Wraps everything -->
    <div id="header"><!--The Header -->
   <h1><%= link_to "#{@current_school.school_name}", resource(:homes) %></h1>

      <div id="user-cp"><!--User Control Panel -->
       <p class="welcome">Welcome <em><%= session.user.first_name %></em></p>
        <ul> <% @access_rights = session.user.access_peoples  %>
         <% if @access_rights.length == 0 %>
         <li class="first"><%= link_to "My Account", url(:parent_account) %></li>
         <% else %>
             <li class="first"><%= link_to "My Account", url(:staff_account) %></li>
         <% end %>
          <li><%= link_to "Logout", url(:logout) %></li>
        </ul>
      </div>
      <div id="navbar"><!--The Main Navigation -->
        <ul id="navigation">
          <li><%= link_to "<span>Home</span>", url(:homes) %></li>
          <li><a rel="facebox" href="#info"><span>Classrooms</span></a></li>
          <li class="current"><li><%= link_to "<span>Sports</span>" %></li>
          <li><%= link_to "<span>Forms</span>", url(:form_files) %></li>
          <li><%= link_to "<span>Directory</span>", url(:directory) %></li>
          <li><%= link_to "<span>Events</span>", url(:events) %></li>
          <% @view = Access.find_by_name('view_all') %>
          <% @accesses = Access.find(:all).delete_if{|x| x.name == "view_all" } %>
             <% @a_p = session.user.access_peoples.delete_if{|x| x.access_id == @view.id } %>
             <% @accesses.each do |f| %>
               <% have_access = false %>
               <% @a_p.each do |l| 
                   have_access = l.all || (f.id == l.access_id) 
                   break if have_access	  
                   end %>
                    <% @accesses.delete_if{ have_access } %>
                    
                 <% if have_access %>
                     <li><%= link_to "<span>Administration</span>", url(:schools), :class=> "admin" %></li>
                 <% end %>
             <% end %>
           <% @accesses.each do |f| %>
           <% have_access = true %>
               <% @a_p.each do |l| 
                 have_access = l.access_id == @view.id 
                   break if have_access	  
                   end %>
                    <% @accesses.delete_if{ have_access } %>
                    
                 <% if have_access %>
                 <li><%= link_to "<span>Your Announcements</span>", url(:parents), :class=> "admin" %></li>
                 <% end %>
           <% end %>
              <li><%= link_to "<span>Contact Us</span>", url(:help) %></li>
        </ul>
        <div class="hrule clear"><hr /></div><!-- gives bottom border to the Navigation.-->
      </div><!--Navbar End-->
    </div><!--Header End -->
    
    <div id="sidebar">
      <ul id="menu"><!-- Nested Lists -->
        <li>Site Settings<ul>
          <li><%= link_to "Basic Settings", url(:schools) %></li>
          <li><%= link_to_if((right = "classes"), "Classrooms", url(:classrooms) )  %></li>
          </ul>
        </li>
        <li>Access Rights<ul>
            <li><%= link_to_if((right = "rights_others"), "Add/Edit Access Rights", url(:people) ) %></li>
              <% @parents = @current_school.parents.find(:all, :conditions => ["approved = ?", 2 ]) %>
              <li class="count"><%= link_to_if((right = "parent_registration"), "Parent Registration", url(:parent_approvals) ) %><span><b><%= @parents.length %></b></span></li>
          </ul>
        </li>
        <% @announcements = @current_school.announcements.find(:all, :conditions => ["approve_announcement = ? and approved = ?", true, false ]) %>
        <li>Content<ul>
          <li class="count"><%= link_to_if((right = "approve_announcement"), "Pending Approvals", url(:approvals) ) %><span><b><%= @announcements.length %></b></span></li>
        <li><%= link_to_if((right = "from_principal"), "From the Principal", url(:from_principals)) %></li>
      		<li><%= link_to_if((right = "announcements"), "Announcements", url(:announcements)) %></li>
      		<li><%= link_to_if( (right = "welcome_messages"), "Welcome Messages", url(:welcome_messages) ) %></li>
      	  <li><%= link_to_if((right = "calendar"), "Calendars", url(:calendars) )  %></li>
      		<li><%= link_to_if((right = "spotlight"), "Spotlight", url(:spot_lights) ) %></li>
          <li><%= link_to_if((right = "homework"), "Homework", url(:home_works) )  %></li>
      		<li><%= link_to_if((right = "grades"), "Grades/Reports" ) %></li>
      		<li><%= link_to_if((right = "external_links"), "External Links", url(:external_links) ) %></li>
      		<li><%= link_to_if((right = "teams"), "Sports Teams", url(:teams)) %></li>
      		<li><%= link_to_if((right = "forms"), "Forms", url(:forms)  ) %></li>
      		<li><%= link_to "Advertising" %></li>
          </ul>                                                                                                      
        </li>
        <li>Directories<ul>
          <li><%= link_to_if((right = "manage_directories"), "Students", url(:students)) %></li>
          </ul>
        </li>
      </ul>
    </div><!-- Sidebar Ends -->
    <div id="content-wrap"><!--Wraps The content Area-->
      <div class="hrule clear hidden "><hr /></div>
      <div id="content"><!--Content Area Starts here-->
        <%= catch_content :for_layout %>
      </div><!--Content End-->
    </div><!--Content Wrap End -->
    <!-- Classrooms Lightbox -->
    <% @classrooms = @current_school.classrooms.find(:all) %>
    <div id="info" style="display:none;">
      <h3>Please Select the classroom you would like to visit</h3>
      <p>Classes: </p>
      <ul> 
        <% @classrooms.each do |f| %>
          <li><%= link_to "#{f.class_name}", url(:class_details, :id => "#{f.id}" ) %></li>
        <% end %>
      </ul>
    </div>

  <div class="hrule clear hidden "><hr /></div>
  </div><!--Pagewrap End -->
</body>
</html>