<%= partial 'layout/main' %>
<div>&nbsp;</div>
<div id="classContainer">
    <div id="sidebar">
          
          <table cellpadding="0" cellspacing="0" order="0" class="class-name">
            <tr><td class="class-name-top"><img src="/images/class-name-top.gif"/></td></tr>
            <tr><td class="class-name-backgr"><p>Sports</p></td></tr>
            <tr><td  class="class-name-bottom"><img src="/images/class-name-bottom.gif"/></td></tr>
          </table>
          
          
      <ul id="menu"><!-- Nested Lists -->
        <li <% if @selected == nil %> class="on" <% end %>><%= link_to "Home", url(:sports) %></li>
        <li <% if @selected == "teams" %> class="on" <% end %> ><%= link_to "Teams", url(:sports, :label => "teams") %></li>
        <li <% if @selected == "calendars" %> class="on" <% end %> ><%= link_to "Sports Calendar", url(:sports, :label => "calendars") %></li>
        <li <% if @selected == "announcements" %> class="on" <% end %>><%= link_to "Announcements", url(:sports, :label => "announcements") %></li>
        <li>&nbsp;</li>
       
      </ul>
        <% @classroom = @current_school.classrooms.find(:first, :conditions => ['class_name = ? and activate = ?', "Sports", true]) %>
      <ul id="menu1">
      <% unless @classroom.nil? %>
             <% s = @classroom.class_peoples.delete_if{|x| x.role != "Athletic Director"} %>
                  <% s.each do |f| %>
                     <li>
                         <table cellpadding="0" cellspacing="0" order="0" class="teach-name">
                             <tr><td class="teach-name-top"><img src="/images/teach-name-top.gif"/></td></tr>
                             <tr><td class="teach-name-backgr"><p>School Staff</p></td></tr>
                             <tr><td  class="teach-name-bottom"><img src="/images/teach-name-bottom.gif"/></td></tr>
                         </table>
                     </li>
                     <li><b><%= f.person.name %></b>
                         <% unless f.person.person_bio.blank? %>
                          | <span <% if @selected == "bio_sports" %> class="on" <% end %> > <%= link_to "Bio", url(:bio, :label => "sports") %> 
                             </span>
                           <% end %>
                     </li>
                      <li><%= f.role %></li>
                     <li><%= email(f.person.email) %> </li>
                     
                  <% end %>
      <% else %>
             
      <% end %>
         
       </ul>
    </div><!-- Sidebar Ends -->
    
    <div id="content-wrap"><!--Wraps The content Area-->
      <div id="content">
        <%= catch_content :for_layout %>
      </div>
    </div><!--Content Wrap End -->  
      
<%= partial 'common/change' %>
   
    <!--Right Sidebar to be inserted here-->    
  <div class="hrule clear hidden "><hr /></div>
  </div>
  </div><!--Pagewrap End -->
  <%= partial 'common/footer' %>
</body>
</html>
