<h2 class="current-page">Students &gt; Import &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="actions">
      <%= link_to "All Students", resource(:students) %>&nbsp;&nbsp;&nbsp;
      <%= link_to "(download template)", url(:template_download) %>
    </span>
</h2>
<ul class='error_messages'>
  <% if flash[:error] %>
    <li><%= flash[:error] %> </li>
  <% end %>
</ul>
<span class="subText">
   Please select the ﬁle with student records. This ﬁle must be in a CSV format. 
   This format can be saved easily for Excel or similar software. 
   For your convenience we have prepared a template. <%= link_to "(download template)", url(:template_download) %><br/>
   please enter the correct class name that exist in the school in the csv file.<br/>
   date format should be (mm/dd/yyyy) and it is only for single parent.
</span><br/>

<div class="container">
	<ol>
 		<li><label for="nil_class_csv_file" class="error">please upload a Csv file</label></li> 
 	  <!-- <li><label for="classroom_person" class="error">please select the Classroom</label></li> --> 
 	</ol>
</div><br/>

<%= form_for(@student, :action => url(:import_csv), :id => "import" )  do %>
  
   <fieldset>
        <ul>
            <li><%= file_field :csv_file, :label => "Select File to upload:", :class => "required" %></li>
            <!-- <li> 
                 <%= select :name => "classroom_id",  :id => "classroom_person", :label => "Upload these to:", 
                            :collection => @class_rooms.collect{|x| x.class_name }, :prompt => "Please Select",
                            :class => "required" %>
            </li> -->
        </ul>    
   </fieldset>
   
        <div class="save-cancel">
            <%= submit "    Publish    " %> Or  <%= link_to "Cancel", resource(:students), :class => "cancel" %>
        </div>
   
<% end =%>

<script type= "text/javascript">

   // Validation for Adding Grades
   var container = $j('div.container');

   // validate the form when it is submitted
   var validator = $j("#import").validate({
       errorContainer: container,
       errorLabelContainer: $("ol", container),
       wrapper: 'li',
       meta: "validate"
   });

</script>   