
<h2 class="current-page">Students &gt; Add New</h2>
<%= error_messages_for @student %>
<%= error_messages_for @protector %>

   <ul class='error_messages'>
       <% if flash[:error3] %>
          <li><%= flash[:error3] %></li>
       <% end %>
       <% if flash[:error] %>
          <li><%= flash[:error] %> </li>
       <% end %>
       <% if flash[:error4] %>
          <li><%= flash[:error4] %> </li>
       <% end %>
       </ul>

<fieldset> 

<%= form_for(@student, :action => resource(:students), :id => 'student', :name => "studs",  :onsubmit => "ClearAll()")  do %>
   
      <ul>
          <% if @class_id != nil %>
              <li>
	               <label>Student for:</label>
	               <%= select :name => "classroom_id",  :id => "classroom_person", :collection => @class_rooms.collect{|x| x.class_name},  
	                        :selected => "#{@class_id}", :prompt => "Please Select" %>
	          </li>
          <% else %>
              <li><label>Student for:</label>
                   <%= select :name => "classroom_id",  :id => "classroom_person", :collection => @class_rooms.collect{|x| x.class_name},
                              :selected => "#{params[:l]}", :prompt => "Please Select" %>
              </li>
          <% end %>
             <li>
                 <%= text_field  :first_name,  :label => "Student Name", :maxlength => "75", :class => "short defaultText defaultTextActive", 
                              :title => "First Name" %>
                <%= text_field  :last_name, :maxlength => "75", :class => "short apart defaultText defaultTextActive", :title => "Last Name" %>
	        </li>
             <li>
               <%= text_field  :birth_date, :id => "birth_date", :label => "Birth Date", :class => "short date" %>
            </li>
         </ul>
         <hr size="1" class="clear"/>
         
         
          <%= fields_for @protector do %>  
          <ul>
	             <li>
                   <%= text_field  :first_name, :maxlength => "75", :class => "short defaultText defaultTextActive", :label => "Parents/Guardian", :title => "First Name" %>
                   <%= text_field  :last_name, :maxlength => "75", :class => "short apart defaultText defaultTextActive", :title => "Last Name" %>
	             </li>
	             <li> <%= text_field :email, :label => "Email" %> </li>
         </ul>
               <% if ( ( (@fname2 != nil) || (@lname2 != nil) ) || (@mail2 != nil) ) %>
                
                     <ul id="parent2" style="display:block">
                          <li>
                              <%= text_field  :name => "f_name_parent2", :id => "f_name_parent2", :maxlength => "75", :class => "short", :label => "Parents/Guardian", :value => "#{@fname2}" %>
                              <%= text_field  :name => "l_name_parent2", :id => "l_name_parent2", :maxlength => "75", :class => "short apart", :value => "#{@lname2}" %>
                          </li> 
                          <li>
                              <%= text_field  :name => "email_parent2",  :label => "E-Mail", :value => "#{@mail2}" %> 
                          </li>
                     </ul>
           
                      <% if( ( (@fname2 != "") && (@lname2 != "") ) && (@mail2 != "") )   %>
                            <% if ( ( (@fname3 != "") || (@lname3 != "" ) ) || (@mail3 != "") ) %>
                                  <div id="am2" style="display:none">
	                                   <a onclick="add_parent2();return false;" href="#">Add More</a>
	                                </div>
                                  <div id="am3" style="display:none">
	                                   <a onclick="add_parent3();return false;" href="#">Add More</a>
	                                </div>
                             <% end %>
                     <% else %>
                             <div id="am2" style="display:none">
	                               <a onclick="add_parent2();return false;" href="#">Add More</a>
	                           </div>
                             <div id="am3" style="display:block">
	                               <a onclick="add_parent3();return false;" href="#">Add More</a>
	                           </div>
                     <% end %>
                
               <% else %>
                      <ul id="parent2" style="display:none">
                          <li>
                               <%= text_field  :name => "f_name_parent2", :id => "f_name_parent2", :maxlength => "75", :class => "short defaultText defaultTextActive", :label => "Parents/Guardian", :title => "First Name" %>
                               <%= text_field  :name => "l_name_parent2", :id => "l_name_parent2", :maxlength => "75", :class => "short apart defaultText defaultTextActive", :title => "Last Name" %>
                          </li>
                          <li>
                               <%= text_field  :name => "email_parent2",  :label => "E-Mail" %> 
                          </li>
                      </ul>
                      <div id="am2" style="display:block">
	                        <a onclick="add_parent2();return false;" href="#">Add More</a>
	                    </div>
                     
               <% end %>
         
                      <div id="am3" style="display:none">
	                       <a onclick="add_parent3();return false;" href="#">Add More</a>
	                    </div>
             
               <% if ( ( (@fname3 != nil) || ( @lname3 != nil ) ) || (@mail3 != nil) ) %>
         
                       <il id="parent3" style="display:block">
                            <li>
                                <%= text_field  :name => "f_name_parent3",  :id => "f_name_parent3", :maxlength => "75", :class => "short", :label => "Parents/Guardian", :value => "#{@fname3}" %>
                                <%= text_field  :name => "l_name_parent3",  :id => "l_name_parent3", :maxlength => "75", :class => "short apart", :value => "#{@lname3}" %>
                            </li>
                            <li>
                                <%= text_field  :name => "email_parent3",  :label => "E-Mail", :value => "#{@mail3}" %> 
                            </li>
                       </ul>
                       <% if( ( (@fname3 != "") && (@lname3 != "") ) && (@mail3 != "") )   %>
                              <% if ( ( (@fname4 != "") || (@lname4 != "" ) ) || (@mail4 != "") ) %>
                                    <div id="am3" style="display:none">
	                                      <a onclick="add_parent3();return false;" href="#">Add More</a>
	                                  </div>
                                    <div id="am4" style="display:none">
	                                      <a onclick="add_parent4();return false;" href="#">Add More</a>
	                                  </div>
                              <% end %>
                       <% else %>
                             <div id="am3" style="display:none">
	                               <a onclick="add_parent3();return false;" href="#">Add More</a>
	                           </div>
                             <div id="am4" style="display:block">
	                               <a onclick="add_parent4();return false;" href="#">Add More</a>
	                           </div>
                       <% end %>
               <% else %>
                        <ul id="parent3" style="display:none">
                             <li>
                                 <%= text_field  :name => "f_name_parent3",  :id => "f_name_parent3", :maxlength => "75", :class => "short defaultText defaultTextActive", :label => "Parents/Guardian", :title => "First Name" %>
                                 <%= text_field  :name => "l_name_parent3",  :id => "l_name_parent3", :maxlength => "75", :class => "short apart defaultText defaultTextActive", :title => "Last Name" %>
                             </li>
                             <li>
                                 <%= text_field  :name => "email_parent3",  :label => "E-Mail" %> 
                             </li>
                        </ul>
              
               <% end %>
                        <div id="am4" style="display:none">
	                          <a onclick="add_parent4();return false;" href="#">Add More</a>
	                      </div>
               <% if ( ( (@fname4 != nil) || (@lname4 != nil) ) || (@mail4 != nil) ) %>
               
                       <ul id="parent4" style="display:block">
                            <li>
                                <%= text_field  :name => "f_name_parent4",  :id => "f_name_parent4", :maxlength => "75", :class => "short", :label => "Parents/Guardian", :value => "#{@fname4}" %>
                                <%= text_field  :name => "l_name_parent4",  :id => "l_name_parent4", :maxlength => "75", :class => "short apart", :value => "#{@lname4}" %>
                            </li>
                            <li>
                                <%= text_field  :name => "email_parent4",  :label => "E-Mail", :value => "#{@mail4}" %> 
                            </li>
                       </ul>
               <% else %>
                       <ul id="parent4" style="display:none">
                            <li>
                            <%= text_field  :name => "f_name_parent4", :id => "f_name_parent4", :maxlength => "75", :class => "short defaultText defaultTextActive", :label => "Parents/Guardian", :title => "First Name" %>
                            <%= text_field  :name => "l_name_parent4", :id => "l_name_parent4", :maxlength => "75", :class => "short apart defaultText defaultTextActive", :title => "Last Name" %>
                            </li>
                            <li>
                                <%= text_field  :name => "email_parent4",  :label => "E-Mail" %> 
                            </li>
                       </ul>
               <% end %>
                     <br/>
      
	        <% end =%>   
	        <hr size="1" class="clear" style="border:none"/>   
       <ul>
            <li><%= text_field  :phone,  :label => "Phone" %> </li>
		    <li><%= text_field  :address1,  :label => "Address 1", :maxlength => "75" %></li>
		    <li><%= text_field  :address2,  :label => "Address 2", :maxlength => "75" %></li>
		    <li><%= text_field  :city,  :label => "City", :maxlength => "75" %></li>
		    <li><%= text_field  :state,  :label => "State", :maxlength => "75" %></li>
		    <li><%= text_field  :zip_code,  :label => "Zip Code", :maxlength => "75" %></li>
	   </ul>     
      
	           <div class="save-cancel">
                  <input type = 'button' value = '    Preview    ' onclick="preview();return false;" />
	                <%= submit "    Publish    " %> Or  <%= link_to "Cancel", resource(:students), :class => "cancel" %>
             </div>
        
         
<% end =%>
   
</fieldset>

   <script type="text/javascript" src='/javascripts/st.js'></script>
    

 


  


