<%= error_messages_for @team %>
<h2 class="current-page">Sports Teams &gt; Edit</h2>
  <%= form_for(@team, :action => resource(@team)) do %>
  <fieldset>
    <ul id="team">
      <li><%= text_field  :team_name,  :label => "Name of the Team" %></li>
      <li><%= select  :classroom_id,  :collection => @classrooms.collect{|x| x.class_name }, :label => "Classroom" %></li>
      <li><%= select :year, :collection => @years.map {|y| y.to_s}, :label => "Year" %></li>
      <li>
        <label>Coach:</label>
        <select name = "classroom[people][ids][]" id="classroom_person",>
        <% @teachers.each do |teacher| %>
          <option value="<%= teacher.id %>">
            <%= teacher.name %>
          </option>
			  <% end %>
			</li>
	<% @team_peoples.each do |f| %>
           <li> <%= text_field :name => 'classroom[people][role][]', :id =>'classroom_class_people', :value => "#{f.role}" %>
              	 <select name = "classroom[people][ids][]" id="classroom_person",>
	                       <% @teachers.each do |teacher| %>
		                      <option value="<%= teacher.id %>">
			                   <%= teacher.first_name %>
		                      </option>
			        <% end %></li>
				
	 <% end %>

	<li><a href="#" onclick="add();return false;" class="add-more">Add More</a></li>
    </ul>
  </fieldset>
  

 
<div class="save-cancel">
  <%= submit "Save" %>
  <%= link_to "Cancel", resource(:teams) %>
</div>
	      
<% end =%>
     
</div>


<script type= "text/javascript">
 
  function add()
   {
      var class_room = document.getElementById('team');
      var li = document.createElement('li');
	li.innerHTML = "<input type='text' name='classroom[people][role][]' id='classroom_class_people' />"  + <select name="classroom[people][ids][]" id="classroom_person"> 
	                                <% @teachers.each do |teacher| %>
		                           <option value="<%= teacher.id %>">
					   <%= teacher.name %>
					   </option>
			                <% end %>
			      </select> ;
	 class_room.appendChild(li);
	
    }
</script>



