<%= error_messages_for @team %>
<h2 class="current-page">Sports Teams &gt; Edit</h2>
  <%= form_for(@team, :action => resource(@team)) do %>
  <fieldset>
    <ul>
      <li><%= text_field  :team_name,  :label => "Name of the Team" %></li>
      <li><%= select  :classroom_id,  :collection => @classrooms.collect{|x| x.class_name }, :label => "Classroom" %></li>
      <li><%= select :year, :collection => @years.map {|y| y.to_s}, :label => "Year" %></li>
      <li>
        <label>Coach:</label>
        <select name = "classroom[people][ids][]" id="classroom_person",>
        <% @teachers.each do |teacher| %>
          <option value="<%= teacher.id %>">
            <%= teacher.name %>
          </option>
			  <% end %>
			</li>
    </ul>
  </fieldset>
  
<% @team_peoples.each do |f| %>
  <%= text_field :name => 'classroom[people][role][]', :id =>'classroom_class_people', :value => "#{f.role}" %>
  <select name = "classroom[people][ids][]" id="classroom_person",>
	                       <% @teachers.each do |teacher| %>
		                      <option value="<%= teacher.id %>">
			                   <%= teacher.first_name %>
		                      </option>
			        <% end %>
	 <% end %>

  <a href="#" onclick="add();return false;">Add More</a>
<div class="save-cancel">
  <%= submit "Save" %>
  <%= link_to "Cancel", resource(:teams) %>
</div>
	      
<% end =%>
     
</div>


<script type= "text/javascript">
 
  function add()
   {
      var table = document.getElementById('teams');
	var tr = document.createElement('tr');
        var td1 = document.createElement('td');
	var td2 = document.createElement('td');
	td1.innerHTML = "<input type='text' name='classroom[people][role][]' id='classroom_class_people' />";
	td2.innerHTML = <select name="classroom[people][ids][]" id="classroom_person"> 
	                                <% @teachers.each do |teacher| %>
		                           <option value="<%= teacher.id %>">
					   <%= teacher.first_name %>
					   </option>
			                <% end %>
			      </select>
	 tr.appendChild(td1);
	 tr.appendChild(td2);
	 table.appendChild(tr);
    }
     
</script>



