<h2 class="current-page">Sports Teams &gt; <%= link_to "Add New", resource(:teams, :new) %></h2>
<% unless @teams.empty? %>
  <table id="mytable">
    <thead>
      <tr >
        <th colspan="3" scope="col">
          Teams
        </th>
      </tr>
    </thead>
    <tbody>
      <% for team in @teams %>
            <tr>
                <td><%= link_to "#{team.team_name}", resource(team, :edit) %></td>
                   <% s = team.class_peoples %>
		               <% s.each do |f| %>
		                    <td>  <%= f.role %> : <%= f.person.name %>   </td>
                   <% end %>
            </tr>
            <td><%= link_to "Delete", resource(team, :delete), :class =>"delete-btn" %></td>
      <% end %> 
    </tbody>
  </table>
<% end %>    
	
