<h2 class="current-page">Sports Teams &nbsp;&nbsp;&nbsp; <%= link_to "Add New", resource(:teams, :new) %></h2>
<% if @teams.empty? %>
  <p class="subText">There are no sports teams specified</p>
<%else%>
  <table id="mytable" class="sports-teams">
    <thead>
      <tr >
        <th colspan="4" scope="col">
          Teams
        </th>
      </tr>
    </thead>
    <tbody>
      <% for team in @teams %>
            <tr>
                <td>
                  <%= link_to "#{team.team_name}", resource(team, :edit), :class =>"team-name"  %>
                    <% s = team.class_peoples %>
		                <% s.each do |f| %>
		                  <span class="sports-faculty-list">
		                    <span class="role"><%= f.role %></span> : <span class="name"><%= f.person.name %></span>
		                  </span>
                    <% end %>
                <td>
                  <%= link_to "Delete", resource(team, :delete), :class =>"delete-btn" %>
                </td>
          </tr>
      <% end %> 
    </tbody>
  </table>
<% end %>    
	
