<%= error_messages_for @team %>

<h2 class="current-page">Sports Teams &gt; Add New</h2>
<%= form_for(@team, :action => resource(:teams), :name => "team" ) do %>
  <fieldset>
    <ul id="team">
      <li><%= text_field  :team_name,  :label => "Name of the Team", :maxlength => "75" %></li>
        <% if @classroom_id != nil %>
             <li><%= select :classroom_id, :collection => @classrooms.collect{|x| x.class_name }, :label => "Classroom", :selected => "#{@classroom_id}", :prompt => "Please Select" %></li>
        <% else %>
            <li><%= select :classroom_id, :collection => @classrooms.collect{|x| x.class_name }, :label => "Classroom", :prompt => "Please Select" %></li>
        <% end %>
      <li><%= select :year, :collection => @years.map {|y| y.to_s}, :label => "Year" %></li>
      <li>
        <label>Coach:</label>
        <select name = "classroom[people][ids][]" id="classroom_person",>
          <% @teachers.each do |teacher| %>
            <option value="<%= teacher.id %>">
              <%= teacher.name %>
            </option>
  			  <% end %>
  		</li>
  	 </ul>
     
     <input type="hidden" id="id" value="1">
            <div id="divTxt"></div>
             
          <p><a href="#" onClick="addFormField(); return false;">Add More</a></p>
  
    <div class="save-cancel">
        <%= submit "Save" %>  Or <%= link_to "Cancel", resource(:teams), :class => "cancel" %>
    </div>
<% end =%>

 </fieldset>

<script type= "text/javascript">
  
  document.team.team_team_name.focus();
 
  function addFormField()
  {
    var id = document.getElementById('id').value;
    $j('#divTxt').append("<p id='row" + id + "'><input type='text' class='short' value='add more' name='classroom[people][role][]' id='txt" + id + "' onClick='test(id); return false;'><select name='classroom[people][teacher][]'><% @teachers.each do |teacher| %><option value='<%= teacher.id %>'><%= teacher.name %></option><% end %></select><a href='#' onClick='removeFormField(\"#row" + id + "\"); return false;'>Remove</a><p>");
    
    id = (id - 1) + 2;
    document.getElementById('id').value = id;
}

   function removeFormField(id) 
   {
         $j(id).remove();
    }
    
    function test(id)
    {
      var s = document.getElementById(id)
      if (s.value == "add more")
        {
          s.value = ""
        }
    }
    
    
    
    
</script>
