<table>
          <tr>
              <td><%= text_field  :first_name,  :label => "First Name" %></td>
          </tr>
	  <tr>
	       <td><%= text_field  :last_name,  :label => "Last Name" %></td>
	  </tr>
	  <tr>
	       <td><%= text_field  :email,  :label => "Contact Email" %></td>
	  </tr>
	  <tr>
	       <td><%= text_field  :phone,  :label => "Phone Number(optional)" %></td>
	  </tr>
	  <tr>
	      <td>Rights:</td>
	       <td>This person can:</td>
	  </tr>
	 <tr>
	      <td></td>
	      <td colspan="3">
              <% if @user.id.nil? %>
         	      <%= check_box :content_access, :disabled => 'disabled' %>View all Content
              <% else %>
                     <%= check_box :content_access, :onclick => "allcontent()" %>View all Content
              <% end %>
	         <div id="check" style="visibility:hidden">
      
	          Unchecking this will Disable Access for this user.
                        Are you sure you want to do this? 
		   
                <%= link_to "Yes, Disable access for this user", url(:controller => "users", :action => "disable", :id => @user.id) %></br> Or
		            <a href='' id='cancel' return true >Cancel this action </a>
	          </div>
	      </td>
          </tr>
	  <tr>
	      <td></td>
	      <td><%= check_box :manage_access %></br> Manage Access rights for others<td>
          </tr> 
	   <tr>
	       <td></td>
	       <td><b>Add/Edit Content for: (select all)</b></td>
	   </tr>
	   <tr>
	      <td></td>
	      <td><%= check_box :settings_access %></br> Basic Settings<td>
	      <td><%= check_box :event_access %></br> Calendar Events<td>
          </tr>
	  <tr>
	      <td></td>
	      <td><%= check_box :message_access %></br> Welcome Message<td>
	      <td><%= check_box :links_access %></br> External Links<td>
          </tr>
	  <tr>
	      <td></td>
	      <td><%= check_box :announcement_access %></br> Announcements<td>
	      <td><%= check_box :files_access %></br> Files<td>
          </tr>
          <tr>
	       <td><%= submit "Save & Notify" %></br>  <%= link_to "Cancel", url(:users) %></td>
	  </tr>
	  
       </table>
     
       
<script type= "text/javascript">

 function allcontent()
   {
     if (document.getElementById('user_content_access').checked == false)
	{
	   document.getElementById('check').style.visibility = "visible"; 
	 }
 
   }  
   
   

</script>















