<div class = 'formcontainer'>
          
         <table>
                <tr>
                    <td> <h4>My Profile </h4></td>
                    <td><%= link_to "Edit", url(:account_edit) %></td>
                    <td><%= link_to "Change Password", url(:change_password) %></td>
                </tr>
             
              <tr>
                  <td>Name:</td>
                  <td><%= @user.name %>
              </tr>
               <tr>
                   <td>Email:</td>
                   <td><%= @user.email %>
               </tr>
               <tr>
                    <td>Phone Number:</td>
                    <td><%= @user.phone %>
               </tr>
          </table>
</div>
