
<h2 class="current-page"><%= link_to "Add a New School", url(:new_admin) %></h2>
  
    <table id="mytable"  cellspacing="0" cellpadding="0">
    <thead> 
         <th>School Name</th>
         <th>URL</th>
         <th>Admin Name</th>
         <th>Admin Email</th>
    </thead>
  
          <% for school in @schools %>
              <tr onclick="location.href='<%= url(:edit_admin, school.id) %>'">
                  <td><%= school.school_name %></td>
                  <td><%= school.domain %> </td>
                <% s = school.people.find(:all, :conditions => ['admin =?', true]) %>
                   <% s.each do |f| %>
                       <td><%= f.name %></td>
                       <td><%= f.email %></td>
                   <% end %>
              </tr>  
          <% end %>
  </table>
