


Dear <%= @person.name %>,

    Did you forget your password? It happens to the best of us.

  Please open this link in your browser:

     <a href="http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:reset_password, :id => @person.password_reset_key) %>">http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:reset_password, :id => @person.password_reset_key) %> </a>


   This will reset your password.

   You can then login and change it to something you'll remember.

Yours,

The SchoolYard Team.



