<p>Dear <%= @person.name %>,</p>
<p>Did you forget your password? It happens to the best of us.You can reset your password using the following link:</p>
<p><a href="http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:reset_password_edit, :id => @person.password_reset_key) %>">http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:reset_password_edit, :id => @person.password_reset_key) %> </a></p>
<br/>
<p>Thank you<br/>
<p><%=@current_school.school_name%></p>



