Dear  <%= @staff.name %>,
<p> We welcome you into the  <%= @current_school.school_name %> family </p>
<p> Please click the link to choose your password and start using your account at <%= @current_school.school_name %>  </p>
<p><a href = "http://<%= @current_school.subdomain %>.schoolyardapp.com<%= url(:new_staff_password, :id => @staff.password_reset_key) %>">http://<%= @current_school.subdomain %>.schoolyardapp.com<%= url(:new_staff_password, :id => @staff.password_reset_key) %> </a></p>   
<br/>
<p>Thank you<br/>
<p><%=@current_school.school_name%></p>