<p>Hello <%= @parent.name %>,</p>
<p>Your registration has been approved by <%=@current_school.school_name%>.</p>
<p>Please choose a password by clicking the following link:
  <br/><a href="http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:new_password, :id => @parent.password_reset_key) %>">http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:new_password, :id => @parent.password_reset_key) %> </a>
</p>
<br/>
<p>Thank you<br/>
<p><%=@current_school.school_name%></p>
