


 Hey  <%= @staff.name %>
 
   <h3> <p>  Welcome to School Yard </p> </h3> <br/>

     Please click the link to choose your password 
 
 <a href = "http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:password_staff, :id => @staff.password_reset_key) %>">http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:password_staff, :id => @staff.password_reset_key) %> </a>     
      
 
