


   Dear  <%= @staff.name %>,

    <p> We welcome you into the  <%= @current_school.school_name %> family </p>
    
    <h4> <p> Please click the link to choose your password and start using your account at <%= @current_school.school_name %>  </p> </h4> <br/>
 
     <a href = "http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:password_staff, :id => @staff.password_reset_key) %>">http://<%= @current_school.subdomain %>.schoolyardapp.net<%= url(:password_staff, :id => @staff.password_reset_key) %> </a>     
     <p> If you haven't signed up to SchoolYard and were not expecting this email, contact support@Schoolyard.com</p>

  <p> 
        Any questions:
       email the administrator  at eshwar@schoolyardapp.com </p>
       

Best regards

The SchoolYard team

