<%= form_for(@school, :action => url(:admin)) do %>
  <%= text_control  :school_name,  :label => "School Name" %>
  <p>Contact Information for Parents</p>
  <%= text_field  :phone,  :label => "phone" %>
	<%= text_field  :email,  :label => "email" %>
  <%= submit "Save" %>
<% end =%>
    

