<fieldset>
<h3>Basic Settings <%= link_to "new", url(:new_admin) %> <%= link_to "Edit", url(:edit_admin, @school) %> </h3>
<dl>
  <dt>School Name</dt><dd><%= @school.school_name %></dd>
</dl>
<p> Contact Information For Parents </p>
<dl>
  <dt>Phone</dt><dd><%= @school.phone %></dd>
  <dt>E-Mail</dt><dd><%= @school.email %></dd>
</dl>
</fieldset>