  <h2 class="current-page">
      School Staff &nbsp;&nbsp;&nbsp;
      <%= link_to_right((right = "rights_others"), "Add New", resource(:people, :new)  ) %>
  </h2> 
  
       <% array = ('A'..'Z').to_a %>
       <div class="top-pagination">
            <% array.each do |f| %>
                 <% test = "" %>
                <% if @s == "#{f}" %>
                  <%  test = "current"  %>
                <% end %>
                    <%= link_to "#{f}", url(:letters, :type => "#{f}", :ref => "staff" ), :class => test %>
            <% end %>
            <div class="clear"></div>
       </div>
       
         <select id = 'staffID'>
                  <option value = '/staff' <% if (@test == "All Staff") %> selected <% end %> >All Staff</option>
                  <% @class_rooms.each do |f| %>
                      <option value='/staff?label=classes&id=<%= f.id %>' <% if (@test == f.id.to_s) %> selected <% end %> > 
                         <%= f.class_name %> 
                      </option>
	                <% end %>
	       </select>
         
<% if params[:label] == "classes" %>
 
            <% if @class_peoples.empty? %>
                  <p class="subText">
	                No Staff record was found. If you applied a filter try changing it.
	              </p>
            <% else %>
                   <%= link_to "Download as CSV", url(:generate_csv, :label => "staff") %>
                   <table id="mytable" style="margin-top:60px; width:720px" cellspacing="0" cellpadding="0">
                       <thead> 
                             <th>Last Name</th>
                             <th>First Name</th>
                             <th>Role</th>
                             <th>Email</th>
                             <th>Contact Number</th>
                             <% unless session.user.type == "Parent" %>
                               <th></th>
                             <% end %>
                       </thead>
                       <% @class_peoples.each do |f| %>
                           <tr onclick="location.href='<%= url(:directory, f.person.id, :label => "staff") %>'" style="cursor:pointer">
                                <td><%= f.person.last_name %></td>
                                <td><%= f.person.first_name %>&nbsp;</td>
                 	            <td nowrap><%= f.role.titleize %>-<%= f.classroom.class_name %>&nbsp;</td>
                                <td><%= email(f.person.email) %>&nbsp;</td>
                                <td nowrap><%= number_to_phone(f.person.phone, :area_code => true) %>&nbsp;</td>
                                <% unless session.user.type == "Parent" %>
                                   <td><%= link_to_right((right = "rights_others"), "Edit", url(:edit_person, f.person.id)  ) %></td>
                                <% end %>
                            </tr>  
                       <% end %>
                   </table>
            <% end %>
         
<% else %>
           <% if @staff.empty? %>
                 <p class="subText">
	                No Staff record was found. If you applied a filter try changing it.
	              </p>
           <% else %>

                 <%= link_to "Download as CSV", url(:generate_csv, :label => "staff") %>
                 <table id="mytable"  style="margin-top:60px; width:720px"  cellspacing="0" cellpadding="0">
                        <thead> 
                              <th>Last Name</th>
                              <th>First Name</th>
                              <th>Role</th>
                              <th>Email</th>
                              <th>Contact Number</th>
                              <% unless session.user.type == "Parent" %>
                                 <th></th>
                              <% end %>
                        </thead>
                        <% for person in @staff %>
                             <tr onclick="location.href='<%= url(:directory, person.id, :label => "staff") %>'" style="cursor:pointer">
                                 <td><%= person.last_name %></td>
                                 <td><%= person.first_name %>&nbsp;</td>
                                 <% s = person.class_peoples.delete_if{ |x| x.team_id != nil } %>
                                 <td nowrap><% s.each do |f| %>
                                    <%= f.role.titleize %>-<%= f.classroom.class_name %><br/>
                                 <% end %>&nbsp;</td> 
                                 <td><%= email(person.email) %>&nbsp;</td>
      	                         <td nowrap><%= number_to_phone(person.phone, :area_code => true) %>&nbsp;</td>
                                 <% unless session.user.type == "Parent" %>
                                    <td><%= link_to_right((right = "rights_others"), "Edit", url(:edit_person, person.id)  ) %></td>
                                 <% end %>
                             </tr>  
                        <% end %>
                 </table>
                 <%= will_paginate (@staff, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
           <% end %>
       
<% end %>




<script type = 'text/javascript'>

        $( 'staffID' ).observe( 'change', function()
         {
           
           document.location.href = $( 'staffID' ).value;
          
          });
       
</script>
