  <h2 class="current-page">
       Students &nbsp;&nbsp;&nbsp;
      <% if params[:label] == "classes" %>
         <%= link_to_right((right = "manage_directory"), "Add New", resource(:students, :new, :l => "#{@class.class_name.titleize}")  ) %>
      <% else %>
         <%= link_to_right((right = "manage_directory"), "Add New", resource(:students, :new)  ) %>
      <% end %>

  </h2>
        <select id = 'studentID'>
                   <option value = '/directories' <% if (@test == "All Students") %> selected <% end %> >All Students</option>
                   <% @class_rooms.each do |f| %>
                       <option value='/directories?label=classes&id=<%= f.id %>' <% if (@test == f.id.to_s) %> selected <% end %> > 
                          <%= f.class_name %> 
                       </option>
 	                <% end %>
 	       </select>
 	         <%= link_to "Download as CSV", url(:generate_csv, :label => "students") %> <br/><br/>
 	  
 	         <% array = ('A'..'Z').to_a %>
 	          <% cls = "" %>
 	          <% if @s == "all" %>
               <% cls = "current" %>
            <% end %>
           <div class="top-pagination">
                <%= link_to "All", url(:letters, :type => "all", :ref => "students"), :class => cls %>
                <% array.each do |f| %>
                     <% test = "" %>
                    <% if @s == "#{f}" %>
                      <%  test = "current"  %>
                    <% end %>
                    <%= link_to "#{f}", url(:letters, :type => "#{f}", :ref => "students" ), :class => test %>
                <% end %>
                <div class="clear"></div>
           </div> 
         

          <% if @students.empty? %>
                 	<p class="subText">
         	    No Student record was found. If you applied a filter try changing it.
             </p>
            <% else %>
              
                  <table id="mytable"  cellspacing="0" cellpadding="0">
                        <thead>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th>Contact Number</th>
                            <% unless session.user.type == "Parent" %>
                               <th></th>
                            <% end %>
                        </thead>
                        <tbody>
                             <% for student in @students %>
                                  <tr>
                                      <td>&nbsp;<%= link_to "#{student.last_name}", url(:directory, student.id, :label => "students") %></td>
                                      <td>&nbsp;<%= student.first_name %></td>
                                      <td>&nbsp;<%= number_to_phone(student.phone, :area_code => true) %></td>
                                      <% unless session.user.type == "Parent" %>
                                          <td>&nbsp;<%= link_to_right((right = "manage_directory"), "Edit", resource(student, :edit)  ) %></td>
                                      <% end %>
                                 </tr>
                              <% end %>
                        </tbody>
                  </table>
             <%= will_paginate (@students, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
            <% end %>
 </div>




 <script type = 'text/javascript'>

         $( 'studentID' ).observe( 'change', function()
           {
             document.location.href = $( 'studentID' ).value;

           });

 </script>

 