 <div id="header"> 

          <h1>School Name</h1>
     
		<ul>
		    <li><%= link_to "Home" %></li>
		    <li><%= link_to "Class" %></li>
		    <li><%= link_to "Sport" %></li>
		    <li><%= link_to "Form" %></li>
		    <li><%= link_to "Directory" %></li>
		    <li><%= link_to "Events" %></li>
		    <li><%= link_to "Announcements" %></li>
		</ul>
    </div>
    
    
    <%= @current_user.login %>