 <ul class='error_messages'>
       <% if flash[:error1] %>
          <li><%= flash[:error1] %></li>
       <% end %>
       <% if flash[:error2] %>
          <li><%= flash[:error2] %> </li>
       <% end %>
       <% if flash[:error3] %>
          <li><%= flash[:error3] %> </li>
       <% end %>
  </ul>



<h2 class="current-page"> Family Profile > Change Password </h2>

<fieldset>                  

<%= form_for :parent, :action => url(:parent_password_change), :id => @parent do  %>
    
        <ul>
            <li><%= password_field :old_password,  :label => "Current Password" %></li>
            <li><%= password_field :password,  :label => "New Password" %></li>
            <li><%= password_field :password_confirmation,  :label => "Re-type New Password" %></li>
            
        </ul>
            <div class="save-cancel">
            <%= submit "    Save    " %> Or <%= link_to "Cancel", url(:parent_account), :class => "cancel" %>
            </div>

     <% end =%>
   
</fieldset>   
