<% if params[:label] == "other" %>
      <% s = (1..13).to_a %>
     	<div class="container">
     		 <ol>
     	  	  <% s.each do |f| %>
     	  	      <% r = f + 4 %>
     			      <li><label for="fname<%= f %>" class="error">please enter firstname</label></li> 
     			      <li><label for="lname<%= f %>" class="error">please enter lastname</label></li>
     			      <li><label for="email<%= r %>" class="error">please enter email</label></li>
     			      <li><label for="guardian_fname_<%= f %>" class="error">please enter firstname</label></li> 
     			      <li><label for="guardian_lname_<%= f %>" class="error">please enter lastname</label></li>
     			      <li><label for="guardian_email_<%= f %>" class="error">please enter email</label></li>
     			  <% end %>
        </ol>
     	</div>
      <% @selected = "other_family" %>
      <h2 class="current-page">Other Family Members &gt; <span class="add-link">Edit</span></h2>
      <%= form_for :parent, :action => url(:parent_update, :label => "other", :id => @parent), :id => "student" do %>
      
          <fieldset>
               <% unless @students.empty? %>
                   <% @students.each do |f| %>
                        <% @parents = f.parents.delete_if{|x| x.name == @parent.name } %>
                   <% end %><% q = 1 %>
                   <% @parents.each do |m| %>
                        <li>     
                            <%= text_field  :name => "guardian[first_name_#{q}]", :class => "short required", :label => "Name", 
                                            :id => "guardian_fname_#{q}", :value => "#{m.first_name}" %>
                            <%= text_field  :name => "guardian[last_name_#{q}]", :class => "short apart required", 
                                            :id => "guardian_lname_#{q}", :value => "#{m.last_name}" %>
                        </li>
                        <li>
                            <%= text_field  :name => "guardian[email_#{q}]", :label => "Email ID", :class => "required email", 
                                            :id => "guardian_email_#{q}", :value => "#{m.email}" %>
                        </li>
                        <% q += 1 %>
                   <% end %>
               <% end %>
               <ul id="students"></ul>
               <input type="hidden" id="id" value="1">
               <a href="#" class="add-more" onclick="addFormField(); return false;">Add More</a>
          </fieldset>
          
          <div class="save-cancel">
              <%= submit "    Save    " %> Or <%= link_to "Cancel", resource(:users, :selected => "parent_profile", :label => "other"), :class => "cancel" %>
          </div>
           
       <% end =%>
      
     
<% else %>

     <%= error_messages_for @parent %>
     <% @selected = "parent_profile" %>
     <h2 class="current-page">My Profile &gt; <span class="add-link">Edit</span></h2>
     <%= form_for :parent, :action => url(:parent_update), :id => @parent do %>
     
         <fieldset>
             <ul>
                 <li>
                     <%= text_field  :first_name,:class =>"short",  :label => "Name" %>
                     <%= text_field  :last_name, :class=>"short apart"  %>
	               </li>
                 <li>
                      <%= text_field  :email, :label => "Email ID" %>
                 </li>
             </ul>
         </fieldset>
         <div class="save-cancel">
             <%= submit "    Save    " %> Or <%= link_to "Cancel", resource(:users), :class => "cancel" %>
         </div>
               
     <% end =%>
    

<% end %>

       
 <script type="text/javascript" src='/javascripts/students.js'></script>


