%ul{:class => "error_messages"}
  - if flash[:error]
    %li
      = flash[:error]
- if @staff
  - @selected = "staff_profile"
- else
  - @selected = "parent_profile"
%h2{:class => "current-page"}
  My Profile > Change Password 
= form_for :person, :action => url(:change_password), :id => @person  do 
  %fieldset
    %ul
      %li
        = password_field :old_password,  :label => "Current Password" 
      %li
        = password_field :password,  :label => "New Password"
      %li
        = password_field :password_confirmation,  :label => "Re-type New Password"
    
  %div{:class => "save-cancel"}
    = submit "    Save    "
    Or
    = link_to "Cancel", resource(:users), :class => "cancel"
