
<h2 class="current-page"> Phone Alert Settings </h2>

       <%= error_messages_for @person %>
       <p class="subText">  
          Urgent alerts would be delivered to you as email and will also be displayed on the homepage of this application.
          If you would also like to receive text/voice alerts on your phone, please provide the phone numbers below.
          Please note that Skype numbers are not supported.
       </p>
       
<fieldset class="phone-alert-settings">
	
	<%= form_for :person, :action => url(:voice_update)  do  %>
         <% unless @person.voice_alert.blank? %>
               <div id="voice" style="display:block">
                   <%= partial 'voice' %>
               </div>
               <div id="alert" style="display:none">
                   <%= partial 'voice_form' %>
               </div>
         <% end %>
         
         <% unless @person.sms_alert.blank? %>
               <div id="sms" style="display:block">
                    <%= partial 'sms' %>
               </div>
               <div id="sms_f" style="display:none">
                    <%= partial 'sms_form' %>
               </div>
         <% end %>        
        <% if @person.sms_alert.blank? %>
            <%= partial 'sms_form' %>
        <% end %>

        <% if @person.voice_alert.blank? %>
               <%= partial 'voice_form' %>
        <% end %>
                  
          <div class="save-cancel">
              <p>Charges may apply as per your agreement with the cellphone provider.</p>
              <%= submit "    Save    " %> Or <%= link_to "Cancel", url(:phone), :class => "cancel" %>
          </div>
    <% end =%>
</fieldset>

        
<script type= "text/javascript">       
        
    function voice()
      {
        var voice = document.getElementById('voice');
        var voice_edit = document.getElementById('alert');
        
        voice.style.display  =  "none";
        voice_edit.style.display   =  "block";
      }
  
      function sms()
      {
        var sms = document.getElementById('sms');
        var sms_edit = document.getElementById('sms_f');
        
        sms.style.display  =  "none";
        sms_edit.style.display   =  "block";
      }
  
</script>        
