<%= error_messages_for @person %>
<ul class='error_messages'>
    <% if flash[:error] %> 
		   <li><%= flash[:error] %></li>
    <% end %>
</ul>	 
<% @selected = "staff_profile" %>
<h2 class="current-page"> My Profile > Edit </h2>

<%= form_for :person, :action => url(:staff_account_update) do  %>

    <fieldset>     
        <ul>
             <li>
                <%= text_field  :first_name,  :label => "Name", :class => "short " %>
                <%= text_field  :last_name, :class => "short apart" %>
	           </li>
             <li><label>Email</label>  <%= email(@person.email) %> </li>
             <li>
                  <% if (@person.principal_email == true) %>
                      <input type="checkbox" name="principal_email" checked="true" />Display Email Address
                  <% else %>
                      <input type="checkbox" name="principal_email"  />Display Email Address
                  <% end %>
             </li>
             <li><%= text_field :phone,  :label => "Phone Number (optional)" %></li>
             <li><%= file_field :image,  :label => 
                                                    if @pic
                                                       "Upload a different Picture"
                                                    else
                                                        "Upload a Picture"
                                                    end
                                                %>
                     <% if @pic %>
                         <span class="picEdit">
	                          <%= file_image(@current_school.id, @pic.id, @pic.attachable_type) %>
	                       </span>
	                   <% end %>
              </li>
              <li><%= text_area :person_bio,  :label => "Your Bio" %></li>
        </ul>
            <div class="save-cancel">
                <%= submit "    Save    " %> Or <%= link_to "Cancel", resource(:users), :class => "cancel" %>
            </div>
    </fieldset>
     
<% end =%>
   
   
   
   

