<fieldset>
  
  <h2 class="current-page">Student Details </h2>
 
 <% if @students.empty? %>
    
      <% @registrations.each do |f| %>
      
           <ul>
               <li>Name: <%= f.name %></li>
               <li>Current Class: <%= f.current_class %></li>
               <li>Birth month & Year: <%= f.birth_date.strftime("%b, %Y") %></li>
           </ul>
             <br class="clear"/>
       <% end %>
      
 <% else %>
   
        <% @students.each do |f| %>

              <ul>
                  <li>Name: <%= f.name %></li>
                   <% @study = f.studies.find_by_student_id(f.id) %>
                  <li>Current Class: <%= @study.classroom.class_name %></li>
                  <li>Birth month & Year: <%= f.birth_date.strftime("%b, %Y") %></li>
              </ul>
                <br class="clear"/>
         <% end %>
         
 <% end %>
    
    <p class="subText">
        You can not edit the student information displayed on this page.<br/>
        Please contact the school administration if you need this to be updated.
    </p>
    
</fieldset>
