%div{:class => "fltlft", :style => "padding:20px"}
  %ul{:class => "error_messages"}
    - if flash[:error]
      %li
        = flash[:error]
  %h2{:class => "current-page"}
    Forgot Password
  = form_for :person, :action => url(:get_password), :name => "password"  do 
    %fieldset
      %p 
        Please enter the email address you use to login,
        %br
        You will receive an email with a link to reset your password.
        %br
      %ul
        %li
          = text_field :email,  :label => "E-Mail"
      %div{:class => "save-cancel"}
        = submit "   Send password link   "
        Or
        = link_to "Cancel", url(:login), :class => "cancel"
        
          
:javascript
  document.password.person_email.focus();









