%h2{:class => "current-page"}
  School Apps  > New Password
%ul{:class => "error_messages"}
  - if flash[:error]
    = flash[:error]
= form_for(:person, :action => url(:staff_password_save, :id => @person.password_reset_key) ) do
  %fieldset
    %ul
      %li
        = password_field :password,  :label => "Password"
      %li
        = password_field :password_confirmation,  :label => "Password Confirmation"
  %div{:class => "save-cancel"}
    = submit "    Save    "
