%div{:id => "register"}
  %h1 Please select a password
  %div{:class => "register-steps3"}
    %img{:src => "/images/register-step3.gif", :alt => "Step 3 of 3" }
  %ul{:class => "error_messages"}
    - if flash[:error]
      = flash[:error]
  - if flash[:error]
    %p{:class => "cancel"}
      Password should be at least Eight characters long
  - else
    %p{:class => "approved"}
      Password should be at least Eight characters long
  = form_for(@parent, :action => url(:password_save, :id => @parent.password_reset_key)) do
    %fieldset
      %ul
        %li
          = password_field :password,  :label => "Password"
        %li
          = password_field :password_confirmation,  :label => "Password Confirmation"
      %br
    %div{:class => "cancel"}  
      = submit "    Save    "
 