<% if params[:label] == "Classrooms" || params[:label] == "Subjects" %>

        <% if params[:id] %>
              <fieldset>
                     <ul id="link" class="edit-ext-links">
                          <% q = 1 %>
                         <% @external_links.each do |f| %>
                             <li>
                                 <%= text_field :name => "external_link[title][title_#{q}]", :id => "external_link_title_#{q}" ,
                                                :maxlength => "75", :value => "#{f.title}", :class=>"short text defaultText ext-link-name required"  %> 
                                 <%= text_field :name => "external_link[url][url_#{q}]", :id => "external_link_url_#{q}", :maxlength => "200", 
                                                :value => "#{f.url}", :class=>"long text apart defaultText ext-link-url required" %>
                                 <%= link_to "Delete", url(:delete_external_link, f.id), :class=>"delete delete-btn" %>
                             </li>
                             <% q += 1 %>
                         <% end %>
                     </ul>
                        <ul class="edit-ext-links" id="link"></ul>                                                                                          
                        <%= hidden_field :name => "label", :value => params[:label] %>

                        <input type="hidden" id="id" value="1">
                        <a href="" class="add-more-links" onClick="addFormField(); return false;">Add More</a>
                       <div class="save-cancel">
                           <input type = 'button' value = '    Preview    ' onclick="preview();return false;" />
                           <%= submit "    Publish    " %> Or <%= link_to "Cancel", resource(:external_links), :class=>"cancel" %>
                       </div>
              </fieldset>
        <% end %>
        
<% else %>

    <fieldset>
         <ul id="link" class="edit-ext-links">
              <% q = 1 %>
             <% @external_links.each do |f| %>
                 <li>
                     <%= text_field :name => "external_link[title][title_#{q}]", :id => "external_link_title_#{q}" ,
                                    :maxlength => "75", :value => "#{f.title}", :class=>"short text defaultText ext-link-name required"  %> 
                     <%= text_field :name => "external_link[url][url_#{q}]", :id => "external_link_url_#{q}", :maxlength => "200", 
                                    :value => "#{f.url}", :class=>"long text apart defaultText ext-link-url required" %>
                     <%= link_to "Delete", url(:delete_external_link, f.id), :class=>"delete delete-btn" %>
                 </li>
                 <% q += 1 %>
             <% end %>
         </ul>
            <ul class="edit-ext-links" id="link"></ul>                                                                                          
            <%= hidden_field :name => "label", :value => params[:label] %>

            <input type="hidden" id="id" value="1">
            <a href="" class="add-more-links" onClick="addFormField(); return false;">Add More</a>
           <div class="save-cancel">
               <input type = 'button' value = '    Preview    ' onclick="preview();return false;" />
               <%= submit "    Publish    " %> Or <%= link_to "Cancel", resource(:external_links), :class=>"cancel" %>
           </div>
    </fieldset>

<% end %>
