<h2 class="current-page"> <%= params[:label] %> &gt; Edit </h2>

  <% s = (0..13).to_a %>
 	<div class="container">
		<ol>
        <% s.each do |f| %>
  			  	<li><label for="title<%= f %>" class="error">please enter the Title</label></li> 
  			    <li><label for="url<%= f %>" class="error">please enter the Url</label></li>
  			    <li><label for="external_link_title_<%=f%>" class="error">please enter the Title</label></li>
        		<li><label for="external_link_url_<%=f%>" class="error">please enter the Url</label></li>
        <% end %>
    </ol>
	</div>


<%= form_for(@external_link, :action => url(:external_links_update, :id => @test), :id => 'links', :class => "cmxform") do %>

       
               <%= partial "class_links" %>
 
    
<% end =%>



 <script type="text/javascript" src='/javascripts/delete_confirmation.js'></script>

<script type= "text/javascript">

  function addFormField() 
 {
   var id = document.getElementById('id').value;
   $j('#link').append("<li id='row" + id + "'><input type='text' class='short text ext-link-name required' name='links[title][title_"+id+"]' id='title"+id+"'><input type='text' id='url"+id+"' name='links[url][url_"+id+"]' class='long apart text ext-link-url required'/><a href='#' class='delete-btn' onclick='removeFormField(\"#row"+id+"\");return false;'>Remove</a></li>");
   // $('txt'+id).focus();
   id = (id - 1) + 2;
   document.getElementById('id').value = id;
 }

  function removeFormField(id) 
  {
    $j(id).remove();
  }
 
  function preview()
 {
   var s = $('links').serialize();
   window.open('/external_links/preview/-/?' + s);
   
 }
  // Validation for Adding External Links

 	var container = $j('div.container');

 	// validate the form when it is submitted
 	var validator = $j("#links").validate({
 		errorContainer: container,
 		errorLabelContainer: $("ol", container),
 		wrapper: 'li',
 		meta: "validate"
 	});
 	

</script>


<style type="text/css">
 
 	.cmxform fieldset li.error label { color: red; }
	div.container {
		background-color: #eee;
		border: 1px solid red;
		margin: 5px;
		padding: 5px;
	}
	div.container ol li {
		list-style-type: disc;
		margin-left: 20px;
	}
	div.container { display: none }
	.container label.error {
		display: inline;
	}
 
	form.cmxform label.error {
		display: block;
		margin-left: 1em;
		width: auto;
	}
 
</style>



