<div class=" data-block long-block">
  <div class="external-links">
  <h2 class="current-page">External Links</h2>
  <div class="section">
      <h4>Home Page</h4>
      <% if @home_links.empty? %>
           <%= link_to "Home Page", resource(:external_links, :new, :label => 'Home Page') %>
      <% else %>
           <%= link_to "Home Page", url(:external_links_edit, :label => 'Home Page') %>
      <% end %>
  </div>
  <div class="section">
      <h4>Classrooms</h4>
      <% @classrooms.each do |f| %>
          <% @class_links = @current_school.external_links.find(:all, :conditions => ["label=? and classroom_id = ?", "Classrooms", f.id ] ) %>
          <% if @class_links.empty? %>
               <%= link_to "#{f.class_name}", resource(:external_links, :new, :label => 'Classrooms', :id => f.id ) %><br/><br/>
          <% else %>
               <%= link_to "#{f.class_name}", url(:external_links_edit, :label => 'Classrooms', :id => f.id ) %><br/><br/>
          <% end %>
      <% end %>
  </div>
  
     <!-- <% @sports_class = @current_school.classrooms.find(:first, :conditions => ['class_name = ? and activate =  ?', "Sports", true] ) %>
     <% unless @sports_class.nil? %>
            <div class="section">
              <% if  @sport_links.empty? %>
                <p><em>Sports Links</em> are not specified, <%= link_to "Add New", resource(:external_links, :new, :label => 'Sports') %></p>
              <% else %>
              <h4>Sports<%= link_to "Edit", url(:external_links_edit, :label => 'Sports'), :class=>"edit-btn" %></h4>
              <ul>
                <% for external_link in @sport_links %>
                  <li><%= link_to ("#{external_link.title}", "http://#{external_link.url}", {'target' => '_blank'}) %></li>
                <% end %> 
              </ul>
              <% end %>
            </div>
     <% end %> -->
   
   
      <!--<div class="section">
        <% if @event_links.empty? %> 
          <p><em>Event Links</em> are not specified, <%= link_to "Add New", resource(:external_links, :new, :label => 'Events') %></p>
        <% else %>
        <h4>Events<%= link_to "Edit", url(:external_links_edit, :label => 'Events'), :class=>"edit-btn" %></h4>
          <ul>
            <% for external_link in @event_links %>
              <li><%= link_to ("#{external_link.title}", "http://#{external_link.url}", {'target' => '_blank'}) %></li>
            <% end %>
        </ul>
        <% end %>
      </div>-->
  
</div>
      
  
    
