<div class=" data-block long-block">
  <div class="external-links">
  <h2 class="current-page">External Links</h2>
  <div class="section">
      <h4>Home Page</h4>
      <% if @home_links.empty? %>
           <%= link_to "Home Page", resource(:external_links, :new, :label => 'Home Page') %>
      <% else %>
           <%= link_to "Home Page", url(:external_links_edit, :label => 'Home Page') %>
      <% end %>
  </div>
  <div class="section">
      <h4>Classrooms</h4>
      <% @classrooms.each do |f| %>
          <% @class_links = @current_school.external_links.find(:all, :conditions => ["label=? and classroom_id = ?", "Classrooms", f.id ] ) %>
          <% if @class_links.empty? %>
               <%= link_to "#{f.class_name}", resource(:external_links, :new, :label => 'Classrooms', :id => f.id ) %><br/><br/>
          <% else %>
               <%= link_to "#{f.class_name}", url(:external_links_edit, :label => 'Classrooms', :id => f.id ) %><br/><br/>
          <% end %>
      <% end %>
  </div>
  
  <div class="section">
       <h4>Subjects</h4>
       <% @extracurricular.each do |f| %>
           <% @class_links = @current_school.external_links.find(:all, :conditions => ["label=? and classroom_id = ?", "Subjects", f.id ] ) %>
           <% if @class_links.empty? %>
                <%= link_to "#{f.class_name}", resource(:external_links, :new, :label => 'Subjects', :id => f.id ) %><br/><br/>
           <% else %>
                <%= link_to "#{f.class_name}", url(:external_links_edit, :label => 'Subjects', :id => f.id ) %><br/><br/>
           <% end %>
       <% end %>
  </div>
   
</div>
      
  
    
