<ul>
  <li><%= text_field :school_name,  :label => "School Name", :maxlength => "75" %></li>
  <li>&nbsp;</li>
  <li><h3>Contact Information for Parents</h3></li>
  <li>
      <%= text_field :phone,  :label => "Phone", :class=>"short text", :maxlength => "75" %>
      <span class="phone-hint">(e.g. 1239076897)</span>
  </li>
  <li><%= text_field :email,  :label => "E-mail", :maxlength => "75" %></li>
</ul>
<br />
<div class="save-cancel">
  <%= submit "Save" %> Or <%= link_to "Cancel", resource(:schools), :class => "cancel" %>
</div>
  
  
<script type= "text/javascript">

    document.school.school_school_name.focus();
 
</script>