<ul>
  <li><%= text_field :school_name,  :label => "School Name" %></li>
  <li><h4>Contact Information for parents</h4></li>
  <li><%= text_field :phone,  :label => "Phone" %></li>
  <li><%= text_field :email,  :label => "E-mail" %></li>
</ul>
<div class="save-cancel">
  <%= submit "Save" %> Or <%= link_to "Cancel", resource(:schools), :class => "cancel" %>
</div>