
   <% if @school.nil? %> 
       <div id = 'pagebody' class = 'column'>
           <div class = 'formcontent'>
               <h3>Basic Settings</h3> </br>
	       
	     "Basic Setting are not specified, <%= link_to "Add Now", url(:new_school) %>"  
	   </div>
       </div>
   <% else %>
	 <div id = 'pagebody' class = 'column'>
           <div class = 'formcontent'>
        
               <h3>Basic Settings</h3> </br>
	       <%= link_to "Edit", url(:edit_school, @school) %>
	      <table>
		 <tr> 
		    <th>School Name</th><td><%= @school.school_name %></td>
		</tr>
		
		<tr> <td> <h4>Contact Information For Parents </h4> </td></tr>
		
		<tr> 
		    <th>Phone</th><td><%= @school.phone %></td>
		</tr> 
		<tr> 
		    <th>E-Mail</th><td><%= @school.email %></td>
		</tr>
	     </table>
          </div>
        </div>
  <% end %>