<fieldset>
  <% if @current_school.nil? %>
  <h3>School Profile</h3>
	<p>"Basic Settings are not specified, <%= link_to "Add Now", resource(:schools, :new) %>"</p>
  <% else %>
  <h2 class="current-page">School Profile<%= link_to "Edit", resource(@current_school, :edit), :class=> "edit-btn" %></h2>
  <dl>
    <dt>School Name</dt>
    <dd><%= @current_school.school_name %></dd>
  </dl>
  <h5>Contact Information For Parents</h5>
  <dl>
    <dt>Address</dt>
    <dd><%= @current_school.address1 ? @current_school.address1 : "<span class='noText'>not specified</span>" %>
    <%= "<br/>#{@current_school.address2}" if @current_school.address2?  %>
    <%= "<br/>#{@current_school.city }" if @current_school.city?  %>
    <%= "<br/>#{@current_school.state }" if @current_school.state?   %><%= " - #{@current_school.zip_code }" if @current_school.zip_code?  %>
    </dd>
    <%= "<dt>Fax </dt><dd>#{number_to_phone(@current_school.fax, :area_code => true)}</dd>" if @current_school.fax?  %>
    <%= "<dt>Phone </dt><dd>#{number_to_phone(@current_school.phone, :area_code => true)}</dd>" if @current_school.phone?  %>
    <%= "<dt>E-Mail </dt><dd>#{email(@current_school.email)}</dd>" if @current_school.email?  %>
  </dl>

  <% end %>
</fieldset>
  <hr size="1"/>
