<fieldset>
  <% if @current_school.nil? %>
  <h3>School Profile</h3>
	<p>"Basic Settings are not specified, <%= link_to "Add Now", resource(:schools, :new) %>"</p>
  <% else %>
  <h2 class="current-page">School Profile<%= link_to "Edit", resource(@current_school, :edit), :class=> "edit-btn" %></h2>
  <dl>
    <dt>School Name</dt>
    <dd><%= @current_school.school_name %></dd>
  </dl>
  <h5>Contact Information For Parents</h5>
  <dl>
    <dt>Address 1 </dt>
    <dd><%= @current_school.address1 %></dd>
    <dt>City </dt>
    <dd><%= @current_school.city %></dd>
    <dt>State </dt>
    <dd><%= @current_school.state %></dd>
    <dt>Zip Code </dt>
    <dd><%= @current_school.zip_code %></dd>
    <dt>Fax </dt>
    <dd><%= number_to_phone(@current_school.fax, :area_code => true) %></dd>
    <dt>Phone</dt>
    <dd><%= @current_school.phone ? number_to_phone(@current_school.phone, :area_code => true)  : "<span class='noText'>not specified</span>"%></dd>
    <dt>E-Mail</dt>
    <dd><%= @current_school.email ? email(@current_school.email)  : "<span class='noText'>not specified</span>"%></dd>
  </dl>

  <% end %>
</fieldset>
  <hr size="1"/>
