<fieldset>
  <% if @current_school.nil? %>
  <h3>School Profile</h3>
	<p>"Basic Settings are not specified, <%= link_to "Add Now", resource(:schools, :new) %>"</p>
  <% else %>
  <h2 class="current-page">School Profile<%= link_to "Edit", resource(@current_school, :edit), :class=> "edit-btn" %></h2>
  <dl>
    <dt>School Name</dt>
    <dd><%= @current_school.school_name %></dd>
  </dl>
  <h5>Contact Information For Parents</h5>
  <dl>
     <dt>Address</dt>
     <dd><%= @current_school.address ? san_content(@current_school.address) : "<span class='noText'>not specified</span>"%></dd>
    <dt>Phone</dt>
    <dd><%= @current_school.phone ? number_to_phone(@current_school.phone, :area_code => true)  : "<span class='noText'>not specified</span>"%></dd>
    <dt>E-Mail</dt>
    <dd><%= @current_school.email ? @current_school.email  : "<span class='noText'>not specified</span>"%></dd>
  </dl>
  <% end %>
</fieldset>
