<fieldset>
  <% if @school.nil? %>
  <h3>School Profile</h3>
	<p>"Basic Settings are not specified, <%= link_to "Add Now", resource(:schools, :new) %>"</p>
  <% else %>
  <h2 class="current-page">School Profile<%= link_to "Edit", resource(@school, :edit), :class=> "edit-btn" %></h2>
  <dl>
    <dt>School Name</dt>
    <dd><%= @school.school_name %></dd>
  </dl>
  <h5>Contact Information For Parents</h5>
  <dl>
     <dt>Address</dt>
     <dd><%= @school.address %></dd>
    <dt>Phone</dt>
  <dd><%= number_to_phone(@school.phone, :area_code => true) %></dd>
    <dt>E-Mail</dt>
    <dd><%= @school.email %></dd>
  </dl>
  <% end %>
</fieldset>
