<fieldset>
<%= error_messages_for @student %>
<h2 class="current-page">Students &gt; <span class="add-link">Edit</span></h2>
    <%= form_for(@student, :action => resource(@student), :id => 'student') do %>

	<ul><li><label>Student for:</label> <select name = "classroom_id" id="classroom_person",>
	                       <% @class_rooms.each do |s| %>
		                      <option value="<%= s.id %>">
			                   <%= s.class_name %>
		                      </option>
			        <% end %></li>
	          
	      
              <li>
                  <%= text_field  :first_name,:class=>"short",  :label => "Student" %>
                  <%= text_field  :last_name, :class=>"short apart"  %>
	      </li>
	     	      
	      
	     <% for parent in @student.parents %>
	         
	      <li>     
                      <%= text_field  :name => 'parent[first_name][]', :class=>"short", :label => "Parents/Guardian", :value => "#{parent.first_name}" %>
		      <%= text_field  :name => 'parent[last_name][]', :class=>"short apart", :value => "#{parent.last_name}" %></li>
		   <li>
		   
	              <%= text_field :name => 'parent[email][]', :label => "Email", :value => "#{parent.email}" %></li>
	           
	
	      <% end %>
	      
	        <% if flash[:error1] %> 
		    <%= flash[:error1] %>
		<% end %>
	       		
	        
		  <% s = @student.parents.find(:first) %>
		<li>     
		 
	            <%= text_field :name => 'parent[phone][]', :label => "Phone", :value => "#{s.phone}" %></li>
	         <li>
		 
	            <%= text_field :name => 'parent[address][]', :label => "Address", :value => "#{s.address}" %></li>
	         
	         
<div class="save-cancel">		 
	        
		    <input type = 'button' value = 'Preview' onclick="preview();return false;" />
	             <%= submit "Publish" %></br>  <%= link_to "Cancel", resource(:students) %>
	         
</div>
	      
    <% end =%>
</fieldset>

<script type= "text/javascript">
  
 function preview()
 {
   var s = $('student').serialize();
   window.open('/students/preview/-/?' + s);
 }

</script>
