
<%= error_messages_for @student %>

<ul class='error_messages'>

     <% if flash[:error2] %> 
		    <li><%= flash[:error2] %></li>
     <% end %>
     <% if flash[:error3] %> 
		    <li><%= flash[:error3] %></li>
     <% end %>
     <% if flash[:error4] %> 
		    <li><%= flash[:error4] %></li>
     <% end %>
</ul>
<h2 class="current-page">Students &gt; <span class="add-link">Edit</span></h2>
<fieldset>
<%= form_for(@student, :action => resource(@student), :id => 'student', :name => "studs", :onsubmit => "MPClearAll()") do %>

	        
                 <% @student_class.each do |l| %>
                   <ul>
	                   <li>
                         <label>Student for:</label>
                         <%= select :name => "classroom_id", :id => "classroom_person", 
                                    :collection => @class_rooms.collect{|x| x.class_name.titleize},
                                    :selected => "#{l.classroom.class_name.titleize}", 
                                    :value_method => :id, :text_method => :name %>
                     </li> 
                   </ul>
                  <% end %>
                     <ul>
	                   <li>
                         <%= text_field  :first_name, :maxlength => "75", :class=>"short",  :label => "Student" %>
                         <%= text_field  :last_name, :maxlength => "75", :class=>"short apart"  %>
	                   </li>
                     <li>
                       <%= text_field  :birth_date, :id => "birth_date", :label => "Birth Date", :class => "short date" %>
                     </li>
                   </ul>
                  <% for parent in @student.protectors %>
	                    <ul>
		                    <li>     
                               <%= text_field  :name => 'parent[first_name][]', :maxlength => "75", :class=>"short", 
                                               :label => "Parents/Guardian", :value => "#{parent.first_name}" %>
		                       <%= text_field  :name => 'parent[last_name][]', :maxlength => "75", :class=>"short apart", 
		                                       :value => "#{parent.last_name}" %>
                           </li>
		                   <li>
                             <%= text_field :name => 'parent[email][]', :maxlength => "75", :label => "Email", :value => "#{parent.email}" %>
                           </li>
                        </ul>
	                <% end %>
              <% if @sp.length == 1 %>
                      <% if ((@fname2 != nil || @lname2 != nil ) || (@email2 != nil) ) %>  
                              <div id="parent2" style="display:block">
                                <ul> 
	                               <li>
                                      <%= text_field  :name => 'f_name_parent2', :id => "f_parent2", :maxlength => "75", 
                                                      :class => "short", :label => "Parents/Guardian", :value => "#{@fname2}" %>
                                      <%= text_field  :name => 'l_name_parent2', :id => "l_parent2", :maxlength => "75", 
                                                      :class => "short apart", :value => "#{@lname2}" %>
                                  </li> 
                                  <li>
                                    <%= text_field  :name => 'email_parent2',  :maxlength => "75", :label => "E-Mail", :value => "#{@email2}" %> 
                                  </li> 
                                </ul>
                              </div>  
                              <% if( ( (@fname2 != "") && (@lname2 != "") ) && (@email2 != "") )   %>
                                    <% if ( ( (@fname3 != "") || (@lname3 != "" ) ) || (@email3 != "") ) %>
                                         <div id="am2" style="display:none">
	                                           <a class="add-more add-more-block" onclick="add_parent2();return false;" href="#">Add More</a>
	                                       </div>
                                         <div id="am3" style="display:none">
	                                           <a class="add-more add-more-block"  onclick="add_parent3();return false;" href="#">Add More</a>
	                                       </div>
                                     <% end %>
                              <% else %>
                                    <div id="am2" style="display:none">
	                                      <a class="add-more add-more-block"  onclick="add_parent2();return false;" href="#">Add More</a>
	                                  </div>
                                    <div id="am3" style="display:block">
	                                      <a class="add-more add-more-block" onclick="add_parent3();return false;" href="#">Add More</a>
	                                  </div>
                              <% end %>
                      <% else %>
                            <div id="parent2" style="display:none">
                               <ul>  
	                             <li>
                                     <%= text_field  :name => 'f_name_parent2', :id => "f_parent2", :maxlength => "75", 
                                                     :class => "short defaultText defaultTextActive", :label => "Parents/Guardian",  
                                                     :value => "First Name", :onfocus => "MPClearField(this)", 
                                                     :onblur => "clickrecall(this,'First Name')" %>
                                     <%= text_field  :name => 'l_name_parent2', :id => "l_parent2", :maxlength => "75", 
                                                     :class => "short apart defaultText defaultTextActive",  :value => "Last Name", 
                                                     :onfocus => "MPClearField(this)", :onblur => "clickrecall(this,'Last Name')" %>
                                 </li> 
                                 <li>
                                     <%= text_field  :name => 'email_parent2',  :maxlength => "75", :label => "E-Mail" %> 
                                 </li>
                             </ul>
                             </div> 
                             <div id="am2" style="display:block">
	                               <a onclick="add_parent2();return false;" href="#">Add More</a>
	                           </div>
                      <% end %>
             <% end %>
             <% if @sp.length == 2 %>
                   <% unless ((@fname3 != nil || @lname3 != nil ) || (@email3 != nil) ) %>
                        <div id="am3" style="display:block">
	                           <a onclick="add_parent3();return false;" href="#">Add More</a>
	                      </div>
                   <% end %>
             <% end %>
                      <div id="am3" style="display:none">
                         <a onclick="add_parent3();return false;" href="#">Add More</a>
	                    </div>
                      <% if ((@fname3 != nil || @lname3 != nil ) || (@email3 != nil) ) %>
                              <div id="parent3" style="display:block">
                                  <ul>   
        	                        <li>
                                     <%= text_field  :name => 'f_name_parent3', :id => "f_parent3", :maxlength => "75", 
                                                     :class => "short", :label => "Parents/Guardian", 
                                                     :value => "#{@fname3}", :title => "First Name" %>
                                     <%= text_field  :name => 'l_name_parent3', :id => "l_parent3",  :maxlength => "75",
                                                     :class => "short apart", :value => "#{@lname3}", :title => "Last Name" %>
                                     </li> 
                                     <li>
                                         <%= text_field  :name => 'email_parent3',  :maxlength => "75", :label => "E-Mail", 
                                                     :value => "#{@email3}" %> 
                                     </li> 
                                   </ul>
                                 </div>
                                <% if( ( (@fname3 != "") && (@lname3 != "") ) && (@email3 != "") )   %>
                                      <% if ( ( (@fname4 != "") || (@lname4 != "" ) ) || (@email4 != "") ) %>
                                           <div id="am3" style="display:none">
	                                              <a onclick="add_parent3();return false;" href="#">Add More</a>
	                                         </div>
                                           <div id="am4" style="display:none">
	                                              <a onclick="add_parent4();return false;" href="#">Add More</a>
	                                         </div>
                                      <% end %>
                                <% else %>
                                      <div id="am3" style="display:none">
	                                        <a onclick="add_parent3();return false;" href="#">Add More</a>
	                                    </div>
                                      <div id="am4" style="display:block">
	                                         <a onclick="add_parent4();return false;" href="#">Add More</a>
	                                    </div>
                                <% end %>
                      <% else %>
                            <div id="parent3" style="display:none">
                             <ul>
	                          <li> 
                              <%= text_field  :name => 'f_name_parent3', :id => "f_parent3",  :maxlength => "75",
                                              :class => "short defaultText defaultTextActive", :label => "Parents/Guardian", 
                                              :value => "First Name", :onfocus => "MPClearField(this)", 
                                              :onblur => "clickrecall(this,'First Name')" %>
                              <%= text_field  :name => 'l_name_parent3', :id => "l_parent3",  :maxlength => "75", 
                                              :class => "short apart defaultText defaultTextActive", :value => "Last Name", 
                                              :onfocus => "MPClearField(this)", :onblur => "clickrecall(this,'Last Name')"  %>
                                 </li> 
                                 <li>
                                     <%= text_field  :name => 'email_parent3',  :maxlength => "75", :label => "E-Mail" %> 
                                 </li> </ul>
                              </div>
                              <div id="am2" style="display:none">
	                                 <a onclick="add_parent2();return false;" href="#">Add More</a>
	                             </div>
                               <div id="am3" style="display:none">
	                                 <a onclick="add_parent3();return false;" href="#">Add More</a>
	                             </div>
                       <% end %>
             <% if @sp.length == 3 %>
                    <% unless ( ( (@fname4 != nil) || (@lname4 != nil) ) || (@email4 != nil) ) %>
                         <div id="am4" style="display:block">
	                            <a onclick="add_parent4();return false;" href="#">Add More</a>
	                       </div>
                    <% end %>
             <% end %>
                       <div id="am4" style="display:none">
	                           <a onclick="add_parent4();return false;" href="#">Add More</a>
	                     </div>
                       <% if ( ( (@fname4 != nil) || (@lname4 != nil) ) || (@email4 != nil) ) %>
                              <div id="parent4" style="display:block">
                                  <ul>
	                                 <li>
                                   <%= text_field  :name => "f_name_parent4", :id => "f_parent4", :maxlength => "75", 
                                                   :class => "short", :label => "Parents/Guardian", :value => "#{@fname4}" %>
                                   <%= text_field  :name => "l_name_parent4", :id => "l_parent4", :maxlength => "75", 
                                                   :class => "short apart", :value => "#{@lname4}" %>
                                   </li>
                                   <li>
                                       <%= text_field  :name => "email_parent4",  :maxlength => "75", :label => "E-Mail", 
                                                       :value => "#{@email4}" %> 
                                   </li> 
                                 </ul>
                              </div>
                       <% else %>
                              <div id="parent4" style="display:none">
                                <ul>
	                             <li>
                                   <%= text_field  :name => "f_name_parent4", :id => "f_parent4", :maxlength => "75", 
                                                   :class => "short defaultText defaultTextActive", :label => "Parents/Guardian", 
                                                   :value => "First Name", :onfocus => "MPClearField(this)", 
                                                   :onblur => "clickrecall(this,'First Name')"  %>
                                   <%= text_field  :name => "l_name_parent4", :id => "l_parent4", :maxlength => "75", 
                                                   :class => "short apart defaultText defaultTextActive", :value => "Last Name", 
                                                   :onfocus => "MPClearField(this)", :onblur => "clickrecall(this,'Last Name')" %>
                                   </li>
                                   <li>
                                       <%= text_field  :name => "email_parent4",  :maxlength => "75", :label => "E-Mail" %> 
                                   </li> 
                               </ul>
                              </div>
                       <% end %>
                            <ul>
                                <li><%= text_field :phone, :label => "Phone" %></li>
                               	<li><%= text_field  :address1,  :label => "Address 1", :maxlength => "75" %></li>
							    <li><%= text_field  :address2,  :label => "Address 2", :maxlength => "75" %></li>
							    <li><%= text_field  :city,  :label => "City", :maxlength => "75" %></li>
							    <li><%= text_field  :state,  :label => "State", :maxlength => "75" %></li>
							    <li><%= text_field  :zip_code,  :label => "Zip Code", :maxlength => "75" %></li>
                            </ul>
                           <div class="save-cancel">		 
                               <input type = 'button' value = '    Preview    ' onclick="edit_preview();return false;" />
	                             <%= submit "    Publish    " %>  Or <%= link_to "Cancel", resource(:students), :class => "cancel" %>
	                         </div>
	         
    <% end =%>
    
</fieldset>

<script type="text/javascript" src='/javascripts/st.js'></script>


