
<%= error_messages_for @student %>
<fieldset>

<ul class='error_messages'>
     <% if flash[:error2] %> 
		    <li><%= flash[:error2] %></li>
     <% end %>
     <% if flash[:error3] %> 
		    <li><%= flash[:error3] %></li>
     <% end %>
     <% if flash[:error4] %> 
		    <li><%= flash[:error4] %></li>
     <% end %>
</ul>	       		

<h2 class="current-page">Students &gt; <span class="add-link">Edit</span></h2>
<fieldset>
<%= form_for(@student, :action => resource(@student), :id => 'student', :name => "studs", :onsubmit => "ClearAll()") do %>

	        <ul>
              <li><label>Student for:</label> <select name = "classroom_id" id="classroom_person",>
	                       <% @class_rooms.each do |s| %>
		                        <option value="<%= s.id %>">
			                         <%= s.class_name %>
		                        </option>
			                   <% end %>
              </li>
	            <li>
                  <%= text_field  :first_name,:class=>"short",  :label => "Student" %>
                  <%= text_field  :last_name, :class=>"short apart"  %>
	            </li>
              <li>
                  <%= text_field  :birth_date, :id => "birth_date", :label => "Birth Date", :class => "short" %>
              </li>
              
	         <% for parent in @student.parents %>
	              <li>     
                    <%= text_field  :name => 'parent[first_name][]', :class=>"short", :label => "Parents/Guardian", :value => "#{parent.first_name}" %>
		                <%= text_field  :name => 'parent[last_name][]', :class=>"short apart", :value => "#{parent.last_name}" %>
                </li>
		            <li>
                    <%= text_field :name => 'parent[email][]', :label => "Email", :value => "#{parent.email}" %>
                </li>
	         <% end %>
           
           <% if @sp.length == 1 %>
                 <% if ((@fname2 != nil || @lname2 != nil ) || (@email2 != nil) ) %>  
                       <div id="parent2" style="display:block">
                           <li>
                               <%= text_field  :name => 'f_name_parent2', :id => "f_parent2", :class => "short", :label => "Parents/Guardian", :value => "#{@fname2}" %>
                               <%= text_field  :name => 'l_name_parent2', :id => "l_parent2", :class => "short apart", :value => "#{@lname2}" %>
                           </li> 
                           <li>
                               <%= text_field  :name => 'email_parent2',  :label => "E-Mail", :value => "#{@email2}" %> 
                           </li>
                       </div>  
                       <% if( ( (@fname2 != "") && (@lname2 != "") ) && (@email2 != "") )   %>
                             <% if ( ( (@fname3 != "") || (@lname3 != "" ) ) || (@email3 != "") ) %>
                                  <div id="am2" style="display:none">
	                                    <a onclick="add_parent2();return false;" href="#">Add More</a>
	                                </div>
                                  <div id="am3" style="display:none">
	                                    <a onclick="add_parent3();return false;" href="#">Add More</a>
	                                </div>
                              <% end %>
                       <% else %>
                             <div id="am2" style="display:none">
	                               <a onclick="add_parent2();return false;" href="#">Add More</a>
	                           </div>
                             <div id="am3" style="display:block">
	                               <a onclick="add_parent3();return false;" href="#">Add More</a>
	                           </div>
                       <% end %>
                  <% else %>
                       <div id="parent2" style="display:none">
                            <li>
                            <%= text_field  :name => 'f_name_parent2', :id => "f_parent2", :class => "short defaultText", :label => "Parents/Guardian", :title => "First Name" %>
                            <%= text_field  :name => 'l_name_parent2', :id => "l_parent2", :class => "short apart defaultText", :title => "Last Name" %>
                            </li> 
                            <li>
                                <%= text_field  :name => 'email_parent2',  :label => "E-Mail" %> 
                            </li>
                        </div> 
                        <div id="am2" style="display:block">
	                          <a onclick="add_parent2();return false;" href="#">Add More</a>
	                      </div>
                  <% end %>
           <% end %>
           <% if @sp.length == 2 %>
                 <% unless ((@fname3 != nil || @lname3 != nil ) || (@email3 != nil) ) %>
                      <div id="am3" style="display:block">
	                         <a onclick="add_parent3();return false;" href="#">Add More</a>
	                    </div>
                 <% end %>
           <% end %>
                   <div id="am3" style="display:none">
                      <a onclick="add_parent3();return false;" href="#">Add More</a>
	                 </div>
                 <% if ((@fname3 != nil || @lname3 != nil ) || (@email3 != nil) ) %>
                      <div id="parent3" style="display:block">
                          <li>
                              <%= text_field  :name => 'f_name_parent3', :id => "f_parent3", :class => "short", :label => "Parents/Guardian", :value => "#{@fname3}" %>
                              <%= text_field  :name => 'l_name_parent3', :id => "l_parent3", :class => "short apart", :value => "#{@lname3}" %>
                          </li> 
                          <li>
                              <%= text_field  :name => 'email_parent3',  :label => "E-Mail", :value => "#{@email3}" %> 
                          </li>
                      </div>
                         <% if( ( (@fname3 != "") && (@lname3 != "") ) && (@email3 != "") )   %>
                               <% if ( ( (@fname4 != "") || (@lname4 != "" ) ) || (@email4 != "") ) %>
                                    <div id="am3" style="display:none">
	                                       <a onclick="add_parent3();return false;" href="#">Add More</a>
	                                  </div>
                                    <div id="am4" style="display:none">
	                                       <a onclick="add_parent4();return false;" href="#">Add More</a>
	                                  </div>
                               <% end %>
                        <% else %>
                               <div id="am3" style="display:none">
	                                 <a onclick="add_parent3();return false;" href="#">Add More</a>
	                             </div>
                               <div id="am4" style="display:block">
	                                  <a onclick="add_parent4();return false;" href="#">Add More</a>
	                             </div>
                        <% end %>
                 <% else %>
                       <div id="parent3" style="display:none">
                          <li>
                          <%= text_field  :name => 'f_name_parent3', :id => "f_parent3", :class => "short defaultText", :title => "First Name", :label => "Parents/Guardian" %>
                          <%= text_field  :name => 'l_name_parent3',  :id => "l_parent3", :class => "short apart defaultText", :title => "Last Name" %>
                          </li> 
                          <li>
                              <%= text_field  :name => 'email_parent3',  :label => "E-Mail" %> 
                          </li>
                       </div>
                       <div id="am2" style="display:none">
	                          <a onclick="add_parent2();return false;" href="#">Add More</a>
	                      </div>
                        <div id="am3" style="display:none">
	                          <a onclick="add_parent3();return false;" href="#">Add More</a>
	                      </div>
                 <% end %>
                 <% if @sp.length == 3 %>
                        <% unless ( ( (@fname4 != nil) || (@lname4 != nil) ) || (@email4 != nil) ) %>
                             <div id="am4" style="display:block">
	                                <a onclick="add_parent4();return false;" href="#">Add More</a>
	                           </div>
                        <% end %>
                 <% end %>
                 
                        <div id="am4" style="display:none">
	                           <a onclick="add_parent4();return false;" href="#">Add More</a>
	                      </div>
                 <% if ( ( (@fname4 != nil) || (@lname4 != nil) ) || (@email4 != nil) ) %>
                        <div id="parent4" style="display:block">
                             <li>
                             <%= text_field  :name => "f_name_parent4", :id => "f_parent4", :class => "short", :label => "Parents/Guardian", :value => "#{@fname4}" %>
                             <%= text_field  :name => "l_name_parent4", :id => "l_parent4", :class => "short apart", :value => "#{@lname4}" %>
                             </li>
                             <li>
                                 <%= text_field  :name => "email_parent4",  :label => "E-Mail", :value => "#{@email4}" %> 
                             </li>
                        </div>
               <% else %>
                        <div id="parent4" style="display:none">
                             <li>
                             <%= text_field  :name => "f_name_parent4", :id => "f_parent4", :class => "short defaultText", :title => "First Name", :label => "Parents/Guardian" %>
                             <%= text_field  :name => "l_name_parent4", :id => "l_parent4", :class => "short apart defaultText", :title => "Last Name" %>
                             </li>
                             <li>
                                 <%= text_field  :name => "email_parent4",  :label => "E-Mail" %> 
                             </li>
                        </div>
               <% end %>
           
           
               <li><%= text_field :phone, :label => "Phone" %></li>
               <li><%= text_field :address, :label => "Address" %></li>
	    
        <div class="save-cancel">		 
	          <input type = 'button' value = 'Preview' onclick="preview();return false;" />
	          <%= submit "Publish" %></br>  <%= link_to "Cancel", resource(:students) %>
	      </div>
	      
    <% end =%>
    
</fieldset>

<script type= "text/javascript">

   var parent2_obj = document.getElementById('parent2');
   var parent3_obj = document.getElementById('parent3');
   var parent4_obj = document.getElementById('parent4');
   var am2_obj     = document.getElementById('am2');
   var am3_obj     = document.getElementById('am3');
   var am4_obj     = document.getElementById('am4');
 
 function add_parent2()
   {
     parent2_obj.style.display  =  "block";
     am2_obj.style.display      =  "none";
     am3_obj.style.display      =  "block";
   }
 function add_parent3()
   {
      parent3_obj.style.display  =  "block";
      am3_obj.style.display      =  "none";
      am4_obj.style.display      =  "block"; 
    }
 function add_parent4()
   {
      parent4_obj.style.display  =  "block";
      am4_obj.style.display      =  "none";
     
    }
    
 function preview()
 {
   var s = $('student').serialize();
   window.open('/students/preview/-/?' + s);
 }
 
  $j(document).ready(function()
{
    $j(".defaultText").focus(function(srcc)
    {
        if ($j(this).val() == $j(this)[0].title)
        {
            $j(this).removeClass("defaultTextActive");
            $j(this).val("");
        }
    });
    
    $j(".defaultText").blur(function()
    {
        if ($j(this).val() == "")
        {
            $j(this).addClass("defaultTextActive");
            $j(this).val($j(this)[0].title);
        }
    });
    
    $j(".defaultText").blur();        
});

 function ClearAll()
 {
   var f_parent2 = document.getElementById('f_parent2')
   var l_parent2 = document.getElementById('l_parent2')
   
   var f_parent3 = document.getElementById('f_parent3')
   var l_parent3 = document.getElementById('l_parent3')
   
   var f_parent4 = document.getElementById('f_parent4')
   var l_parent4 = document.getElementById('l_parent4')
   
    if ( f_parent2.value == f_parent2.title )
    {
        f_parent2.value = ""
     }
      if (l_parent2.value == l_parent2.title )
    {
        l_parent2.value = ""
     }
   
    if (f_parent3.value == f_parent3.title) 
   {
      f_parent3.value = ""
    }
     if (l_parent3.value == l_parent3.title) 
   {
      l_parent3.value = ""
    }
     if (f_parent4.value == f_parent4.title) 
   {
      f_parent4.value = ""
    }
     if (l_parent4.value == l_parent4.title) 
   {
      l_parent4.value = ""
    }
 }
 $j("#birth_date").datepicker();
 
 
</script>
