<h2 class="current-page">Students&nbsp;&nbsp;&nbsp;<span class="add-link"><%= link_to "Add New", resource(:students, :new) %></span></h2>
<% unless @students.empty? %>
  <table id="mytable">
    <thead>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Contact Number</th>
      <th>Address</th>
    </thead>
    <tbody>
      <% for student in @students %>
        <tr>
          <td><%= link_to "#{student.last_name}", resource(student, :edit) %> </td>
          <td><%= student.first_name %></td>
          <td><%= number_to_phone(student.phone, :area_code => true) %></td>
          <td><%= student.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>
<%= will_paginate (@students, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
