
<%= error_messages_for @student %>
<hr />
<%= error_messages_for @parent %>
   <ul class='error_messages'>
       <% if flash[:error3] %>
          <li><%= flash[:error3] %></li>
       <% end %>
       <% if flash[:error] %>
          <li><%= flash[:error] %> </li>
       <% end %>
       <% if flash[:error4] %>
          <li><%= flash[:error4] %> </li>
       <% end %>
       </ul>
<h2 class="current-page">Students &gt; <span class="add-link">Add New</span></h2>

<fieldset> 
    <%= form_for(@student, :action => resource(:students), :id => 'student') do %>
   
     <ul>
         <li>
	          Student for: <select name = "classroom_id" id="classroom_person",>
	                       <% @class_rooms.each do |s| %>
		                      <option value="<%= s.id %>">
			                   <%= s.class_name %>
		                      </option>
			        <% end %>
	       </li>
	  
         <li>
              <%= text_field  :first_name,  :label => "Student", :class => "short " %>
              <%= text_field  :last_name, :class => "short apart" %>
	       </li>
         
	   <% fields_for :parent do %>  
	       <li>
             <%= text_field  :first_name, :class => "short", :label => "Parents/Guardian" %>
             <%= text_field  :last_name, :class => "short apart" %>
	       </li>
	       <li> <%= text_field :email, :label => "Email" %> </li>
         
        <% if ( ( (@fname2 != nil) || (@lname2 != nil) ) || (@mail2 != nil) ) %>
         
              <div id="parent2" style="visibility:visible">
                  <li>
                      <%= text_field  :name => "f_name_parent2", :class => "short", :label => "Parents/Guardian", :value => "#{@fname2}" %>
                      <%= text_field  :name => "l_name_parent2", :class => "short apart", :value => "#{@lname2}" %>
                  </li> 
                  <li>
                      <%= text_field  :name => "email_parent2",  :label => "E-Mail", :value => "#{@mail2}" %> 
                  </li>
               </div>
           
                <% if( ( (@fname2 != "") && (@lname2 != "") ) && (@mail2 != "") )   %>
                      <% if ( ( (@fname3 != "") || (@lname3 != "" ) ) || (@mail3 != "") ) %>
                           <div id="am2" style="visibility:hidden">
	                            <a onclick="add_parent2();return false;" href="#">Add More</a>
	                         </div>
                           <div id="am3" style="visibility:hidden">
	                            <a onclick="add_parent3();return false;" href="#">Add More</a>
	                         </div>
                       <% end %>
               <% else %>
                    <div id="am2" style="visibility:hidden">
	                      <a onclick="add_parent2();return false;" href="#">Add More</a>
	                  </div>
                    <div id="am3" style="visibility:visible">
	                      <a onclick="add_parent3();return false;" href="#">Add More</a>
	                  </div>
                <% end %>
                
         <% else %>
         
               <div id="parent2" style="visibility:hidden">
                   <li>
                        <%= text_field  :name => "f_name_parent2", :class => "short", :label => "Parents/Guardian" %>
                        <%= text_field  :name => "l_name_parent2", :class => "short apart" %>
                   </li>
                   <li>
                        <%= text_field  :name => "email_parent2",  :label => "E-Mail" %> 
                   </li>
               </div>
               <div id="am2" style="visibility:visible">
	                 <a onclick="add_parent2();return false;" href="#">Add More</a>
	             </div>
           
         <% end %>
         
               <div id="am3" style="visibility:hidden">
	                <a onclick="add_parent3();return false;" href="#">Add More</a>
	             </div>
             
         <% if ( ( (@fname3 != nil) || ( @lname3 != nil ) ) || (@mail3 != nil) ) %>
         
                <div id="parent3" style="visibility:visible">
                     <li>
                         <%= text_field  :name => "f_name_parent3", :class => "short", :label => "Parents/Guardian", :value => "#{@fname3}" %>
                         <%= text_field  :name => "l_name_parent3", :class => "short apart", :value => "#{@lname3}" %>
                     </li>
                     <li>
                         <%= text_field  :name => "email_parent3",  :label => "E-Mail", :value => "#{@mail3}" %> 
                     </li>
                </div>
                  <% if( ( (@fname3 != "") && (@lname3 != "") ) && (@mail3 != "") )   %>
                         <% if ( ( (@fname4 != "") || (@lname4 != "" ) ) || (@mail4 != "") ) %>
                             <div id="am3" style="visibility:hidden">
	                               <a onclick="add_parent3();return false;" href="#">Add More</a>
	                           </div>
                             <div id="am4" style="visibility:hidden">
	                               <a onclick="add_parent4();return false;" href="#">Add More</a>
	                           </div>
                         <% end %>
                  <% else %>
                        <div id="am3" style="visibility:hidden">
	                          <a onclick="add_parent3();return false;" href="#">Add More</a>
	                      </div>
                        <div id="am4" style="visibility:visible">
	                          <a onclick="add_parent4();return false;" href="#">Add More</a>
	                      </div>
                  <% end %>
         <% else %>
             <div id="parent3" style="visibility:hidden">
                  <li>
                      <%= text_field  :name => "f_name_parent3", :class => "short", :label => "Parents/Guardian" %>
                      <%= text_field  :name => "l_name_parent3", :class => "short apart" %>
                  </li>
                  <li>
                      <%= text_field  :name => "email_parent3",  :label => "E-Mail" %> 
                  </li>
              </div>
              
         <% end %>
          <div id="am4" style="visibility:hidden">
	            <a onclick="add_parent4();return false;" href="#">Add More</a>
	        </div>
         <% if ( ( (@fname4 != nil) || (@lname4 != nil) ) || (@mail4 != nil) ) %>
         
             <div id="parent4" style="visibility:visible">
                  <li>
                      <%= text_field  :name => "f_name_parent4", :class => "short", :label => "Parents/Guardian", :value => "#{@fname4}" %>
                      <%= text_field  :name => "l_name_parent4", :class => "short apart", :value => "#{@lname4}" %>
                  </li>
                  <li>
                      <%= text_field  :name => "email_parent4",  :label => "E-Mail", :value => "#{@mail4}" %> 
                  </li>
              </div>
             
             
         <% else %>
             <div id="parent4" style="visibility:hidden">
                  <li>
                      <%= text_field  :name => "f_name_parent4", :class => "short", :label => "Parents/Guardian" %>
                      <%= text_field  :name => "l_name_parent4", :class => "short apart" %>
                  </li>
                  <li>
                      <%= text_field  :name => "email_parent4",  :label => "E-Mail" %> 
                  </li>
              </div>
             
         <% end %>
             
	       <li> <%= text_field  :phone,  :label => "Phone" %>	</li>
	       <li> <%= text_field  :address,  :label => "Address" %> </li>
        
            
	   <% end %>        
	       <li>
	          <input type = 'button' value = 'Preview' onclick="preview();return false;" />
	          <%= submit "Publish" %></br>  <%= link_to "Cancel", resource(:students) %>
	       </li>
	  
      </ul>
    
   <% end =%>
</fieldset>
 
<script type= "text/javascript">

   var parent2_obj = document.getElementById('parent2');
   var parent3_obj = document.getElementById('parent3');
   var parent4_obj = document.getElementById('parent4');
   var am2_obj     = document.getElementById('am2');
   var am3_obj     = document.getElementById('am3');
   var am4_obj     = document.getElementById('am4');
 
 function add_parent2()
   {
      parent2_obj.style.visibility  =  "visible";
      am2_obj.style.visibility      =  "hidden";
      am3_obj.style.visibility      =  "visible";
   }
 function add_parent3()
   {
      parent3_obj.style.visibility  =  "visible";
      am3_obj.style.visibility      =  "hidden";
      am4_obj.style.visibility      =  "visible"; 
    }
 function add_parent4()
   {
      parent4_obj.style.visibility  =  "visible";
      am4_obj.style.visibility      =  "hidden";
     
    }
 function preview()
 {
   var s = $('student').serialize();
   window.open('/students/preview/-/?' + s);
 }


</script>
   
