<h2 class="current-page">Students &gt; <span class="add-link">Add New</span></h2>
  
  <%= error_messages_for @student %>
  <%= error_messages_for @parent %>
  
  <%= form_for(@student, :action => resource(:students), :id => 'student') do %>
<fieldset>
  <ul>
    <li>
      <label>Student for:</label>
      <select name = "classroom_id" id="classroom_person",>
	      <% @class_rooms.each do |s| %>
		      <option value="<%= s.id %>">
			      <%= s.class_name %>
		      </option>
			  <% end %>
    </li>
    <li>
      <%= text_field  :first_name, :label => "Student", :class=> "semi-short" %><%= text_field  :last_name, :class=> "semi-short apart" %>
    </li>
    <% fields_for :parent do %>  
  	  <li>
  	    <%= text_field  :first_name,  :label => "Parents/Guardian", :class=> "semi-short" %><%= text_field  :last_name, :class=> "semi-short apart" %>
  	  </li>
      <li>
        <%= text_field :email, :label => "Email" %>
      </li>
      <li>
        <%= text_field  :phone,  :label => "Phone" %>
      </li>
      <li>
        <%= text_field  :address,  :label => "Address" %>
      </li>
	  <% end %>
	  </ul>
	<fieldset>
  <div class="save-cancel">
    <%= link_to_function 'Add', "add();" %>
    <input type = 'button' value = 'Preview' onclick="preview();return false;" />
    <%= submit "Publish" %>
    <span class="cancel"><%= link_to "Cancel", resource(:students) %></span>
   <% end =%>
</div>
 
 
<script type= "text/javascript">
   var parent = 0;
  function add()
   {
     
     if (parent < 3)
     {
     var student = document.getElementById('students');
     var email = document.getElementById('email');
         var td1 = document.createElement('td');  
         td1.innerHTML = "Parents/Guardian: <input type='text' id='sp_first' name='sp[first][]'/>";
         var td2 = document.createElement('td');  
         td2.innerHTML = "<input type='text' id='sp_last' name='sp[last][]'/>";
         var td3 = document.createElement('td'); 
	 td3.innerHTML = "Email: <input type='text' id='sp_mail' name='sp[mail][]'/>";
        
         student.appendChild(td1);
         student.appendChild(td2);
         email.appendChild(td3);
	     parent = parent + 1;
	 }
     else
	 {
	    alert("You can't add more than that");
	 }
    
 }   
 
 function preview()
 {
   var s = $('student').serialize();
   window.open('/students/preview/-/?' + s);
 }


</script>
