<div class='preview-container'>
  <h4><span>Student</span></h4>
    <dl>
      <dt>First Name :</dt><dd><%= @first %></dd>
      <dt>Last Name :</dt><dd>&nbsp;<%= @last %></dd>
    </dl>
    <div class="hrule clear hidden"><hr /></div>
  <h4><span>Parent</span></h4>
  <% @parent.each do |f| %>
  <dl>
    <dt>First Name:</dt>
    <dd><%= f[0] %></dd>
    <dt>Last Name:</dt>
    <dd><%= f[1] %></dd>
    <dt>Email:</dt>
    <dd><%= f[2] %></dd>
  </dl>
  <% end %>
<div class="hrule clear hidden"><hr /></div>
</div>