<div class='preview-container'>
      <h4><span>Student</span></h4>
        <dl>
            <dt>First Name :</dt><dd><%= params[:student][:first_name] %></dd>
            <dt>Last Name :</dt><dd>&nbsp;<%= params[:student][:first_name] %></dd>
        </dl>
        <div class="hrule clear hidden"><hr /></div>
      <h4><span>Parent</span></h4>
      <% @parent.each do |f| %>
             <dl>
                 <dt>First Name:</dt>
                 <dd><%= f[0] %></dd>
                 <dt>Last Name:</dt>
                 <dd><%= f[1] %></dd>
                 <dt>Email:</dt>
                 <dd><%= f[2] %></dd>
             </dl>
      <% end %>
      <% if ( ( (params[:f_name_parent2] != "") && (params[:l_name_parent2] != "") ) && (params[:email_parent2] != "") ) %>
            <h4><span>Parent2</span></h4>
            <dl>
                <dt>First Name :</dt><dd><%= params[:f_name_parent2] %></dd>
                <dt>Last Name :</dt><dd>&nbsp;<%= params[:l_name_parent2] %></dd>
                <dt>Email :</dt><dd>&nbsp;<%= params[:email_parent2] %></dd>
            </dl>
      <% end %>
      <% if ( ( (params[:f_name_parent3] != "") && (params[:l_name_parent3] != "") ) && (params[:email_parent3] != "") ) %>
            <h4><span>Parent3</span></h4>
            <dl>
                <dt>First Name :</dt><dd><%= params[:f_name_parent3] %></dd>
                <dt>Last Name :</dt><dd>&nbsp;<%= params[:l_name_parent3] %></dd>
                <dt>Email :</dt><dd>&nbsp;<%= params[:email_parent3] %></dd>
            </dl>
      <% end %>
      <% if ( ( (params[:f_name_parent4] != "") && (params[:l_name_parent4] != "") ) && (params[:email_parent4] != "") ) %>
             <h4><span>Parent4</span></h4>
             <dl>
                 <dt>First Name :</dt><dd><%= params[:f_name_parent4] %></dd>
                 <dt>Last Name :</dt><dd>&nbsp;<%= params[:l_name_parent4] %></dd>
                 <dt>Email :</dt><dd>&nbsp;<%= params[:email_parent4] %></dd>
             </dl>
      <% end %>
      
<div class="hrule clear hidden"><hr /></div>
</div>
  
   