<% if params[:label] == "students" %>

      <div id="fullpage">
           <h2 class="current-page">Current Students > <%= @student.name %></h2>
           <%= link_to "< Back to Current Students List", url(:directory) %>
     
           <h3 class="name"><%= @student.name %></h3>
           <table cellpadding="8" cellspacing="0" border="0">
              <tr><td class="separator">Parents/Guardians</td><td class="separator">
           <% @parents.each do |f| %>
                <% if f.approved == 1 %>
                     
                     <%= @mess %>
                         <%= f.name %> (<a href="mailto:<%= f.email %>"><%= f.email %></a>) <br/>
                     
                <% end %>
           <% end %>

                  <% @protectors.each do |r| %>
 
                             <%= r.name %> (<a href="mailto:<%= r.email %>"><%= r.email %></a>) <br/>
                     <% end %>
            </td></tr>
                     
            <tr><td>Address</td> <td><%= @student.address %></td></tr>
            <tr><td>Contact Number</td> <td><%=number_to_phone(@student.phone, :area_code => true)%> </td></tr>
            </tr>
           
       
       </table> 
       </div>
       <div class="clear"><hr size="1" /></div>
    
<% else %>
  
       <div id="fullpage">
       <h2 class="current-page">School Staff > <%= @staff.name %></h2>
            <%= link_to "< Back to School Staff List", url(:staff) %>
     
            <h3 class="name"><%= @staff.name %></h3>
            <table cellpadding="8" cellspacing="0" border="0">
                <tr><td>Email
                </td><td>
                  <%= email(@staff.email) %>
                </td></tr>
                 
                <tr><td class="separator">Contact Number
                </td><td class="separator">
                   <%= @staff.phone ? number_to_phone(@staff.phone, :area_code => true)  : "<span class='noText'>not specified</span>"%>
                </td></tr>
                
                  <tr><td colspan="2"><%= san_content(@staff.person_bio) %></td></tr>
                
                </table>
  
        <br/>
            <div class="clear"><hr size="1" /></div>
       </div>
            
<% end %>

