  <h2 class="current-page">
      School Staff &nbsp;&nbsp;&nbsp;
      <%= link_to_right((right = "rights_others"), "Add New", resource(:people, :new)  ) %>
  </h2> 
  
         <select id = 'staffID'>
                  <option value = '/staff' <% if (@test == "All Staff") %> selected <% end %> >All Staff</option>
                  <% @class_rooms.each do |f| %>
                      <option value='/staff?label=classes&id=<%= f.id %>' <% if (@test == f.id.to_s) %> selected <% end %> > 
                         <%= f.class_name %> 
                      </option>
	                <% end %>
	       </select>
         
<% if params[:label] == "classes" %>
 
            <% if @class_peoples.empty? %>
                     <p class="subText">There are no staff members listed yet.</p>
            <% else %>
                   <%= link_to "Download as CSV", url(:generate_csv, :label => "staff") %>
                   <table id="mytable" style="margin-top:60px; width:720px" cellspacing="0" cellpadding="0">
                       <thead> 
                             <th>Last Name</th>
                             <th>First Name</th>
                             <th>Role</th>
                             <th>Email</th>
                             <th>Contact Number</th>
                             <% unless session.user.type == "Parent" %>
                               <th></th>
                             <% end %>
                       </thead>
                       <% @class_peoples.each do |f| %>
                            <tr>
                                <td class="click-block">
                                    <%= link_to "#{f.person.last_name}", url(:student, f.person.id, :label => "staff") %>
                                </td>
                                <td><%= link_to "#{f.person.first_name}", url(:student, f.person.id, :label => "staff") %>&nbsp;</td>
                 	            <td nowrap><%= f.role.titleize %>-<%= f.classroom.class_name %>&nbsp;</td>
                                <td><%= email(f.person.email) %>&nbsp;</td>
                                <td nowrap><%= number_to_phone(f.person.phone, :area_code => true) %>&nbsp;</td>
                                <% unless session.user.type == "Parent" %>
                                   <td><%= link_to_right((right = "rights_others"), "Edit", url(:edit_person, f.person.id)  ) %></td>
                                <% end %>
                            </tr>  
                       <% end %>
                   </table>
            <% end %>
         
<% else %>
           <% if @staff.empty? %>
                 <p class="subText">There are no staff members listed yet.</p>
           <% else %>

                 <%= link_to "Download as CSV", url(:generate_csv, :label => "staff") %>
                 <table id="mytable"  style="margin-top:60px; width:720px"  cellspacing="0" cellpadding="0">
                        <thead> 
                              <th>Last Name</th>
                              <th>First Name</th>
                              <th>Role</th>
                              <th>Email</th>
                              <th>Contact Number</th>
                              <% unless session.user.type == "Parent" %>
                                 <th></th>
                              <% end %>
                        </thead>
                        <% for person in @staff %>
                             <tr>
                                 <td class="click-block"><%= link_to "#{person.last_name}", url(:student, person.id, :label => "staff") %></td>
                                 <td><%= link_to "#{person.first_name}", url(:student, person.id, :label => "staff") %>&nbsp;</td>
                                 <% s = person.class_peoples.delete_if{ |x| x.team_id != nil } %>
                                 <td nowrap><% s.each do |f| %>
                                    <%= f.role.titleize %>-<%= f.classroom.class_name %><br/>
                                 <% end %>&nbsp;</td> 
                                 <td><%= email(person.email) %>&nbsp;</td>
      	                         <td nowrap><%= number_to_phone(person.phone, :area_code => true) %>&nbsp;</td>
                                 <% unless session.user.type == "Parent" %>
                                    <td><%= link_to_right((right = "rights_others"), "Edit", url(:edit_person, person.id)  ) %></td>
                                 <% end %>
                             </tr>  
                        <% end %>
                 </table>
                 <%= will_paginate (@staff, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
           <% end %>
       
<% end %>




<script type = 'text/javascript'>

        $( 'staffID' ).observe( 'change', function()
         {
           
           document.location.href = $( 'staffID' ).value;
          
          });
       
</script>
