  <h2 class="current-page">School Staff  &nbsp;&nbsp;&nbsp;<%= link_to "Download as CSV", url(:generate_csv, :label => "staff") %> </h2> 
 
 <%= form_for(@student, :action => url(:staff), :method => 'get', :id => 'student') do %>
  
     <% if params[:class_name].nil? %> 
         <span class="select-announce"><%= select :name => "class_name", :collection => @teachers, :label => "View :"  %><%= submit "    Go    " %></span>
     <% else %>
         <span class="select-announce"><%= select :name => "class_name", :selected => params[:class_name], :collection => @teachers, :label => "View :"  %><%= submit "    Go    " %></span>
     <% end %>
 <% end =%> 
 
   
<% if params[:class_name].nil? %>
    
         <%if @stf.empty?%>
           <p class="subText">There are no staff members listed yet.</p>
           <% else %>
        
            <table id="mytable">
              <thead> 
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Role</th>
                    <th>Contact Number</th>
             </thead>
              <% for person in @stf %>
                   <tr>
                   <td class="click-block"><%= link_to "#{person.last_name}", url(:student, person.id, :label => "staff") %></td>
                       <td><%= person.first_name %></td>
                       <% s = person.class_peoples.delete_if{ |x| x.team_id != nil } %>
                       <td><% s.each do |f| %>
                          <%= f.role.titleize %>--<%= f.classroom.class_name %>
                       <% end %></td>
      	               <td><%= person.phone %></td>
                   </tr>  
              <% end %>
            </table>
         <% end %> 
       
<% elsif params[:class_name] == "All Staff" %>

         <%if @staff.empty?%>
           <p class="subText">There are no staff members listed yet.</p>
           <% else %>
            <table id="mytable">
              <thead> 
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Role</th>
                    <th>Contact Number</th>
                    
              </thead>
              <% for person in @staff %>
                   <tr>
                       <td class="click-block"><%= link_to "#{person.last_name}", url(:student, person.id, :label => "staff") %></td>
                       <td><%= person.first_name %></td>
                       <% s = person.class_peoples.delete_if{ |x| x.team_id != nil } %>
                       <td><% s.each do |f| %>
                          <%= f.role.titleize %>-<%= f.classroom.class_name %>
                       <% end %></td> 
      	               <td><%= person.phone %></td>
                   </tr>  
              <% end %>
            </table>
         <% end %>
       
<% else %>
                                     
        <%if @class_peoples.empty?%>
          <p class="subText">There are no staff members listed yet.</p>
          <% else %>
            <table id="mytable">
              <thead> 
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Role</th>
                    <th>Contact Number</th>
              </thead>
                <% @class_peoples.each do |f| %>
                   <tr>
                       <td class="click-block"><%= link_to "#{f.person.last_name}", url(:student, f.person.id, :label => "staff") %></td>
                       <td><%= f.person.first_name %></td>
      	               <td><%= f.role.titleize %>-<%= f.classroom.class_name %></td>
                       <td><%= f.person.phone %></td>
                   </tr>  
              <% end %>
            </table>
        <% end %>

<% end %>




