<ul class='error_messages'>
    <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
    <% end %>
</ul>



<fieldset>
  <h2 class="current-page">Access Rights &gt; Add New</h2>
  <ul>
    <li><%= select :title, :collection => @titles, :label => "Title" %></li>
    <li><%= text_field  :first_name, :label => "First Name", :maxlength => "75" %></li>
    <li><%= text_field  :last_name,   :label => "Last Name", :maxlength => "75" %></li>
    <li><%= text_field  :email,  :label => "Contact Email", :maxlength => "75" %></li>
    <li><%= text_field  :phone,  :label => "Phone Number (optional)" %></li>
    <li><label>Rights</label>This Person Can: <%= check_box :checked => true, :checked => true, :value => @access_view.id , :disabled => "disabled", :name => "view_all"  %>View all Content</li>
  </ul>

    <dl class="check-box-set">
        <dt>
            <input type="checkbox" class="check" value="Select all" name="select_all" id="select_all" onclick="Form.getInputs('people', 'checkbox').each(function(box){box.checked= $('select_all').checked})" />
        </dt>
        <dd>Select all</dd>
       
      <% if @access != nil %>
           
              <% @p.each do |f| %>
                      <% have_access = false %>
                     <% @access.each do |l| 
                         have_access = (f == l)
                         break if have_access
                      end %>    
                 
                      <% if have_access %>
                            <% @r = Access.find_by_id(f) %> 
                            <dt><input type="checkbox" class="check" name="access[access_ids][]" checked="true" value="<%= @r.id %>" /></dt>
                            <dd><%= @r.full_name %></dd>
                      <% else %>
                              <% @r = Access.find_by_id(f) %> 
                              <dt><input type="checkbox" class="check" name="access[access_ids][]" value="<%= @r.id %>" /></dt>
                              <dd><%= @r.full_name %></dd>
                      <% end %>
              <% end %>
              <dt></dt>
	            </dl>
      <% else %>    
              <% @accesses.each do |f| %>
                    <dt>                       
                        <input type="checkbox" class="check" name="access[access_ids][]" value="<%= f.id %>" />
                    </dt>
                  <dd>
                       <%= f.full_name %>
  	                   <% @accesses.delete_if{|x| x.name == "view_all"} %>
  	              </dd>
  	          <% end %>
  	           <dt></dt>
	            </dl>
      <% end %>
    
	         <div class="save-cancel">
	            <%= submit "Save & Notify" %> <span>Or <%= link_to "Cancel", url(:people), :class => "cancel" %></span>
	         </div>
</fieldset>
  
  
<script type= "text/javascript">

    document.people_form.person_first_name.focus();

</script>
