
<%= error_messages_for @person %>

<ul class='error_messages'>
    <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
    <% end %>
</ul>

<div id="disable" style="display:none;">
    <h3 style="text-align:center; font-size:100%">Disable Access for this user.</h3> 
         <p>Are you sure you want to disable access for this user?</p>
         <div class="save-cancel">
             <%= link_to "Yes, disable access", url(:disable, :id => @person.id) %>&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;<%= link_to "Cancel this action", url(:edit_person, @person.id), :class => "cancel" %>
         </div>
    
 </div>
<fieldset>
  <h2 class="current-page">Access Rights &gt; Edit</h2>
  <%= form_for :person, :action => url(:person, @person) , :id => 'people' do %>
  <ul>
     <li><%= select :title, :collection => @titles, :label => "Title" %></li>
    <li><%= text_field  :first_name,  :label => "First Name", :maxlength => "75" %></li>
    <li><%= text_field  :last_name,  :label => "Last Name", :maxlength => "75" %></li>
    <li><%= text_field  :email,  :label => "Contact Email", :maxlength => "75" %></li>
    <li><%= text_field  :phone,  :label => "Phone Number (optional)" %></li>
   
  </ul>
  <div id="enable" style="display:none;">
      <h3 style="text-align:center; font-size:100%">Enable Access for this user.</h3> 
           <p>Are you sure you want to enable access for this user?</p>
           <div class="save-cancel">
                <%= link_to "Yes, enable access", url(:enable, :id => @person.id) %>&nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;<%= link_to "Cancel this action", url(:edit_person, @person.id), :class => "cancel" %>
           </div>
   </div> 
     <br class="clear"/>
<h2 class="current-page">Rights:</h2>

	    <p>This person can:</p>
  
    
	<dl class="check-box-set">
     
  
	  <dt><input type="checkbox" onclick="checkAll(this)"></dt>
	  <dd>Select All:</dd>
        <% @accesses.each do |f| %>
            <% have_access = false %>
              <% @access_people.each do |l| 
                   have_access = l.all || (f.id == l.access_id) 
	           break if have_access	  
               end %>
	
        <% if have_access %>
             <dt><input type="checkbox" class="check" checked="true" name="access[access_ids][]" value="<%= f.id %>" /></dt><dd><%= f.full_name %></dd>
       <% else %>
             <dt><input type="checkbox" class="check" name="access[access_ids][]" value="<%= f.id %>" /></dt><dd><%= f.full_name %></dd>
       <% end %>
             <% @accesses.delete_if{|x| x.name == "view_all"} %>
   <% end %>
      <dt></dt>
	  </dl>
       <div class="save-cancel">
          <%= submit "Save & Notify" %> Or <%= link_to "Cancel", url(:people), :class => "cancel" %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <% if (@person.crypted_password != "" ) || (@person.password_reset_key != "" ) %>
            <a rel="facebox" href="#disable" class="deactivate cancel"><span>Disable Access for this User</span></a>
          <% else %>
            <a rel="facebox" href="#enable" class="deactivate enable">
              <span>Enable Access for the User</span>
            </a>
          <% end %>
      </div>

</fieldset>
    
        
    <% end =%>
 

<script type= "text/javascript">


   function checkAll(select_all)
   {
     var checked = select_all.checked;
     //var s =  document.getElementById('all')
     var col = document.getElementsByTagName("INPUT");
      for (var i=0;i<col.length;i++) 
      {
          col[i].checked= checked;
	       // s.checked = true;
       }
     }

</script>
 
