
<%= error_messages_for @person %>

<ul class='error_messages'>
    <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
    <% end %>
</ul>


<fieldset>
  <h2 class="current-page">Access Rights &gt; Edit</h2>
  <%= form_for :person, :action => url(:person, @person) , :id => 'people' do %>
  <ul>
    <li><%= text_field  :first_name,  :label => "First Name" %></li>
    <li><%= text_field  :last_name,  :label => "Last Name" %></li>
    <li><%= text_field  :email,  :label => "Contact Email" %></li>
    <li><%= text_field  :phone,  :label => "Phone Number (optional)" %></li>
   
  </ul>
  <dl>
    <dt>Rights:</dt>
	  <dd>This person can:</dd>
	</dl>
	   
	<dl class="check-box-set">
    <dt><%= check_box :name => "view_all", :checked => true, :id => "all", :onclick => "viewall()" %></dt>
    <dd>View all Content</dd>
	  <dt><input type="checkbox" onclick="checkAll(this)"></dt>
	  <dd>Select All:</dd>
        <% @accesses.each do |f| %>
            <% have_access = false %>
              <% @access_people.each do |l| 
                   have_access = l.all || (f.id == l.access_id) 
	           break if have_access	  
               end %>
	
        <% if have_access %>
    <dt><input type="checkbox" class="check" checked="true" name="access[access_ids][]" value="<%= f.id %>" /></dt><dd><%= f.full_name %></dd>
       <% else %>
    <dt><input type="checkbox" class="check" name="access[access_ids][]" value="<%= f.id %>" /></dt><dd><%= f.full_name %></dd>
       <% end %>
             <% @accesses.delete_if{|x| x.name == "view_all"} %>
   <% end %>
      <dt></dt>
	  </dl>
       <div class="save-cancel">
          <%= submit "Save & Notify" %> Or <%= link_to "Cancel", url(:people), :class => "cancel" %>
      </div>
</fieldset>
    
        
    <% end =%>
 

<script type= "text/javascript">

 function viewall()
   {
     if (document.getElementById('all').checked == false)
	{
	    var s =  document.getElementById('all')
	   var message = "You want to disable this user";
           var return_value = confirm(message);
	   if (return_value == true) 
	   {
	      s.checked = false;
	    }
	   else 
	   {
	     s.checked = true;
	   }
	  
	}
    }  
   s
   
   function checkAll(select_all)
   {
     var checked = select_all.checked;
     var s =  document.getElementById('all')
     var col = document.getElementsByTagName("INPUT");
      for (var i=0;i<col.length;i++) 
      {
          col[i].checked= checked;
	        s.checked = true;
       }
     }

</script>
 
