<div class='formcontainer'>

    <%= form_for :person, :action => url(:person, @person) , :id => 'people' do %>
    
        <table>
          <tr>
              <td><%= text_field  :first_name,  :label => "First Name" %></td>
          </tr>
	  <tr>
	       <td><%= text_field  :last_name,  :label => "Last Name" %></td>
	  </tr>
	  <tr>
	       <td><%= text_field  :email,  :label => "Contact Email" %></td>
	  </tr>
	  <tr>
	       <td><%= text_field  :phone,  :label => "Phone Number(optional)" %></td>
	  </tr>
    
	  <tr>
	      <td>Rights:</td>
	      <td>This person can:
	        <%= check_box :name => "view_all", :checked => true, :id => "all", :onclick => "viewall()" %>View all Content 
		<div id="check" style="visibility:hidden">
      
	          Unchecking this will Disable Access for this user.
                        Are you sure you want to do this? 
		   
                <%= link_to "Yes, Disable access for this user", url(:controller => "people", :action => "disable", :id => @person.id) %></br> Or
		            <a href='' id='cancel' return true >Cancel this action </a>
	          </div>
	      </td>
	  <tr>
	    <td><input type="checkbox" class="check" value="Select all" name="select_all" id="select_all" onclick="Form.getInputs('people', 'checkbox').each(function(box){box.checked= $('select_all').checked})" />Select all</td>
          </tr>
        <% @accesses.each do |f| %>
            <% have_access = false %>
              <% @access_people.each do |l| 
                   have_access = l.all || (f.id == l.access_id) 
	           break if have_access	  
               end %>
	
        <% if have_access %>
     	     <tr>
	          <td></td>
		  <td><input type="checkbox" class="check" checked="true" name="access[access_ids][]" value="<%= f.id %>" /><%= f.full_name %></td>
	     </tr>
       <% else %>
    	    <tr>
	        <td></td>
	        <td><input type="checkbox" class="check" name="access[access_ids][]" value="<%= f.id %>" /><%= f.full_name %></td>
	    </tr>
       <% end %>
             <% @accesses.delete_if{|x| x.name == "view_all"} %>
   <% end %>
         
          <tr>
	       <td><%= submit "Save & Notify" %></br>  <%= link_to "Cancel", url(:people) %></td>
	  </tr>
	 
    <% end =%>
     
</div>


<script type= "text/javascript">

 function viewall()
   {
     if (document.getElementById('all').checked == false)
	{
	   document.getElementById('check').style.visibility = "visible"; 
	 }
 
   }  

  

</script>
 
