<% if @people.empty? %>
  <h2 class="current-page">AccessRights <%= link_to "Add New", url(:new_person) %></h2>
  <% else %>
  <h2 class="current-page">AccessRights <%= link_to "Add New", url(:new_person) %></h2>
    <table id="mytable">
    <thead> 
       <th>Last Name</th>
       <th>First Name</th>
       <th>Email</th>
       <th>Phone</th>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4"><em></em></td>
      </tr>
    </tfoot>
    <% for person in @people %>
      <tr>
        <td class="click-block"><%= link_to "#{person.last_name}", url(:edit_person, person.id) %> </td>
        <td><%= person.first_name %></td>
      	<td><%= person.email %></td>
      	<td><%= person.phone %></td>
      </tr>  
    <% end %>
  </table>
<% end %>