  <h2 class="current-page">Access Rights &nbsp;&nbsp;&nbsp; <%= link_to "Add New", url(:new_person) %></h2>
<% if @people.empty? %>
    <p class="subText">There are no people with access to this school application.  <%= link_to "Add New", url(:new_person) %></p>
  <% else %>
 
    <table id="mytable"  cellspacing="0" cellpadding="0">
    <thead> 
      <tr>
        <th>Title</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <% for person in @people %>
          <tr onclick="location.href='<%= url(:edit_person, person.id) %>'" style="cursor:pointer">
               <td>
               <% unless person.title.nil? %>
                  <%= person.title %> 
               <% end %>&nbsp;</td>
                <td><%= person.last_name %>&nbsp;</td>
                <td><%= person.first_name %>&nbsp;</td>
                <td><%= email(person.email) %>&nbsp;</td>
                <td nowrap><%= number_to_phone(person.phone, :area_code => true) %>&nbsp;</td>
          </tr>  
    <% end %>
  </table>
  <%= will_paginate (@people, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
<% end %>
