  <h2 class="current-page">Access Rights &nbsp;&nbsp;&nbsp; <%= link_to "Add New", url(:new_person) %></h2>
<% if @people.empty? %>
    <p class="subText">There are no people with access to this school application.  <%= link_to "Add New", url(:new_person) %></p>
  <% else %>
 
    <table id="mytable">
    <thead> 
       <th>Title</th>
       <th>Last Name</th>
       <th>First Name</th>
       <th>Email</th>
       <th>Phone</th>
    </thead>
    <% for person in @people %>
          <tr onclick="location.href='<%= url(:edit_person, person.id) %>'">
               <% unless person.title.nil? %>
                  <td><%= person.title %> </td>
               <% end %>
                <td><%= person.last_name %> </td>
                <td><%= person.first_name %> </td>
                <td><%= person.email %> </td>
                <td><%= person.phone %> </td>
          </tr>  
    <% end %>
  </table>
  <%= will_paginate (@people, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
<% end %>
