<%= partial 'layout/main' %>
       <div id="sidebar">
      <ul id="menu"><!-- Nested Lists -->
         <%# @access_rights = session.user.access_peoples  %>
         <%# if @access_rights.length == 0 %>
         <% if session.user.type == "Parent" %>
             <li <% if @selected == "parent_profile" %> class="on" <% end %>>
                 <%= link_to "My Profile", resource(:users, :selected => "parent_profile") %>
             </li>
             <li <% if @selected == "s_details" %> class="on" <% end %>><%= link_to "Student Details", url(:student_details) %></li>
             <li <% if @selected == "other_family" %> class="on" <% end %>>
                <%= link_to "Other Family Members", resource(:users, :selected => "parent_profile", :label => "other") %>
             </li>
         <% else %>
              <li <% if @selected == "staff_profile" %> class="on" <% end %>>
                  <%= link_to "My Profile", resource(:users, :selected => "staff_profile") %>
              </li>
         <% end %>
         <li <% if @selected == "phone" %> class="on" <% end %>><%= link_to "Phone Alert Settings", url(:phone) %></li>
         <li <% if @selected == "alerts" %> class="on" <% end %>><%= link_to "Alert Settings", url(:alerts) %></li>
      </ul>

    </div><!-- Sidebar Ends -->
    <div id="content-wrap"><!--Wraps The content Area-->
      <div id="content"><!--Content Area Starts here-->
        <%= catch_content :for_layout %>
      </div><!--Content End-->
    </div><!--Content Wrap End -->
    
    <div class="hrule clear hidden "><hr /></div>
  </div><!--Pagewrap End -->
  <%= partial 'common/change' %>
<script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script> <script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-8953231-1"); pageTracker._trackPageview(); } catch(err) {}</script>
</body>
</html>
