<%= partial 'layout/main' %>
<div id="cusImg">&nbsp;</div>
<div id="classContainer">
    <div id="sidebar">
           
          <table cellpadding="0" cellspacing="0" order="0" class="class-name">
                <tr><td class="class-name-top"><img src="/images/class-name-top.gif"/></td></tr>
                <tr><td class="class-name-backgr"><p><%= @classroom.class_name %></p></td></tr>
                <tr><td  class="class-name-bottom"><img src="/images/class-name-bottom.gif"/></td></tr>
          </table>
          
          
      <ul id="menu"><!-- Nested Lists -->
        <li <% if @selected == nil %> class="on" <% end %>><%= link_to "Class Home", url(:class_details, :id =>  @classroom.id) %></li>
        <li <% if @selected == "calendars" %> class="on" <% end %> >
	          <%= link_to "Class Calendar", url(:class_details, :id =>  @classroom.id, :label => "calendars") %>
	      </li>
	       <% unless Merb.env == "production" %> 
	           <% unless @classroom.class_type == "Subject" %>
      	              <li <% if @selected == "grades" %> class="on" <% end %>>
      	                 <%= link_to "Grades/Reports", url(:class_details, :id =>  @classroom.id, :label => "grades") %>
      	            </li>
      	     <% end %>
      	 <% end %>
	    <% unless @classroom.class_type == "Subject" %>
    	    <li <% if @selected == "homeworks" %> class="on" <% end %>>
    	         <%= link_to "Homework Corner", url(:class_details, :id =>  @classroom.id, :label => "homeworks") %>
    	    </li>
      <% end %>
        <li <% if @selected == "announcements" %> class="on" <% end %>>
	        <%= link_to "Announcements", url(:class_details, :id =>  @classroom.id, :label => "announcements") %>
	   </li>
       <li <% if @selected == "spot_light" %> class="on" <% end %>>
	          <%= link_to "Spotlight", url(:class_details, :id =>  @classroom.id, :label => "spot_light") %>
	   </li>
        <li>&nbsp;</li>
        <li class="change"><a rel="facebox" href="#info"> Change Classroom</a></li>
      </ul>
        <% @classrooms = @current_school.core_classrooms %>
      <ul id="menu1">
        <% s = @classroom.class_peoples.delete_if{ |x| x.team_id != nil } %>
              <% t = s.delete_if{ |x| x.role != "class_teacher" } %>
                 <% t.each do |f| %>
                     <li>
                        <table cellpadding="0" cellspacing="0" order="0" class="teach-name">
                          <tr><td class="teach-name-top"><img src="/images/teach-name-top.gif"/></td></tr>
                          <tr><td class="teach-name-backgr"><p><%= f.role.titleize %></p></td></tr>
                          <tr><td  class="teach-name-bottom"><img src="/images/teach-name-bottom.gif"/></td></tr>
                        </table>
                     </li>
                          <% @pic = @current_school.attachments.find(:first, 
                                     :conditions => ['attachable_type = ? and attachable_id = ? ', "user_picture", f.person.id]) %>
                          <% if @pic.nil? %>
                                 <div class="pic">
	                                <img src = "/images/Fotolia_5868614_XS.jpg" alt="Fotolia_5868614_XS.jpg" class ="teacherPic"/>
	                             </div>
	                      <% else %>
	                           <div class="pic">
	                                <%= file_image(@current_school.id, @pic.id, @pic.attachable_type) %>
	                           </div>
	                      <% end %>
                     <li><b><%= f.person.name %></b>
                            <% unless f.person.person_bio.blank? %>
                                | <span <% if @selected == "bio_classes" %> class="on" <% end %> > 
	                                    <%= link_to "Bio", url(:bio, :id => @classroom.id, :label => "classes") %> 
                                </span>
                            <% end %>
                     </li>
                     <li><%= email(f.person.email) %></li>
                 <% end %>
         </ul>
    </div><!-- Sidebar Ends -->
    
    <div id="content-wrap"><!--Wraps The content Area-->
        <%= catch_content :for_layout %>
    </div><!--Content Wrap End -->  
</div>
<%= partial 'common/change' %>
<%= partial 'common/footer' %>
  </div><!--Pagewrap End -->
  <script type="text/javascript"> var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); </script> <script type="text/javascript"> try { var pageTracker = _gat._getTracker("UA-8953231-1"); pageTracker._trackPageview(); } catch(err) {}</script>
</body>
</html>
