<h2 class="current-page">Alerts &gt; change settings</h2> <br/>
<ul class='error_messages'>
  <% if  flash[:error]  %>
    <li><%= flash[:error] %></li>
  <% end %>
</ul>

<%= form_for :alert, :action => url(:alerts_update) , :id => 'alert' do %>
   
     <% @alerts.each do |alert| %>
         <% unless @alert_people.blank? %>
             <% if @alert_people.include?(alert.id.to_i) %>
                <%= check_box :name => 'selected_alerts[' + alert.id.to_s + ']', :checked => 'checked' %>
             <% else %>
                <%= check_box :name => 'selected_alerts[' + alert.id.to_s + ']' %>
             <% end %>
         <% else %>
                <%= check_box :name => 'selected_alerts[' + alert.id.to_s + ']' %>
         <% end %>
           <%= alert.full_name %>  <br/> <br/>
     <% end %>
     
     <div class="clear dashed separate"></div>
     
     <% if session.user.type == "Parent" %>
     
         <% if params[:parent_alerts] %>
            <% @few_alerts.each do |alert| %>
                <% if params[:parent_alerts].has_key?(alert.id.to_s) %>
                    <%= check_box :name => 'parent_alerts[' + alert.id.to_s + ']', :checked => 'checked' %>
                    <%= alert.full_name %>  <br/>  <br/>
                <% else %>
                    <%= check_box :name => 'parent_alerts[' + alert.id.to_s + ']' %>
                    <%= alert.full_name %>  <br/>  <br/>
                <% end %>
            <% end %>
            <span class="subText">is Posted to</span><br/><br/> 
         <% end %>
         
         <% unless params[:parent_alerts] %>   
            <% @few_alerts.each do |alert| %>
                  <% unless @alert_people.blank? %>
                      <% if @alert_people.include?(alert.id.to_i) %>
                         <%= check_box :name => 'parent_alerts[' + alert.id.to_s + ']', :checked => 'checked' %>
                      <% else %>
                         <%= check_box :name => 'parent_alerts[' + alert.id.to_s + ']' %>
                      <% end %>
                  <% else %>
                         <%= check_box :name => 'parent_alerts[' + alert.id.to_s + ']' %>
                  <% end %>
                    <%= alert.full_name %>  <br/>  <br/>
              <% end %>
              <span class="subText">is Posted to</span><br/><br/> 
         <% end %>
         
     <% else %>
           New Announcement is Posted to<br/><br/>
     <% end %>
    
          <% if params[:home_page_announcement] %>
               <%= check_box :name => 'home_page_announcement', :checked => 'checked' %>
                   Home Page <br/><br/>
           <% else %>
                <% if @alert_home.empty? %>
                    <%= check_box :name => 'home_page_announcement' %>
                <% else %>
                    <%= check_box :name => 'home_page_announcement', :checked => 'checked' %>
                <% end %>
                Home Page <br/><br/>
           <% end %>
           
       <div id="box" class="section">
           <h4>Classes & Subjects</h4>
            <input type="checkbox" class="check" value="Select all" name="select_all" id="select_all"
                    onclick="Form.getInputs('box', 'checkbox').each(function(box){box.checked= $('select_all').checked})" />
              Select all <br/><br/>
            <% unless params[:class_alerts] %>   
               <% @current_school.active_classrooms.each do |f| %>
                     <% alert_p = AlertPeople.find(:all,:conditions=>["person_id=? and classroom_id=?", session.user.id, f.id]).map{|x| x.classroom_id } %>
                     <% if alert_p.include?(f.id) %>
                         <%= check_box :name => 'class_alerts[' + f.id.to_s + ']', :checked => 'checked' %>
                         <%= f.class_name %><br/> <br/>
                     <% else %>
                         <%= check_box :name => 'class_alerts[' + f.id.to_s + ']' %>
                         <%= f.class_name %><br/> <br/>
                     <% end %>
               <% end %>
            <% end %>
            
            <% if params[:class_alerts] %>
                  <% @current_school.active_classrooms.each do |f| %>
                      <% if params[:class_alerts].has_key?(f.id.to_s) %>
                          <%= check_box :name => 'class_alerts[' + f.id.to_s + ']', :checked => 'checked' %>
                          <%= f.class_name %><br/> <br/>
                      <% else %>
                          <%= check_box :name => 'class_alerts[' + f.id.to_s + ']' %>
                          <%= f.class_name %><br/> <br/>
                      <% end %>
                  <% end %>
            <% end %>
        </div>
          <div class="save-cancel">
              <%= submit " Save " %> Or 
              <%= link_to "Cancel", url(:total_alerts), :class => "cancel" %>
          </div>
          
     </div>     
      
    </fieldset>
<% end =%>

   
   
    



