<div>
     <h2 class="current-page"> 
         <% if params[:id] %>
               Events for <%= @class.class_name %> &nbsp;&nbsp;&nbsp;
              <%= link_to_right((right = "calendar"), "Add New", resource(:calendars, :new, :l => "#{@class.class_name}" ) )  %>
         <% else %>
              All Events &nbsp;&nbsp;&nbsp;
              <%= link_to_right((right = "calendar"), "Add New", resource(:calendars, :new) )  %>
         <% end %>
     </h2>
     <br/>
     <%= link_to "&larr; previous week", url(:events, :id => params[:id], :week => @week - 1, :ref => "calendars"), :class => "alignleft" %> &#124;
     <%= link_to "Current Week", url(:events, :week => "0", :id => params[:id], :ref => "calendars", :current_week => "current"), :class => "alignleft" %> &#124;
     <%= link_to "next week &rarr; ", url(:events, :week => @week + 1, :id => params[:id], :ref => "calendars"), :class => "alignright" %>
     <br />
     <h4 class="calendar-week">Showing <%= $from.strftime("%b %d, %Y") %> - <%= $to.strftime("%b %d, %Y") %></h4>

      <% if @calendars.empty? %>
            <p class="subText"> No Events were found. If you applied a filter try changing it.	 </p>
      <% else %>
            <% cdate=""
                 for calendar in @calendars %>
                     <div class="calendar-block" style="width:480px;">
                          <% if(cdate!=calendar.start_date.strftime("%B %d %Y"))
                                cdate=calendar.start_date.strftime("%B %d %Y") %>
                                <h3><%= cdate %></h3>  

                          <% end %>    
                          <ul class="calendar-items">
                             <li>
                                 <% unless calendar.start_time.nil? %>
                                      <%= calendar.start_time.strftime("%I:%M %p") %> 
                                 <%else %>
                                       All day event
                                 <% end %>

                               <%= link_to "#{calendar.title}", url(:calendar, calendar.id, :ref => "calendars") %>
                                 <small>(<%= calendar.class_name %>)</small>
                                 <% unless session.user.type == "Parent" %>
                                     <div class="admin-links">
                                         <%= link_to_right((right = "calendar"), "Edit", resource(calendar, :edit) )  %> &#124;
                                         <%= link_to_delete((right = "calendar"), "Delete", resource(calendar, :delete)) %>
                                     </div>
                                 <% end %>
                               </li>
                          </ul>
                     </div>
                <% end %>
      <% end %>
  
   
 </div>

<script type="text/javascript" src='/javascripts/delete_confirmation.js'></script>
     
