
<%= error_messages_for @principal %>

<h2 class="current-page">Principal Details &gt; Edit</h2>

<%= form_for (@principal, :action => url(:update_details) ) do %>

        <fieldset>
                <ul>
                    <li><%= select :title, :collection => @titles, :label => "Title" %></li>
                    <li><%= text_field  :first_name, :label => "First Name", :maxlength => "75" %></li>
                    <li><%= text_field  :last_name,   :label => "Last Name", :maxlength => "75" %></li>
                    <li><%= text_field  :email,  :label => "Contact Email", :maxlength => "75" %></li>
                </ul>
        </fieldset>
      
         <div class="save-cancel">
              <%= link_to "< Back to Settings", url(:settings) %>
              <%= submit "    Publish    " %>  Or 
              <%= link_to "Cancel", url(:settings), :class => "cancel" %>
         </div>
            
<% end =%>
