<%= error_messages_for @announcement %>
<h2 class="current-page">From the Principal &gt; Edit</h2>
  <%= form_for :announcement, :action => url(:from_principal, @announcement), :id => 'announcement' do %>
       <fieldset>
              <ul>
                  <li><%= text_field  :title,  :label => "Title", :maxlength => "75" %></li>
                  <li><%= text_area  :content,  :label => "Message", :rows => "10", :cols => "50" %></li>
                  <li><%= text_field  :expiration, :id => "expiration",  :label => "Expiration", :class=>"short date" %></li>
                  <li>
                      <% if @attachments.size >= 1 %>
                            <%= file_field :attachment,  :label => "Attach a File", :disabled => "true" %>
                      <% else %>
                            <%= file_field :attachment,  :label => "Attach a File" %>
                      <% end %>
                  </li> 
              </ul>
               <ul id="pending_files">
                    <% if @attachments.size > 0 %>
                           <% @attachments.each do |attachment| %>
                                  <li id="attachment_<%= attachment.id %>"><%= attachment.filename %>
                                  <%= link_to "Remove", url(:delete_from_principal, attachment.id, :label => "attachment"), :class => "cancel" %>
                                  </li>
                           <% end %>
                    <% end %>
	              </ul>
                
                <script type="text/javascript">
	                 	  var multi_selector = new MultiSelector($('pending_files'), <%= @allowed %>);
		                  multi_selector.addElement($('announcement_attachment'));
	              </script>
                
       </fieldset>
          
            <div class="save-cancel">
  	              <input type = 'button' value = '    Preview    ' onclick="preview();return false;" /> 
                  <%= submit "    Publish    " %>  Or <%= link_to "Cancel", url(:from_principals), :class => "cancel" %>
            </div>
              
  <% end =%>


<script type= "text/javascript">

 function preview()
 
 {
   var s = $('announcement').serialize();
   window.open('/from_principals/preview/-/?' + s);
 }
  
  $j(document).ready(function() {
           $j("input.date").datepicker({minDate:'today + 1'});
       });
 

</script>