<div id="fullpage">
  <h2 class="current-page">
    From the Principal <span class="actions">
    <%= link_to "Add New", resource(:from_principals, :new) %> | <%= link_to "Settings", url(:settings) %>
      </span>
  </h2>
    
     <% for announcement in @announcements %>
          <div class="data-block long-block">
              <% if announcement.expiration.nil? %>
	                <div class="ddmmm-x"></div>
	            <% else %>
                  <div class="ddmmm">
                      <span class="date"><%= announcement.expiration.strftime("%d") %></span>
	                    <span class="month"><%= announcement.expiration.strftime("%b") %></span>
	                </div>
	            <% end %>
              <h3><%= link_to "#{announcement.title}", url(:from_principal, announcement.id) %></h3>
              <p class="post-content"><%= snippet(announcement.content, 50) %></p>
               <%= link_to "Edit", url(:edit_from_principal, announcement.id), :class=> "edit-btn"  %>
               <%= link_to "Delete", url(:delete_from_principal, announcement.id), :class=> "delete-btn"  %>
               <p class="separator">&nbsp;</p>
           </div>
  <% end %>
         
         <%= will_paginate (@announcements, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>

</div>
  
  
  
  

