


<div id="classContainer">
        <div id="sidebar" class="left-block">
              <% @attachment = @current_school.attachments.find(:first, :conditions => ['attachable_type = ?', "principal_image"]) %>
              <% unless @attachment.nil? %>
                  <img src="/uploads/principal_images/<%= @attachment.filename %>" alt=" ", class = "prinPic"/>
              <% else %>
                  <img src="/images/principal.png" alt="From The Principal"/>
              <% end %>
        </div>
        <div id="content" class="homes-content">
             <h2>From the Principal > <%= params[:announcement][:title] %></h2>
             <div>
                   <div class="ddmmm">
                        <span class="date"><%= @date.strftime("%d") %></span>
                        <span class="month"><%= @date.strftime("%b") %></span>
                   </div>
                   <p class="separator"><%= san_content(params[:announcement][:content]) %></p>
             </div>
        </div>
</div>