<ul class='error_messages'>
       <% if flash[:error] %>
          <li><%= flash[:error] %> </li>
       <% end %>
       <% if flash[:error1] %>
          <li><%= flash[:error1] %> </li>
       <% end %>
</ul>

<h2 class="current-page">From the Principal &gt; Settings  </h2> 
       
<% unless @attachment.nil? %>
      <%#= image_tag("#{@attachment.filename}", :path => '/uploads/principal_images/', :class => "prinPic" ) %>
      <img src= "/uploads/principal_images/<%= @attachment.filename %>" alt="<%= @attachment.filename %>", class = "prinPic"/>
<% else %>
      <span class="subText">Principal's photograph has not been uploaded yet.</span>
      <br/><br/>
<% end %>
 



<%= form_for(@announcement, :action => url(:settings_update)) do %>
       <fieldset>
            <ul>
                <li><%= file_field :image,  :label => 
                                                 if @attachment.nil?
                                                   "Upload a Photograph" 
                                                 else
                                                   "Upload a different Photograph"
                                                 end
                             %>
                             <br/>
                             <span class="subText">(the picture is automatically resized to 220px width)</span>
                </li>
                <li><hr size="1"/></li>
                <% unless @principal.nil? %>
                      <% if (@principal.principal_email == true) %>
                          <li><input type="checkbox" name="principal_email" checked="true" />Display Principal's  Email Address</li>
                      <% else %>
                          <li><input type="checkbox" name="principal_email"  />Display Principal's  Email Address</li>
                      <% end %>
                <% end %>
                <% unless @principal.nil? %>
                     <% if (@principal.principal_name == true) %>
                           <li><input type="checkbox" name="principal_name" checked="true" />Display Principal's Name</li>
                     <% else %>
                           <li><input type="checkbox" name="principal_name" />Display Principal's Name</li>       
                     <% end %>
                <% end %>
            </ul>
              <% if @principal.nil? %>
                   <%= link_to "Add Principal Details", url(:new_settings) %>
             <% else %>
                   <%= link_to "Edit Principal Details", url(:edit_details) %>
             <% end %>
             
       </fieldset>
      
           <div class="save-cancel">
                <%= submit "    Save   " %>  Or <%= link_to "Cancel", url(:from_principals), :class => "cancel" %>
            </div>
  <% end =%>

  


  
