<div id="fullpage">
  <h2 class="current-page">From the Principal <span class="actions">
          <%= link_to "Add New", resource(:from_principals, :new) %> 
        </span></h2>
         <%= link_to "Edit", url(:edit_from_principal, @announcement.id), :class=>"edit-btn" %>
          <%= link_to "Delete", url(:delete_from_principal, @announcement.id), :class=>"delete-btn"  %>
  <div class="data-block long-block">
    <% unless @announcement.expiration.nil? %>
      <span class="hidden"><%= @announcement.expiration.strftime("%B-%d") %></span>
    <% end %>
    <div class="ddmmm">
       <span class="date"><%= @announcement.expiration.strftime("%d") %></span>
	     <span class="month"><%= @announcement.expiration.strftime("%b") %></span>
	  </div>
    <h3><%= @announcement.title %></h3>
    <p><%= san_content(@announcement.content) %></p>
    <%= link_to '< Previous', url(:from_principal, @announcement.previous_id),:class => "alignleft" if @announcement.previous_id %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <%= link_to "All Articles", url(:from_principals) %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <%= link_to 'Next >',  url(:from_principal, @announcement.next_id),:class => "alignright" if @announcement.next_id %>
    <div class="hrule clear"><hr /></div>
  </div>
</div>

