<div class= 'formcontainer' >
   
    <% form_for(@calendar, :action => url(:calendar)) do %>
    
       <table>
           <tr>
                <td><%= text_control  :title,  :label => "Title" %></td>
           </tr>
	   <tr>
	        <td><%= text_area_control  :description,  :label => "Description",  :rows => "10", :cols => "25" %></td>
	   </tr>
	   <tr>
                <td><%= text_control  :location,  :label => "Location" %></td>
           </tr>
	   <tr>
	       <td><%= text_control :start_time, :label => "Start Time" %></td>
	   </tr>
	   <tr>
	       <td><%= text_control :end_time, :label => "End Time" %></td>
	   </tr>
	   <tr>
              <td><%= submit_button "Save" %></br> Or <%= link_to "Cancel", url(:calendar) %></td>
           </tr> 
       </table>
	
    <% end %>
  
</div>
