 <ul class='error_messages'><li class="empty-li"></li>
     <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
     <% end %>
 </ul>
 
<fieldset>
  <ul>
      <li>
          <label>Welcome Message for:</label>
          <%= select :access_name, :collection => @eee, :prompt => "Please Select"  %>
      </li>
      <li><%= text_area :content, :label => "Content", :rows => "10", :cols => "50" %></li>
  </ul>
</fieldset>
 
<div class="save-cancel">
    <input type = 'button' value = ' Preview ' onclick="preview();return false;" />
    <%= submit " Publish " %> Or
    <%= link_to "Cancel", resource(:welcome_messages), :class => "cancel" %>
</div>
 
<script type= "text/javascript">
 
   document.message.welcome_message_content.focus();
 
 function preview()
 {
   name = document.getElementById('welcome_message_access_name');
    if (name.value == "")
       {
          alert("Please select the Classroom/Homepage from the dropdown menu");
       }
   else
       {
         var s = $('welcome_message').serialize();
         window.open('/welcome_messages/preview/-/?' + s);
       }
   
 }
  
 //$j('.rte-zone').rte("css url", "toolbox images url");

 
 
</script>
