<h2 class="current-page">Welcome Messages  <%= link_to "Add New", url(:new_welcome_message) %></h2>
<div class="fullpage announcemt">
<%= form_for :welcome_message, :action => url(:controller => 'welcome_messages', :action => 'index') do %>
  <%= select :name => "access_name", :collection => @classrooms %>
  <%= submit ">>" %>
<% end =%>

<% for message in @welcome_messages %>
  <div class="data-block long-block">
    <span class="hidden">
      <%= message.created_at.strftime("%B-%d") %>
    </span>
    <div class="ddmmm">
          <span class="date">24</span>
          <span class="month">Oct</span>
    </div>
    <p class="post-content"><%= message.content %></p>
    <%= link_to "Edit", url(:edit_welcome_message, message.id), :class=>"edit-btn" %>
    <%= link_to "Delete", url(:delete_welcome_message, message.id), :class=>"delete-btn" %>
    <div class="hrule clear"><hr /></div>
  </div>
<% end %>

	
</div> 

	 
	 