= error_messages_for @welcome_message
%ul{:class => "error_messages"}
  - if flash[:error]
    = flash[:error]
    
= form_for(@welcome_message, :action => resource(@welcome_message), :id => 'welcome_message') do
  %h2{:class => "current-page"} Welcome Messages &gt; Edit
  %fieldset
    %ul
      %li
        = select :access_name, :collection => @test, :label => "Welcome Message For:", :prompt => "Please Select"
      %li
        = text_area :content, :label => "Content", :rows => "10", :cols => "50"
    .save-cancel
      %input{:type => "button", :value => "preview", :onclick => "preview();return false;"}
      = submit " Publish "
      Or
      = link_to "Cancel", resource(:welcome_messages), :class => "cancel"
      

%script{:type => "text/javascript", :src => "/javascripts/common.js"}  
    