= error_messages_for @welcome_message
%ul{:class => "error_messages"}
  - if flash[:error]
    = flash[:error]
    
= form_for(@welcome_message, :action => resource(@welcome_message), :id => 'welcome_message') do
  %h2{:class => "current-page"} Welcome Messages &gt; Edit
  %fieldset
    %ul
      %li
        = select :access_name, :collection => @test, :label => "Welcome Message For:", :prompt => "Please Select"
      %li
        = text_area :content, :label => "Content", :rows => "10", :cols => "50"
    .save-cancel
      %input{:type => "button", :value => "Preview", :onclick => "preview();return false;"}
      = submit " Publish "
      Or
      = link_to "Cancel", resource(:welcome_messages), :class => "cancel"
      

:javascript
  function preview()
  {
  var name = document.getElementById('welcome_message_access_name');
  if (name.value == "")
  {
    alert("Please select the Classroom/Homepage from the dropdown menu");
  }
  else
  {
  var s = $('welcome_message').serialize();
     window.open('/welcome_messages/preview/-/?' + s, 'mywin', 'left=20,top=20,width=1000,height=500,toolbar=1,resizable=0');
  }
  }

    