= error_messages_for @welcome_message
%ul{:class => "error_messages"}
  - if flash[:error]
    = flash[:error]

= form_for(@welcome_message, :action => resource(:welcome_messages), :id => 'welcome_message', :name => "message") do 
  %h2{:class => "current-page"} Welcome Messages Add New
  %fieldset
    %ul
      %li
        %label Welcome Message For:
        - if params[:l]
          = select :access_name, :collection => @eee, :selected => "#{params[:l]}", :prompt => "Please Select"
        - else
          = select :access_name, :collection => @eee, :selected => "#{@class}", :prompt => "Please Select"
      %li
        = text_area :content, :label => "Content", :rows => "10", :cols => "50"
    .save-cancel
      %input{:type => "button", :value => "preview", :onclick => "preview();return false;"}
      = submit " Publish "
      Or
      = link_to "Cancel", resource(:welcome_messages), :class => "cancel"




:javascript
  document.message.welcome_message_content.focus();
  function preview()
  {
  var name = document.getElementById('welcome_message_access_name');
  if (name.value == "")
  {
    alert("Please select the Classroom/Homepage from the dropdown menu");
  }
  else
  {
  var s = $('welcome_message').serialize();
     window.open('/welcome_messages/preview/-/?' + s, 'mywin', 'left=20,top=20,width=1000,height=500,toolbar=1,resizable=0');
  }
  }
  
 
  
      
