<div id="fullpage">
    
     <h2 class="current-page">SpotLight for <%= @spot_light.class_name %></h2>
  
      <div class="data-block short-block">
          <div class="ddmm">
                 <% @attachment = @current_school.attachments.find(:first, 
                         :conditions => ['attachable_type = ? and attachable_id = ?', "spot_light", @spot_light.id]) %>
                 <div class="spot-pic">
	                    <%= file_image(@current_school.id, @attachment.id, @attachment.attachable_type) unless @attachment == nil  %>
                 </div>
          </div>
          <h3><%= @spot_light.name %></h3>
          <span class="subText"><%= @spot_light.created_at.strftime("%b %d %Y") %></span>
          <br class="clear"/>
          <p class="post-content"><%= san_content(@spot_light.content) %></p>
      </div>
      <br class="clear"/>
       <p class="separator">&nbsp;</p>
         <%= link_to "All Spotlights", url(:lights) %>
</div>

  