<ul class="assignment">    
    <li>
        <%= text_field  :name => "category[assignment][name][]", :id => "assign",
                        :class => "short defaultText defaultTextActive", :title => "Assignment" %><%= text_field  :name => "category[assignment][max_point][]",  
                        :class => "short apart number defaultText defaultTextActive", :min => "0", :title => "Max Points" %>
    </li>
    <li>
        <%= text_field  :name => "category[assignment][name][]", :class => "short defaultText defaultTextActive", :title => "Assignment" %><%= text_field  :name => "category[assignment][max_point][]", :class => "short apart number defaultText defaultTextActive", 
                        :min => "0", :title => "Max Points" %><a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
    </li>
    <li>
        <%= text_field  :name => "category[assignment][name][]", :class => "short defaultText defaultTextActive", :title => "Assignment" %><%= text_field  :name => "category[assignment][max_point][]", :class => "short apart number defaultText defaultTextActive", 
                        :min => "0", :title => "Max Points" %><a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
    </li>
    <li>
        <%= text_field  :name => "category[assignment][name][]", :class => "short defaultText defaultTextActive", :title => "Assignment" %><%= text_field  :name => "category[assignment][max_point][]", :class => "short apart number defaultText defaultTextActive", 
                        :min => "0", :title => "Max Points" %><a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
    </li>
</ul>

