  <ul>    
      <li>
      <%= text_field  :name => "category_1[assignment][name][]", :class => "short required defaultText defaultTextActive", :title => "Name" %>
    <%= text_field  :name => "category_1[assignment][date][]", :id => "date1", :class => "short apart date required defaultText defaultTextActive", :title => "Date" %>
    <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart required number defaultText defaultTextActive", :min => "1", :title => "Max-Points" %>
          <span class="subText">(Required)</span>
          <span class="label"></span>
      </li>
      <li>
      <%= text_field  :name => "category_1[assignment][name][]", :class => "short defaultText defaultTextActive", :title => "Name" %>
      <%= text_field  :name => "category_1[assignment][date][]", :id => "date2", :class => "short apart date defaultText defaultTextActive", :title => "Date" %>
      <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart number defaultText defaultTextActive", :title => "Max-Points" %>
          <a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
      </li>
      <li>
      <%= text_field  :name => "category_1[assignment][name][]", :class => "short defaultText defaultTextActive", :title => "Name" %>
      <%= text_field  :name => "category_1[assignment][date][]", :id => "date3", :class => "short apart date defaultText defaultTextActive", :title => "Date" %>
      <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart number defaultText defaultTextActive", :title => "Max-points" %>
          <a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
      </li>
      <li>
      <%= text_field  :name => "category_1[assignment][name][]", :class => "short defaultText defaultTextActive", :title => "Name" %>
      <%= text_field  :name => "category_1[assignment][date][]", :id => "date4", :class => "short apart date defaultText defaultTextActive", :title => "Date" %>
      <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart number defaultText defaultTextActive", :title => "Max-Points" %>
          <a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
      </li>
      <li>
      <%= text_field  :name => "category_1[assignment][name][]", :class => "short defaultText defaultTextActive", :title => "Name" %>
      <%= text_field  :name => "category_1[assignment][date][]",  :id => "date5",:class => "short apart date defaultText defaultTextActive", :title => "Date" %>
      <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart number defaultText defaultTextActive", :title => "Max-Points" %>
          <a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
      </li>
  </ul>
