  <ul>    
      <li>
          <%= text_field  :name => "category_1[assignment][name][]", :class => "short" %>
          <%= text_field  :name => "category_1[assignment][date][]", :id => "date1", :class => "short apart date" %>
          <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart" %>
          <span class="subText">(Required)</span>
      </li>
      <li>
          <%= text_field  :name => "category_1[assignment][name][]", :class => "short" %>
          <%= text_field  :name => "category_1[assignment][date][]", :id => "date2", :class => "short apart date" %>
          <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart" %>
          <a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
      </li>
      <li>
          <%= text_field  :name => "category_1[assignment][name][]", :class => "short" %>
          <%= text_field  :name => "category_1[assignment][date][]", :id => "date3", :class => "short apart date" %>
          <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart" %>
          <a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
      </li>
      <li>
          <%= text_field  :name => "category_1[assignment][name][]", :class => "short" %>
          <%= text_field  :name => "category_1[assignment][date][]", :id => "date4", :class => "short apart date" %>
          <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart" %>
          <a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
      </li>
      <li>
          <%= text_field  :name => "category_1[assignment][name][]", :class => "short" %>
          <%= text_field  :name => "category_1[assignment][date][]",  :id => "date5",:class => "short apart date" %>
          <%= text_field  :name => "category_1[assignment][max_point][]", :class => "short apart" %>
          <a href="#"  class="delete-btn"  onclick="this.parentNode.parentNode.removeChild(this.parentNode);"></a>
      </li>
  </ul>
