<h2 class="current-page">Grades/Reports > <%= @assignment.name %></h2>
<%= form_for(@assignment, :action => url(:score, :id => @assignment.id), :id => "grade" ) do %>
<p class="assignment-date"><%= text_field  :date, :class => "short", :id => "assignment_date", :label => "Assignment Date" %></p>
  <div  class="clear"></div>
  <table id="mytable">
    <thead>
      <th>Your Students&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Student Score <span class="max-points">(Max Points : <%= @assignment.max_point %> )</span></th>
    </thead>
      <% students = Student.find( :all, :joins => :studies, :conditions => ['studies.classroom_id = ?', @classroom.id] ) %>
        <% students.each do |f| %>
          <tr>
            <td><%= f.name %></td>
            <td><%= text_field :name => "assignment[score][]", :class => "short number", :max => "#{@assignment.max_point}" %></td>
          </tr>
      <% end %>
  </table>
  <div class="save-cancel">
    <%= submit "&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Save &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;" %> Or  <%= link_to "cancel", url(:assignments,  :id => @report.id), :class => "cancel" %>
  </div>
<% end =%>
<script type= "text/javascript">
  $j("#assignment_date").datepicker({minDate:'today + 1'});
    //  $j("#report").validate();   
</script>
