<h2 class="current-page">
    Grades/Reports > <%= @assignment.name %>
     <span class="actions">
  		 <%= link_to "All Subjects", resource(:reports) %>&nbsp; &nbsp;
  		 <%= link_to "All Assignments", url(:assignments,  :id => @report.id) %>   
     </span>
</h2>

<ul class='error_messages'>
     <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
     <% end %>
</ul>

<div class="container">
	<h4>There are some errors in the form, please fill the details.</h4>
	<ol>
		<li><label for="assignment_date" class="error">Please enter the Assignment Date</label></li> 
	    <li><label for="assignment[score][]" class="error">
		       Please enter number and it should be less than or equal to <%= @assignment.max_point %>
		    </label>
		</li>
	</ol>
</div>

<% if @students.empty? %>

        <p class="subText">
	           No Students were found for <%= @classroom.class_name.titleize %>. 
             You can not add the Grades for this assignment.
 			      <div class="page-links">
               <%= link_to "All Assignments", url(:assignments,  :id => @report.id) %> |
               <%= link_to "All Subjects", resource(:reports) %>
            </div>
        </p>

<% else %>

	  <%= form_for(@assignment, :action => url(:score, :id => @assignment.id), :class => "cmxform", :id => "grade" ) do %>
	        <p class="assignment-date">
	             <%= text_field  :date, :class => "short required date", :label => "Assignment Date" %>
	        </p>
	         <div  class="clear"></div>
	 		 <table id="mytable">
			     <thead>
			         <th>Your Students&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
			         <th>Student Score <span class="max-points">(Max Points : <%= @assignment.max_point %> )</span></th>
			     </thead>
		  
		        <% @students.each do |f| %>
		           <tr>
		              <td><%= f.name %></td>
		              <td>
		                 <%= text_field :name => "assignment[score][]", :class => "short number", :max => "#{@assignment.max_point}" %>
		              </td>
		           </tr>
		        <% end %>
			  </table>
			  <div class="save-cancel">
			      <%= submit "&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Save &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;" %> Or  
			      <%= link_to "cancel", url(:assignments,  :id => @report.id), :class => "cancel" %>
			  </div>
	  <% end =%>
	
<% end %>

<script type= "text/javascript">

 $j(document).ready(function() { $j("input.date").datepicker(); });


  // Validation for Adding Grades

    var container = $j('div.container');

   // validate the form when it is submitted
    var validator = $j("#grade").validate({
         	errorContainer: container,
        	errorLabelContainer: $("ol", container),
         	wrapper: 'li',
        	meta: "validate"
});


</script>

<style type="text/css">
  
 	.cmxform fieldset li.error label { color: red; }
	div.container {
		background-color: #eee;
		border: 1px solid red;
		margin: 5px;
		padding: 5px;
	}
	div.container ol li {
		list-style-type: disc;
		margin-left: 20px;
	}
	div.container { display: none }
	.container label.error {
		display: inline;
	}

	form.cmxform label.error {
		display: block;
		margin-left: 1em;
		width: auto;
	}
 
</style>
