<h2 class="current-page">
	Grades/Reports > Add Grade
	<span class="actions">
		 <%= link_to "All Subjects", resource(:reports) %>
    </span>
	
</h2>

<span>For :</span>

<% if params[:label] %>
        <%= select :name => "class_report",  :collection => @classrooms.collect{|x| x.class_name.titleize }, 
             :selected => @classroom.class_name,
             :onchange => "javascript:window.location.href='/assignments?label='+(this.value)+'&id=#{@classroom.id}'" %> &nbsp;
<% else %>
        <%= select :name => "class_report", :selected => @report.classroom.class_name, 
             :collection => @classrooms.collect{|x| x.class_name.titleize }, 
             :onchange => "javascript:window.location.href='/assignments?label='+(this.value)+'&id=#{@report.classroom.id}'" %> &nbsp;
<% end %>

<% if params[:label] %>
        <%= select :name => "subject", :collection => @reports.collect{|x| x.subject_name }, 
               :onchange => "javascript:window.location.href='/assignments?ref='+(this.value)+'&id=#{@classroom.id}'" %> <br/> <br/>
<% else %>
        <%= select :name => "subject", :selected => "#{@report.subject_name}", :collection => @reports.collect{|x| x.subject_name }, 
             :onchange => "javascript:window.location.href='/assignments?ref='+(this.value)+'&id=#{@classroom.id}'" %> <br/> <br/>
<% end %>        


<div class="assignments grades-contents">
  
  <h3><%= @report.subject_name %>
    (<%= link_to "Edit", url(:edit_report, :id => @report.id) %> | <%= link_to "View Report",  url(:view_report, :id => @report.id) %>) 
  </h3>
  <div class="clear"></div>

  <% @categories.each do |f| %>
	    <% if f.category_name.blank? %>
	        Enter the Category Name from here <span class="cancel"><%= link_to "Edit", url(:edit_report, :id => @report.id) %></span> 
	    <% elsif f.category_name == "category" %>
	        Enter the Category Name from here <span class="cancel"><%= link_to "Edit", url(:edit_report, :id => @report.id) %></span> 
	    <% else %>
	        <h4><%= f.category_name %></h4>
	    <% end %> 
  <% assignments = f.assignments %>
   	   <ul class="assign-tasks">
	      <% assignments.each do |a| %>
	        <% @grades = Grade.find(:all, :conditions => ['assignment_id = ?', a.id] ) %>
	        <% unless @grades.empty? %>
	          <li> 
		          <%= link_to "#{a.name}", url(:grades, :id => a.id) %> &nbsp;
		          <span class="subText"> updated: <%= a.updated_at.strftime("%B %d %Y") %></span>
	          </li><br/>
	        <% else %>
	          <li> 
	             <%= link_to "#{a.name}", url(:add_grades, :id => a.id) %> 
	          </li><br/>
	        <% end %>
	      <% end %>
	  </ul>
  <% end %>
 
</div>
