<h2 class="current-page">
     Grades/Reports > <%= @assignment.name %> 
</h2>


<div class="container">
	<h4>There are some errors in the form, please fill the details.</h4>
	<ol>
		<li><label for="assignment_date" class="error">Please enter the Assignment Date</label></li> 
	    <li><label for="assignment[score][]" class="error">Please enter number and it should be less than Max Point</label></li>
	</ol>
</div> <br/>

<%= form_for(@assignment, :action => url(:update_grades, :id => @assignment.id), :class => "cmxform", :id => 'grade' ) do %>
   
       <ul>
           <li><%= text_field  :date, :class => "short required", :id => "assignment_date", 
                               :value => "#{@assignment.date.strftime("%m/%d/%y")}", :label => "Assignment Date" %>
          </li>
       </ul> <br/>
 
       <table id="mytable">
             <thead>
                    <th>Your Students</th>
                    <th>Student Score (Max Points : <%= @assignment.max_point %> )</th>
             </thead>
                       
            <% @students.each do |f| %>
            
                <tr>
                     <td><%= f.name %></td>
                     <% grades = f.grades.find(:all, :conditions => ['assignment_id = ?', @assignment.id] ) %>
                     <% if grades.empty? %>
                          <td>
                              <%= text_field :name => "assignment[score][]", :class => "short required number",
                                             :max => "#{@assignment.max_point}" %>
                          </td>
                     <% else %>
                          <% grades.each do |g| %>
                               <td>
                                   <%= text_field :name => "assignment[score][]", :class => "short required number", 
                                                  :max => "#{@assignment.max_point}",  :value => "#{g.score}" %>
                               </td>
                          <% end %>
                     <% end %>
                </tr>
                
            <% end %>
             
           
       </table>
      
        <div class="save-cancel">
            <%= submit "save" %> Or  <%= link_to "Cancel", url(:assignments,  :id => @report.id), :class => "cancel" %>
        </div>

<% end =%>

<script type= "text/javascript">

  //  $j("#grade").validate();

	 // Validation for Adding Grades

	    var container = $j('div.container');

	   // validate the form when it is submitted
	    var validator = $j("#grade").validate({
	         	errorContainer: container,
	        	errorLabelContainer: $("ol", container),
	         	wrapper: 'li',
	        	meta: "validate"
	});


    $j("#assignment_date").datepicker({minDate:'today + 1'});
    
   
   
</script>


<style type="text/css">
  
 	.cmxform fieldset li.error label { color: red; }
	div.container {
		background-color: #eee;
		border: 1px solid red;
		margin: 5px;
		padding: 5px;
	}
	div.container ol li {
		list-style-type: disc;
		margin-left: 20px;
	}
	div.container { display: none }
	.container label.error {
		display: inline;
	}

	form.cmxform label.error {
		display: block;
		margin-left: 1em;
		width: auto;
	}
 
</style>
