
<h2 class="current-page">Grades/Reports &gt; <span class="add-link">Add/Edit Assignments</span></h2>
<span class="subText">Please specify the subjects for which you wish to add the grades</span><br/>

<%= form_for(@report, :action => resource(@report), :onsubmit => "ClearAll()" ) do %>
       
  <div class="add-subjects new-fieldset">
	     <p class="main-subject">        
		       <%= text_field  :subject_name,  :label => "Main Subject", :title => "Subject" %>
		       <%= select :classroom_id, :collection => @classrooms.collect{|x| x.class_name.titleize }, 
		                  :label => "for", :selected => "#{@report.classroom.class_name.titleize}", :prompt => "Please Select" %>
	     </p>
             
         <div class="test">
	          
                <% @categories.each do |f| %>
                    <div id = "<%= f.id %>">
                         <p class="category">
                              <label>Category(optional)</label>
                              <%= text_field :name => "cgories_#{f.id}[category_name][]", :class => "text", :value => "#{f.category_name}" %>
                         </p>  
                
                         <ul id="ament<%= f.id %>">
                             <% f.assignments.each do |a| %>
                             
	                              <li>
	                                  <%= text_field  :name => "cgories_#{f.id}[assignment][name][]", :class => "short", :value => "#{a.name}" %>
                                      <%= text_field  :name => "cgories_#{f.id}[assignment][max_point][]", :class => "short apart", 
                                                      :value => "#{a.max_point}" %>
                                      <%= link_to "", url(:delete_report, a, :label => "assignment"), :class => "delete-btn" %>
                                  </li>
                           
                             <% end %>
                         </ul>
                         <a href="#"  class="add-more"  onClick="assignments(this.parentNode.id); return false;">Add Assignment</a>
                         <div class="clear" style="padding-bottom:8px">&nbsp;</div>
                    </div>     
                <% end %> 
               
          </div>

                <div id="test" class="test" style="display:block;">
		        	 <%= fields_for @category do %>
		                   <p class="category">					
			                    <label>Category (Optional)</label>				
							    <%= text_field :name => "category[category_name][]", :class =>"text"%>
							</p>
			         <% end =%>
				
					 <%= fields_for @assignment do %> 
					       <%= partial 'grade' %>
					       <a href="#"  class="add-more"  onClick="testing(this.parentNode.id); return false;">Add Assignment</a>       
					 <% end =%>
					 <div class="clear" style="padding-bottom:8px">&nbsp;</div>
			    </div>
			
			 				
			   
          <div class="save-cancel">
	            <a id="plus3" href="">Add Category </a>
                <%= submit "Save" %> Or  <%= link_to "Cancel", url(:assignments, :id => @report.id), :class => "cancel" %>
                <a id="minus3" href="" class="cancel">Remove Category </a>
          </div>

   </div>          
      <% end =%>                      
  
</fieldset> 

 <script type="text/javascript" src='/javascripts/grades.js'></script>

