<h2 class="current-page">
     Grades/Reports > <%= @assignment.name %> 
</h2>


<span class="actions">
  <%= @assignment.name %> &nbsp; ( <%= @assignment.date.strftime("%B %d %Y") %> ) &nbsp;
  <%= link_to "Edit", url(:edit_grades, :id => @assignment.id) %>
</span> <br/> <br/>
  
  
  
<table id="mytable">
    <thead>
        <th>Your Students</th>
        <th>Score (Max Points : <%= @assignment.max_point %> )</th>
        <th>Grade </th>
    </thead>
    <tbody>
         <%= @classroom.class_name %>
         <% @students.each do |f| %>
               <tr>
                   <td><%= f.name %></td>
                   <td><%= f.grade.score %></td>
                   <td><%= f.grade.grade %></td>
               </tr>
         <% end %>
    </tbody>
</table>

<%= link_to "All Assignments", url(:assignments,  :id => @report.id) %>
