
<h2 class="current-page">
      Grades/Reports 
      <span class="actions">
           <%= link_to "Set Up Subjects", resource(:reports, :new) %> &nbsp; &nbsp;
         <% if @ranks.empty? %>
             <%= link_to "Add Grades Definition", resource(:ranks, :new) %>
         <% else %>
             <%= link_to "Edit Grades Definition", url(:ranks_edit) %>
         <% end %>
      </span>
</h2>


<table id="mytable">
    <thead>
        <th>Subject</th>
        <th>Last Updated</th>                                                 
    </thead>
    <tbody>
         <% for report in @reports %>
              <tr>
                  <td><%= link_to "#{report.subject_name}", url(:assignments, :id => report.id) %> </td>
                  <td><%= report.updated_at.strftime("%B %d %Y") %></td>
              </tr>
         <% end %>
    </tbody>
</table>