
<%= error_messages_for @report %>
<%#= error_messages_for @assignment %>

<ul class='error_messages'>
     <% if flash[:error] %>
         <li><%= flash[:error] %> </li>
     <% end %>
</ul>

<h2 class="current-page">Grades/Reports &gt; <span class="add-link">Setup Subjects</span></h2>
 
<span class="subText">Please specify the subjects for which you wish to add the grades</span><br/>

<div class="container">
	<h4>There are some errors in the form, please fill the details.</h4>
	<ol>
		<li><label for="report_subject_name" class="error">Please enter the Subject Name</label></li> 
		<li><label for="report_classroom_id" class="error">Please select the Classroom</label></li> 
		<li><label for="assign" class="error">Please enter the Assignment</label></li> 
		<li><label for="testing" class="error">Please enter the Max Point correctly</label></li>
		<li><label for="category[assignment][max_point][]" class="error">
			 Please enter the Max Points with the minimum value of 0</label></li>
	</ol>
</div>

<%= form_for(@report, :id => "report", :action => resource(:reports), :class => "cmxform", :onsubmit => "ClearAll()" ) do %>

<div class="add-subjects new-fieldset">
		  <p class="main-subject">
		         <%= text_field  :subject_name,  :class => "required defaultText defaultTextActive", 
		                         :label => "Main Subject", :title => "Subject" %>
		         <%= select :classroom_id, :collection => @classrooms.collect{|x| x.class_name.titleize }, 
		                   :label => "for", :prompt => "Please Select Classroom", :class => "required" %>
		  </p>
		
       <div id="test" class="test">
           <%= fields_for @category do %>
	             <div class="category" style="width:40%;float:left" >
		               <label>Category (Optional)</label>
		               <%= text_field :name => "category[category_name][]", :class =>"text category-text"%>
	             </div>
           <% end =%>
           <%= fields_for @assignment do %> 
             <%= partial 'grade' %>
	             <ul id="assignment" class="assignment"></ul>
               <a href="#"  class="add-more"  onClick="testing(this.parentNode.id); return false;">Add Assignment</a>
           <% end =%>
           
           <div class="clear" style="padding-bottom:8px">&nbsp;</div>
          
       </div>
     
      <div class="save-cancel">
	        <a id="plus3" href="">Add Another Category</a>
            <%= submit "Save" %> Or  <%= link_to "Cancel", resource(:reports), :class => "cancel" %>
            <a id="minus3" href="" class="cancel">Remove Category </a>
      </div>
   
  </div>        
<% end =%> 


 <script type="text/javascript" src='/javascripts/grades.js'></script>




	<style type="text/css">
  
	 	.cmxform fieldset li.error label { color: red; }
		div.container {
			background-color: #eee;
			border: 1px solid red;
			margin: 5px;
			padding: 5px;
		}
		div.container ol li {
			list-style-type: disc;
			margin-left: 20px;
		}
		div.container { display: none }
		.container label.error {
			display: inline;
		}

		form.cmxform label.error {
			display: block;
			margin-left: 1em;
			width: auto;
		}
 
	</style>

