
<%= error_messages_for @report %>
<%#= error_messages_for @assignment %>

<ul class='error_messages'>
     <% if flash[:error] %>
         <li><%= flash[:error] %> </li>
     <% end %>
</ul>

<h2 class="current-page">Grades/Reports &gt; <span class="add-link">Setup Subjects</span></h2>
 
<span class="subText">Please specify the subjects for which you wish to add the grades</span><br/>



<%= form_for(@report, :id => "report", :action => resource(:reports), :onsubmit => "ClearAll()" ) do %>
<div class="add-subjects new-fieldset">
  <p class="main-subject">
    <%= text_field  :subject_name,  :class => "required defaultText defaultTextActive", :label => "Main Subject", :title => "Subject" %>
    <%= select :classroom_id, :collection => @classrooms.collect{|x| x.class_name.titleize }, :label => "for", :prompt => "Please Select" %>
  </p>
       <div id="test" class="test">
           <%= fields_for @category do %>
             <p class="category">
               <label>Category (Optional)</label><br />
               <%= text_field :name => "category[category_name][]", :class =>"text"%>
            </p>
           <% end =%>
           <p class="assignments-header">Assignments (Add each assignment in a  new line):</p>
           <%= fields_for @assignment do %> 
             <%= partial 'grade' %>
             <a href="#"  class="add-more"  onClick="testing(this.parentNode.id); return false;">Add More Assignments</a>       
           <% end =%>
           <div class="clear">&nbsp;</div>
       </div>
     
      <div class="save-cancel">
            <a id="plus3" href="">Add Another Category</a>
            <%= submit "Save" %> Or  <%= link_to "Cancel", resource(:reports), :class => "cancel" %>
            <a id="minus3" href="" class="cancel">Remove Category </a>
      </div>

      </div>        
<% end =%> 

<script type= "text/javascript">
  
   $j(document).ready(function()
   {	
     $j("#test").dynamicForm("#plus3", "#minus3");
     
   });
   
      id = 1
   function testing(counter)
       {  
         var div = document.getElementById(counter) 
         var r = document.getElementById(counter).id
         var k = r.split('')
         a = k[4]
         if (r == 'test')
           {
             var ul = document.getElementById('assignment')
             $j(ul).append("<li id='row" + id + "'><input type='text' class='short text' name='category[assignment][name][]' id='txt"+id+"'><input type='text' class='short text apart' name='category[assignment][max_point][]' id='txt"+id+"'><a href='#' class='delete-btn' onClick='removeFormField(\"#row"+id+"\"); return false;'></a></li>");
           }
         else
           {
             var li = div.getElementsByTagName("ul")
             for (i=0; i<li.length; i++)
             {
               if (li[i].id == "assignment")
               {
                 li[i].id = "assignment_" + a
                }
             }
              var tt = document.getElementById('assignment_' + a)
              $j(tt).append("<li id='row" + id + "'><input type='text' class='short text' name='category_" +  a  + "[assignment][name][]' id='txt" + id + "'><input type='text' class='short text apart' name='category_" +  a  + "[assignment][max_point][]' id='txt" + id + "'><a href='#' class='delete-btn' onClick='removeFormField(\"#row" + id + "\"); return false;'></a></li>");
           }
         id = (id - 1) + 2;
        
       }
    
      function removeFormField(id) 
      {
         $j(id).remove();
       }
       
   // Default Text on focus
  $j(document).ready(function()
      {
          $j(".defaultText").focus(function(srcc)
          {
              if ($j(this).val() == $j(this)[0].title)
              {
                  $j(this).removeClass('defaultTextActive');
                  $j(this).val("");
              }
          });
          
          $j(".defaultText").blur(function()
          {
              if ($j(this).val() == "")
              {
                  $j(this).addClass("defaultTextActive");
                  $j(this).val($j(this)[0].title);
              }
          });
          
          $j(".defaultText").blur();        
      });
  
  // clearing default values
  
   function ClearAll()
   { 
      var r = document.getElementById('report')
      var pr =  r.getElementsByTagName('input');
      for (var r=0;r<pr.length;r++)
      {
          if (pr[r].value == pr[r].title)
           {
             pr[r].value = ""
           }
      }
   }

  
</script>



<style type="text/css">
  
    input.error { border: 2px solid #c00;}
    label.error { display:block; color: red; padding-left: .5em; vertical-align: top; }
 
</style>

