<fieldset class="your-announce">
  <ul>
    <li><label>Announcement for:</label><%= select :access_name, :collection => @classrooms %></li>
    <li><%= text_field  :title,  :label => "Title" %></li>
    <li><%= text_area  :content,  :label => "Description", :rows => "10", :cols => "50" %></li>
    <li><%= text_field  :expiration, :id => "expiration", :label => "Expiration", :class => "short date" %></li>
    <li><%= file_field :attachment,  :label => "Attach a File" %></li>
  </ul>
</fieldset>
<div class="save-cancel">
	<input type = 'button' value = '    Preview    ' onclick="preview();return false;" />
<%= submit "Submit for Approval" %></br> Or <%= link_to "Cancel", resource(:parents), :class => 'cancel' %>
</div>


<script type= "text/javascript">

 	 $j(document).ready(function() {
            $j("input.date").datepicker({minDate:'today + 1'})
       });


 function preview()
	 {
	    var name = document.getElementById('announcement_access_name');

	   // var s =    dropdown.options[dropdown.selectedIndex].value;

	     if (name.value == "")
	       {
	          alert("Please select the Classroom/Homepage from the dropdown menu");
	       }
	    else
	       {
	           var s = $('announcement').serialize();
			   window.open('/parents/preview/-/?' + s);
	       }

	 }
   
</script>
 
 
  
