<h2 class="current-page">Announcements <%= link_to "Add New", resource(:parents, :new) %></h2>
<div class="fullpage announcemt">
    <% for announcement in @announcements %>
           <div class="data-block long-block">
              <% if announcement.created_at.nil? %>
                  <div class="ddmmm-x">
	                </div>
              <% else %>
                   <div class="ddmmm">
                       <span class="date"><%= announcement.created_at.strftime("%d") %></span>
                       <span class="month"><%= announcement.created_at.strftime("%b") %></span>
	                 </div>
              <% end %>
              <h3><%= link_to "#{announcement.title}", url(:parent, announcement.id) %></h3>
                  <p class="separator"><%= snippet(announcement.content,50) %></p>
                  <% if ( (announcement.approved) && (announcement.approve_announcement)) %>
                       <%= @message1 %>
                  <% elsif ((announcement.approve_announcement == true) && (announcement.approved == false )) %>
                       <%= @message2 %>
                       <%= link_to "Edit", url(:edit_parent, announcement.id), :class=>"edit-btn" %>
                       <%= link_to "Delete", url(:delete_parent, announcement.id), :class=>"delete-btn"  %>
                  <% elsif ((announcement.approve_announcement == false) && (announcement.approved == false )) %>
                       <%= @message3 %>
                       <%= link_to "Edit", url(:edit_parent, announcement.id), :class=>"edit-btn" %>
                       <%= link_to "Delete", url(:delete_parent, announcement.id), :class=>"delete-btn"  %>
                  <% end %>   
              <div class="hrule clear"><hr /></div>
           </div>
    <% end %>
 
</div>
 