  
  <h2 class="current-page">Your Announcements > <%= @announcement.title %> </h2>
  <div class="fullpage announcemt"> 
   
           <div class="data-block long-block">
             <% if @announcement.expiration.nil? %>
                   <div class="ddmmm-x">
	                 </div>
              <% else %>
                   <div class="ddmmm">
                      <span class="date"><%= @announcement.expiration.strftime("%d") %></span>
                      <span class="month"><%= @announcement.expiration.strftime("%b") %></span>
	                 </div>
              <% end %>
              <h3><%= @announcement.title %></h3> 
              <p class="post-content"><%= @announcement.content %></p>
        
              
              <div class="hrule clear"><hr /></div>
                  <%= link_to "Back", resource(:parents) %> 
              </div>   
            
              <%  if (@announcement.approved == false ) && (@announcement.approve_announcement == false) %>
                  <% @person = Person.find(:first, :conditions => ['id = ?', @announcement.reject_by] ) %>
                   Rejected By <%= @person.name %> 
                    <p> <%= @announcement.reject_comments %></p>
               <% end %>
      
               <%  if (@announcement.approved == true ) && (@announcement.approve_announcement == true) %>
                    <% @person = Person.find(:first, :conditions => ['id = ?', @announcement.approve_by] ) %>
                     Approved & PublishedBy <%= @person.name %> 
                    <p> <%= @announcement.approve_comments %></p>
               <% end %>
             
   </div>     
   
