<div id="fullpage">
  <h2 class="current-page">
    Urgent Announcements <span class="actions">
             <%= link_to "Add New", resource(:notifications, :new) %> 
      </span>
  </h2>
  
    <% if @announcements.empty? %>
         <p>There are no Urgent Announcements created yet. <%= link_to "Add New", resource(:notifications, :new) %></p>
    <% else %>
         <% for announcement in @announcements %>
               <div class="data-block long-block">
                    <div class="ddmmm">
                        <span class="date"><%= announcement.expiration.strftime("%d") %></span>
	                      <span class="month"><%= announcement.expiration.strftime("%b") %></span>
	                  </div>
	                  <p class="post-content"><%= announcement.content %></p>
                    <%= link_to "Edit", url(:edit_notification, announcement.id), :class=> "edit-btn"  %>
                    <%= link_to "Delete", url(:delete_notification, announcement.id), :class=> "delete-btn"  %>
                    <p class="separator clear">&nbsp;</p>
                    <br class="clear"/>
               </div>
         <% end %>
         
         <%= will_paginate (@announcements, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
         
    <% end %>
    
    
</div>