<%= error_messages_for @spot_light %>
<ul class='error_messages'>
     <% if flash[:error] %> 
		    <li><%= flash[:error] %></li>
     <% end %>
</ul>	 


<h2 class="current-page">SpotLight &gt; Edit </h2>
<%= form_for(@spot_light, :action => resource(@spot_light) , :id => 'spot_light') do %>

       <fieldset>
            <ul>
			     <li><%= text_field :title, :label => "Title", :class => "short" %></li>
		         <li>
	                 <%= text_field  :student_name, :id => "first", :label => "First Name", :maxlength => "75" %>
	 			 </li>
				 <li>
	                 <%= text_field  :last_name, :id => "last", :label => "Last Name", :maxlength => "75" %>
		         </li>
               <li>
	                <label>Spotlight for:</label>
	                <%= select :class_name, :collection => @classrooms, :prompt => "Please Select" %>
	           </li>
               <li><%= file_field :image, :label => "Upload Picture (optional)" %>
                    <% unless @pic.nil? %>                          
                         <span class="picEdit">
	                          <%= file_image(@current_school.id, @pic.id, @pic.attachable_type) %>
	                     </span>
                    <% end %>
                </li>
               <li><%= text_area  :content,  :label => "Content", :rows => "10", :cols => "50" %></li>
              
            </ul>
       </fieldset>

       <div class="save-cancel">
	        <input type = 'button' value = ' Preview ' onclick="preview();return false;" />
            <%= submit "    Publish    " %> Or 
            <%= link_to "Cancel", resource(:spot_lights), :class => "cancel" %>
       </div>
 

<% end =%>


<script type= "text/javascript">

$j(document).ready(function()
 {
     //var data = "Core Selectors Attributes Traversing Manipulation CSS Events Effects Ajax Utilities".split(" ");
 
       var first =  "<%= @first_name %>".split(" ");
       var last =  "<%= @last_name %>".split(" ");

       $j("#first").autocomplete(first);
       $j("#last").autocomplete(last);
     
  });


 function preview()
 {
    var name = document.getElementById('spot_light_class_name');

	if (name.value == "")
       {
          alert("Please select the Classroom/Homepage from the drop down menu");
       }
    else
       {
          var s = $('spot_light').serialize();
	      window.open('/spot_lights/preview/-/?' + s, 'mywin', 'left=20,top=20,width=1000,height=500,toolbar=1,resizable=0');
       }

 }
  

</script>                                                                                                    

