<div id="fullpage">
     <h2 class="current-page">
         Spot Light <span class="actions">
         <%= link_to "Add New", resource(:spot_lights, :new) %></span>
     </h2>
   <% unless @spot_lights.empty? %>
    
         <% for spot in @spot_lights %>
             <div class="data-block short-block">
                  <div class="ddmm">
                        <% @attachment = Attachment.find(:first, :conditions => ['attachable_type = ? and attachable_id = ?', "spot_light", spot.id]) %>
                      <% unless @attachment.nil? %>  
                         <img src="/uploads/spotlights/<%= @attachment.filename %>" alt="<%= @attachment.filename %>" class="teacherPic"/>
                      <% end %>
                  </div>
                  <h3><%= link_to "#{spot.student_name}", url(:spot_light, spot.id) %></h3>
                  <h5><span class="subText">SpotLight for <%= spot.class_name %></span></h5>
                  <span class="subText"><%= spot.created_at.strftime("%b %d %Y") %></span>
                  <p class="post-content"><%= snippet(spot.content, 50) %></p>
                  <%= link_to "Edit", resource(spot, :edit), :class=>"edit-btn" %>
                  <%= link_to "Delete", resource(spot, :delete), :class=>"delete-btn"  %>
                  <div class="hrule clear"><hr /></div>
              </div>
         <% end %>
    
    <% end %>
    
</div>

