  
   <% s = @classroom.class_peoples.delete_if{ |x| x.team_id != nil } %>
          <% if @classroom.class_name != "Sports" %> 
                 <% t = s.delete_if{ |x| x.role != "class_teacher" } %>
                 <% t.each do |f| %>
                     <h3><%= f.person.name %>'s Bio</h3>
                     <li><%= f.person.email %></li>
                     <p><%= f.person.person_bio %></p>
                  <% end %>
         <% else %>
                <% t = s.delete_if{ |x| x.role != "Athletic Director" } %>
                 <% t.each do |f| %>
                     <h3><%= f.person.name %>'s Bio</h3>
                     <li><%= f.person.email %> </li>
                     <p><%= f.person.person_bio %></p>
                  <% end %>
          <% end %>
