<div id="fullpage">
    
     <h2 class="current-page">SpotLight for <%= @spot_light.class_name %></h2>
  
      <div class="data-block short-block">
          <div class="ddmm">
                 <% @attachment = Attachment.find(:first, :conditions => ['attachable_type = ? and attachable_id = ?', "spot_light", @spot_light.id]) %>
                 <% unless @attachment.nil? %>
                      <img src="/uploads/spotlights/<%= @attachment.filename %>" alt="<%= @attachment.filename %>" class="teacherPic"/>
                 <% end %>
          </div>
          <h3><%= @spot_light.student_name %></h3>
          <span class="subText"><%= @spot_light.created_at.strftime("%b %d %Y") %></span>
          <br class="clear"/>
          <p class="post-content"><%= san_content(@spot_light.content) %></p>
      </div>
      <br class="clear"/>
    
         <%= link_to "< Back to Home Page", url(:homes) %> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
         <%= link_to "All Spot Lights", url(:lights) %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
</div>

