<div id="classContainer">
     <div id="sidebar" class="left-block">
        <%= partial 'common/principal_image' %>
        <% if @from_principals.blank? %>
          <p class="subText">There are no articles at this time</p>
        <% else %>
               <% for principal in @from_principals %>
                   <div class="data-block long-block">
                         <div class="ddmmm">
                              <span class="date"><%=  principal.created_at.strftime("%d")%></span>
                              <span class="month"><%=  principal.created_at.strftime("%b")%></span>
                         </div>
                          <span><br/><%= link_to "#{principal.title}", url(:home, principal.id, :label => 'principal') %></span>
                         <p class="separator"><%= snippet(principal.content, 50) %></p>
                   </div>
                <% end %>
         <% end %>
              <p class="separator">&nbsp;</p>
                <% unless @all_from_principals.blank?%>
                  <div class="page-links">
                      <% if @from_principals.blank? %>
                          <%= link_to "View previous articles", url(:principal_articles, :label => 'principal')   %>
                      <% else %>
                          <%= link_to "View All Principal’s Articles", url(:principal_articles, :label => 'principal'), 
                                      :class =>'all-articles' %>
                      <%end%>
                  </div>
                <% end %>
                <% unless session.user.type == "Parent" %>
                     <span class="admin-links block" <% if @selected == "from_principal" %> class="on" <% end %>>
                          <span><%= link_to_right((right = "from_principal"), "Add New", resource(:from_principals, :new)) %></span>
                          &#124;
                          <span><%= link_to_right((right = "from_principal"), "Settings", url(:settings)) %></span>
                     </span>
                <% end %>
            </div>
     <div id="content" class="homes-content">
           <p class="post-content">
               <% if @welcome_messages.empty? %>
                 Welcome to <%=@current_school.school_name%>
                 <% unless session.user.type == "Parent" %>
                     <span class="admin-links">
                      <%= link_to_right( (right = "welcome_messages"), "Edit", url(:new_welcome_message, :l => "Home Page" ) ) %>
                     </span>
                 <% end %>
               <% else %>
                <% for message in @welcome_messages %>
                   <%= san_content(message.content) %>
                   <div class="clear"></div>
                   <% unless session.user.type == "Parent" %>
                         <div class="admin-links">
                            <span>
	                             <%= link_to_right( (right = "welcome_messages"), "Edit Welcome Message", resource(message, :edit) ) %>
	                        </span> &#124;
	                             <%= link_to_delete( (right = "welcome_messages"), "Delete Welcome Message", resource(message, :delete) ) %>
                         </div>
                   <% end %>
                <% end %>
           <% end %>
           <div class="hrule clear"><hr /></div>
           <h2 class="home">Announcements</h2>
           <% if (@announcements.empty?) && (@urgent_announcements.empty?) %>
                 <p class="subText">There are no announcements at this time</p>
                 <p class="separator">&nbsp;</p>
                 <% unless @all_announcements.empty? %>
                     <div class="page-links">
                        <%= link_to "View all previous announcements", url(:principal_articles, :label => 'announcements')   %>
                     </div>
                 <% end %>
           <% else %>
                 <% for announcement in @urgent_announcements %>
                       <div class="data-block long-block urgent-display">
                           <div class="ddmmm">
                                <span class="date"><%=  announcement.created_at.strftime("%d")%></span>
                                <span class="month"><%=  announcement.created_at.strftime("%b")%></span>
                           </div>
                           <p class="urgent-title">Urgent Announcement</p>
                           <p><%= announcement.content %></p>
                           <p class="separator">&nbsp;</p>
                       </div>
                 <% end %>
                 <% for announcement in @announcements %>
                       <div class="data-block long-block">
                            <div class="ddmmm">
                                 <span class="date"><%=  announcement.created_at.strftime("%d")%></span>
                                 <span class="month"><%=  announcement.created_at.strftime("%b")%></span>
                            </div>
                            <p><%= link_to "#{announcement.title}", url(:home, announcement.id) %></p>
                            <p><%= snippet(announcement.content, 50) %></p>
						   <% @attachment = @current_school.attachments.find(:first, 
						           :conditions => ["attachable_id =? and attachable_type =?", announcement.id, "Announcement"] ) %>
						   <%= partial 'common/attachment' %>
                            <p class="separator">&nbsp;</p>
                       </div> 
                 <% end %>
                <div class="page-links">
                     <%= link_to "View All Announcements", url(:principal_articles, :label => 'announcements') %> 
                </div>
           <% end %>
           <% unless session.user.type == "Parent" %>
               <div class="admin-links">
                    <span>
                      <% if @selected == "announcements" %> class="on" <% end %>
                      <%= link_to_right((right = "announcements"), "Add New Announcement", resource(:announcements, :new, :l => "Home Page")) %>
                      &#124;
                      <%= link_to_right((right = "urgent_announcement"), "Add New Urgent Announcement", resource(:notifications, :new) ) %>
                    </span>
               </div>
           <% end %>
     </div>
<div class="right-sidebar">
  
       <% unless @spot_light.nil? %>
            <h3>Spotlight</h3>
            <ul class="last">
                  <% @attachment = @current_school.attachments.find(:first, 
                             :conditions => ['attachable_type = ? and attachable_id = ?', "spot_light", @spot_light.id]) %>
                  <%= file_image(@current_school.id, @attachment.id, @attachment.attachable_type) %>
                  <h6><%= link_to "#{@spot_light.student_name}", url(:home_spot_light, :l => @spot_light.id) %></h6>
                  <%= snippet(@spot_light.content, 20) %>
                  <hr size="1"/>
                  <%= link_to "All Spotlights", url(:lights) %>
            </ul>
       <% end %>
       
       <% unless @classrooms.empty? %>
            <h3>Quick Links </h3>
            <ul class="last">
                 <% unless @classes.empty? %>
                       <li class="noBullet">Classrooms:
                         <ul>
                        <% @classes.each do |f| %>
                              <% if f.class_name == "Sports" %>
                                    <li><%= link_to "#{f.class_name}".titleize, url(:sports) %></li>
                              <% else %>
                                    <li><%= link_to "#{f.class_name}".titleize, url(:class_details, :id => f.id) %></li>
                              <% end %>
                        <% end %>
                        </li>
                        </ul>
                       </ul>
                 <%end%>
                 <%unless @extracurricular.empty?%>
                       <li class="noBullet">Subjects:
                         <ul>
                        <% @extracurricular.each do |f| %>
                              <% if f.class_name == "Sports" %>
                                    <li><%= link_to "#{f.class_name}".titleize, url(:sports) %></li>
                              <% else %>
                                    <li><%= link_to "#{f.class_name}".titleize, url(:class_details, :id => f.id) %></li>
                              <% end %>
                        <% end %>
                        </li>
                        </ul>
                       </ul>
                 <%end%>
            </ul>
       <% end %>

       <% unless  @external_links.empty? %>
           <h3>External Links </h3>
           <ul class="last"> 
               <% for link in @external_links %>
                 <% s = "#{link.url}".split("http://") %>
                 <li><%= link_to ("#{link.title}", "http://#{s}",  {'target' => '_blank'}) %></li>
               <% end %>
           </ul> 
       <% end %>
       
      
   </div>                                                                                                                                                             
   
</div>

<script type="text/javascript" src='/javascripts/delete_confirmation.js'></script>
