<div id="sidebar" class="left-block">
  <img src="images/principal.png" alt="From The Principal"/>
  <% for principal in @from_principals %>
      <div class="data-block long-block">
      <% if principal.expiration.nil? or principal.expiration >= @date%>
           <div class="ddmmm">
                <span class="date"><%=  principal.created_at.strftime("%d")%></span>
                <span class="month"><%=  principal.created_at.strftime("%b")%></span>
           </div>
           <span><%= link_to "#{principal.title}", url(:home, principal.id) %></span>
           <p class="separator"><%= snippet(principal.content, 50) %></p>
      <% end %>
      </div>
  <% end %>
  <div>
    <%= link_to "All Articles", url(:principal_articles, :label => 'principal'), :class =>'all-articles' %>
  </div>
  </div>
  <div id="content" class="homes-content">
      <% unless @welcome_messages.empty? %>
        <% for message in @welcome_messages %>
           <p class="post-content"><%= message.content %></p>
           <br />
        <% end %>
      <% end %>

<h2>Announcements</h2>
   <% for announcement in @announcements %>

       <% if announcement.expiration.nil? or announcement.expiration >= @date %>
          <div class="data-block long-block">
            <div class="ddmmm">
              <span class="date"><%=  announcement.created_at.strftime("%d")%></span>
              <span class="month"><%=  announcement.created_at.strftime("%b")%></span>
            </div>
              <p><%= link_to "#{announcement.title}", url(:home, announcement.id) %></p>
               <p class="separator"><%= snippet(announcement.content, 50) %></p>
              <% @attachment = Attachment.find(:first, :conditions => ["attachable_id =? and attachable_type =?", announcement.id, "Announcement"] ) %>
                  <% unless @attachment.nil? %>
                   <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                  <% end %>
           </div>           
      <% else %>
           <p class="separator">There are no announcements at this time.</p>
        
      <% end %>    

   <% end %>
 
     <%= link_to "All Announcements", url(:principal_articles, :label => 'announcements'), :class =>'all-articles'   %>


</div>
<div class="right-sidebar">
  <h3>Quick Links </h3>
  <% unless @classrooms.empty? %>
     <ul class="last">
       <% @classrooms.each do |f| %>
        <li><%= link_to "#{f.class_name}", url(:class_details, :id => f.id) %></li>
       <% end %>
      </ul>
   <% end %>
</div>
<div class="right-sidebar">
   <h3>External Links </h3>
  <ul class="last"> 
    <% for link in @external_links %>
     <li><%= link_to ("#{link.title}", "http://#{link.url}", {'target' => '_blank'}) %></li>
   <% end %>
  </ul> 
</div>

