<div id="classContainer">
     <div id="sidebar" class="left-block">
        <%= partial 'common/principal_image' %>
        <% if @from_principals.blank? %>
          <p class="subText">There are no articles at this time</p>
        <% else %>
               <% for principal in @from_principals %>
                   <div class="data-block long-block">
                         <div class="ddmmm">
                              <span class="date"><%=  principal.created_at.strftime("%d")%></span>
                              <span class="month"><%=  principal.created_at.strftime("%b")%></span>
                         </div>
                          <span><br/><%= link_to "#{principal.title}", url(:home, principal.id, :label => 'principal') %></span>
                         <p class="separator"><%= snippet(principal.content, 50) %></p>
                   </div>
                <% end %>
         <% end %>
              <p class="separator">&nbsp;</p>
                <% unless @all_from_principals.blank?%>
                  <div class="page-links">
                      <% if @from_principals.blank? %>
                        <%= link_to "View previous articles", url(:principal_articles, :label => 'announcements')   %>
                      <%else%>
                         <%= link_to "View All Principal’s Articles", url(:principal_articles, :label => 'principal'), :class =>'all-articles' %>
                      <%end%>
                  </div>
                <%end%>
              
              
            </div>
     <div id="content" class="homes-content">
           <p class="post-content">
               <% if @welcome_messages.empty? %>
                 Welcome to <%=@current_school.school_name%>
               <%else%>
                <% for message in @welcome_messages %>
                   <%= san_content(message.content) %>
                <% end %>
           <% end %>
           <div class="hrule clear"><hr /></div>
           <h2 class="home">Announcements</h2>
                <% unless  @urgent_announcements.empty? %>
                     <% for announcement in @urgent_announcements %>
                           <div class="data-block long-block">
                               <div class="ddmmm">
                                    <span class="date"><%=  announcement.created_at.strftime("%d")%></span>
                                    <span class="month"><%=  announcement.created_at.strftime("%b")%></span>
                               </div>
                               <p><%= announcement.content %></p>
                           </div>
                      <% end %>
                <% end %>
          <% if (@announcements.blank?) && (@urgent_announcements.blank?) %>
                 <p class="subText">There are no announcements at this time</p>
                 <p class="separator">&nbsp;</p>
                 <% unless @all_announcements.blank? %>
                    <div class="page-links">
                      <%= link_to "View all previous announcements", url(:principal_articles, :label => 'announcements')   %>
                   </div>
                 <% end %>
          <% else %>
                 <% for announcement in @announcements %>
                         
                       <% if announcement.expiration >= @date %>
                           <div class="data-block long-block">
                               <div class="ddmmm">
                                    <span class="date"><%=  announcement.created_at.strftime("%d")%></span>
                                    <span class="month"><%=  announcement.created_at.strftime("%b")%></span>
                               </div>
                               <p><%= link_to "#{announcement.title}", url(:home, announcement.id) %></p>
                               <p><%= snippet(announcement.content, 50) %></p>
                                   <% @attachment = Attachment.find(:first, :conditions => ["attachable_id =? and attachable_type =?", announcement.id, "Announcement"] ) %>
                                   <% unless @attachment.nil? %>
                                    <span class="attachment"><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></span>
                                   <% end %>
                                   <p class="separator">&nbsp;</p>
                             </div> 
                             <% unless @all_announcements.blank? %>
                                <div class="page-links">
                                  <%= link_to "View All Announcements", url(:principal_articles, :label => 'announcements')   %> 
                               </div>    
                             <% end %>     
                       <% else %>
                             <p class="subText">There are no announcements at this time</p>
                             <p class="separator">&nbsp;</p>
                             <% unless @all_announcements.blank? %>
                                  <div class="page-links">
                                    <%= link_to "View All Previous Announcements", url(:principal_articles, :label => 'announcements')   %>
                                 </div>
                             <% end %>
                       <% end %>    
                 <% end %>
           <% end %>
           
     </div>
<div class="right-sidebar">
  
       <% unless @spot_light.nil? %>
            <h3>Spotlight</h3>
            <ul class="last">
                  <% @attachment = @current_school.attachments.find(:first, :conditions => ['attachable_type = ? and attachable_id = ?', "spot_light", @spot_light.id]) %>
                  <% unless @attachment.nil? %>  
                       <img src="/uploads/spotlights/<%= @attachment.filename %>" alt="<%= @attachment.filename %>" class="teacherPic"/>
                  <% end %>
                  <h6><%= link_to "#{@spot_light.student_name}", url(:home_spot_light, :l => @spot_light.id) %></h6>
                  <%= snippet(@spot_light.content, 20) %>
                  <hr size="1"/>
                  <%= link_to "All Spotlights", url(:lights) %>
            </ul>
       <% end %>
       
       <% unless @classrooms.empty? %>
            <h3>Quick Links </h3>
            <div class="last">
                 <% unless @classes.empty? %>
                       <li class="noBullet">Classrooms:
                         <ul>
                        <% @classes.each do |f| %>
                              <% if f.class_name == "Sports" %>
                                    <li><%= link_to "#{f.class_name}".titleize, url(:sports) %></li>
                              <% else %>
                                    <li><%= link_to "#{f.class_name}".titleize, url(:class_details, :id => f.id) %></li>
                              <% end %>
                        <% end %>
                        </li>
                        </ul>
                       </ul>
                 <%end%>
                 <%unless @extracurricular.empty?%>
                       <li class="noBullet">Subjects:
                         <ul>
                        <% @extracurricular.each do |f| %>
                              <% if f.class_name == "Sports" %>
                                    <li><%= link_to "#{f.class_name}".titleize, url(:sports) %></li>
                              <% else %>
                                    <li><%= link_to "#{f.class_name}".titleize, url(:class_details, :id => f.id) %></li>
                              <% end %>
                        <% end %>
                        </li>
                        </ul>
                       </ul>
                 <%end%>
            </div>
       <% end %>

       <% unless  @external_links.empty? %>
           <h3>External Links </h3>
           <ul class="last"> 
               <% for link in @external_links %>
                     <li><%= link_to ("#{link.title}", "http://#{link.url}", {'target' => '_blank'}) %></li>
               <% end %>
           </ul> 
       <% end %>
       
        <% unless session.user.type == "Parent" %>
            <h3>Manage Home Page</h3>
            <ul class="last">
                <li <% if @selected == "from_principal" %> class="on" <% end %>><%= link_to_right((right = "from_principal"), "Manage 'From the Principal'", url(:from_principals)) %></li>
                <li><%= link_to_right((right = "urgent_announcement"), "Manage Urgent Announcements", url(:notifications)) %></li>
                <li <% if @selected == "welcome_messages" %> class="on" <% end %>><%= link_to_right( (right = "welcome_messages"), "Manage Welcome Messages", url(:welcome_messages, :label => "Home Page") ) %></li>
                <li <% if @selected == "announcements" %> class="on" <% end %>><%= link_to_right((right = "announcements"), "Manage Announcements", url(:announcements, :label => "Home Page")) %></li>
                <li <% if @selected == "spotlight" %> class="on" <% end %>><%= link_to_right((right = "spotlight"), "Manage Spotlight", url(:spot_lights, :label => "Home Page") ) %></li>
                <li <% if @selected == "e_links" %> class="on" <% end %>><%= link_to_right((right = "external_links"), "Manage External Links", url(:external_links) ) %></li>
            </ul>
       <% end %>
     
       
   </div>                                                                                                                                                             
   
</div>

