

<% for principal in @from_principals %>
<div id="sidebar">
             <% if principal.expiration.nil? %>
                   <div class="ddmmm-x">
	                 </div>
              <% else %>
                   <div class="ddmmm">
                      <span class="date"><%= principal.expiration.strftime("%d") %></span>
                      <span class="month"><%= principal.expiration.strftime("%b") %></span>
	                 </div>
              <% end %>
              <h3><%= principal.title %></h3>
              <p class="post-content-sidebar"><%= principal.content %></p>
      </div>
           
            <div class="hrule clear"><hr /></div>
   <% end %>
       <%= link_to "All Articles", url(:principal_articles, :label => 'principal')  %> <br/>
</div>




<h3 class="current-page">
  
  This site was developed as the communication gateway between our School and their student’s families. Simply point Upcoming Events and click to review the various topics and features provided. If needed, visit the QUICK HELP link on the lower left side of the page to learn a little more about how the site works. Thanks for visiting!

  </h3>
 
   <% for announcement in @announcements %>
      <div class="data-block long-block">
             <% if announcement.expiration.nil? %>
                   <div class="ddmmm-x">
	                 </div>
              <% else %>
                   <div class="ddmmm">
                      <span class="date"><%= announcement.expiration.strftime("%d") %></span>
                      <span class="month"><%= announcement.expiration.strftime("%b") %></span>
	                 </div>
              <% end %>
              <h3><%= announcement.title %></h3>
              <p class="post-content"><%= announcement.content %></p>
              </div>
            <div class="hrule clear"><hr /></div>
   <% end %>
       <%= link_to "All Announcements", url(:principal_articles, :label => 'announcements')  %> <br/>
     


