
<%= link_to " < Back to Home Page", url(:homes) %> <br/>


 <%  if params[:label] == "principal" %>

       <% for principal in @from_principals %>
     
            <div id="sidebar">
                 <div class="data-block long-block">
                     <h3><%= link_to "#{principal.title}", url(:home, principal.id) %></h3>
                     <p class="post-content-sidebar"><%= principal.content %></p>
                 </div>
            </div>
            <div class="hrule clear"><hr /></div>
        <% end %>
 <% else %>
 
        <% for announcement in @announcements %>
              <div class="data-block long-block">
                     <h3><%= link_to "#{announcement.title}", url(:home, announcement.id) %></h3>
                     <p class="post-content"><%= announcement.content %></p>
              </div>
              <div class="hrule clear"><hr /></div>
         <% end %>
       
 <% end %>


