<div id="fullpage">
    <% if params[:label] == "principal" %>
      <div id="classContainer">
          <div id="sidebar" class="left-block">
              <div class="from-principal">
                  <% @attachment = Attachment.find(:first, :conditions => ['attachable_type = ?', "principal_image"]) %>
                  <% unless @attachment.nil? %>
                       <img src="/uploads/principal_images/<%= @attachment.filename %>" alt=" ", class = "prinPic"/>
                           <% @principal = Principal.find(:first) %>
                           <div class="caption">
                               <h2>From the Principal</h2>
                               <% unless @principal.nil? %>
                                  <% if @principal.principal_name? %>
                                       <%= @principal.name %>
                                  <% end %>
                                  <% if @principal.principal_email? %>
                                        <br/>
                                         <%= email(@principal.email) %>
                                   <% end %>
                               <% end %>
                            </div>
                  <% else %>
                            <% @principal = Principal.find(:first) %>
                             <div class="caption nopic">
                                 <h2>From the Principal</h2>
                                 <% unless @principal.nil? %>
                                    <% if @principal.principal_name? %>
                                         <%= @principal.name %>
                                    <% end %>
                                    <% if @principal.principal_email? %>
                                          <br/>
                                           <%= email(@principal.email) %>
                                     <% end %>
                                 <% end %>
                              </div>
                  <% end %>
                  </div>


          </div>
          <div id="content" class="homes-content">
              <h2>From the Principal > <%= @announcement.title %></h2>
 
    <% else %>
          <div>
             <h2>Announcements > <%= @announcement.title %></h2>
         
              <br/><%= link_to "Download as PDF", url(:pdf_download, :id => @announcement.id) , :class=> "pdf" %><br/><br/>
    <% end %>
     
 
      <% if @announcement.expiration.nil? %>
          <div class="ddmmm-x"></div>
      <% else %>
          <div class="ddmmm">
             <span class="date"><%= @announcement.expiration.strftime("%d") %></span>
             <span class="month"><%= @announcement.expiration.strftime("%b") %></span>
          </div>
      <% end %>
          <p class="separator"><%= san_content(@announcement.content) %></p>
           <p>
            <% if @announcement.label == "from_principal" %>
                     <%= link_to '< Previous', url(:home, @announcement.previous_id, :label => 'principal'),:class => "alignleft" if @announcement.previous_id %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                     <%= link_to "Back to All Articles", url(:principal_articles, :label => 'principal') %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                     <%= link_to 'Next >', url(:home, @announcement.next_id, :label => 'principal'),:class => "alignright" if @announcement.next_id %>
            <% elsif params[:label] == "class_ann" %>
                    <%= link_to '< Previous', url(:home, @announcement.previous_class_announcement, :label => "class_ann") if @announcement.previous_class_announcement %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <%= link_to "Back to All Announcements", url(:class_details, :id => @classroom.id, :label => "announcements") %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <%= link_to 'Next >', url(:home, @announcement.next_class_announcement, :label => "class_ann") if @announcement.next_class_announcement %>
            <% elsif params[:label] == "sports_announcement" %>
                    <%= link_to " back to All Announcements", url(:sports, :label => "announcements") %>
            <% else %>
                    <%= link_to '< Previous', url(:home, @announcement.previous_record),:class => "alignleft" if @announcement.previous_record %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <%= link_to "Back to All Announcements", url(:principal_articles, :label => 'announcements') %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                    <%= link_to 'Next >', url(:home, @announcement.next_record),:class => "alignright" if @announcement.next_record %>
            <% end %>
            </p>
        </div>
    </div>
</div>
