<h2>All Announcements > <%= @announcement.title %></h2>
<div clas="subLink"><%= link_to "Download as PDF", url(:pdf_download, :id => @announcement.id) %> </div>

<% if @announcement.expiration.nil? %>
  <div class="ddmmm-x"></div>
<% else %>
  <div class="ddmmm">
    <span class="date"><%= @announcement.expiration.strftime("%d") %></span>
    <span class="month"><%= @announcement.expiration.strftime("%b") %></span>
 </div>
<% end %>
<p><%= san_content(@announcement.content) %></p>
<% if @announcement.label == "from_principal" %>
  <%= link_to "< Back to All Articles", url(:principal_articles, :label => 'principal')  %> <br/>
<% end %>