 


    <% if @announcement.expiration.nil? %>
           <div class="ddmmm-x">
	         </div>
    <% else %>
           <div class="ddmmm">
               <span class="date"><%= @announcement.expiration.strftime("%d") %></span>
	             <span class="month"><%= @announcement.expiration.strftime("%b") %></span>
	         </div>
    <% end %>
    
    <h3><%= @announcement.title %></h3>
    <p><%= @announcement.content %></p>
    
    <% if @announcement.label == "from_principal" %>
       <%= link_to "All Articles", url(:principal_articles, :label => 'principal')  %> <br/>
    <% end %>       
    
    
     
