<div class='formcontainer'>

    <%= form_for :homelink, :action => url(:externallinks_update), :id => 'home' do %>
         
          <table id='Links'>
       
             <% @homelinks.each do |f| %>

    <tr>
      <td> <%= text_field :id => 'homelink_title', :name => 'homelink[title][]', :value => "#{f.title}" %></td>
      <td> <%= text_field :id => 'homelink_link', :name => 'homelink[link][]', :value => "#{f.link}" %></td>
      <td> <td><%= link_to "Delete", url(:delete_homelink, f.id) %></td>
     </tr>
                    
            <% end %>

                  <tr>
                      <td><%= link_to_function 'Add', "add();" %></td>
                      <td><%= submit "Publish" %> </br> Or <%= link_to "Cancel", url(:homelinks) %></td>
                  </tr>
	  
           </table>   
              <div class = 'submit'>
                    <input type = 'button' value = 'Preview' onclick="preview();return false;" />
              </div>

    
      <% end =%>

</div>


<script type= "text/javascript">
 
  function add()
   {
 
     var external = document.getElementById('Links');

     var tr = document.createElement('tr');
         var td1 = document.createElement('td');  

         td1.innerHTML = "<input type='text' id='homelink_title' name='homelink[title][]'/>";

           var td2 = document.createElement('td');  

         td2.innerHTML = "<input type='text' id='homelink_link' name='homelink[link][]'/>";
         
        
         tr.appendChild(td1);
         tr.appendChild(td2);
        external.appendChild(tr);
 
 }

function preview()
 {
   var s = $('home').serialize();
   window.open('/homelinks/preview/-/?' + s);
 }

</script>

