<table>

         <tr>
	    <td>Announcement for:<%= select :access_name, :prompt => "Please Select", :collection => @access_rights.collect{|i| i.full_name} %></td>
	 </tr>
         <tr>
              <td><%= text_field  :title,  :label => "Title" %></td>
         </tr>
	 <tr>
	      <td><%= text_area  :content,  :label => "Description", :rows => "10", :cols => "50" %></td>
	 </tr>
	 <tr>
	      <td><%= text_field  :expiration, :id => "expiration", :label => "Expiration" %></td>
	 </tr>
	 <tr>
	      <td><input type = 'button' value = 'Preview' onclick="preview();return false;" /></td>
	      <td><%= submit "Submit for Approval" %></br> Or <%= link_to "Cancel", url(:announcements) %></td>
	 </tr>
	
</table>


<script type= "text/javascript">

   
 function preview()
 {
   var s = $('announcement').serialize();
   window.open('/announcements/preview/-/?' + s);
   
 }
 
  $j("#expiration").datepicker();
 
</script>
 
 
  
