<fieldset>
  <ul>
    <li><label>Announcement for:</label><%= select :access_name, :collection => rooms %></li>
    <li><%= text_field  :title,  :label => "Title", :maxlength => "75" %></li>
    <li><%= text_area  :content,  :label => "Description", :rows => "10", :cols => "50" %></li>
    <li><%= text_field  :expiration, :id => "expiration", :label => "Expiration" %></li>
    <li><%= file_field :attachment,  :label => "Attach a File" %></li>
   
  </ul>
</fieldset>
<div class="save-cancel">
	<input type = 'button' value = 'Preview' onclick="preview();return false;" />
	<%= submit "Submit for Approval" %></br> Or <%= link_to "Cancel", resource(:announcements), :class => "cancel" %>
</div>


<script type= "text/javascript">

     
     
 function preview()
 {
   var s = $('announcement').serialize();
   window.open('/announcements/preview/-/?' + s);
   
 }
  
  $j("#expiration").datepicker({minDate:'today + 1'});
  
  
  
</script>
 
 
  
