<%= error_messages_for @announcement %>
<ul class='error_messages'>
     <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
     <% end %>
</ul>
<h2 class="current-page">Announcements &gt; Edit </h2>
<%= form_for(@announcement, :action => resource(@announcement), :id => 'announcement' ) do %>
    <fieldset>
          <ul>
              <li><label>Announcement for:</label><%= select :access_name, :collection => rooms, :prompt => "Please Select" %></li>
              <li><%= text_field  :title,  :label => "Title", :maxlength => "75" %></li>
              <li><%= text_area  :content,  :label => "Description", :rows => "10", :cols => "50" %></li>
              <li><%= text_field  :expiration, :class => "short date", :label => "Expiration" %></li>
              <li>
                 <% if @attachments.size >= 1 %>
                        <%= file_field :attachment,  :label => "Attach a File", :disabled => "true" %>
                  <% else %>
                        <%= file_field :attachment,  :label => "Attach a File" %>
                  <% end %>
               </li> 
          </ul>
             <ul id="pending_files">
                    <% if @attachments.size > 0 %>
                           <% @attachments.each do |attachment| %>
                                  <li id="attachment_<%= attachment.id %>"><%= attachment.filename %>
                                  <%= link_to "Remove", url(:delete_announcement, attachment.id, :label => "attachment"), :class => "cancel" %>
                                  </li>
                           <% end %>
                    <% end %>
	              </ul>
                
                <script type="text/javascript">
	                 	  var multi_selector = new MultiSelector($('pending_files'), <%= @allowed %>);
		                  multi_selector.addElement($('announcement_attachment'));
	              </script>
     </fieldset>
             
           <div class="save-cancel">
	              <input type = 'button' value = '    Preview    ' onclick="preview();return false;" />
	              <%= submit "    Submit for Approval    " %></br> Or <%= link_to "Cancel", resource(:announcements), :class => "cancel" %>
           </div>
          
<% end =%>


<script type= "text/javascript">

     
     
 function preview()
 {
    name = document.getElementById('announcement_access_name');
     title = document.getElementById('announcement_title');
     content = document.getElementById('announcement_content');
     
     if (name.value == "")
       {
          alert("Please select the Classroom/Homepage from the dropdown menu");
       }
    else
       {
          var s = $('announcement').serialize();
          window.open('/announcements/preview/-/?' + s);
       }
   
 }
  
   $j(document).ready(function() {
            $j("input.date").datepicker({minDate:'today + 1'});
  });
  
  
</script>
