<h2 class="current-page">Announcements  &nbsp;&nbsp;&nbsp; <%= link_to "Add New", resource(:announcements, :new) %></h2>
<div class="announcemt">
   
  View :  <select id = 'announcementID'>
         <option value = '/announcements' <% if (@test == "All Announcements") %> selected <% end %> >All Announcements</option>
         <option value = '/announcements?label=Home Page' <% if (@test == "Home Page") %> selected <% end %> >Home Page</option>
                  <% @classes.each do |f| %>
                      <option value='/announcements?label=classes&id=<%= f.id %>' <% if (@test == f.id.to_s) %> selected <% end %> > 
                         <%= f.class_name %> 
                      </option>
	                <% end %>
	   </select>

   <% if @announcements.empty? %>
        <p class="subText">
	         No Announcement was found. If you applied a filter try changing it. 
             <%= link_to "Add New", resource(:announcements, :new) %>
        </p>
   <% else %>
          <% for announcement in @announcements %>
          
                 <div class="data-block long-block">
                        <% if announcement.created_at.nil? %>
                             <div class="ddmmm-x">
	                           </div>
                        <% else %>
                             <div class="ddmmm">
                                <span class="date"><%= announcement.created_at.strftime("%d") %></span>
                                <span class="month"><%= announcement.created_at.strftime("%b") %></span>
	                           </div>
                        <% end %>
                        <h3><%= link_to "#{announcement.title}", url(:announcement, announcement.id) %></h3>
                        <span class="subText">Announcement for: <%= announcement.access_name %></span><br/>
                        <span class="subText">Created by <%= announcement.person.name %>, expires on <%= announcement.expiration.strftime("%d %b %Y") %></span>
                        <p class="announce-text"><%= snippet(announcement.content,50) %></p>
                      <% if ( (announcement.approved) && (announcement.approve_announcement)) %>
                             <div class="approval-status">
                                <%= @message1 %>
                               </div>
                             <%= link_to "Edit", resource(announcement, :edit), :class=>"edit-btn" %>
                             <%= link_to "Delete", resource(announcement, :delete), :class => "delete delete-btn"  %>
                      <% elsif ((announcement.approve_announcement == true) && (announcement.approved == false )) %>
                            <div class="approval-status">
                               <%= @message2 %>
                              </div>
                            <%= link_to "Edit", resource(announcement, :edit), :class=>"edit-btn" %>
                            <%= link_to "Delete", resource(announcement, :delete), :class=>" delete delete-btn"  %>
                      <% elsif ((announcement.approve_announcement == false) && (announcement.approved == false )) %>
                             <div class="approval-status">
                                <%= @message3 %>
                               </div>
                             <%= link_to "Edit", resource(announcement, :edit), :class=>"edit-btn" %>
                             <%= link_to "Delete", resource(announcement, :delete), :class=>"delete delete-btn"  %>
                      <% end %> 
                     <p class="separator">&nbsp;</p>
                 </div>
          <% end %>
       <%= will_paginate (@announcements, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
   
   <% end %>

</div>

 <script type="text/javascript" src='/javascripts/delete_confirmation.js'></script>

<script type = 'text/javascript'>

        $( 'announcementID' ).observe( 'change', function()
          {
            document.location.href = $( 'announcementID' ).value;
          
          });
       
</script>
