<h2 class="current-page">Announcements: <%= link_to "Add New", resource(:announcements, :new) %></h2>
<div class="fullpage announcemt">
  <%= form_for(@announcement, :action => resource(:announcements), :method => 'get', :id => 'announcement') do %>
    <span class="select-announce"><%= select :name => "access_name", :collection => classrooms %><%= submit ">>" %><span class="add-link"><%= link_to "All Announcements", resource(:announcements) %></span></span>
     
  <% end =%>

  <% if params[:access_name].nil? %>
        <% for a in @announce %>
          <div class="data-block long-block">
            <% if a.expiration.nil? %>
	       <div class="ddmmm-x">
	       </div>
	    <% else %>
              <div class="ddmmm">
	          <span class="date"><%= a.expiration.strftime("%d") %></span>
	          <span class="month"><%= a.expiration.strftime("%b") %></span>
	       </div>
	    <% end %>
              <h3><%= a.title %></h3>
              <p class="post-content"><%= a.content %></p>
               <% if ( (a.approved) && (a.approve_announcement)) %>
                       <%= @message1 %>
                       <%= link_to "Edit", resource(a, :edit), :class=>"edit-btn" %>
                       <%= link_to "Delete", resource(a, :delete), :class=>"delete-btn"  %>
               <% elsif ((a.approve_announcement == true) && (a.approved == false )) %>
                       <%= @message2 %>
                       <%= link_to "Edit", resource(a, :edit), :class=>"edit-btn" %>
                       <%= link_to "Delete", resource(a, :delete), :class=>"delete-btn"  %>
               <% elsif ((a.approve_announcement == false) && (a.approved == false )) %>
                       <%= @message3 %>
                       <%= link_to "Edit", resource(a, :edit), :class=>"edit-btn" %>
                       <%= link_to "Delete", resource(a, :delete), :class=>"delete-btn"  %>
               <% end %>   
              <div class="hrule clear"><hr /></div>
          </div>
      <% end %>	  
  <% else %>    
         <% for announcement in @announcements %>
           <div class="data-block long-block">
             <% if announcement.expiration.nil? %>
                   <div class="ddmmm-x">
	                 </div>
              <% else %>
                   <div class="ddmmm">
                      <span class="date"><%= announcement.expiration.strftime("%d") %></span>
                      <span class="month"><%= announcement.expiration.strftime("%b") %></span>
	                 </div>
              <% end %>
              <h3><%= announcement.title %></h3>
              <p class="post-content"><%= announcement.content %></p>
                <% if ( (a.approved) && (a.approve_announcement)) %>
                       <%= @message1 %>
                       <%= link_to "Edit", resource(announcement, :edit), :class=>"edit-btn" %>
                       <%= link_to "Delete", resource(announcement, :delete), :class=>"delete-btn"  %>
                <% elsif ((a.approve_announcement == true) && (a.approved == false )) %>
                      <%= @message2 %>
                      <%= link_to "Edit", resource(announcement, :edit), :class=>"edit-btn" %>
                      <%= link_to "Delete", resource(announcement, :delete), :class=>"delete-btn"  %>
                <% elsif ((a.approve_announcement == false) && (a.approved == false )) %>
                       <%= @message3 %>
                       <%= link_to "Edit", resource(announcement, :edit), :class=>"edit-btn" %>
                       <%= link_to "Delete", resource(announcement, :delete), :class=>"delete-btn"  %>
                <% end %> 
               <div class="hrule clear"><hr /></div>
           </div>
         <% end %>
  <% end %>
</div>
 
