<div id="fullpage">
  <h2 class="current-page">Announcement &gt; <%= @announcement.title %></h2>
  
        <%= link_to "Edit", resource(@announcement, :edit), :class=>"edit-btn" %>
        <%= link_to "Back to List", resource(:announcements) %>
   
  <hr size="1">
  <div class="data-block long-block">
     <% if @announcement.expiration.nil? %>
             <div class="ddmmm-x">
	           </div>
     <% else %>
          <div class="ddmmm">
              <span class="date"><%= @announcement.created_at.strftime("%d") %></span>
	            <span class="month"><%= @announcement.created_at.strftime("%b") %></span>
	        </div>
     <% end %>
    <h3><%= @announcement.title %></h3>
    <span class="subText">Announcement for: <%= @announcement.access_name %></span><br/>
    <span class="subText">Created by <%= @announcement.person.name %>, expires on <%= @announcement.expiration.strftime("%d %b %Y") %></span>
    <br class="clear"/>
    <p><%= san_content(@announcement.content) %></p>

    <div class="hrule clear"><hr /></div>
    
          <%  if (@announcement.approved == false ) && (@announcement.approve_announcement == false) %>
            <% @person = Person.find(:first, :conditions => ['id = ?', @announcement.rejected_by] ) %>
                  <p class="reject-comments"> <%= @announcement.reject_comments %></p>
                  <span class="approved-or-not">Rejected By <%= @person.name %> </span>
          <% end %>
      
          <%  if (@announcement.approved == true ) && (@announcement.approve_announcement == true) %>
             <% @person = Person.find(:first, :conditions => ['id = ?', @announcement.approved_by] ) %>
                     
                 <p class="approve-comments"> <%= @announcement.approve_comments %></p>
                 <span class="approved-or-not">Approved & PublishedBy <%= @person.name %> </span>
          <% end %>
          
   
   </div>
</div>

