<div>
  <h2 class="current-page">Announcement &gt; <%= @announcement.title %></h2>
  
        <%= link_to "Edit", resource(@announcement, :edit), :class=>"edit-btn" %>
        
   
  <hr size="1">
  <div class="data-block long-block">
     <% if @announcement.expiration.nil? %>
             <div class="ddmmm-x">
	           </div>
     <% else %>
          <div class="ddmmm">
              <span class="date"><%= @announcement.created_at.strftime("%d") %></span>
	            <span class="month"><%= @announcement.created_at.strftime("%b") %></span>
	        </div>
     <% end %>
    <h3><%= @announcement.title %></h3>
    <span class="subText">Announcement for: <%= @announcement.access_name %></span><br/>
    <span class="subText">Created by <%= @announcement.person.name %>, expires on <%= @announcement.expiration.strftime("%d %b %Y") %></span>
    <br class="clear"/>
    <p><%= san_content(@announcement.content) %></p>
      
      <%= link_to '&larr; Previous', url(:announcement, @announcement.previous_announcement),:class => "alignleft" if @announcement.previous_announcement %> &#124;
      <%= link_to " Back to All Announcements", resource(:announcements) %> &#124;
      <%= link_to 'Next &rarr; ',  url(:announcement, @announcement.next_announcement),:class => "alignright" if @announcement.next_announcement %>

   <p class="separator">&nbsp;</p>
    <br/><br/><br/>
    
          <%  if (@announcement.approved == false ) && (@announcement.approve_announcement == false) %>
            <% @person = Person.find(:first, :conditions => ['id = ?', @announcement.rejected_by] ) %>
                  <h2>Reviewer Comments:</h2>
                  <span class="approved-or-not">Rejected by <%= @person.name %> </span>
                  <p class="reject-comments"> <%= @announcement.reject_comments %></p>
                  
          <% end %>
      
          <%  if (@announcement.approved == true ) && (@announcement.approve_announcement == true) %>
             <% @person = Person.find(:first, :conditions => ['id = ?', @announcement.approved_by] ) %>
                  <h2>Reviewer Comments:</h2>
                  <span class="approved-or-not">Approved &amp; Published by <%= @person.name %> </span>
                 <p class="approve-comments"> <%= @announcement.approve_comments %></p>
                 
          <% end %>
          
   
   </div>
</div>

