 <%= error_messages_for @person %>
 <%= form_for :person, :action => url(:phone_update)  do  %>
      <ul>
          <li>
              <%= text_field :voice_alert,  :label => "as voice Alerts to", :id => "phone", :class => "short text" %>
              <span class="phone-hint">(e.g. 3210987654)</span>
          </li>
          <div class="save-cancel">
               <%= submit "    Save    " %> Or <%= link_to "Cancel", url(:phone), :class => "cancel" %>
          </div>
      </ul>
 <% end =%>
