
<fieldset>
  
  <h2 class="current-page"> My Profile 
       <%= link_to "Edit", url(:staff_account_edit), :id => @person, :class=> "edit-btn" %>
       <%= link_to "Change Password", url(:staff_password), :class=> "edit-btn" %> 
  </h2>
  <% if @pic.nil? %>
        <img src = "/images/Fotolia_5868614_XS.jpg" alt="Fotolia_5868614_XS.jpg" class ="teacherPic"/>
  <% else %>
       <%= file_image(@current_school.id, @pic.id, @pic.attachable_type) %>
  <% end %>
    <p><%= session.user.email.blank? ? "" :  email(session.user.email) %><br/>

     <%= session.user.phone.blank? ? "" :  number_to_phone(session.user.phone, :area_code => true) %></p>
    <br/>
    <h3>Your Bio</h3>
      <p><%= session.user.person_bio.blank? ? "You have not created your bio yet." :  san_content(session.user.person_bio) %></p>
      
</fieldset>
<hr size="1"/>
   
    
