
<ul class='error_messages'><li class="empty-li"></li>
     <% if flash[:error1] %> 
		    <li><%= flash[:error1] %></li>
     <% end %>
</ul>	 

<h2 class="current-page"> My Profile > Edit </h2>

<fieldset>                  

<%= form_for :person, :action => url(:staff_account_update), :id => @person  do  %>
    
        <ul>
             <li>
                <%= text_field  :first_name,  :label => "Name", :class => "short " %>
                <%= text_field  :last_name, :class => "short apart" %>
	           </li>
             <li><label>Email</label>  <%= email(@person.email) %> </li>
             <li><%= text_field :phone,  :label => "Phone Number (optional)" %></li>
             <li><%= file_field :image,  :label => "Upload a Picture" %>
                     <% unless @pic.nil? %>
                           <span class="picEdit"><img src="/uploads/user_pictures/<%= @pic.filename %>" alt="<%= @pic.filename %>", class="teacherPic" /></span>
                     <% end %>
              </li>
             <li><%= text_area :person_bio,  :label => "Your Bio" %></li>
        </ul>
            <div class="save-cancel">
                <%= submit "    Save    " %> Or <%= link_to "Cancel", url(:staff_account), :class => "cancel" %>
            </div>

     <% end =%>
   
</fieldset>   
   
   

