<h2 class="current-page">Forms </h2>

<%= form_for(@form, :action => url(:form_files), :method => 'get') do %>
     <% if params[:class_name].nil? %>
        <span class="select-announce"><%= select :name => "class_name", :collection => forms %> <%= submit "    Go    " %>
     <% else %>
        <span class="select-announce"><%= select :name => "class_name", :selected => params[:class_name], :collection => forms %> <%= submit "    Go    " %>
     <% end %>
<% end =%>

 <% if params[:class_name].nil? %>
     <% if @forms.empty? %>
        <p class="subText">There are no forms available.</p>
     <%else%>
        <table id="mytable">
             <thead>
                  <th>Form</th>
                  <th>for</th>
                  <th>Last Updated</th>
                
             </thead>
             <tbody>
                   <% for form in @forms %>
                        <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type = ?", form.id, "Form"] ) %>
                        <tr>
                            <td><%= link_to "#{form.title}", url(:download, :id => @attachment.id) %> </td>
                            <td><%= form.class_name %></td>
                            <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                        </tr>
                   <% end %>
             </tbody>
         </table>
     <% end %> 
 <% elsif  params[:class_name] == "All Forms" %>
 <% if @forms_f.empty? %>
    <p class="subText">There are no forms available.</p>
 <%else%>
         <table id="mytable">
             <thead>
                  <th>Form</th>
                  <th>for</th>
                  <th>Last Updated</th>
                
             </thead>
             <tbody>
                   <% for form in @forms_f %>
                         <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type = ?", form.id, "Form"] ) %>
                        <tr>
                            <td><%= link_to "#{form.title}", url(:download, :id => @attachment.id) %> </td>
                            <td><%= form.class_name %></td>
                            <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                            
                        </tr>
                   <% end %>
             </tbody>
         </table>
     <% end %>  
 <% else %>
 
      <% if @files.empty? %>
         <p class="subText">There are no forms available for <%=params[:class_name]%>.</p>
      <%else%>
         <table id="mytable">
             <thead>
                  <th>Form</th>
                  <th>for</th>
                  <th>Last Updated</th>
             </thead>
             <tbody>
                   <% for form in @files %>
                         <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type = ?", form.id, "Form"] ) %>
                        <tr>
                            <td><%= link_to "#{form.title}", url(:download, :id => @attachment.id) %> </td>
                            <td><%= form.class_name %></td>
                            <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                        </tr>
                   <% end %>
             </tbody>
         </table>
     <% end %>  

<% end %>
