<h2 class="current-page">Forms </h2>

<%= form_for(@form, :action => url(:form_files), :method => 'get') do %>
     <% if params[:class_name].nil? %>
        <span class="select-announce"><%= select :name => "class_name", :collection => forms %> <%= submit "Go" %>
     <% else %>
        <span class="select-announce"><%= select :name => "class_name", :selected => params[:class_name], :collection => forms %> <%= submit "Go" %>
     <% end %>
<% end =%>


 <% if params[:class_name].nil? %>
     <% unless @forms.empty? %>
        <table id="mytable">
             <thead>
                  <th>Form</th>
                  <th>for</th>
                  <th>Last Updated</th>
             </thead>
             <tbody>
                   <% for form in @forms %>
                        <tr>
                            <td><%= form.title %> </td>
                            <td><%= form.class_name %></td>
                            <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                        </tr>
                   <% end %>
             </tbody>
         </table>
     <% end %> 
 <% elsif  params[:class_name] == "All Forms" %>
     <% unless @forms_f.empty? %>
         <table id="mytable">
             <thead>
                  <th>Form</th>
                  <th>for</th>
                  <th>Last Updated</th>
             </thead>
             <tbody>
                   <% for form in @forms_f %>
                        <tr>
                             <td><%= form.title %> </td>
                            <td><%= form.class_name %></td>
                            <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                        </tr>
                   <% end %>
             </tbody>
         </table>
     <% end %>  
 <% else %>
 
      <% unless @files.empty? %>
         <table id="mytable">
             <thead>
                  <th>Form</th>
                  <th>for</th>
                  <th>Last Updated</th>
             </thead>
             <tbody>
                   <% for form in @files %>
                        <tr>
                            <td><%= form.title %> </td>
                            <td><%= form.class_name %></td>
                            <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                        </tr>
                   <% end %>
             </tbody>
         </table>
     <% end %>  

<% end %>
