<h2 class="current-page">Forms &nbsp;&nbsp;&nbsp; <%= link_to "Add New", resource(:forms, :new) %></h2>


 View :  <select id = 'formID'>
               <option value = '/forms' <% if (@test == "All Forms") %> selected <% end %> >All Forms</option>
                  <% @classes.each do |f| %>
                      <option value='/forms?label=classes&id=<%= f.id %>' <% if (@test == f.id.to_s) %> selected <% end %> > 
                         <%= f.class_name %> 
                      </option>
	                <% end %>
	       </select>

 
     <% if @forms.empty? %>
          <p class="subText">There are no forms uploaded yet. <%= link_to "Add New", resource(:forms, :new) %></p>
     <% else %>
          <table id="mytable"  cellspacing="0" cellpadding="0">
               <thead>
                    <th>Form</th>
                    <th>for</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
               </thead>
               <tbody>
                     <% for form in @forms %>
                          <tr>
                              <td><%= link_to "#{form.title}", resource(form, :edit) %> </td>
                              <td><%= form.class_name %></td>
                              <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                              <td><%= link_to "Delete", resource(form, :delete), :class =>"delete-btn" %></td>
                          </tr>
                     <% end %>
               </tbody>
          </table>
          <%= will_paginate (@forms, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
     <% end %>
 


     
<script type = 'text/javascript'>

        $( 'formID' ).observe( 'change', function()
          {
            document.location.href = $( 'formID' ).value;
          
          });
       
</script>
