<h2 class="current-page">Forms &nbsp;&nbsp;&nbsp; <%= link_to "Add New", resource(:forms, :new) %></h2>

<%= form_for(@form, :action => resource(:forms), :method => 'get') do %>
      <% if params[:class_name].nil? %>
            <span class="select-announce"><%= select :name => "class_name", :collection => forms %> <%= submit "    Go    " %>
      <% else %>
            <span class="select-announce"><%= select :name => "class_name", :selected => params[:class_name], :collection => forms %> <%= submit "    Go    " %>
      <% end %>
  
<% end =%>


 <% if params[:class_name].nil? %>
     <% if @forms.empty? %>
       <p class="subText">There are no forms uploaded yet.</p>
     <%else%>
        <table id="mytable"  cellspacing="0" cellpadding="0">
             <thead>
                  <th>Form</th>
                  <th>for</th>
                  <th>Last Updated</th>
                  <th>Actions</th>
             </thead>
             <tbody>
                   <% for form in @forms %>
                        <tr>
                            <td><%= link_to "#{form.title}", resource(form, :edit) %> </td>
                            <td><%= form.class_name %></td>
                            <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                            <td><%= link_to "Delete", resource(form, :delete), :class =>"delete-btn" %></td>
                        </tr>
                   <% end %>
             </tbody>
         </table>
          <%= will_paginate (@forms, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
     <% end %>
 <% elsif  params[:class_name] == "All Forms" %>
     <% if @forms_f.empty? %>
        <p class="subText">There are no forms uploaded yet.</p>  
     <%else%>
         <table id="mytable"  cellspacing="0" cellpadding="0">
             <thead>
                  <th>Form</th>
                  <th>for</th>
                  <th>Last Updated</th>
                  <th>Actions</th>
             </thead>
             <tbody>
                   <% for form in @forms_f %>
                        <tr>
                            <td><%= link_to "#{form.title}", resource(form, :edit) %> </td>
                            <td><%= form.class_name %></td>
                            <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                            <td><%= link_to "Delete", resource(form, :delete), :class =>"delete-btn" %></td>
                        </tr>
                   <% end %>
             </tbody>
         </table>
       <%= will_paginate (@forms_f, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
     <% end %>  
 <% else %>
 
      <% if @files.empty? %>
         <p class="subText">There are no forms uploaded for <%=params[:class_name]%>.</p>  
      <%else%>
         <table id="mytable"  cellspacing="0" cellpadding="0">
             <thead>
                  <th>Form</th>
                  <th>for</th>
                  <th>Last Updated</th>
                  <th>Actions</th>
             </thead>
             <tbody>
                   <% for form in @files %>
                        <tr>
                            <td><%= link_to "#{form.title}", resource(form, :edit) %> </td>
                            <td><%= form.class_name %></td>
                            <td><%= form.updated_at.strftime("%b %d %Y") %></td>
                            <td><%= link_to "Delete", resource(form, :delete), :class => "delete-btn" %></td>
                        </tr>
                   <% end %>
             </tbody>
         </table>
       <%= will_paginate (@files, :inner_window => 1, :outer_window => 1, :class => 'header15', :separator => ' | ' ) %>
     <% end %>  
<% end %>

