<dl>
    <dt>Address</dt>
    <dd><%= @current_school.address1 ? @current_school.address1 : "<span class='noText'>not specified</span>" %>
    <%= "<br/>#{@current_school.address2}" if @current_school.address2?  %>
    <%= "<br/>#{@current_school.city }" if @current_school.city?  %>
    <%= ", #{@current_school.state }" if @current_school.state?   %><%= " #{@current_school.zip_code }" if @current_school.zip_code?  %>
    </dd>
    <%= "<dt>Phone </dt><dd>#{number_to_phone(@current_school.phone, :area_code => true)}</dd>" if @current_school.phone?  %>
    <%= "<dt>E-Mail </dt><dd>#{email(@current_school.email)}</dd>" if @current_school.email?  %>
    <%= "<dt>Fax </dt><dd>#{number_to_phone(@current_school.fax, :area_code => true)}</dd>" if @current_school.fax?  %>
</dl>