<div class="from-principal">
   <% @attachment = @current_school.attachments.find(:first, :conditions => ['attachable_type = ?', "principal_image"]) %>
   <% unless @attachment.nil? %>
             <%= file_image(@current_school.id, @attachment.id, @attachment.attachable_type) %>
             <% @principal = Principal.find(:first, :conditions => ['school_id = ?', @current_school.id]) %>
             <div class="caption">
                 <h2>From the Principal</h2>
                 <% unless @principal.nil? %>
                    <% if @principal.principal_name? %>
                         <%= @principal.name %>
                    <% end %>
                    <% if @principal.principal_email? %>
                          <br/>
                           <%= email(@principal.email) %>
                     <% end %>
                 <% end %>
              </div>
    <% else %>
              <% @principal = Principal.find(:first, :conditions => ['school_id = ?', @current_school.id]) %>
               <div class="caption nopic">
                   <h2>From the Principal</h2>
                   <% unless @principal.nil? %>
                      <% if @principal.principal_name? %>
                           <%= @principal.name %>
                      <% end %>
                      <% if @principal.principal_email? %>
                            <br/>
                             <%= email(@principal.email) %>
                       <% end %>
                   <% end %>
               </div>
    <% end %>
</div>