<h2 class="current-page">Time Capture Forms &nbsp;&nbsp;&nbsp; <%= link_to "Add New", resource(:captures, :new) %></h2>

<% if @captures.empty? %>
      	<p class="subText">
		    There are no Time Capture forms deﬁned so far. 
			Would you like to <%= link_to "Add New", resource(:captures, :new) %>
	     </p>
 <% else %>
     <table id="mytable" class="grades">
	     <thead>
	         <th class="subjects">Subject</th>
	         <th class="last-upd">Expiration</th>
	         <th class="last-upd">Last Updated</th> 
	         <th class="last-upd">Actions</th> 	       
	     </thead>
	     <tbody>
	          <% for capture in @captures %>
	               <tr>
	                   <td><%= link_to "#{capture.title}", url(:capture_tasks, :id => capture.id) %> </td>
	                   <td><%= capture.expiration.strftime("%b %d %Y") %></td>
	                   <td><%= capture.updated_at.strftime("%b %d %Y") %></td>
	                   <td><%= link_to "#{image_tag('/images/iconExcel.png')} Download", url(:xls, :id => capture.id) %></td> 
	               </tr>
	          <% end %>
	     </tbody>
	  </table>
 <% end %>