<h2 class="current-page">
	  Time Capture Forms &gt; <%= @capture.title %> 
</h2>

  View :  <select id = 'taskID'>
			       <% @capture.tasks.each do |f| %>
			           <option value='/task_parents?label=task&id=<%= f.id %>' <% if (@test == f.id.to_s) %> selected <% end %> > 
			              <%= f.name %> 
			           </option>
			       <% end %>
           </select>


		<table id="mytable" class="grades">
		      <thead>
		         <th class="subjects"><%= @task.name %></th>
					 <% @p_tasks = @task.people_tasks.collect{|x| x.hours } %>
	  		  	     <% sum=0 %>
					 <% @p_tasks.each {|l| sum = sum + l.to_f } %>
		         <th class="last-upd"><%= sum %></th>                                                 
		     </thead>
		</table>
   <% @people_task = @task.people_tasks.find(:all, :order => 'created_at DESC') %>
   <% unless @people_task.empty? %>
			<table id="mytable" class="grades">
			     <thead>
			         <th class="subjects">Parent Name</th>
			         <th class="last-upd">Hours Reported</th>   
			         <th class="last-upd">Comments</th>                                              
			     </thead>
			     <tbody>
		
			          <% for task in @task.people_tasks.find(:all, :order => 'created_at DESC') %>
			               <tr> 
			                   <td><%= task.person.name %></td>
			                   <td><%= task.hours %></td>
			                   <td><%= task.comments %></td>
			               </tr>
			          <% end %>
	
			     </tbody>
		     </table>
    <% end %>
	  <div class="admin-links">
          <%= link_to "All Time Capture Forms", resource(:captures) %> |
          <%= link_to "All Tasks", url(:capture_tasks, :id => @capture.id) %>
      </div>


<script type = 'text/javascript'>

        $( 'taskID' ).observe( 'change', function()
          {
            document.location.href = $( 'taskID' ).value;

          });

</script>

