<fieldset>
  <ul>
  <li><label>Home Work for:</label><%= select :classroom_id, :collection => @classrooms.collect{|x| x.class_name } %></li>
  <li><%= text_field  :title,  :label => "Title", :maxlength => "75" %></li>
  <li><%= text_area  :content,  :label => "Content", :rows => "10", :cols => "50" %></li>
  <li><%= text_field  :due_date, :id => "due_date", :label => "Due Date", :class=>"short" %></li>
  </ul>
</fieldset>
<div class="save-cancel">
     <input type = 'button' value = 'Preview' onclick="preview();return false;" />
     <%= submit "Publish" %> Or <%= link_to "Cancel", resource(:home_works), :class => "cancel" %>
</div>

<script type= "text/javascript">

 document.home_work.home_work_title.focus();

 function preview()
 {
   var s = $('home_work').serialize();
   window.open('/home_works/preview/-/?' + s);
 }
  
 $j("#due_date").datepicker({minDate:'today'});
 
 

</script>
