<h2 class="current-page">Home Work  &gt; <%= link_to "Add New", resource(:home_works, :new) %></h2>

<div class="fullpage announcemt">
   <%= form_for(@home_work, :action => resource(:home_works), :method => 'get', :id => 'home_work') do %>
       <span class="select-announce">
             <%= select :classroom_id, :collection => @classes %>
             <%= submit "    Go    " %>
       </span>
   <% end =%>

  <% if params[:classroom_id].nil? %>
           <% if @h_works.empty? %>
                 <%= @error %><h2 class="current-page"><%= link_to "Add New", resource(:home_works, :new) %></h2>
           <% else %>
                 <% for homework in @h_works %>
                        <div class="data-block long-block">
                              <span class="hidden">
                                  <% unless homework.due_date.nil? %>
                                         <%= homework.due_date.strftime("%B-%d") %>
                                  <% end %>
                              </span>
                                   <% if homework.due_date.nil? %>
	                                       <div class="ddmmm-x"></div>
	                                 <% else %>
                                         <div class="ddmmm">
                                               <span class="date"><%= homework.due_date.strftime("%d") %></span>
                                               <span class="month"><%= homework.due_date.strftime("%b") %></span>
                                         </div>
                                   <% end %>
                                      <h3><%= link_to "#{homework.title}", url(:home_work, homework.id, :label => "home_w") %></h3>
                                      Assigned : <%= homework.created_at.strftime("%b %d, %Y") %>  by <%= homework.person.name %>
                                      <p class="post-content"><%= snippet(homework.content, 50) %></p>
                                     <%= link_to "Edit", resource(homework, :edit), :class=>"edit-btn" %>
                                     <%= link_to "Delete", resource(homework, :delete), :class=>"delete-btn"  %>
                                 <div class="hrule clear"><hr /></div>
                         </div>
                 <% end %>
          <% end %>
  <% elsif params[:classroom_id] == "All Home Works" %>   
  
           <% if @works.empty? %>
                 <%= @error %><h2 class="current-page"><%= link_to "Add New", resource(:home_works, :new) %></h2>
           <% else %>
                 <% for homework in @works %>
                        <div class="data-block long-block">
                              <span class="hidden">
                                  <% unless homework.due_date.nil? %>
                                         <%= homework.due_date.strftime("%B-%d") %>
                                  <% end %>
                              </span>
                                   <% if homework.due_date.nil? %>
	                                       <div class="ddmmm-x"></div>
	                                 <% else %>
                                         <div class="ddmmm">
                                               <span class="date"><%= homework.due_date.strftime("%d") %></span>
                                               <span class="month"><%= homework.due_date.strftime("%b") %></span>
                                         </div>
                                   <% end %>
                                   <h3><%= link_to "#{homework.title}", url(:home_work, homework.id, :label => "home_w") %></h3>
                                      Assigned : <%= homework.created_at.strftime("%b %d, %Y") %>  by <%= homework.person.name %>
                                      <p class="post-content"><%= snippet(homework.content, 50) %></p>
                                     <%= link_to "Edit", resource(homework, :edit), :class=>"edit-btn" %>
                                     <%= link_to "Delete", resource(homework, :delete), :class=>"delete-btn"  %>
                                 <div class="hrule clear"><hr /></div>
                         </div>
                 <% end %>
          <% end %>
  
  <% else %>
          <% if @home_works.empty? %>
                 <%= @error %><h2 class="current-page"><%= link_to "Add New", resource(:home_works, :new) %></h2>
           <% else %>
                   <% for homework in @home_works %>
                        <div class="data-block long-block">
                              <span class="hidden">
                                  <% unless homework.due_date.nil? %>
                                         <%= homework.due_date.strftime("%B-%d") %>
                                  <% end %>
                              </span>
                                   <% if homework.due_date.nil? %>
	                                       <div class="ddmmm-x"></div>
	                                 <% else %>
                                         <div class="ddmmm">
                                               <span class="date"><%= homework.due_date.strftime("%d") %></span>
                                               <span class="month"><%= homework.due_date.strftime("%b") %></span>
                                         </div>
                                   <% end %>
                                      <h3><%= link_to "#{homework.title}", url(:home_work, homework.id, :label => "home_w") %></h3>
                                      Assigned : <%= homework.created_at.strftime("%b %d, %Y") %>  by <%= homework.person.name %>
                                      <p class="post-content"><%= snippet(homework.content, 50) %></p>
                                     <%= link_to "Edit", resource(homework, :edit), :class=>"edit-btn" %>
                                     <%= link_to "Delete", resource(homework, :delete), :class=>"delete-btn"  %>
                                 <div class="hrule clear"><hr /></div>
                         </div>
                 <% end %>
          <% end %>
   <% end %>
 
</div>
 