<%= error_messages_for @home_work %>
<ul class='error_messages'>
     <% if flash[:error] %>
        <li><%= flash[:error] %> </li>
     <% end %>
 </ul>
<h2 class="current-page">Home Work &gt; Add New </h2>
<%= form_for (@home_work, :action => resource(:home_works), :id => 'home_work', :name => "home_work" ) do %>
   <fieldset>
      <ul>
          <li><label>Home Work for:</label>
            <% if @class_id != nil %>
                  <%= select :classroom_id, :collection => @classrooms.collect{|x| x.class_name.titleize }, :selected => @class_id, :prompt => "Please Select" %>
              <% else %>
                  <%= select :classroom_id, :collection => @classrooms.collect{|x| x.class_name.titleize }, :selected => "#{ params[:l] }", :prompt => "Please Select"  %>
              <% end %>
          </li>
          <li><%= text_field  :title,  :label => "Title", :maxlength => "75" %></li>
          <li><%= text_area  :content,  :label => "Content", :rows => "10", :cols => "50" %></li>
          <li><%= text_field  :due_date, :id => "due_date", :label => "Due Date", :class=>"short" %></li>
          <li><%= file_field :attachment,  :label => "Attach a File" %></li>
      </ul>
      
                 <ul id="pending_files"></ul>
                 <script type="text/javascript">
                     var multi_selector = new MultiSelector($('pending_files'), 1);
                     multi_selector.addElement($('home_work_attachment'));
                 </script>
           
  
     </fieldset>
  
        <div class="save-cancel">
            <input type = 'button' value = '    Preview    ' onclick="preview();return false;" />
            <%= submit "    Publish    " %> Or <%= link_to "Cancel", resource(:home_works), :class => "cancel" %>
        </div>
         
<% end =%>


<script type= "text/javascript">

 document.home_work.home_work_title.focus();

 function preview()
 {
       name = document.getElementById('home_work_classroom_id');
    if (name.value == "")
       {
          alert("Please select the Classroom/Homepage from the dropdown menu");
       }
   else
       {
         var s = $('home_work').serialize();
         window.open('/home_works/preview/-/?' + s);
       }
  
 }
  
 $j("#due_date").datepicker({minDate:'today + 1'});
 
 

</script>
