<div id="fullpage">
  
  <h2 class="current-page"> Homework for <%= @home_work.classroom.class_name.titleize %></h2>
  <%= link_to "Download as PDF", url(:home_works_pdf, :id => @home_work.id, :label => "single") , :class=> "pdf" %>
 
            
                        <div class="data-block long-block">
                              <span class="hidden">
                                  <% unless @home_work.due_date.nil? %>
                                         <%= @home_work.due_date.strftime("%B-%d") %>
                                  <% end %>
                              </span>
                                   <% if @home_work.due_date.nil? %>
	                                       <div class="ddmmm-x"></div>
	                                 <% else %>
                                         <div class="ddmmm">
                                               <span class="date"><%= @home_work.due_date.strftime("%d") %></span>
                                               <span class="month"><%= @home_work.due_date.strftime("%b") %></span>
                                         </div>
                                   <% end %>
                                    <h3> <%= @home_work.title %> </h3> 
                                      <p class="subText">Assigned on <%= @home_work.created_at.strftime("%b %d, %Y") %>  by <%= @home_work.person.name %></p>
                                      <p class="post-content"><%= san_content(@home_work.content) %></p>
                                      
                                       <% @attachment = Attachment.find(:first, :conditions => ["attachable_id = ? and attachable_type =?", @home_work.id, "Homework"]) %>
                                        <% unless @attachment.nil? %>
                                             <p><%= link_to "#{@attachment.filename}", url(:download, :id => @attachment.id) %></p>
                                        <% end %>
                                     
                                <p class="separator">&nbsp;</p>
                         </div>
                         <hr size="1"/>
          <% if params[:label] == "home_w" %>
                 <%= link_to '< Previous |', url(:home_work, @home_work.previous_common, :label => "home_w"),:class => "alignleft" if @home_work.previous_common %>
                 <%= link_to " All Homeworks ", resource(:home_works) %>
                 <%= link_to '| Next >',  url(:home_work, @home_work.next_common, :label => "home_w"),:class => "alignright" if @home_work.next_common %>
          <% else %>
                 <%= link_to '< Previous |', url(:home_work, @home_work.previous_class_home_work),:class => "alignleft" if @home_work.previous_class_home_work %>
                 <%= link_to " All Homeworks ", url(:class_details, :id => @home_work.classroom.id, :label => "homeworks") %>
                 <%= link_to '| Next >',  url(:home_work, @home_work.next_class_home_work),:class => "alignright" if @home_work.next_class_home_work %>
          <% end %>
          
</div>

