<div class="from-principal">
   <% @attachment = @current_school.attachments.find_by_attachable_type("principal_image") %>
   <% if @attachment %>
             <%= file_image(@current_school.id, @attachment.id, @attachment.attachable_type) %>
             <% @principal = @current_school.staff.find_by_id(@current_school.principal_id) %>
             <div class="caption">
                 <h2>From the Principal</h2>
                 <% unless @principal.nil? %>
                    <% if @principal.principal_name? %>
                         <%= @principal.name %>
                    <% end %>
                    <% if @principal.principal_email? %>
                          <br/>
                           <%= email(@principal.email) %>
                     <% end %>
                 <% end %>
              </div>
    <% else %>
              <% @principal = @current_school.staff.find_by_id(@current_school.principal_id) %>
               <div class="caption nopic">
                   <h2>From the Principal</h2>
                   <% unless @principal.nil? %>
                      <% if @principal.principal_name? %>
                           <%= @principal.name %>
                      <% end %>
                      <% if @principal.principal_email? %>
                            <br/>
                             <%= email(@principal.email) %>
                       <% end %>
                   <% end %>
               </div>
    <% end %>
</div>