<h2 class="current-page">Feedback  &nbsp;&nbsp;&nbsp; </h2>

<% if @announcements.empty? %>
     <p>There are no Feedbacks received yet. 
<% else %>
       <% for feedback in @announcements %>
       
              <div class="data-block long-block">
                   <div class="ddmmm">
                       <span class="date"><%= feedback.created_at.strftime("%d") %></span>
                       <span class="month"><%= feedback.created_at.strftime("%b") %></span>
	                 </div>
                     <h3><%= link_to "#{feedback.person.name} said", url(:feedback, feedback.id) %></h3>
                     <p class="separator"><%= snippet(feedback.content,50) %></p>
                     <p class="separator">&nbsp;</p>
                     <%  if (feedback.approved == true ) && (feedback.approve_announcement == true) %>
                        <span class="approved-or-not"> Sent to Collabarative Methods on <%= feedback.created_at.strftime("%B %d") %> </span>
                     <% end %>
                   <% if feedback.approved_by != nil %>
                        <p class="approve-comments"> <%= feedback.approve_comments %></p>
                   <% end %>
                  
              </div>
                
       <% end %>
        
<% end %>