<h2 class="current-page">
	Grades/Reports > Add Grade
	<span class="actions">
		 <%= link_to "All Subjects", resource(:reports) %>
    </span>
	
</h2>

<span>For :</span>

<% if params[:label] %>
        <%= select :name => "class_report",  :collection => @classrooms.collect{|x| x.class_name.titleize }, 
             :selected => @classroom.class_name,
             :onchange => "javascript:window.location.href='/assignments?label='+(this.value)+'&id=#{@classroom.id}'" %> &nbsp;
<% else %>
        <%= select :name => "class_report", :selected => @report.classroom.class_name, 
             :collection => @classrooms.collect{|x| x.class_name.titleize }, 
             :onchange => "javascript:window.location.href='/assignments?label='+(this.value)+'&id=#{@report.classroom.id}'" %> &nbsp;
<% end %>

<% if params[:label] %>
        <%= select :name => "subject", :collection => @reports.collect{|x| x.subject_name }, 
               :onchange => "javascript:window.location.href='/assignments?ref='+(this.value)+'&id=#{@classroom.id}'" %> <br/> <br/>
<% else %>
        <%= select :name => "subject", :selected => "#{@report.subject_name}", :collection => @reports.collect{|x| x.subject_name }, 
             :onchange => "javascript:window.location.href='/assignments?ref='+(this.value)+'&id=#{@classroom.id}'" %> <br/> <br/>
<% end %>        


<div class="assignments grades-contents">
  
  <h3><%= @report.subject_name %>
    (<%= link_to "Edit", url(:edit_report, :id => @report.id) %> | <%= link_to "View Report",  url(:view_report, :id => @report.id) %>) 
  </h3>
  <div class="clear"></div>
   <p class="subText">Click on the assignment below to enter grades for the students</p>
    <table id="mytable" class="reports">
         <thead>
                <th class="student">Category</th>
                <th class="student">Assignments</th>
                <th class="student">Last Updated</th>
         </thead>
         <tbody>
                <% @categories.each do |f| %>
                     <tr>
                        <td  rowspan="<%= f.assignments.length %>">
                          <% if f.category_name.blank? %>
                            No Category
                          <% elsif f.category_name == "category" %>
                            No Category 
                          <% else %>   
                            <%= f.category_name %>
                          <% end %>
                        </td>
                       <% f.assignments.each do |a| %>
                          <% @grades = Grade.find(:all, :conditions => ['assignment_id = ?', a.id] ) %>
                          <% unless @grades.empty? %>
                             <td>  <%= link_to "#{a.name}", url(:grades, :id => a.id) %> </td>
                             <td> <span class="subText"><%= a.updated_at.strftime("%B %d %Y") %></span></td>
                          <% else %>
                               <td><%= link_to "#{a.name}", url(:add_grades, :id => a.id) %> </td>
                               <td></td>
                          <% end %>
                          </tr>
                       <% end %> 
               <% end %>                
         </tbody>
   </table>
                  
</div>
