<h2 class="current-page">
     Grades/Reports > <%= @assignment.name %> 
</h2>


<div class="container">
	<h4>There are some errors in the form, please fill the details.</h4>
	<ol>
		<li><label for="assignment_date" class="error">Please enter the Assignment Date</label></li> 
	    <li>
		   <label for="assignment[score][]" class="error">
		   Please enter number and it should be less than or equal to <%= @assignment.max_point %>
		   </label>
		</li>
	</ol>
</div> <br/>

<%= form_for(@assignment, :action => url(:update_grades, :id => @assignment.id), :class => "cmxform", :id => 'grade' ) do %>
   
        <p class="assignment-date">
            <%= text_field  :date, :class => "short required date", :label => "Assignment Date",
                            :value => "#{@assignment.date.strftime("%m/%d/%y")}"   %>
       </p>
       
       <table id="mytable">
             <thead>
                    <th>Your Students</th>
                    <th>Student Score (Max Points : <%= @assignment.max_point %> )</th>
             </thead>
                       
            <% @students.each do |f| %>
            
                <tr>
                     <td><%= f.name %></td>
                     <% grades = f.grades.find(:all, :conditions => ['assignment_id = ?', @assignment.id] ) %>
                     <% if grades.empty? %>
                          <td>
                              <%= text_field :name => "assignment[score][]", :class => "short number",
                                             :max => "#{@assignment.max_point}" %>
                          </td>
                     <% else %>
                          <% grades.each do |g| %>
                               <td>
                                   <%= text_field :name => "assignment[score][]", :class => "short number", 
                                                  :max => "#{@assignment.max_point}",  :value => "#{g.score}" %>
                               </td>
                          <% end %>
                     <% end %>
                </tr>
                
            <% end %>
             
           
       </table>
      
        <div class="save-cancel">
            <%= submit "save" %> Or  <%= link_to "Cancel", url(:assignments,  :id => @report.id), :class => "cancel" %>
        </div>

<% end =%>

<script type= "text/javascript">

  //  $j("#grade").validate();

	 // Validation for Adding Grades

	    var container = $j('div.container');

	   // validate the form when it is submitted
	    var validator = $j("#grade").validate({
	         	errorContainer: container,
	        	errorLabelContainer: $("ol", container),
	         	wrapper: 'li',
	        	meta: "validate"
	});


   $j(document).ready(function() { $j("input.date").datepicker(); });
    
   
   
</script>