<div id="content"  class="two-col">
<h2 class="current-page">
     Grades/Reports > <%= @report.subject_name %> 
  <span class="actions">
	  <%= link_to "All Subjects", url(:class_details, :id => @classroom.id, :label => "grades")%> 
  </span>

</h2> <br/>

View :  <select id = 'reportID'>
             <% @all_reports.each do |f| %>
                  <option value='/progress_card?label=class&id=<%= f.id %>&c=<%= @classroom.id %>&ref=<%= @student.id %>' <% if (@test == f.id.to_s) %> selected <% end %> > 
                     <%= f.subject_name %> 
                  </option>
             <% end %>
        </select> 
        
<br/><br/>

<h3 align="center"><%= @student.name %></h3>


<%= partial 'common/student_grade' %>



<script type = 'text/javascript'>

        $( 'reportID' ).observe( 'change', function()
          {
            document.location.href = $( 'reportID' ).value;
          
          });
       
</script>